{% extends "base.html" %}
{% block content %}

  {% include 'aside.html' %}

  <!-- content -->
  <div id="content" class="app-content" role="main">
    <div class="box">
      {% include 'header.html' %}
      <div class="box-row">
        <div class="box-cell">
          <div class="box-inner padding">
            {% block page_content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / content -->

  <div class="modal fade" id="user" data-backdrop="false">
    <div class="right w-xl bg-white md-whiteframe-z2">
      {% include '../../app/views/partials/aside.tpl.user.html' %}
    </div>
  </div>

  <div class="modal fade" id="chat" data-backdrop="false">
    <div class="right w-xxl bg-white md-whiteframe-z2">
      {% include '../../app/views/partials/aside.tpl.chat.html' %}
    </div>
  </div>

{% endblock %}
