<?xml version="1.0" encoding="UTF-8" ?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0" metadata-complete="true">

	<session-config>
		<session-timeout>5760</session-timeout>
	</session-config>

	<listener>
		<listener-class>co.xarx.trix.ContextServletListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>

	<listener>
		<listener-class>co.xarx.trix.config.web.SpringResteasyContextLoaderListener</listener-class>
	</listener>

	<!-- RESTEasy -->
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
		</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>co.xarx.trix.ResteasyApplication</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/api</param-value>
	</context-param>
	<!-- RESTEasy -->

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
			org.springframework.web.context.support.AnnotationConfigWebApplicationContext
		</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			co.xarx.trix.config
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<!-- Spring -->

	<!-- Spring Data REST -->
	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		 <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!--<servlet-class>org.springframework.data.rest.webmvc.RepositoryRestDispatcherServlet</servlet-class>-->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!--suppress WebProperties -->
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/data/*</url-pattern>
	</servlet-mapping>
	<!-- Spring Data REST -->

	<servlet>
		<servlet-name>mysettings</servlet-name>
		<jsp-file>/settings.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>mysettings</servlet-name>
		<url-pattern>/settings/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>myindex</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>myindex</servlet-name>
		<url-pattern>/index.jsp</url-pattern>
		<url-pattern>/search/*</url-pattern>
		<url-pattern>/post/*</url-pattern>
		<url-pattern>/bookmarks/*</url-pattern>
		<url-pattern>/notifications/*</url-pattern>
		<url-pattern>/publications/*</url-pattern>
		<url-pattern>/mystats/*</url-pattern>
		<url-pattern>/access/createnetwork</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>springSessionRepositoryFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSessionRepositoryFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Spring ORM -->
	<filter>
		<filter-name>OpenEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
		<init-param>
			<param-name>entityManagerFactoryBeanName</param-name>
			<param-value>entityManagerFactory</param-value>
		</init-param>
	</filter>
	<!-- Spring ORM -->

	<!-- Spring Security -->
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<!-- Spring Security -->

	<!-- Cache -->
	<filter>
		<filter-name>NotFoundFilter</filter-name>
		<filter-class>co.xarx.trix.web.filter.NotFoundFilter</filter-class>
	</filter>
	<!-- Cache -->

	<!-- Cache -->
	<filter>
		<filter-name>CacheFilter</filter-name>
		<filter-class>co.xarx.trix.web.filter.CacheFilter</filter-class>
	</filter>
	<!-- Cache -->

	<filter>
		<filter-name>NetworkDomainFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>networkDomainFilter</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>CORSCustomFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>corsCustomFilter</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>PersonDataFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>personDataFilter</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<!--<init-param>
			<param-name>logLevel</param-name>
			<param-value>WARN</param-value>
		</init-param>-->
	</filter>

	<filter-mapping>
		<filter-name>NotFoundFilter</filter-name>
		<url-pattern>/data/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CORSCustomFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>NetworkDomainFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>PersonDataFilter</filter-name>
		<url-pattern>/index.jsp</url-pattern>
		<url-pattern>/settings.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>OpenEntityManagerInViewFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
		<url-pattern>/data/*</url-pattern>
		<url-pattern>/index.jsp</url-pattern>
		<url-pattern>/search/*</url-pattern>
		<url-pattern>/post/*</url-pattern>
		<url-pattern>/bookmarks/*</url-pattern>
		<url-pattern>/notifications/*</url-pattern>
		<url-pattern>/settings/*</url-pattern>
		<url-pattern>/publications/*</url-pattern>
		<url-pattern>/user/*</url-pattern>
		<url-pattern>/read/*</url-pattern>
		<url-pattern>/mystats/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<error-page>
		<error-code>500</error-code>
		<location>/505.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
</web-app>