<?xml version="1.0" encoding="UTF-8" ?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0"
		 metadata-complete="true">		 
	
	<session-config>
        <session-timeout>10080</session-timeout>
    </session-config>
	

	<listener>
      	<listener-class>com.wordrails.ContextServletListener</listener-class>
   	</listener>   	


<!-- RESTEasy -->
	<listener>
      	<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
   	</listener>   	

	<context-param>
   		<param-name>resteasy.servlet.mapping.prefix</param-name>
   		<param-value>/api</param-value>
	</context-param>
   	
	<filter>
		<filter-name>FilterDispatcher</filter-name>
		<filter-class>org.jboss.resteasy.plugins.server.servlet.FilterDispatcher</filter-class>
	</filter>
<!-- RESTEasy -->

<!-- Spring -->
<!--  
   	<listener>
      	<listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>      	
   	</listener>
-->   	
   	<listener>
      	<listener-class>com.wordrails.api.WordRailsContextLoaderListener</listener-class>      	
   	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:applicationContext.xml
			classpath:applicationContext-integration.xml
			classpath:applicationContext-security.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
   	</listener>
<!-- Spring -->

<!-- Spring Data REST -->
    <servlet>
    	<servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

    <servlet-mapping>
    	<servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
<!-- Spring Data REST -->

<!-- Spring ORM -->
	<filter>
		<filter-name>OpenEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
		<init-param>
			<param-name>entityManagerFactoryBeanName</param-name>
			<param-value>entityManagerFactory</param-value>
		</init-param>
	</filter>
<!-- Spring ORM -->

<!-- Spring Security -->
	<listener>
    	<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

	<filter>
  		<filter-name>springSecurityFilterChain</filter-name>
  		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>	
<!-- Spring Security -->

<!-- Cache -->
	<filter>
		<filter-name>CacheFilter</filter-name>
		<filter-class>com.wordrails.api.CacheFilter</filter-class>
	</filter>
<!-- Cache -->
	
	<filter>
	    <filter-name>PostFilter</filter-name>
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	    <init-param>
	        <param-name>targetBeanName</param-name>
	        <param-value>postFilter</param-value>
	    </init-param>
	</filter>
	
	<filter>
	    <filter-name>NetworkDomainFilter</filter-name>
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	    <init-param>
	        <param-name>targetBeanName</param-name>
	        <param-value>networkDomainFilter</param-value>
	    </init-param>
	</filter>
	
	<filter>
	    <filter-name>CORSCustomFilter</filter-name>
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	    <init-param>
	        <param-name>targetBeanName</param-name>
	        <param-value>corsCustomFilter</param-value>
	    </init-param>
	</filter>

	<filter-mapping>
	    <filter-name>CORSCustomFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
  		<filter-name>springSecurityFilterChain</filter-name>
  		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	    <filter-name>NetworkDomainFilter</filter-name>
	    <url-pattern>/index.jsp</url-pattern>
	    <url-pattern>/app/index.jsp</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	    <filter-name>PersonDataFilter</filter-name>
	    <url-pattern>/new/index.jsp</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>OpenEntityManagerInViewFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
		<url-pattern>/new/index.jsp</url-pattern>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>FilterDispatcher</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	    <filter-name>PostFilter</filter-name>
	    <url-pattern>/api/posts</url-pattern>
	    <url-pattern>/api/posts/*</url-pattern>
	    <dispatcher>FORWARD</dispatcher>
   		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<filter>
	    <filter-name>PersonDataFilter</filter-name>
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	    <init-param>
	        <param-name>targetBeanName</param-name>
	        <param-value>personDataFilter</param-value>
	    </init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>	
</web-app>