.svn/*
.metadata/*
.settings/*
jar/.settings/*
jar/.project
jar/.classpath
api/.settings/*
api/.project
api/.classpath
generator/.settings/*
generator/.project
generator/.classpath
war/.settings/*
war/.project
war/.classpath
client/.settings/*
client/.project
client/.classpath
parent/.settings/*
jar/bin/*
war/bin/*
war/index/*
war/indexes/*
war/src/main/webapp/app/js/BaseWordRails.js
.project


