.svn/*
.metadata/*
.settings/*
jar/.settings/*
jar/target/**
jar/.project
jar/.classpath
jar/bin/*
api/.settings/*
api/target/**
api/.project
api/.classpath
generator/.settings/*
generator/.project
generator/.classpath
generator/target/**
war/.settings/*
war/.project
war/.classpath
war/bin/*
war/target/**
war/indexes/**
war/index/*
war/src/main/webapp/app/js/BaseWordRails.js
war/src/main/webapp/js/BaseWordRails.js
war/src/main/webapp/js/BaseTrix.js
client/.settings/*
client/.project
client/.classpath
client/target/**
parent/.settings/*
.project
war/src/main/webapp/wrtomcat.sublime-project
war/src/main/webapp/webapp.7z
war/src/main/webapp/node_modules/**
war/src/main/webapp/js/BaseWordRails.js
war/src/main/webapp/wrtomcat.sublime-workspace
war/.gitignore
jar/.gitignore
api/.gitignore
client/.gitignore
generator/.gitignore
spring-data-rest/spring-data-rest-core/.gitignore
spring-data-rest/spring-data-rest-webmvc/.gitignore
war/com.wordrails.business.Post/segments.gen
war/com.wordrails.business.Post/*
client/journal
