.svn/*
.metadata/*
.settings/*
jar/.settings/*
jar/target/**
jar/.project
jar/.classpath
jar/bin/*
api/.settings/*
api/target/**
api/.project
api/.classpath
generator/.settings/*
generator/.project
generator/.classpath
generator/target/**
war/.settings/*
war/.project
war/.classpath
war/bin/*
war/target/**
war/indexes/**
war/index/*
war/src/main/webapp/app/js/BaseWordRails.js
client/.settings/*
client/.project
client/.classpath
client/target/**
parent/.settings/*
.project
war/src/main/webapp/wrtomcat.sublime-project
war/src/main/webapp/webapp.7z
