<div class="md-primary-hue-1 background md-whiteframe-z1 p-xl ng-scope pos-fix w-full top-0 left-0 z-index-n-1">
  <div class="p-xl">
  </div>
</div>

<div class="pos-abt w-full top-0 bottom-0 left-0">
  <div class="hbox">

    <div class="col animated zoomIn">
      <div class="vbox p-t-lg p-r-xxl p-l-xxl">
      
        <div class="search-with-filter m-r-sm m-l-sm p-sm md-background-hue-3 background md-whiteframe-z1 pos-rlt z-index-2">
          <input placeholder="{{'titles.SEARCH' | translate }}" class="ph-dk w-full b-n p-sm w-full b-n text-lg bg-t">
        </div>
        <!-- /search -->
        <div class="row-row">
          <div class="cell">
            <div class="cell-inner p-r-sm p-l-sm">
              <div class="md-background-hue-1 background w-full m-h-auto pos-rlt md-whiteframe-z2 " style="overflow: auto;
    max-height: 100%;">
    			<!-- search results -->
                <div class="min-h-400">
                  <div class="table-responsive o-visible text-base">
										<table class="table b-t b-light">
											<thead>
												<tr>
													<th style="width:15px;">
														<md-checkbox aria-label="nothing" class="no-margin" ng-model="toggleSelectValue" ng-change="toggleAll(toggleSelectValue)">
														</md-checkbox>
													</th>
													<th>usuários</th>
													<th class="text-center">último login</th>
													<th style="max-width:115px;" class="text-center">
														ativar/desativar
													</th>
													<th style="max-width:115px;" class="text-center">
														administrador
													</th>
													<th style="width:30px;"></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="person in persons" class="b-l-3x b-l-s b-c-t" ng-click="activatePerson(person); loadPerson(person);" ng-style="person.selected ? app.getMaterialBGColor('myPrimary', '50', '0.3') : null" ng-class="{'b-l-primary': isActivePerson(person)}">
													<td>
														<md-checkbox aria-label="nothing" class="no-margin p-t-sm" ng-if="person.id != app.person.id"
														 ng-model="person.selected" ng-true-value="true" ng-false-value="false" ng-click="app.stopPropagation($event)">
														</md-checkbox>
													</td>
													<td class="clearfix">
							              <span class="pull-left thumb-sm m-r">
															<div ng-style="app.hasProfilePicture(person) ? {{person.id | getImagesPerson:'small':'PROFILE_PICTURE':true}} : null" style="height: 40px;" class="bg-cover img-responsive img-circle thumb md-whiteframe-z1 text-center" ng-class="{'md-primary-hue-1 background': !app.hasProfilePicture(person)}">
																<i ng-if="!app.hasProfilePicture(person)" style="line-height: 36px;" class="mdi2-account i-24"></i>
															</div>
							              </span>
								              <span class="clear">
								                <span class="text-md font-bold">{{person.name}}</span>
								                <div class="text-muted clear text-ellipsis">{{person.username}} | {{person.email}}</div>
								              </span>
													</td>
													<td class="text-center" ng-if="!person.lastLogin"> - </td>
													<td class="text-center" ng-if="person.lastLogin">{{person.lastLogin | fromNow3}}</td>
													<td class="text-center">
														<div ng-if="person.id != app.person.id" class="hidden-sm" ng-click="app.stopPropagation($event)">
														 	<md-switch class="p-t-sm no-margin" ng-change="app.enableDisablePerson(person)" ng-model="person.enabled" ng-true-value="true" ng-false-value="false">
								            	</md-switch>
														</div>
													</td>
													<td class="text-center">
														<md-checkbox aria-label="nothing" class="p-t-sm" ng-if="person.id != app.person.id" 
														 ng-model="person.admin" ng-click="app.stopPropagation($event)">
														</md-checkbox>
													</td>
													<td>
														<div ng-if="person.id != app.person.id" class="p-t-sm dropdown hidden-sm" dropdown ng-click="app.stopPropagation($event)">
															<a href angular-ripple class="dropdown-toggle border-radius-50 i-24 mdi-navigation-more-vert mdi" dropdown-toggle>
															</a>
															<!-- dropdown -->
															<ul class="dropdown-menu dropdown-menu-scale animated w-sm pull-right">
																<li > <a href> Reconfigurar a senha </a> </li>
																<!-- <li class="divider"></li> -->
																<li> <a ng-click="openDeletePersonRole(role.id);"> Alterar permissões </a> </li>
															</ul>
															<!-- / dropdown -->
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div> 
                </div>
              </div>
              <!-- /search results -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- /background -->
<!-- </md-sidenav> -->
  
  <!-- <md-button aria-label="menu" class="md-fab md-accent pos-fix right-0 bottom-0 m-r-xxl m-b-lg"
    ui-sref="app.post">
    <i class="mdi-editor-mode-edit i-24"></i>
  </md-button> -->

	<md-fab-speed-dial md-open="openImageOptions" md-direction="up" class="md-scale pos-fix right-0 bottom-0 m-r-lg m-b-md">
	  <md-fab-trigger>
	    <md-button aria-label="Add..." class="md-fab md-accent">
	    	<i class="mdi mdi2-menu i-24"></i>
	    </md-button>
	  </md-fab-trigger>
	  <md-fab-actions>
	    <md-button aria-label="Add Group" class="md-fab md-raised md-mini" ng-click="toggleLandscape();">
	    	<md-tooltip md-direction="left">
	      	{{'settings.post.TOGGLE_LANDSCAPE' | translate}}
	  		</md-tooltip>
	    	<i class="mdi i-20 mdi2-plus text-dark"></i>
	    </md-button>
	    <md-button aria-label="Add User" class="md-fab md-raised md-mini" ng-click="showImageCropDialog()">
	    	<md-tooltip md-direction="left">
	      	{{'settings.post.CROP_IMAGE' | translate}}
	  		</md-tooltip>
	    	<i class="mdi mdi2-account-check i-20 text-dark"></i>
	    </md-button>
	    <md-button aria-label="Add User" class="md-fab md-raised md-mini" ng-click="showImageCropDialog()">
	    	<md-tooltip md-direction="left">
	      	{{'settings.post.CROP_IMAGE' | translate}}
	  		</md-tooltip>
	    	<i class="mdi mdi2-account-off i-20 text-dark"></i>
	    </md-button>
	    <md-button aria-label="Add Group" class="md-fab md-raised md-mini" ng-click="showImageFocuspointDialog();">
	    	<md-tooltip md-direction="left">
	      	{{'settings.post.FOUCUS_POINT' | translate}}
	  		</md-tooltip>
	    	<i class="mdi mdi2-key-variant i-20 text-dark"></i>
	    </md-button>
	    <md-button aria-label="Add Group" class="md-fab md-raised md-mini" ng-click="removeFeaturedImage()">
	    	<md-tooltip md-direction="left">
	      	{{'settings.post.REMOVE_FEATURED_IMAGE' | translate}}
	  		</md-tooltip>
	    	<i class="mdi mdi2-email i-20 text-dark"></i>
	    </md-button>
	  </md-fab-actions>
	</md-fab-speed-dial>