<div id="settings-perspectives">
	<div class="p-sm pos-abt top-0 left-0 w-full md-whiteframe-z0 md-primary-hue-1 background">

    <md-button aria-label="nothing" class="pull-right" style="margin: 5px 10px 0 10px;" ng-click="togglePerspectives()">
			<md-tooltip md-direction="top">
	    		{{'settings.post.OPTIONS' | translate}}
	  		</md-tooltip>
			<i class="mdi mdi2-menu i-20 m-r-sm"></i> {{'titles.PERSPECTIVES' | translate}}
		</md-button>

		<md-button aria-label="nothing" ng-click="isMobile = !isMobile" aria-label="Open demo menu" class="md-icon-button pull-right" style="margin-top: 5px;" ng-click="$mdOpenMenu($event)">
      <i class="i-20" ng-class="{'mdi-hardware-desktop-windows': !isMobile, 'mdi-hardware-phone-android': isMobile }"></i>
    </md-button>

	</div>

	<div id="setting-perspective-editor">
		<div class="p-md">
			<div class="color-selector-container">
				<div class="content m-t-md">
					<div class="mockup-browser animated fadeIn o-f-h" style="padding-bottom: 50px;" ng-class="{'mobile': isMobile, 'desktop': !isMobile}">


					    <md-toolbar class="no-radius md-primary md-whiteframe-z1" style="min-height: 50px; height: 50px">
					      <a md-ink-ripple ng-click="toggleDemo()" class="pull-left" style="    padding: 0 16px;
					        line-height: 50px;
					        max-width: 55px;">
					      <i class="mdi-navigation-menu i-24"></i></a>
					    </md-toolbar>


					    	<div class="vbox">
					      	<div class="row-row">
					          <div class="cell">
					            <div class="cell-inner">
					            <md-tabs  md-border-bottom class="pos-abt bottom-0 right-0 left-0 top-0 md-primary md-hue-1" >
					              	<md-tab label="1">
					              		<md-tab-label>
					              			<i class="mdi2-home i-20"></i>
					              		</md-tab-label>
					              		<md-tab-body>
					              			<md-content>
						                		<div class="p" ng-repeat="cell in currentPerspective.termPerspectiveView.homeRow.cells">
						                      <div class="card md-whiteframe-z1 no-margin">
						                        <div class="item">
						                        </div>
						                        <md-content class="p text-base md-hue-1">
						                          <p class="text-md font-500">{{cell.postView.title}}</p>
						                          <p>
						                            {{cell.postView.snippet | characters:220}}
						                          </p>
						                        </md-content>
						                      </div>
						                    </div>
					                    </md-content>
					                 	</md-tab-body>
					              	</md-tab>
					                <md-tab label="{{row.termName}}" ng-repeat="row in currentPerspective.termPerspectiveView.ordinaryRows">
					                	<md-content>
						                  <div class="p" ng-repeat="cell in row.cells">
						                    <div class="card md-whiteframe-z1 no-margin">
						                      <div class="item">
						                      </div>
						                      <md-content class="p text-base md-hue-1">
						                        <p class="text-md font-500">{{cell.postView.title}}</p>
						                        <p>
						                          {{cell.postView.snippet | characters:220}}
						                        </p>
						                      </md-content>
						                    </div>
						                  </div>
														</md-content>
					                </md-tab>
					              </md-tabs>
					            </div>
					          </div>
					        </div>
					      </div>
					    <!-- /mockup-grid -->

						

					</div>
				</div>
			</div>
		</div><!-- /container -->
	</div>

	<md-button aria-label="nothing" aria-label="menu" class="md-fab md-accent pos-fix right-0 bottom-0 m-r-xxl m-b-lg animated">
	  <md-tooltip md-direction="top">
	    {{'titles.SAVE' | translate}}
	  </md-tooltip>
	  <i class="mdi2-content-save i-24"></i>
	</md-button>
</div>

<md-sidenav class="md-sidenav-right md-whiteframe-z2 w-400" md-component-id="perspective-list">
	  <md-toolbar class="md-theme-light">
	    <h1 class="md-toolbar-tools" translate="titles.PERSPECTIVES"></h1>
	  </md-toolbar>
	  <md-content class="pos-abt bottom-0 right-0 left-0 md-background-default background" style="top:64px">
	  	<div id="" class="vbox">
        <div class="row-row">
          <div class="cell">
            <div class="cell-inner">
            	
              <div class="m-t-sm p-h pos-rlt">
                <ul style="margin:0;padding:0">
                  <li data-ng-repeat="perspective in stationPerspectives">
                    <div class="p-h p-t m-b md-whiteframe-z1 pos-rlt md-background-hue-1 background">
                      <div class="pos-abt top-0 right-0 font-bold p">
                        #{{$index + 1}}
                      </div>
                      <md-input-container class="w-xxl m-b-0">
                        <label for="testInput">{{'titles.NAME' | translate}}</label>
                        <input type="text" ng-model="perspective.name">
                      </md-input-container>
                      <div class="clear">
                        <md-button aria-label="nothing" class="no-margin m-b-sm btn-sm pull-right no-padding" style="min-height: 28px; line-height:28px;" data-ng-click="allTags.splice($index, 1)">{{'titles.EDIT' | translate}}
                        </md-button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
	  </md-content>
  </md-sidenav>

  <script type="text/ng-template" id="carousel-template.html">
		<div id="perspective-editor-popover-id" class="perspective-editor-popover w-xl" click-outside="pe.clickOutside()"
			outside-if-not="delete-cell">
			<a ng-click="pe.clickOutside(); app.stopPropagation($event);" class="popover-close-button text-lg pull-right" tooltip="Fechar" tooltip-append-to-body="true" tooltip-placement="top">×</a>
			<div class="text-center p-xxs text-md m-b">
				destaques
			</div>
			<div class="pos-rlt">
				<div class="display-t-c p-r">
					<ul class="no-style">
						<li ng-repeat="cell in termPerspectiveView.featuredRow.cells" class="p-xxs sortable-elem">
							{{$index + 1}}ª
						</li>
					</ul>
				</div>
				<div class="display-t-c clearfix" style="min-width: 285px">
					<ul class="no-style w-full" ui-sortable ng-model="termPerspectiveView.featuredRow.cells">
						<li ng-repeat="cell in termPerspectiveView.featuredRow.cells" class="font-thin sortable-elem clearfix p-xxs">
							<div class=" ">
								<a angular-ripple id="delete-cell" class="border-radius-50 p-sm mdi-delete mdi pull-right" ng-click="$parent.removeFeaturedPost(cell.postView)">
								</a>
								<span class="clear m-r"
								tooltip="{{cell.postView.title}}" tooltip-placement="top" tooltip-append-to-body="true" tooltip-popup-delay="700">
									{{cell.postView.title | characters:75}}
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="text-center p-xs w-full b-t m-t-sm">
				<a href="" class="text-md" ng-click="showAddFeaturedPost();pe.clickOutside();">
					<span class=" font-thin">adicionar</span>
					<i class="mdi mdi-plus-circle-outline v-middle"></i>
				</a>
			</div>
		</div>
	</script>

	<script type="text/ng-template" id="add_post.html">
		<md-dialog aria-label="Adicionar notícia" id="perspective-editor-dialog">
	  	<md-content>
				<div class="p">
					<form ng-submit="pe.submitSearch()">
						<div class="input-group">
							<input ng-model="pe.searchQuery" class="input-lg w-full form-control" placeholder="Busque por notícias" />
							<span class="input-group-btn">
			      <button class="btn btn-default btn-lg i-24" type="submit" style="padding: 6px 12px">
			      	<i class="mdi mdi-magnify"></i>
			      </button>
			     </span>
						</div>
					</form>
					<div class="p-xxs perspective-editor-search-results m-t-sm" >
						<ul class="no-style">
							<li ng-repeat="postView in pe.searchResults" class="clearfix p-xxs font-thin" ng-class="{'opacity-07 bg-light': !pe.cellAddValidation(postView)}">
			      <span ng-if="postView.featuredImageHash" style="height: 50px" class="bg-cover pull-left thumb m-r" ng-style="app.getBackgroundImage(postView, 'medium')">
			      </span>
			      <span class="pull-right" ng-if="pe.cellAddValidation(postView)"
			      tooltip="Adicionar" tooltip-placement="top" tooltip-append-to-body="true" tooltip-popup-delay="300">
									<a ng-click="pe.addCell(postView)" angular-ripple class="border-radius-50 text-lg p-sm mdi-plus mdi"></a>
								</span>
								<span class="pull-right" ng-if="!pe.cellAddValidation(postView)">
									<a ng-click="pe.removeCell(postView)" angular-ripple class="border-radius-50 text-lg p-sm mdi-close mdi animated bounceIn text-danger"></a>
								</span>
			      <span class="clear m-r-xxl">
			        <span>{{postView.title}}</span>
			        <small class="text-muted clear text-ellipsis" ng-bind-html="postView.snippet">
			        </small>
			      </span>
			    </li>
			    <li ng-if="pe.searchResults.length > 0">
			    	<div class="p-xs text-center">
			    		<button ng-click="pe.paginateSearch()" md-ink-ripple class="md-btn md-flat btn-fw">mais</button>
			    	</div>
			    </li>
						</ul>
					</div>
					<div class="pos-abt bottom-0 right-0 p-sm">
						<button ng-click="cancel()" md-ink-ripple class="md-btn md-flat btn-fw">Fechar</button>
					<div>
				</div>
		  </md-content>
		</md-dialog>
	</script>

	<script type="text/ng-template" id="config_category.html">
		<md-dialog aria-label="Adicionar notícia" id="perspective-editor-dialog">
	  	<md-content>
	  		<div class="p">
	  			<div class="text-lg text-center">Selectione as categorias desejadas</div>
					<div class="p-xxs perspective-editor-category-selector m-t-sm tree well">
						<ul class="normal-wrap perspective-editor-category-selector-list">
							<li ng-repeat="term in pe.terms">
								<span class="check-term" ng-click="pe.checkCategory(term)">
							 		<md-checkbox md-no-ink ng-model="term.checked" class="pull-left"></md-checkbox>
							 	</span>
							 	<span class="leaf box-shadow" tooltip="{{term.name}}" tooltip-placement="top" tooltip-append-to-body="true" tooltip-popup-delay="700">
							 		{{term.name}}
							 	</span>
						 	</li>
					 	</ul>
					</div>
					<div class="pos-abt bottom-0 right-0 p-sm">
						<button ng-click="cancel()" md-ink-ripple class="md-btn md-flat btn-fw">Fechar</button>
					</div>
				</div>
		  </md-content>
		</md-dialog>
	</script>