<div class="m-b-xxl" ng-class="{'m-r-xxl m-l-xxl': app.editingPage.boxedLayout, 'animated zoomIn': $state.includes('app.pagebuilder.editor')}">
	<div id="content-padding-margin" ng-style="getContentPaddingMargin();">

	<div class="m" ng-hide="previewMode">
		<h2>
			{{'settings.pages.HOME_PAGE' | translate}}
		</h2>
	</div>

	<div class="p-v" ng-repeat="section in getSections(app.editingPage.sections)">
		<md-divider ng-hide="previewMode"></md-divider>
		<div class="w-full text-center" style="margin-top: -28px" ng-hide="previewMode">
			<md-button class="md-accent md-fab md-mini" aria-label="Eat cake">
				<md-tooltip md-direction="top">
		    	{{'settings.pages.ADD_SECTION' | translate}}
		  	</md-tooltip>
        <i class="mdi mdi2-plus i-20"></i>
      </md-button>
		</div>
		<!-- section container tools -->
		<div class="text-right section-tools" ng-hide="previewMode">
			<div class="inline text-md p-h-xs" style="vertical-align:30%">
				{{'settings.pages.SUBSECTION' | translate}}:
			</div>
			<div md-ink-ripple class="p-xs r-50 o-f-h inline pointer" style="line-height: 10px">
				<md-tooltip md-direction="top">
		    	{{'settings.pages.ADD_SECTION' | translate}}
		  	</md-tooltip>
        <i class="mdi mdi2-plus i-20"></i>
      </div>
      <div class="inline text-md p-h-xs" style="vertical-align:30%">
      	{{getChildrenSectionsLength(section)}}
      </div>
      <div md-ink-ripple class="p-xs r-50 o-f-h inline pointer" style="line-height: 10px">
				<md-tooltip md-direction="top">
		    	{{'settings.pages.ADD_SECTION' | translate}}
		  	</md-tooltip>
        <i class="mdi mdi2-minus i-20"></i>
      </div>
		</div>
		<!-- /section container tools -->


		<!-- content -->
		<div class="pagebuilder-content" layout="row">
			<div flex="{{childSection.pctSize}}" ng-repeat="childSection in getChildrenSections(section)" class="p-xs" ng-style="getSectionGridStyle()">
				
				<!-- section content tools -->
				<div class="text-left sub-section-tools section-tools" ng-hide="previewMode">
					<div md-ink-ripple class="p-xs r-50 o-f-h inline pointer" style="line-height: 10px">
						<md-tooltip md-direction="top">
				    	{{'settings.pages.ADD_SECTION' | translate}}
				  	</md-tooltip>
		        <i class="mdi mdi2-plus i-16"></i>
		      </div>
		      <div class="inline text p-h-xs" style="vertical-align:30%">
		      	{{childSection.size}}
		      </div>
		      <div md-ink-ripple class="p-xs r-50 o-f-h inline pointer" style="line-height: 10px">
						<md-tooltip md-direction="top">
				    	{{'settings.pages.ADD_SECTION' | translate}}
				  	</md-tooltip>
		        <i class="mdi mdi2-minus i-16"></i>
		      </div>

		      <div class="inline b-r m-h-xs" style="height: 25px; width: 2px; border-color: #555;">
		      </div>

		      <div md-ink-ripple class="p-xs r-50 o-f-h inline pointer" style="line-height: 10px"
		      ng-class="{'active': childSection.properties.type === 'CARD'}">
						<md-tooltip md-direction="top">
				    	{{'settings.pages.ADD_SECTION' | translate}}
				  	</md-tooltip>
		        <i class="mdi mdi2-view-grid i-16"></i>
		      </div>
		      <!-- view-carousel -->
		      <div md-ink-ripple class="p-xs r-50 o-f-h inline pointer" style="line-height: 10px"
		      ng-class="{'active': childSection.properties.type === 'LIST'}">
						<md-tooltip md-direction="top">
				    	{{'settings.pages.ADD_SECTION' | translate}}
				  	</md-tooltip>
		        <i class="mdi mdi2-format-list-bulleted i-16"></i>
		      </div>
		      <div md-ink-ripple class="p-xs r-50 o-f-h inline pointer" style="line-height: 10px"
		      ng-class="{'active': childSection.properties.type === 'CAROUSEL'}">
						<md-tooltip md-direction="top">
				    	{{'settings.pages.ADD_SECTION' | translate}}
				  	</md-tooltip>
		        <i class="mdi mdi2-view-carousel i-16"></i>
		      </div>

		      <div class="inline b-r m-h-xs" style="height: 25px; width: 2px; border-color: #555;">
		      </div>

		      <div md-ink-ripple class="p-xs r-50 o-f-h inline pointer" style="line-height: 10px">
						<md-tooltip md-direction="top">
				    	{{'settings.pages.ADD_SECTION' | translate}}
				  	</md-tooltip>
		        <i class="mdi mdi2-settings i-16"></i>
		      </div>

				</div>
				<!-- /section content tools -->			
				<!-- section content -->
				<div ng-if="childSection.properties.type === 'CAROUSEL'" style="">
					<div slider class="slider">
						<ul class="slides md-whiteframe-z2">
			        <li ng-repeat="block in childSection.blocks" index="0">
		            <div ng-style="{{block | bgImageLink: 'large'}}" class="bg-cover h-full"></div>
		            <!-- <img src="http://lorempixel.com/580/250/nature/1" class="responsive-img"> --> <!-- random image -->
		            <div class="pos-abt bottom-0 left-0 p-h black-grad w-full">
	                <h3 class="font-500 light grey-text text-lighten-4">{{::block.title}}</h3>
	                <h4 class="light grey-text text-lighten-3">
	                	{{::block.snippet | characters: 120}}
	                </h4>
		            </div>
			        </li>
				    </ul>
			    </div>
				</div>
				<div ng-if="childSection.properties.type === 'CARD'">
        	<div class="row p">
            <div class="col-lg-6">
              <div class="card md-whiteframe-z1">
                <div class="item">
                  <img src="/images/c8.jpg" class="w-full r-t" alt="Washed Out">
                  <div class="bottom text-white p">
                    Title
                  </div>
                </div>
                <md-button md-ink-ripple style="line-height:20px;" class="m-t-n md-btn md-mini md-raised md-fab md-accent m-r right-0">
                <i style="line-height:30px;" class="mdi-action-thumb-up"></i></md-button>
                <div class="p">
                  <h3>Paracosm</h3>
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card md-whiteframe-z1">
                <div class="item">
                  <img src="/images/c1.jpg" class="w-full r-t" alt="Washed Out">
                  <div class="bottom text-white p">
                    Title
                  </div>
                </div>
                <md-button md-ink-ripple style="line-height:20px;" class="m-t-n md-btn md-mini md-raised md-fab md-accent m-r right-0">
                <i style="line-height:30px;" class="mdi-action-thumb-up"></i></md-button>
                <div class="p">
                  <h3>Paracosm</h3>
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card md-whiteframe-z1">
                <div class="item">
                  <img src="/images/c6.jpg" class="w-full r-t" alt="Washed Out">
                  <div class="bottom text-white p">
                    Title
                  </div>
                </div>
                <md-button md-ink-ripple style="line-height:20px;" class="m-t-n md-btn md-mini md-raised md-fab md-accent m-r right-0">
                <i style="line-height:30px;" class="mdi-action-thumb-up"></i></md-button>
                <div class="p">
                  <h3>Paracosm</h3>
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card md-whiteframe-z1">
                <div class="item">
                  <img src="/images/c2.jpg" class="w-full r-t" alt="Washed Out">
                  <div class="bottom text-white p">
                    Title
                  </div>
                </div>
                <md-button md-ink-ripple style="line-height:20px;" class="m-t-n md-btn md-mini md-raised md-fab md-accent m-r right-0">
                <i style="line-height:30px;" class="mdi-action-thumb-up"></i></md-button>
                <div class="p">
                  <h3>Paracosm</h3>
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                  </p>
                </div>
              </div>
            </div>
          </div>
				</div>
				<div ng-if="childSection.properties.type === 'LIST'">
					<div class="row p">
						<div class="col-lg-12">
							<div class="card md-whiteframe-z1">
								<md-list class="md-dense" flex>
					        <md-list-item class="md-3-line" style="min-height: 30px">
					          <img src="/images/c2.jpg" class="md-avatar" alt="{{item.who}}" style="margin-top: 10px;" />
					          <div class="md-list-item-text" layout="column">
					            <h3>Título</h3>
					            <h4>Isso é um test 1</h4>
					          </div>
					          <md-divider></md-divider>
					        </md-list-item>
					        <md-list-item class="md-3-line" style="min-height: 30px">
					          <img src="/images/c2.jpg" class="md-avatar" alt="{{item.who}}" style="margin-top: 10px;" />
					          <div class="md-list-item-text" layout="column">
					            <h3>Título</h3>
					            <h4>Isso é um test 1</h4>
					          </div>
					          <md-divider></md-divider>
					        </md-list-item>
					        <md-list-item class="md-3-line" style="min-height: 30px">
					          <img src="/images/c2.jpg" class="md-avatar" alt="{{item.who}}" style="margin-top: 10px;" />
					          <div class="md-list-item-text" layout="column">
					            <h3>Título</h3>
					            <h4>Isso é um test 1</h4>
					          </div>
					          <md-divider></md-divider>
					        </md-list-item>
					        <md-list-item class="md-3-line" style="min-height: 30px">
					          <img src="/images/c2.jpg" class="md-avatar" alt="{{item.who}}" style="margin-top: 10px;" />
					          <div class="md-list-item-text" layout="column">
					            <h3>Título</h3>
					            <h4>Isso é um test 1</h4>
					          </div>
					          <md-divider></md-divider>
					        </md-list-item>
					        <md-list-item class="md-3-line" style="min-height: 30px">
					          <img src="/images/c2.jpg" class="md-avatar" alt="{{item.who}}" style="margin-top: 10px;" />
					          <div class="md-list-item-text" layout="column">
					            <h3>Título</h3>
					            <h4>Isso é um test 1</h4>
					          </div>
					        </md-list-item>
				        </md-list>
			        </div>
						</div>
					</div>
				</div>
				<!-- /section content -->
			</div>
		</div>
		<!-- /content -->
	</div>

	<div class="p-v" ng-hide="previewMode">
		<md-divider></md-divider>
		<div class="w-full text-center" style="margin-top: -28px">
			<md-button class="md-accent md-fab md-mini" aria-label="Eat cake">
				<md-tooltip md-direction="top">
		    	{{'settings.pages.ADD_SECTION' | translate}}
		  	</md-tooltip>
        <i class="mdi mdi2-plus i-20"></i>
      </md-button>
		</div>
	</div>

	</div>
</div>

<md-button aria-label="menu" class="md-fab md-accent pos-fix right-0 bottom-0 m-r-xxl m-b-lg" style="margin-right: 100px;">
	<i class="mdi mdi2-content-save i-24"></i>
</md-button>

<div class="modal fade inactive" id="pagebuilder-tools" data-backdrop="false">
  <div class="right w-xxl bg-white md-whiteframe-z2">
    <div class="box">
      <div class="p p-h-md">
        <a data-dismiss="modal" class="pull-right text-muted-lt text-2x m-t-n inline p-sm">&times;</a>
        <strong>{{'titles.OPTIONS' | translate}}</strong>
      </div>
      <div class="box-row">
        <div class="box-cell">
          <div class="box-inner p">
          	<md-input-container class="w-full m-v-sm">
			        <label>{{'titles.TITLE' | translate}}</label>
			        <input ng-model="editingPage.title">
			      </md-input-container>
			      <md-slider-container>
				      <label>{{'settings.pages.MARGIN' | translate}}</label>
				      <md-slider flex md-discrete min="0" max="100" step="10" ng-model="app.editingPage.margin" aria-label="red">
				      </md-slider>
				    </md-slider-container>
				    <md-slider-container>
				      <label>{{'settings.pages.PADDING' | translate}}</label>
				      <md-slider flex md-discrete min="0" max="100" step="10" ng-model="app.editingPage.padding" aria-label="red">
				      </md-slider>
				    </md-slider-container>
				    <div class="text-left">
				    	<div class="p-r">
				    		<md-checkbox ng-model="previewMode" class="text-u-c font-500">
				    			{{'settings.pages.PREVIEW_MODE' | translate}}
				    		</md-checkbox>
				    	</div>
				    	<div class="p-r">
				    		<md-checkbox ng-model="app.editingPage.boxedLayout" class="text-u-c font-500">
				    			{{'settings.pages.BOXED_LAYOUT' | translate}}
				    		</md-checkbox>
				    	</div>
				    	<md-button>
				    		{{'titles.CUSTOMIZE' | translate}}
				    	</md-button>
				    	<md-button>
				    		{{'titles.RESTORE_DEFAULT' | translate}}
				    	</md-button>
				    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>