<div class="md-primary-hue-1 background md-whiteframe-z1 p-xl ng-scope pos-fix w-full top-0 left-0 z-index-n-1">
  <div class="p-xl">
  </div>
</div>

<div class="pos-abt w-full top-0 bottom-0 left-0">
  <div class="hbox">

    <div class="col animated zoomIn">
      <div class="vbox p-t-lg p-r-xxl p-l-xxl">
      
        <div class="search-with-filter m-r-sm m-l-sm p-sm md-background-hue-3 background md-whiteframe-z1 pos-rlt z-index-2">
        	<form ng-submit="doSearch()">
          	<input placeholder="{{'titles.SEARCH' | translate }}" ng-model="search" class="ph-dk w-full b-n p-sm w-full b-n text-lg bg-t">
        	</form>
        </div>
        <!-- /search -->
        <div class="row-row">
          <div class="cell">
            <div class="cell-inner p-r-sm p-l-sm">
              <div id="search-results" class="md-background-hue-1 background w-full m-h-auto pos-rlt md-whiteframe-z2 " style="overflow: auto; max-height: 100%;">
    			<!-- search results -->
                <div class="h-full">
                  <div class="table-responsive o-visible text-base" infinite-scroll="paginate()" infinite-scroll-container="'#search-results'">
										<table id="users-table" class="table b-t b-light" style="margin-bottom: 80px">
											<thead>
												<tr>
													<th style="width:15px;">
														<md-checkbox aria-label="nothing" class="no-margin" ng-model="toggleSelectValue" ng-change="toggleAll(toggleSelectValue)">
														</md-checkbox>
													</th>
													<th>usuários</th>
													<th style="min-width:170px;" class="text-center display-t-c v-m no-padding">último login</th>
													<th style="min-width:110px;" class="text-center display-t-c v-m no-padding">
														ativar/desativar
													</th>
													<th style="min-width:100px;" class="text-center display-t-c v-m no-padding">
														administrador
													</th>
													<th style="width:30px;"></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="person in persons" class="b-l-3x b-l-s b-c-t" 	ng-style="person.selected ? app.getMaterialBGColor('myPrimary', '50', '0.3') : null" ng-class="{'b-l-primary': isActivePerson(person)}">
													<td class="display-t-c v-m">
														<md-checkbox aria-label="nothing" class="no-margin" ng-if="person.id != app.person.id"
														 ng-model="person.selected" ng-true-value="true" ng-false-value="false" ng-click="app.stopPropagation($event)">
														</md-checkbox>
													</td>
													<td class="display-t-c v-m clearfix">
							              <span class="pull-left thumb-sm m-r">
															<div ng-style="app.getUserImage(person, 'small', 'PROFILE_PICTURE', true)" style="height: 40px;" class="bg-cover img-responsive img-circle thumb md-whiteframe-z1 text-center" ng-class="{'md-primary-hue-1 background': !app.hasProfilePicture(person)}">
																<i ng-if="!app.hasProfilePicture(person)" style="line-height: 36px;" class="mdi2-account i-24"></i>
															</div>
							              </span>
								              <span class="clear">
								                <span class="text-md font-bold">{{person.name}}</span>
								                <div class="text-muted clear text-ellipsis">{{person.username}} | {{person.email}}</div>
								              </span>
													</td>
													<td class="display-t-c v-m text-center" ng-if="!person.lastLogin"> - </td>
													<td class="display-t-c v-m text-center" ng-if="person.lastLogin">{{app.getLocalTime(person.lastLogin)}}</td>
													<td class="display-t-c v-m text-center">
														<div ng-if="person.id != app.person.id" class="hidden-sm" ng-click="app.stopPropagation($event)">
														 	<md-switch class="no-margin" ng-change="app.enableDisablePerson(person)" ng-model="person.enabled" ng-true-value="true" ng-false-value="false">
								            	</md-switch>
														</div>
													</td>
													<td class="display-t-c v-m text-center">
														<md-checkbox aria-label="nothing" class="no-margin" ng-if="person.id != app.person.id" 
														 ng-model="person.admin" ng-click="app.stopPropagation($event)">
														</md-checkbox>
													</td>
													<td class="display-t-c v-m">
                            <div ng-if="person.id != app.person.id" class="dropdown hidden-sm">
                              <ul class="list-inline no-margin">
                                <li class="dropdown">
                                  <a data-toggle="dropdown">
                                    <i class="mdi-navigation-more-vert i-24"></i>
                                  </a>
                                  <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                                    <li><a ng-click="changePasswordDialog($event, person)">{{'settings.users.REDIFINE_PASSWORD' | translate}}</a></li>
                                    <li><a ng-click="showEditProfile($event, person);">{{'settings.users.EDIT_PROFILE' | translate}}</a></li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
													</td>
												</tr>
											</tbody>
										</table>
									</div> 
                </div>
              </div>
              <div ng-if="personsCount && persons" class="md-whiteframe-z1 text-sm md-background-hue-1 background pos-abt bottom-0 z-index-5" style="width: calc(100% - 16px)">
              	<md-divider></md-divider>
              	<div class="p-sm font-code">
                	{{'titles.TOTAL' | translate}}: {{personsCount}} 
                	<span>
                		| {{'titles.SHOWING' | translate}}: {{persons.length}}
              		</span>
                	<span ng-if="getSelectedPersonIds().length > 0" >
                		| {{'titles.SELECTED' | translate}}: {{getSelectedPersonIds().length}}
              		</span>
              	</div>
               </div>
              <!-- /search results -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- /background -->
<!-- </md-sidenav> -->
  
  <!-- <md-button aria-label="nothing" aria-label="menu" class="md-fab md-accent pos-fix right-0 bottom-0 m-r-xxl m-b-lg"
    ui-sref="app.post">
    <i class="mdi-editor-mode-edit i-24"></i>
  </md-button> -->

	<md-fab-speed-dial md-direction="up" class="md-scale pos-fix right-0 bottom-0 m-r-lg m-b-md">
	  <md-fab-trigger>
	    <md-button aria-label="nothing" aria-label="Add..." class="md-fab md-accent">
	    	<i class="mdi mdi2-menu i-24"></i>
	    </md-button>
	  </md-fab-trigger>
	  <md-fab-actions>
	    <md-button aria-label="nothing" aria-label="Add Group" class="md-fab md-raised md-mini" ng-click="showAddUserDialog($event)">
	    	<md-tooltip md-direction="left">
	      	{{'settings.users.ADD_USERS' | translate}}
	  		</md-tooltip>
	    	<i class="mdi i-20 mdi2-plus text-dark"></i>
	    </md-button>
	    <md-button aria-label="nothing" aria-label="Add User" class="md-fab md-raised md-mini" ng-click="bulkChangeAccess($event, 'enablePersons')">
	    	<md-tooltip md-direction="left">
	      	{{'settings.users.ENABLE_ALL_SELECTED' | translate}}
	  		</md-tooltip>
	    	<i class="mdi mdi2-account-check i-20 text-dark"></i>
	    </md-button>
	    <md-button aria-label="nothing" aria-label="Add User" class="md-fab md-raised md-mini" ng-click="bulkChangeAccess($event, 'disablePersons')">
	    	<md-tooltip md-direction="left">
	      	{{'settings.users.DISABLE_ALL_SELECTED' | translate}}
	  		</md-tooltip>
	    	<i class="mdi mdi2-account-off i-20 text-dark"></i>
	    </md-button>
	    <md-button aria-label="nothing" aria-label="Add Group" class="md-fab md-raised md-mini" ng-click="showBulkChangePermissions($event)">
	    	<md-tooltip md-direction="left">
	      	{{'settings.users.PERMISSIONS_OF_ALL_SELECTED' | translate}}
	  		</md-tooltip>
	    	<i class="mdi mdi2-key-variant i-20 text-dark"></i>
	    </md-button>
	    <md-button aria-label="nothing" aria-label="Add Group" class="md-fab md-raised md-mini" ng-click="showInviteUserDialog($event);">
	    	<md-tooltip md-direction="left">
	      	{{'settings.users.INVITE_USERS' | translate}}
	  		</md-tooltip>
	    	<i class="mdi mdi2-email i-20 text-dark"></i>
	    </md-button>
	  </md-fab-actions>
	</md-fab-speed-dial>


<script type="text/ng-template" id="edit-person-dialog.html">
  <md-dialog-content layout="row" layout-wrap>
    <md-toolbar layout-align="start start" flex class="md-primary layout-align-start-start layout-column md-hue-1 text-center w-lg" layout="column">
      <div class="w-full">

        <div class="text-center p w-full" translate="titles.EDIT_PROFILE"></div>

        <div class="text-center p p-t-lg w-full m-t-lg">
          <!-- <i class="mdi mdi2-account text-4x"></i> -->
          <div class="md-whiteframe-z1 user-avatar rounded w-96 bg-white inline pos-rlt md-primary-default background text-center bg-cover" preload-bg-image="{{app.getImageLink(editingPerson, 'medium')}}" bstyle="{'background-image': 'url(  {{editingPerson | userImage: 'medium'}} )'}">
            <i ng-if="!editingPerson.imageHash" class="mdi2-account i-60" style="top: 16%;position: relative;"></i>
            <!-- image profile upload -->
            <div class="profile-image-button rounded o-f-h w-96 text-center pos-abt top-0" style="background-color: rgba(0,0,0,0.7)">
              <i class="mdi2-pencil i-48 text-white image-edit" style="opacity: 0.92; position: relative; top: 24%"></i>
              <input class="image-upload" style="height: 96px;" type="file" nv-file-select="" uploader="personImageUploader" name="contents" accept="image/*">
            </div>
            <!-- /image profile upload -->
          </div>
        </div>

        <div class="pos-abt bottom-0 text-center w-full p-t p-b">
          <md-button aria-label="nothing" ng-click="cancel()" class="m-0">
            {{'titles.CANCEL' | translate}}
          </md-button>
          <md-button aria-label="nothing" ng-click="saveProfile(editingPerson)" ng-disabled="disabled" class="m-0">
            {{'titles.SAVE' | translate}}
          </md-button>
        </div>
      </div>
    </md-toolbar>
    <div class="p w-x col-400 scrollable md-background-hue-1 background">
        <div class="pos-rlt p">
        	<div ng-if="personImageUploader" ng-style="{'background-image': 'url(  {{editingPerson | coverImage: 'medium'}} )'}" style="margin: -32px -32px 32px -32px" class="hidden-folded bg-cover m-b-md md-whiteframe-z1">
	          <div class="m-b-xxl p-lg"></div>
	          <div class="p-v-sm p-h black-grad m-t text-white">
	            <div class="block" style="opacity:0.92">
	              <span class="block font-bold">{{editingPerson.name}}</span>
	              <span class="text-sm">{{editingPerson.email}}</span>
	            </div>
	          </div>
	        </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.NAME' | translate}}</label>
            <input type="text" ng-model="editingPerson.name" md-autofocus>
          </md-input-container>
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.USERNAME' | translate}}</label>
            <input type="text" ng-model="editingPerson.username" >
          </md-input-container>
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.EMAIL' | translate}}</label>
            <input type="text" ng-model="editingPerson.email" >
          </md-input-container>
          </div>
          <div class="">
          <!-- <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.PASSWORD' | translate}} ({{'titles.OPTIONAL' | translate}})</label>
            <input type="password" ng-model="editingPerson.password" >
          </md-input-container>
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0" ng-class="{'animated fadeIn': editingPerson.password, 'hide': !editingPerson.password}">
            <label for="testInput">{{'settings.profile.CONFIRM_PASSWORD' | translate}}</label>
            <input type="password" ng-model="editingPerson.passwordConfirm" >
          </md-input-container> -->
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.BIOGRAPHY' | translate}}</label>
            <textarea type="text" columns="1" ng-model="editingPerson.bio" ></textarea>
          </md-input-container>
          </div>
        </div>
      </div>
    </div>
  </md-dialog-content>
</script>

<script type="text/ng-template" id="add-profile-dialog.html">
  <md-dialog-content layout="row" layout-wrap>
    <md-toolbar layout-align="start start" flex class="md-primary layout-align-start-start layout-column md-hue-1 text-center w-lg" layout="column">
      <div class="w-full">

        <div class="text-center p w-full" translate="titles.ADD_PERSON"></div>

        <div class="text-center p p-t-lg w-full m-t-lg">
          <i class="mdi mdi2-account text-4x"></i>
        </div>

        <div class="pos-abt bottom-0 text-center w-full p-t p-b">
          <md-button aria-label="nothing" ng-click="cancel()" class="m-0">
            {{'titles.CANCEL' | translate}}
          </md-button>
          <md-button aria-label="nothing" ng-click="createPerson(addingPerson)" ng-disabled="disabled" class="m-0">
            {{'titles.SAVE' | translate}}
          </md-button>
        </div>
      </div>
    </md-toolbar>
    <div class="p w-x col-400 scrollable md-background-hue-1 background">
        <div class="pos-rlt p">
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.NAME' | translate}}</label>
            <input type="text" id="testInput" ng-model="addingPerson.name" md-autofocus>
          </md-input-container>
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.USERNAME' | translate}}</label>
            <input type="text" id="testInput" ng-model="addingPerson.username" >
          </md-input-container>
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.EMAIL' | translate}}</label>
            <input type="text" id="testInput" ng-model="addingPerson.email" >
          </md-input-container>
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.PASSWORD' | translate}}</label>
            <input type="password" id="testInput" ng-model="addingPerson.password" >
            <small class="text-xs">{{'settings.users.OPTIONAL_PASSWORD' | translate}}</small>
          </md-input-container>
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.CONFIRM_PASSWORD' | translate}}</label>
            <input type="password" id="testInput" ng-model="addingPerson.passwordConfirm" >
          </md-input-container>
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.BIOGRAPHY' | translate}}</label>
            <textarea type="text" id="testInput" columns="1" ng-model="addingPerson.bio"></textarea>
          </md-input-container>
          </div>
        </div>
      </div>
    </div>
  </md-dialog-content>
</script>

<script type="text/ng-template" id="bulk_change_access_dialog.html">
	<md-dialog aria-label="change action">
    <md-content role="document" class="md-background-hue-1 background">
      <div class="p-xs">
        <div ng-if="enableOrDisableOption === 'enablePersons'" class="md-dialog-content-body text-md text-center w-xxl p m-b">
          {{'settings.users.ENABLE_ALL_SELECTED_MSG' | translate}}?
        </div>

        <div ng-if="enableOrDisableOption === 'disablePersons'" class="md-dialog-content-body text-md text-center w-xxl p m-b">
          {{'settings.users.DISABLE_ALL_SELECTED_MSG' | translate}}?
        </div>

        <div class="text-center">
          <md-button aria-label="nothing" ng-if="enableOrDisableOption === 'enablePersons'" ng-click="enablePersons(); disabled = true;" ng-disabled="disabled">
            {{'titles.YES' | translate}}
          </md-button>
          <md-button aria-label="nothing" ng-if="enableOrDisableOption === 'disablePersons'" ng-click="disablePersons(); disabled = true;" ng-disabled="disabled">
            {{'titles.YES' | translate}}
          </md-button>
          <md-button aria-label="nothing" ng-click="cancel()">
            {{'titles.NO' | translate}}
          </md-button>
        <div>
      </div>
    </md-content>
  </md-dialog>
</script>

<script type="text/ng-template" id="change_password_dialog.html">
	<md-dialog aria-label="change action">
    <md-content role="document" class="md-background-hue-1 background">
      <div class="p-xs">

        <div class="md-dialog-content-body w-xxl p m-b">
          {{'settings.users.SET_PASSWORD_MSG' | translate}}
        </div>

        <div class="p-t p-h">
          <md-input-container class="no-margin w-full">
            <label>{{'settings.profile.PASSWORD' | translate}}</label>
            <input type="password" ng-model="newPassword"></input>
          </md-input-container>
        </div>

        <div class="p-h">
          <md-input-container class="no-margin w-full">
            <label>{{'settings.profile.CONFIRM_PASSWORD' | translate}}</label>
            <input type="password" ng-model="newPasswordConfirm"></input>
          </md-input-container>
        </div>

        <div class="text-center">
          <md-button aria-label="nothing" ng-click="changePassword();" ng-disabled="disabled">
            {{'titles.CONFIRM' | translate}}
          </md-button>
          <md-button aria-label="nothing" ng-click="cancel()">
            {{'titles.CANCEL' | translate}}
          </md-button>
        <div>
      </div>
    </md-content>
  </md-dialog>
</script>

<script type="text/ng-template" id="no-person-selected-dialog.html">
	<md-dialog aria-label="change action">
    <md-content role="document" class="md-background-hue-1 background">
      <div class="p-xs">

        <div class="md-dialog-content-body text-md text-center w-xxl p m-b">
          {{'settings.users.NO_PERSON_SELETED' | translate}}.
        </div>

        <div class="text-center">
          <md-button aria-label="nothing" ng-click="cancel()">
            {{'titles.CANCEL' | translate}}
          </md-button>
        <div>
      </div>
    </md-content>
  </md-dialog>
</script>

<script type="text/ng-template" id="invitation-dialog.html">
  <md-dialog aria-label="change action">
    <md-content role="document" class="md-background-hue-1 background">
      <div class="" id="email-template">

        <div class="m-b-sm m-t-xs p-h w-800 pos-rlt">
          <md-chips ng-model="invitations" placeholder="Emails" secondary-placeholder="+Email" mg-separator-keys="separatorKeys" readonly="false"></md-chips>
        </div>
        <div class="o-f-a w-800 shadow-top">
          <textarea id="texteditor" froala="froalaOptions" class="md-whiteframe-z1" ng-model="invitationTemplate"></textarea>
        </div>

        <div class="text-right p-b-xs">
          <md-divider class="p-b-xs"></md-divider>
          <md-button aria-label="nothing" class="md-raised md-primary p-h" ng-click="invitatePeople()">
            <i class="icon mdi2-send i-14 m-r-sm"></i>{{'titles.SEND_INVITE' | translate}}
          </md-button>
          <md-button aria-label="nothing" ng-click="cancel()">
            {{'titles.CANCEL' | translate}}
          </md-button>
        <div>
        
      </div>
    </md-content>
  </md-dialog>
</script>

<script type="text/ng-template" id="change-permissions-dialog.html">
  <md-dialog aria-label="Editar permissão" id="user-permissions-dialog">
    <md-content class="md-background-hue-1 background">
      <div class="p">
        <div class="p-xs text-md">
          Estações:
        </div>
        <div class="p-sm stations-permissions-dialog-list m-t-sm" >
          <ul class="no-style">
            <li ng-repeat="station in app.stations" class="clearfix p-xs font-thin">
              <span class="pull-right">
                <label class="md-check">
                  <input type="checkbox" ng-model="station.selected">
                  <i class="md-accent-default background"></i>
                </label>
              </span>
              <span class="clear m-r-xxl">
                <span>{{station.name}}</span>
                <small class="text-muted text-xs clear text-ellipsis">
                  Visibilidade: {{(station.visibility == 'UNRESTRICTED') ? 'Pública' : 'Privada'}} | Todos podem escrever: {{(station.writable) ? 'Sim' : 'Não'}}
                </small>
              </span>
            </li>
          </ul>
        </div>
        <div class="p-xs text-base m-t-sm">
          <span class="text-md">Permissões:</span>

          <md-radio-group ng-model="stationRole">
            <ul class="station-permissions m-t">
              <li class="m-r">
                <md-radio-button value="READER">Leitor</md-radio-button>
              </li>
              <li class="m-r">
                <md-radio-button value="WRITER">Escritor</md-radio-button>
              </li>
              <li class="m-r">
                <md-radio-button value="EDITOR">Edtor</md-radio-button>
              </li>
              <li class="m-r">
                <md-radio-button value="ADMIN">Administrador</md-radio-button>
              </li>
            </ul>
          </md-radio-group>
          
        </div>
        <div class="text-right">
          <md-button aria-label="nothing" ng-click="pe.applyPermissions(pe.adminStations, pe.stationRole)" class="no-margin m-r">Confirmar</md-button>
          <md-button aria-label="nothing" ng-click="cancel()" class="no-margin">Fechar</md-button>
        <div>
      </div>
    </md-content>
  </md-dialog>
</script>