<!-- edit profile -->
<md-sidenav id="edit-profile" class="md-sidenav-right md-whiteframe-z2 w-400" md-component-id="edit-profile">
  <md-toolbar class="bg-header">
    <h1 class="md-toolbar-tools bg-header-text">{{'titles.EDIT_PROFILE' | translate}}</h1>
  </md-toolbar>
  <md-content layout-padding class="p-l-sm p-r-sm">
    <div>
      <md-input-container class="w-full m-b-0">
        <label for="testInput">{{'titles.EDIT_PROFILE' | translate}}</label>
        <input type="text" id="testInput" ng-model="editingPerson.name" md-autofocus>
      </md-input-container>
      <md-input-container class="w-full m-b-0">
        <label for="testInput">{{'settings.profile.NAME' | translate}}</label>
        <input type="text" id="testInput" ng-model="editingPerson.username" md-autofocus>
      </md-input-container>
      <md-input-container class="w-full m-b-0">
        <label for="testInput">{{'settings.profile.EMAIL' | translate}}</label>
        <input type="text" id="testInput" ng-model="editingPerson.email" md-autofocus>
      </md-input-container>
      <md-input-container class="w-full m-b-0">
        <label for="testInput">{{'settings.profile.PASSWORD' | translate}}</label>
        <input type="password" id="testInput" ng-model="editingPerson.password" md-autofocus>
      </md-input-container>
      <md-input-container class="w-full m-b-0" ng-class="{'animated fadeIn': editingPerson.password, 'hide': !editingPerson.password}">
        <label for="testInput">{{'settings.profile.CONFIRM_PASSWORD' | translate}}</label>
        <input type="password" id="testInput" ng-model="editingPerson.passwordConfirm" md-autofocus>
      </md-input-container>
      <md-input-container class="w-full m-b-0">
        <label for="testInput">{{'settings.profile.BIOGRAPHY' | translate}}</label>
        <textarea type="text" id="testInput" columns="1" ng-model="editingPerson.bio" md-autofocus></textarea>
      </md-input-container>
    </div>
    <md-button class="pull-right" ng-click="saveProfile(editingPerson)">
      {{'titles.SAVE' | translate}}
    </md-button>
    <md-button class="pull-right" ng-click="cancelEditProfile()">
      {{'titles.CANCEL' | translate}}
    </md-button>
  </md-content>
</md-sidenav>
<!-- /edit profile -->

<div class="md-whiteframe-z2 block-800 m-auto md-primary-hue-1 background bg-cover pos-rlt" ng-style="{'background-image': 'url(' + app.coverImageMedium + ')', 'width': '100%', 'height': '50%', 'min-height': '250px', 'margin-top': '-32px', 'background-position': '50% 50%'}">

  <div id="cover-image-button" class="pos-abt right-0 top-0 m-t m-r p-sm o-f-h">
    <div style="z-index: 2; position: absolute; width: 100%;height:100%;overflow:hidden; vertical-align: bottom;">
      <input style="opacity: 0;cursor:pointer" type="file" nv-file-select="" uploader="app.coverImageUploader" name="contents" accept="image/*"/>
    </div>  
    <span class="p-r-xs text-md" style="text-shadow:1px 1px 1px #000; vertical-align: sub;">
      {{'settings.profile.CHANGE_COVER' | translate}}
    </span>
    <i class="mdi mdi2-camera text-2x icon-text-shadow v-middle p-r-xs"></i>
  </div>
  
  <!-- headshot -->
  <div class="bg-white rounded m-t-md m-l-md inline md-whiteframe-z1" style="width: 128px; height: 128px;">
    <div class="m-xs user-avatar rounded w-120 bg-white inline pos-rlt md-primary-hue-1 background text-center bg-cover" ng-style="{'background-image': 'url(' + app.userImageMedium + ')', 'background-position': '50% 50%'}">
      <i ng-if="!app.userImageMedium" class="mdi2-account i-60" style="top: 24%;position: relative;"></i>
      <!-- image profile upload -->
      <div class="profile-image-button rounded o-f-h w-120 text-center pos-abt top-0" style="background-color: rgba(0,0,0,0.7)">
        <i class="mdi2-pencil i-44 text-white image-edit" style="opacity: 0.92; position: relative; top: 32%"></i>
        <input class="image-upload" style="height: 120px" type="file" nv-file-select="" uploader="app.userImageUploader" name="contents" accept="image/*">
      </div>
      <!-- /image profile upload -->
    </div>
  </div>
  <!-- /headshot -->

  <div class="p-v p-h-md black-grad text-md text-white pos-abt bottom-0 right-0 left-0">
    <button md-ink-ripple class="pull-right md-btn md-raised btn-fw bg-white text-black text-base m-t p-sm" ng-click="showEditProfile()">
      {{'titles.EDIT_PROFILE' | translate}}
    </button>
    <span class="block font-bold text-lg">{{app.person.name}}</span>
    {{app.person.email}}
  </div>

</div>

<div class="m-t-lg">
</div>

<div class="block-800 m-auto p-h">
  <div class="search-with-filter p-sm md-background-hue-3 background md-whiteframe-z1 pos-rlt z-index-2">
    <input placeholder="{{'titles.SEARCH' | translate }}" class="ph-dk w-full b-n p-sm w-full b-n text-lg bg-t">

    <!-- dropdown filter -->
    <div class="pos-abt top-0 right-0 m-t pull-right" uib-dropdown auto-close="disabled" is-open="advancedMenuOpen">
      <md-button uib-dropdown-toggle class="md-icon-button" aria-label="More" popover-trigger="click">
        <i class="icon mdi-content-filter-list i-24" md-style="{'color': 'default'}" ></i>
      </md-button>
      <div uib-dropdown-menu role="menu" aria-labelledby="single-button" class="dropdown-menu-scale pull-right advanced-search-menu m-h-auto p w-400 default-bg">
          <!-- <time-date-picker orientation="true" class="m-h-auto" ng-model="dateValue"></time-date-picker> -->
        <div class="arrow"></div>
        <div>
          <div class="pull-right">
            <a ng-click="advancedMenuOpen = false;"><i class="mdi mdi-navigation-close"></i></a>
          </div>
          <div class="m-b-sm text-u-c">
            Filtar por estação
          </div>
          <div class="m-b">
            <md-menu>
              <!-- Trigger element is a md-button with an icon -->
             <md-button ng-click="$mdOpenMenu($event)" class="md-button text-u-c" aria-label="Open sample menu">
               <!-- <md-icon md-font-set="material-icons" class="ng-scope ng-isolate-scope material-icons"> phone </md-icon> -->
               <i class="mdi mdi2-radio-tower"></i>
                {{'titles.STATIONS' | translate}}
             </md-button>
             <md-menu-content>
              <div class="p">
               <ul class="list-unstyled">
                 <li ng-repeat="perm in stationsPermissions">
                  <md-checkbox ng-model="perm.filter" aria-label="{{perm.stationName}}">
                   {{ perm.stationName }}
                   </md-checkbox>
                 </li>
               </ul>
              </div>
             </md-menu-content>
            </md-menu>
          </div>
          <div class="m-b-lg text-u-c">
            Filtar por data
          </div>
          <div class="text-center">
            <md-input-container style="width: 140px" class="no-margin m-b-sm">
              <label translate="titles.START_DATE">Data inicial</label>
              <input type="date" mdp-date-picker ng-model="filter.initialDate" />
            </md-input-container>
            <md-input-container style="width: 140px" class="no-margin m-b-sm">
              <label translate="titles.END_DATE">Data final</label>
              <input type="date" mdp-date-picker ng-model="filter.finalDate" />
            </md-input-container>
            <!-- <md-input-container style="width: 140px" class="no-margin m-b-sm">
              <label translate="titles.START_TIME">Hora inicial</label>
              <input type="time" mdp-time-picker ng-model="filter.initialTime" />
            </md-input-container>
            <md-input-container style="width: 140px" class="no-margin m-b-sm">
              <label translate="titles.END_TIME">Hora final</label>
              <input type="time" mdp-time-picker ng-model="filter.finalTime" />
            </md-input-container> -->
          </div>
        <!-- -->
        </div>
      </div>
    </div>
    <!-- /dropdown -->
  </div>
  <div class="b-b b-light text-md font-500 text-u-c bg-white md-whiteframe-z0 m-b-md">
    <ul class="nav nav-lines nav-md b-info">
      <li ng-class="{'active': settings.tab == 'publications'}" md-ink-ripple ng-click="settings.tab = 'publications'">
        <a href translate='titles.PUBLISHED'></a></li>
      <li ng-class="{'active': settings.tab == 'scheduled'}" md-ink-ripple ng-click="settings.tab = 'scheduled'">
        <a href translate='titles.SCHEDULED'> <span class="badge">3</span></a></li>
      <li ng-class="{'active': settings.tab == 'drafts'}" md-ink-ripple ng-click="settings.tab = 'drafts'">
        <a href translate='titles.DRAFTS'> <span class="badge">9</span></a></li>
      <li ng-class="{'active': settings.tab == 'trash'}" md-ink-ripple ng-click="settings.tab = 'trash'">
      <a href translate='titles.TRASH'></a></li>
    </ul>
  </div>
</div>

<div class="block-800 m-auto p-h">
  <!-- <div class="panel panel-card">
    <form>
      <textarea class="form-control no-border" rows="3" placeholder="Write something..."></textarea>
    </form>
    <div class="lt p">
      <button class="btn btn-info pull-right btn-sm p-h font-bold">Post</button>
      <ul class="nav nav-pills nav-sm">
        <li><a href><i class="fa fa-camera"></i></a></li>
        <li><a href><i class="fa fa-video-camera"></i></a></li>
      </ul>
    </div>
  </div> -->

  <div class="clearfix m-b-xxl">
    <div class="m-b-lg" infinite-scroll="paginate()" infinite-scroll-container='"#content .box-cell"'>
    
      <ul class="bg-t no-padding">
        <li class="panel panel-card p" ng-repeat="publication in publications">
          <a href class="pull-left m-r-md" ng-if="publication.featuredImageHash || publication.imageHash" style="height: 128px;">
            <div ng-style="app.getBackgroundImage(publication, 'large')" class="img-responsive md-whiteframe-z1 thumb-xl h-full bg-cover">
            </div>
          </a>
          <div class="clear font-thin">
            <a href class="font-bold block text-md">{{publication.title}}</a>
            {{publication.body.stripHtml() | characters:170}}
            <div class="p-t-sm text-xs font-500">
              <div class="font-500 text-u-c r p-xs inline o-f-h" ng-click="" md-ink-ripple ng-click="">editar
              </div>
              <div class="font-500 text-u-c r p-xs inline o-f-h" ng-click="" md-ink-ripple ng-click="">remover
              </div>
            </div>
            <div class="list-group-item b-n p-sm p-t-sm no-padding-h">
              <a href class="pull-left m-r-sm"><img src="/images/a1.jpg" class="img-responsive img-circle thumb-xxs md-whiteframe-z1"></a>
              <div class="clear font-normal p-xs">
                <a href class="font-500 block">{{publication.authorName}}</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      
    </div>
  </div>
</div>

<md-button aria-label="menu" class="md-fab md-accent pos-fix right-0 bottom-0 m-r-xxl m-b-lg"
  ui-sref="app.post">
  <i class="mdi-editor-mode-edit i-24"></i>
</md-button>

<script type="text/ng-template" id="person-config-dialog.html">
  <md-dialog-content layout="row" layout-wrap>
    <md-toolbar layout-align="start start" flex class="md-primary layout-align-start-start layout-column md-hue-1 text-center" layout="column">
      <div class="w-lg">

        <div ng-if="app.editingStation" class="text-center p w-full" translate="settings.station.STATION_SETTINGS"></div>
        <div ng-if="app.newStation" class="text-center p w-full" translate="settings.station.NEW_STATION"></div>

        <div class="text-center p p-t-lg w-full m-t-lg">
          <i class="mdi mdi2-account text-4x"></i>
        </div>

        <div class="pos-abt bottom-0 text-center w-full p-t p-b">
          <md-button ng-click="app.cancelDialog();" class="m-0">
            {{'titles.CANCEL' | translate}}
          </md-button>
          <md-button ng-click="app.updateStation(app.stationObj); disabled = true;" ng-disabled="disabled" class="m-0" ng-if="app.editingStation">
            {{'titles.SAVE' | translate}}
          </md-button>
          <md-button ng-click="app.createStation(app.stationObj); disabled = true;" ng-disabled="disabled" class="m-0" ng-if="app.newStation">
            {{'actions.CREATE' | translate}}
          </md-button>
        </div>
      </div>
    </md-toolbar>
    <div class="col-400 scrollable md-background-hue-1 background">
      <md-content layout-padding class="p-l-sm p-r-sm">
        <div>
          <md-input-container class="w-full m-b-0">
            <label for="testInput">{{'titles.EDIT_PROFILE' | translate}}</label>
            <input type="text" id="testInput" ng-model="editingPerson.name" md-autofocus>
          </md-input-container>
          <md-input-container class="w-full m-b-0">
            <label for="testInput">{{'settings.profile.NAME' | translate}}</label>
            <input type="text" id="testInput" ng-model="editingPerson.username" md-autofocus>
          </md-input-container>
          <md-input-container class="w-full m-b-0">
            <label for="testInput">{{'settings.profile.EMAIL' | translate}}</label>
            <input type="text" id="testInput" ng-model="editingPerson.email" md-autofocus>
          </md-input-container>
          <md-input-container class="w-full m-b-0">
            <label for="testInput">{{'settings.profile.PASSWORD' | translate}}</label>
            <input type="password" id="testInput" ng-model="editingPerson.password" md-autofocus>
          </md-input-container>
          <md-input-container class="w-full m-b-0" ng-class="{'animated fadeIn': editingPerson.password, 'hide': !editingPerson.password}">
            <label for="testInput">{{'settings.profile.CONFIRM_PASSWORD' | translate}}</label>
            <input type="password" id="testInput" ng-model="editingPerson.passwordConfirm" md-autofocus>
          </md-input-container>
          <md-input-container class="w-full m-b-0">
            <label for="testInput">{{'settings.profile.BIOGRAPHY' | translate}}</label>
            <textarea type="text" id="testInput" columns="1" ng-model="editingPerson.bio" md-autofocus></textarea>
          </md-input-container>
        </div>
        <md-button class="pull-right" ng-click="saveProfile(editingPerson)">
          {{'titles.SAVE' | translate}}
        </md-button>
        <md-button class="pull-right" ng-click="cancelEditProfile()">
          {{'titles.CANCEL' | translate}}
        </md-button>
      </md-content>
    </div>
  </md-dialog-content>
</script>