<div class="md-primary-hue-1 background md-whiteframe-z1 p-xl ng-scope pos-fix w-full top-0 left-0 z-index-n-1">
  <div class="p-xl">
  </div>
</div>

<div class="pos-abt w-full top-0 bottom-0 left-0">
  <div class="hbox">
    <div class="col animated zoomIn">
      <div class="vbox p-t-lg p-r-xxl p-l-xxl">
        <div class="search-with-filter m-r-sm m-l-sm p-sm md-background-hue-3 background md-whiteframe-z1 pos-rlt z-index-2">
          <form ng-submit="doSearch()">
            <input placeholder="{{'titles.SEARCH' | translate }}" ng-model="searchQuery" class="ph-dk w-full b-n p-sm w-full b-n text-lg bg-t">
          </form>
        </div>
        <!-- /search -->
        <div class="row-row">
          <div class="cell">
            <div class="cell-inner p-r-sm p-l-sm">
              <div id="search-results" class="md-background-hue-1 background w-full m-h-auto pos-rlt md-whiteframe-z2 " style="overflow: auto; max-height: 100%;">
          <!-- search results -->
                <div class="h-full">
                  <div class="table-responsive o-visible text-base" infinite-scroll="paginate()" infinite-scroll-container="'#search-results'">
                    <table id="users-table" class="table b-t b-light" style="margin-bottom: 80px">
                      <thead>
                        <tr>
                          <th style="width:15px;">
                            <md-checkbox aria-label="nothing" class="no-margin" ng-model="toggleSelectValue" ng-change="toggleAll(toggleSelectValue)">
                            </md-checkbox>
                          </th>
                          <th style="width: 300px">{{'titles.SELECT_ALL' | translate}}</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="comment in comments" class="b-l-3x b-l-s b-c-t"  ng-style="comment.selected ? app.getMaterialBGColor('myPrimary', '50', '0.3') : null" ng-class="{'b-l-primary': isActivePerson(comment)}">
                          <td class="display-t-c v-m">
                            <md-checkbox aria-label="nothing" class="no-margin" ng-if="person.id != app.person.id"
                             ng-model="comment.selected" ng-true-value="true" ng-false-value="false" ng-click="app.stopPropagation($event)">
                            </md-checkbox>
                          </td>
                          <td class="display-t-c v-m clearfix">
                            <span class="pull-left thumb-sm m-r">
                              <div ng-style="{{comment.authorId | getImagesPerson:'small':'PROFILE_PICTURE':true}}" style="height: 40px;" class="bg-cover img-responsive img-circle thumb md-whiteframe-z1 text-center md-primary-hue-1 background">
                                <i ng-if="!app.hasAuthorImage(comment)" style="line-height: 36px;" class="mdi2-account i-24"></i>
                              </div>
                            </span>
                              <span class="clear">
                                <span class="text-md font-bold">{{comment.author.name}}</span>
                                <div class="text-muted clear text-ellipsis">{{comment.author.username}} | {{comment.author.email}}</div>
                              </span>
                          </td>
                          <td class="display-t-c v-m clearfix">
                            <span class="clear">
                              <div class="text-muted text-sm clear">{{app.getLocalTime(comment.date)}} | 
                                <span class="font-500">
                                  <i class="icon mdi2-radio-tower"></i> {{app.getStationById(comment.stationId).name}}
                                </span>
                              </div>
                              <div class="text-md m-t-xs">
                                <a class="text-muted clear text-ellipsis">
                                  {{comment.body}}
                                </a>
                              </div>
                            </span>
                          </td>
                          <td class="display-t-c v-m">
                            <div ng-if="person.id != app.person.id" class="dropdown hidden-sm" dropdown ng-click="app.stopPropagation($event)">
                              <!-- <a href angular-ripple class="dropdown-toggle border-radius-50 i-24 mdi-navigation-more-vert mdi" dropdown-toggle>
                              </a> -->
                              <ul class="list-inline no-margin text-right">
                                <li class="dropdown">
                                  <md-button aria-label="nothing" class="md-icon-button m-t" aria-label="More" ng-click="showDeleteCommentsDialog($event, [comment])">
                                    <i class="i-20 mdi2-delete ng-scope"></i>
                                  </md-button>
                                  <md-button aria-label="nothing" class="md-icon-button m-t" aria-label="More 2" ng-click="app.showComments({id: comment.postId})">
                                    <i class="i-20 mdi2-comment-multiple-outline ng-scope"></i>
                                  </md-button>
                                  <md-button aria-label="nothing" class="md-icon-button m-t" aria-label="More" ng-click="app.showPostContent({id: comment.postId})">
                                    <i class="i-20 mdi2-format-float-left ng-scope"></i>
                                  </md-button>
                                </li>
                              </ul>
                              <!-- dropdown -->
                              <ul class="dropdown-menu dropdown-menu-scale animated w-sm pull-right">
                                <li > <a href> Reconfigurar a senha </a> </li>
                                <!-- <li class="divider"></li> -->
                                <li> <a ng-click="openDeletePersonRole(role.id);"> Alterar permissões </a> </li>
                              </ul>
                              <!-- / dropdown -->
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div> 
                </div>
              </div>
              <div class="md-whiteframe-z1 text-sm md-background-hue-1 background pos-abt bottom-0 z-index-5" style="width: calc(100% - 16px)">
                <md-divider></md-divider>
                <div class="p-sm font-code">
                  {{'titles.TOTAL' | translate}}: {{totalCommentsCount}} 
                  <span>
                    | {{'titles.SHOWING' | translate}}: {{comments.length}}
                  </span>
                  <span ng-if="getSelectedComments().length > 0" >
                    | {{'titles.SELECTED' | translate}}: {{getSelectedComments().length}}
                  </span>
                </div>
               </div>
              <!-- /search results -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<md-button aria-label="nothing" aria-label="menu" ng-if="comments && comments.length > 0" class="md-fab md-accent pos-fix right-0 bottom-0 m-r-xxl m-b-lg animated" ng-class="{'zoomIn': getSelectedComments().length > 0, 'zoomOut': getSelectedComments().length == 0}" ng-click="showDeleteCommentsDialog($event, getSelectedCommentsObjects())">
  <md-tooltip md-direction="top">
    {{'titles.REMOVE_ALL' | translate}}
  </md-tooltip>
  <i class="mdi2-delete i-24"></i>
</md-button>

<script type="text/ng-template" id="delete-comments-dialog.html">
  <md-dialog aria-label="change action">
    <md-content role="document" class="md-background-hue-1 background">
      <div class="p-xs">
        <div ng-if="commentsToDelete && commentsToDelete.length == 1" class="md-dialog-content-body text-md text-center w-xxl p m-b">
          {{'settings.comment.REMOVE_COMMENT_MSG' | translate}}
        </div>
        <div ng-if="commentsToDelete && commentsToDelete.length > 1" class="md-dialog-content-body text-md text-center w-xxl p m-b">
          {{'settings.comment.REMOVE_SELECTED_COMMENTS_MSG' | translate}}
        </div>

        <div class="text-center">
          <md-button aria-label="nothing" ng-click="deleteComments(); disabled = true;" ng-disabled="disabled">
            {{'titles.YES' | translate}}
          </md-button>
          <md-button aria-label="nothing" ng-click="cancel()">
            {{'titles.NO' | translate}}
          </md-button>
        <div>
      </div>
    </md-content>
  </md-dialog>
</script>