<div class="md-primary-hue-1 background md-whiteframe-z1 p-xl ng-scope pos-fix w-full top-0 left-0 z-index-n-1">
  <div class="p-xl">
  </div>
</div>

<div class="pos-abt w-full top-0 bottom-0 left-0">
  <div class="hbox">
    <div class="col animated zoomIn">
      <div class="vbox p-t-lg p-r-xxl p-l-xxl">
        <div class="search-with-filter m-r-sm m-l-sm p-sm md-background-hue-3 background md-whiteframe-z1 pos-rlt z-index-2">
          <form ng-submit="doSearch()">
            <input placeholder="{{'titles.SEARCH' | translate }}" ng-model="searchQuery" class="ph-dk w-full b-n p-sm w-full b-n text-lg bg-t">
          </form>
        </div>
        <!-- /search -->
        <div class="row-row">
          <div class="cell">
            <div class="cell-inner p-r-sm p-l-sm">
              <div id="search-results" class="md-background-hue-1 background w-full m-h-auto pos-rlt md-whiteframe-z2 " style="overflow: auto; max-height: 100%;">
          <!-- search results -->
                <div class="h-full">
                  <div class="table-responsive o-visible text-base" infinite-scroll="paginate()" infinite-scroll-container="'#search-results'">
                    <table id="users-table" class="table b-t b-light" style="margin-bottom: 80px">
                      <thead>
                        <tr>
                          <th style="width:15px;">
                            <md-checkbox aria-label="nothing" class="no-margin" ng-model="toggleSelectValue" ng-change="toggleAll(toggleSelectValue)">
                            </md-checkbox>
                          </th>
                          <th style="width: 300px">{{'titles.SELECT_ALL' | translate}}</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="comment in comments" class="b-l-3x b-l-s b-c-t"  ng-style="comment.selected ? app.getMaterialBGColor('myPrimary', '50', '0.3') : null" ng-class="{'b-l-primary': isActivePerson(comment)}">
                          <td class="display-t-c v-m">
                            <md-checkbox aria-label="nothing" class="no-margin" ng-if="person.id != app.person.id"
                             ng-model="comment.selected" ng-true-value="true" ng-false-value="false" ng-click="app.stopPropagation($event)">
                            </md-checkbox>
                          </td>
                          <td class="display-t-c v-m clearfix">
                            <span class="pull-left thumb-sm m-r">
                              <div ng-style="{{comment.authorId | getImagesPerson:'small':'PROFILE_PICTURE':true}}" style="height: 40px;" class="bg-cover img-responsive img-circle thumb md-whiteframe-z1 text-center md-primary-hue-1 background">
                                <i ng-if="!app.hasAuthorImage(comment)" style="line-height: 36px;" class="mdi2-account i-24"></i>
                              </div>
                            </span>
                              <span class="clear">
                                <span class="text-md font-bold">{{comment.author.name}}</span>
                                <div class="text-muted clear text-ellipsis">{{comment.author.username}} | {{comment.author.email}}</div>
                              </span>
                          </td>
                          <td class="display-t-c v-m clearfix">
                            <span class="clear">
                              <div class="text-muted text-sm clear">{{app.getLocalTime(comment.date)}} | 
                                <span class="font-500">
                                  <i class="icon mdi2-radio-tower"></i> {{app.getStationById(comment.stationId).name}}
                                </span>
                              </div>
                              <div class="text-md m-t-xs">
                                {{comment.body}}
                              </div>
                            </span>
                          </td>
                          <td class="display-t-c v-m">
                            <div ng-if="person.id != app.person.id" class="dropdown hidden-sm" dropdown ng-click="app.stopPropagation($event)">
                              <!-- <a href angular-ripple class="dropdown-toggle border-radius-50 i-24 mdi-navigation-more-vert mdi" dropdown-toggle>
                              </a> -->
                              <ul class="list-inline no-margin text-right">
                                <li class="dropdown">
                                  <md-button class="md-icon-button m-t md-warn" aria-label="More" ng-click="app.showDeleteCommentDialog({id: comment.postId})">
                                    <i class="i-20 mdi2-delete ng-scope"></i>
                                  </md-button>
                                  <md-button class="md-icon-button m-t" aria-label="More 2" ng-click="app.showComments({id: comment.postId})">
                                    <i class="i-20 mdi2-comment-multiple-outline ng-scope"></i>
                                  </md-button>
                                  <md-button class="md-icon-button m-t" aria-label="More" ng-click="app.showPostContent({id: comment.postId})">
                                    <i class="i-20 mdi2-format-float-left ng-scope"></i>
                                  </md-button>
                                </li>
                              </ul>
                              <!-- dropdown -->
                              <ul class="dropdown-menu dropdown-menu-scale animated w-sm pull-right">
                                <li > <a href> Reconfigurar a senha </a> </li>
                                <!-- <li class="divider"></li> -->
                                <li> <a ng-click="openDeletePersonRole(role.id);"> Alterar permissões </a> </li>
                              </ul>
                              <!-- / dropdown -->
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div> 
                </div>
              </div>
              <div ng-if="personsCount && persons" class="md-whiteframe-z1 text-sm md-background-hue-1 background pos-abt bottom-0 z-index-5" style="width: calc(100% - 16px)">
                <md-divider></md-divider>
                <div class="p-sm font-code">
                  {{'titles.TOTAL' | translate}}: {{personsCount}} 
                  <span>
                    | {{'titles.SHOWING' | translate}}: {{persons.length}}
                  </span>
                  <span ng-if="getSelectedPersonIds().length > 0" >
                    | {{'titles.SELECTED' | translate}}: {{getSelectedPersonIds().length}}
                  </span>
                </div>
               </div>
              <!-- /search results -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<md-button aria-label="menu" ng-if="comments && comments.length > 0" class="md-fab md-accent pos-fix right-0 bottom-0 m-r-xxl m-b-lg animated" ng-class="{'zoomIn': getSelectedComments().length > 0, 'zoomOut': getSelectedComments().length == 0}">
  <md-tooltip md-direction="top">
    {{'titles.REMOVE_ALL' | translate}}
  </md-tooltip>
  <i class="mdi2-delete i-24"></i>
</md-button>

<script type="text/ng-template" id="edit-person-dialog.html">
  <md-dialog-content layout="row" layout-wrap>
    <md-toolbar layout-align="start start" flex class="md-primary layout-align-start-start layout-column md-hue-1 text-center" layout="column">
      <div class="w-lg">

        <div class="text-center p w-full" translate="titles.EDIT_PROFILE"></div>

        <div class="text-center p p-t-lg w-full m-t-lg">
          <!-- <i class="mdi mdi2-account text-4x"></i> -->
          <div class="md-whiteframe-z1 m-t m-l user-avatar rounded w-96 bg-white inline pos-rlt md-primary-default background text-center bg-cover" preload-bg-image="{{app.getImageLink(editingPerson, 'medium')}}" bstyle="{'background-image': 'url(  {{editingPerson | userImage: 'medium'}} )'}">
            <i ng-if="!editingPerson.imageHash" class="mdi2-account i-60" style="top: 16%;position: relative;"></i>
            <!-- image profile upload -->
            <div class="profile-image-button rounded o-f-h w-96 text-center pos-abt top-0" style="background-color: rgba(0,0,0,0.7)">
              <i class="mdi2-pencil i-48 text-white image-edit" style="opacity: 0.92; position: relative; top: 24%"></i>
              <input class="image-upload" style="height: 96px;" type="file" nv-file-select="" uploader="personImageUploader" name="contents" accept="image/*">
            </div>
            <!-- /image profile upload -->
          </div>
        </div>

        <div class="pos-abt bottom-0 text-center w-full p-t p-b">
          <md-button ng-click="cancel()" class="m-0">
            {{'titles.CANCEL' | translate}}
          </md-button>
          <md-button ng-click="saveProfile(editingPerson)" ng-disabled="disabled" class="m-0">
            {{'titles.SAVE' | translate}}
          </md-button>
        </div>
      </div>
    </md-toolbar>
    <div class="p w-x col-400 scrollable md-background-hue-1 background">
        <div class="pos-rlt p">
          <div ng-if="personImageUploader" ng-style="{'background-image': 'url(  {{editingPerson | coverImage: 'medium'}} )'}" style="margin: -32px -32px 32px -32px" class="hidden-folded bg-cover m-b-md md-whiteframe-z1">
            <div class="m-b-xxl p-lg"></div>
            <div class="p-v-sm p-h black-grad m-t text-white">
              <div class="block" style="opacity:0.92">
                <span class="block font-bold">{{editingPerson.name}}</span>
                <span class="text-sm">{{editingPerson.email}}</span>
              </div>
            </div>
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.NAME' | translate}}</label>
            <input type="text" ng-model="editingPerson.name" md-autofocus>
          </md-input-container>
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.USERNAME' | translate}}</label>
            <input type="text" ng-model="editingPerson.username" >
          </md-input-container>
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.EMAIL' | translate}}</label>
            <input type="text" ng-model="editingPerson.email" >
          </md-input-container>
          </div>
          <div class="">
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.BIOGRAPHY' | translate}}</label>
            <textarea type="text" columns="1" ng-model="editingPerson.bio" ></textarea>
          </md-input-container>
          </div>
        </div>
      </div>
    </div>
  </md-dialog-content>
</script>

<script type="text/ng-template" id="add-profile-dialog.html">
  <md-dialog-content layout="row" layout-wrap>
    <md-toolbar layout-align="start start" flex class="md-primary layout-align-start-start layout-column md-hue-1 text-center" layout="column">
      <div class="w-lg">

        <div class="text-center p w-full" translate="titles.ADD_PERSON"></div>

        <div class="text-center p p-t-lg w-full m-t-lg">
          <i class="mdi mdi2-account text-4x"></i>
        </div>

        <div class="pos-abt bottom-0 text-center w-full p-t p-b">
          <md-button ng-click="cancel()" class="m-0">
            {{'titles.CANCEL' | translate}}
          </md-button>
          <md-button ng-click="createPerson(addingPerson)" ng-disabled="disabled" class="m-0">
            {{'titles.SAVE' | translate}}
          </md-button>
        </div>
      </div>
    </md-toolbar>
    <div class="p w-x col-400 scrollable md-background-hue-1 background">
        <div class="pos-rlt p">
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.NAME' | translate}}</label>
            <input type="text" id="testInput" ng-model="addingPerson.name" md-autofocus>
          </md-input-container>
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.USERNAME' | translate}}</label>
            <input type="text" id="testInput" ng-model="addingPerson.username" >
          </md-input-container>
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.EMAIL' | translate}}</label>
            <input type="text" id="testInput" ng-model="addingPerson.email" >
          </md-input-container>
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.PASSWORD' | translate}}</label>
            <input type="password" id="testInput" ng-model="addingPerson.password" >
            <small class="text-xs">{{'settings.users.OPTIONAL_PASSWORD' | translate}}</small>
          </md-input-container>
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.CONFIRM_PASSWORD' | translate}}</label>
            <input type="password" id="testInput" ng-model="addingPerson.passwordConfirm" >
          </md-input-container>
          </div>
          <div class="">
          <md-input-container class="w-xxl m-b-0">
            <label for="testInput">{{'settings.profile.BIOGRAPHY' | translate}}</label>
            <textarea type="text" id="testInput" columns="1" ng-model="addingPerson.bio"></textarea>
          </md-input-container>
          </div>
        </div>
      </div>
    </div>
  </md-dialog-content>
</script>

