<div id="" class="pos-abt w-full top-0 bottom-0 left-0"> <!-- abs -->
  <div class="hbox">
    <div class="col"> <!-- col -->
      <div class="vbox"> <!-- vbox -->
        <div class="row-row"> <!-- row-row -->
          <div class="cell scrollable" style="background: #EFEFEF; color: rgba(0,0,0,0.87)!important;"> <!-- cell -->
            <div class="cell-inner" ng-class="{'p': !$state.includes('app.pagebuilder.editor'), 'p-v': $state.includes('app.pagebuilder.editor')}"><!-- cell -->	

              <div ui-view class="m-b"></div>

            </div><!-- /cell --> 
        	</div><!-- /cell -->
        </div><!-- /row-row -->
      </div><!-- /vbox -->
    </div><!-- /col -->
    <div class="col w-xxs md-whiteframe-z1 no-radius md-background-hue-1 background"> <!-- col -->
      <div class="box-cell scrollable hover"> <!-- box-cell -->
        <div class="box-inner"> <!-- box-inner -->
          <nav> <!-- nav -->
            <ul class="nav"> <!-- ul -->
              <li>
                <a md-ink-ripple style="line-height: 50px;">
                  <i class="icon mdi2-settings i-20"></i>
                  <div style="height: 50px;"></div>
                </a>
              </li>
              <li> 
                <md-divider></md-divider>
                <a md-ink-ripple style="line-height: 50px;" ui-sref="app.pagebuilder.list">
                  <md-tooltip md-direction="left">
                    {{'titles.PAGES' | translate}}
                  </md-tooltip>
                  <i class="icon mdi mdi2-view-list i-20"></i>
                  <div style="height: 50px;"></div>
                </a>
              </li>
              <li ng-if="$state.includes('app.pagebuilder.editor')">
                <md-divider></md-divider>
              </li>
              <li ng-if="$state.includes('app.pagebuilder.editor')">
                <a md-ink-ripple style="line-height: 50px;" data-toggle="modal" data-target="#pagebuilder-tools">
                  <md-tooltip md-direction="left">
                    {{'titles.OPTIONS' | translate}}
                  </md-tooltip>
                  <i class="icon mdi-image-tune i-20"></i>
                  <div style="height: 50px;"></div>
                </a>
              </li>
              <!-- <li ng-if="$state.includes('app.pagebuilder.editor')">
                <a md-ink-ripple style="line-height: 50px;" ui-sref="app.pagebuilder.editor">
                  <i class="icon mdi-editor-mode-edit i-20"></i>
                  <div style="height: 50px;"></div>
                </a>
              </li> -->
            </ul> <!-- /ul -->
          </nav> <!-- /nav -->
        </div> <!-- /box-inner -->
      </div> <!-- /box-cell -->
    </div> <!-- /col w-xxs -->
  </div> <!-- /hbox -->
</div>
