<div id="settings-colors" class="o-f-x-h">
    <div class="p-sm pos-abt top-0 left-0 w-full md-whiteframe-z0 md-primary-hue-1 background">
      <!--<md-button class="pull-right font-bold" ng-click="toggleOptions()" >
          <i class="i-20 mdi2-settings m-r-sm"></i>{{'titles.OPTIONS' | translate}}
      </md-button>-->
      <md-button ng-click="isMobile = !isMobile" aria-label="Open demo menu" class="md-icon-button pull-right" style="margin-top: 5px;" ng-click="$mdOpenMenu($event)">
        <i class="i-20" ng-class="{'mdi-hardware-desktop-windows': !isMobile, 'mdi-hardware-phone-android': isMobile }"></i>
      </md-button>
    </div>

    <div class="p-t-lg m-t-md pos-rlt" data-ng-init="allTags = [{'item' : 'first', 'name' : 'first'}, {'item' : 'second', 'name' : 'second'}, {'item' : 'third', 'name' : 'third'}, {'item' : 'fourth', 'name' : 'fourth'}]">
      <div class="color-selector-container animated zoomIn" mar>
        <div class="content m-t-md">

          <div class="mockup-browser md-whiteframe-z2" ng-class="{'mobile': isMobile}" md-theme="{{editingThemeName}}" md-theme-watch="true">
            <md-content class="h-400">
              <md-toolbar class="no-radius md-primary" style="min-height: 50px; height: 50px">
                <span class="pos-abt" style="margin-top: 12px; margin-left: 62px;">{{app.name}}</span>
                <a  class="pull-left" style="    padding: 0 16px;
                  line-height: 50px;
                  max-width: 55px;">
                <i class="mdi-navigation-menu i-24"></i></a>
              </md-toolbar>
              <div class="md-primary-hue-1 background custom-header">
                <ul class="nav nav-lines nav-md no-bg" df-tab-menu menu-control="{{menu2.navigationState}}">
                  <li md-ink-ripple data-menu-item="home" class="active">
                    <a data-ng-href="#" data-ng-click="menu2.navigationState = 'home'"><span>Home</span></a>
                  </li>
                  <li md-ink-ripple data-ng-repeat="tag in allTags" data-menu-item="{{tag.item}}">
                    <a data-ng-href="#" data-ng-click="menu2.navigationState = tag.item"><span>{{tag.name}}</span></a>
                  </li>
                  <li data-more-menu-item>
                    <md-button aria-label="Open demo menu" class="md-icon-button" style="margin-top: 5px;" >
                      <i class="mdi2-arrow-down-drop-circle-outline i-20"></i>
                    </md-button>
                  </li>
                </ul>
              </div>

              <md-content ng-if="!isMobile">
              </md-content>

              <md-content class="w-full" ng-if="isMobile">
              </md-content>
              <!-- /mockup-grid -->
            </md-content><!-- /content -->
          </div><!-- /mockup-browser -->

        </div><!-- /container -->
      </div>
    </div>

  </div>

  <div class="modal fade inactive" id="pagebuilder-tabs" data-backdrop="false">
    <div class="right w-400 bg-white md-whiteframe-z2">
      <div class="box">
        <div class="p p-h-md">
          <a data-dismiss="modal" class="pull-right text-muted-lt text-2x m-t-n inline p-sm">&times;</a>
          <strong>{{'titles.OPTIONS' | translate}}</strong>
        </div>
        <md-divider></md-divider>
        <div class="box-row">
          <div class="box-cell">
            <div class="box-inner">
              <div class="m-t-sm p-h pos-rlt" data-ng-init="allTags = [{'item' : 'first', 'name' : 'first'}, {'item' : 'second', 'name' : 'second'}, {'item' : 'third', 'name' : 'third'}, {'item' : 'fourth', 'name' : 'fourth'}]">
                <ul style="margin:0;padding:0">
                  <li data-ng-repeat="tag in allTags">
                    <div class="p-h p-t m-b md-whiteframe-z1 pos-rlt">
                      <div class="pos-abt top-0 right-0 font-bold p-sm">
                        #{{$index + 1}}
                      </div>
                      <md-input-container class="w-xxl m-b-0">
                        <label for="testInput">{{'settings.pages.header.MENU_ITEM' | translate}}</label>
                        <input type="text" id="testInput" ng-model="tag.item">
                      </md-input-container>
                      <md-input-container class="w-xxl m-b-0">
                        <label for="testInput">{{'settings.pages.header.MENU_NAME' | translate}}</label>
                        <input type="text" id="testInput" ng-model="tag.name">
                      </md-input-container>
                      <div class="clear">
                        <md-button class="no-margin m-b-sm btn-sm pull-right no-padding" style="min-height: 28px; line-height:28px;" data-ng-click="allTags.splice($index, 1)">{{'titles.REMOVE' | translate}}
                        </md-button>
                      </div>
                    </div>
                  </li>
                </ul>
                
                <!--<p>add new : menu-item: <input ng-model="tagToAdd.item">, name: <input ng-model="tagToAdd.name"> <button data-ng-click="allTags.push(tagToAdd);tagToAdd = null;">add</button></p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>