<div class="aside-wrap {{app.settings.asideColor}}">
  <!-- if you want to use a custom scroll when aside fixed, use the slimScroll
  <div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">
  -->
  <div class="navi-wrap">
    <!-- nav -->
    <nav ui-nav class="navi clearfix" ng-include="'tpl/blocks/nav.html'"></nav>
    <!-- nav -->

    <!-- user -->
    <div class="clearfix hidden-xs text-center" id="aside-user" ng-if="app.isLogged">
      <div class="wrapper">
        <a ng-click="app.profilepopover.open = !app.profilepopover.open;" id="profile-popover-toggle">
          <div style="{{app.initData.person.imageSmallId | imageLink | bgimg}}" class="bg-cover bg-img bg-cover-round" title="{{app.initData.person.name}}"></div>
        </a>
      </div>
      <div class="line dk hidden-folded"></div>
    </div>
    <!-- / user -->
  </div>

</div>
