<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}" ng-class="{'bg-header': app.isMobile}">
	<!--
	<button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
		<i class="mdi-settings mdi"></i>
	</button>
	-->
	<!-- <button class="pull-right visible-xs" ng-click="app.changeMobileViewMode()">
		<i class="mdi mdi-view-dashboard custom-header"></i>
	</button> -->
	<!-- brand -->
	<button class="pull-left visible-xs" ng-click="app.toggleSelectStation()">
		<i class="bg-header-text mdi-menu mdi custom-header"></i>
	</button> 
	<a ng-if="app.isMobile" ui-sref="app.stations" style="padding: 0;" class="navbar-brand text-lt" tooltip="{{app.currentStation.name}}" tooltip-placement="right" tooltip-append-to-body="true" tooltip-popup-delay="700">
		<!-- <span class="hidden-folded m-l-xs">{{app.name}}</span> -->
		<span ng-if="!app.currentStation.logoHash" class="hidden-folded bg-header-text" style="font-weight: 400">{{app.currentStation.name}}</span>
		<div ng-if="app.currentStation.logoHash" class="hidden-folded" style="height:48px;">
			<img class="img-responsive" style="height:48px;" ng-src="{{app.currentStation.logoHash | imageLink2: 'medium'}}">
		</div>
	</a>
	<a ng-if="!app.isMobile" class="navbar-brand text-lt" style="padding: 5px;" ui-sref="app.stations">
	   <i class="mdi-home mdi text-lgrey text-shadow-dark custom-header2"></i>
	</a>
	<!-- <a ng-if="!app.isMobile" class="navbar-brand text-lt" ng-click="app.animateHomeSettings(); app.goToHomeOrSettings()">
	   <i class="mdi text-lgrey text-shadow-dark custom-header2 animated" ng-class="{'rubberBand': app.homeSettingsAnimate, 'mdi-settings': !$state.includes('app.settings'), 'mdi-home': $state.includes('app.settings')}"></i>
	</a> -->
	<!-- / brand -->
</div>
<!-- / navbar header -->
