<div class="menu-wrap md-whiteframe-z2 bg-dg">
  <div class="p p-h-md">
    <a class="pull-right text-muted-lt text-2x m-t-n inline p-sm" ng-click="toggleMenu()">×</a>
    <div class="wrapper-lg text-center">
      <span class="text-u-c h3 font-thin">Estações</span>
    </div>
  </div>
  <!-- <div class="scroll-wrap"> -->
  <nav class="menu">
    <div class="offcanvas-icon-list">
      <a href ng-repeat="station in app.stationsPermissions" ng-class="{'bg-custom-primary': station.stationId == app.currentStation.id}" ng-click="app.changeStation(station); toggleMenu();">
        <span class="text-lg">{{station.stationName}}</span>
      </a>
    </div>
  </nav>
  <!-- </div> -->
</div>