<div id="top-header" class="collapse pos-rlt navbar-collapse box-shadow3 nav-down station-header {{::app.settings.navbarCollapseColor}}">
  <div class="nav navbar-nav hidden-xs text-lg w-full wrapper header-font pos-abt">
    <a ui-sref="app.stations" class="bg-header-text"><span ng-if="!app.currentStation.logoId" class="p-l-xxl m-l-lg">{{app.currentStation.name}}</span></a>
    <div ng-if="app.currentStation.logoId" class="p-l-xxl m-l-lg m-t-n-sm" style="height:48px;">
      <a ui-sref="app.stations">
        <img  class="post-thumb img-responsive" class="img-responsive" style="height:48px;" ng-src="{{'/api/files/' + app.currentStation.logoId + '/contents'}}"></a>
      </div>
    </div>
    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
    <li class="p-t-xs">
      <md-menu md-position-mode="target-right target">
         <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button p-t-xs">
           <i class="mdi mdi-magnify text-2x"></i>
         </md-button>
         <md-menu-content class="m-t-n-sm p-b-none">
          <!--  <md-menu-item><md-button ng-click="doSomething()">Do Something</md-button></md-menu-item> -->
          <div class="w-xxl o-h">
            <div class="w-f p-l-sm p-r-sm ">
              <i class="mdi mdi-magnify text-2x v-middle"></i>
              <input class="p-l-xs b-none input-lg m-b-sm w-lg" placeholder="Buscar"/>
            </div>
            <div class="wrapper b-t text-center text-md pointer" md-ink-ripple ng-click="app.openSplash('explore_categories.html')">
             <i class="mdi mdi-view-grid"></i> EXPLORE
            </div>
            <div class="b-t" ng-if="app.stationsPermissions.length > 1">
              <div>
                <div class="text-xs text-u-c m-t-n-xs p-b-sm wrapper-sm">
                  <i class="mdi mdi-radio-tower text-lg v-middle"></i> estações</div>
              </div>
              <div  class="scrollable wrapper p-t-none" style="max-height: 100px;" >
                <div class="display-t-c" style="width: 155px;">
                  <ul class="text-md font-thin">
                    <li class="text-ellipsis" ng-repeat="station in app.stationsPermissions | limitTo: app.stationsPermissions.length/2:0">
                      <a style="padding: 2px 15px" class="mark-as-read underline-hover" class="text-u-c" ng-click="app.changeStation(station);"
                      ng-class="{'font-bold': station.stationId == app.currentStation.id}">
                      {{station.stationName}}</a>
                    </li>
                  </ul>
                </div>
                <div class="display-t-c clearfix p-r" style="max-width: 155px;">
                  <ul class="text-md font-thin">
                    <li class="text-ellipsis" ng-repeat="station in app.stationsPermissions | limitTo: (app.stationsPermissions.length/2 + 1):app.stationsPermissions.length/2">
                      <a style="padding: 2px 15px" class="mark-as-read underline-hover" class="text-u-c" ng-click="app.changeStation(station);"
                      ng-class="{'font-bold': station.stationId == app.currentStation.id}">
                      {{station.stationName}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div ng-if="app.initData.network.info" class="wrapper-sm b-t bg-light-grey text-center">
              <ul class="text-u-c text-xs">
                <li ng-if="app.initData.network.info">
                  <a style="padding: 2px 15px" class="mark-as-read underline-hover" ui-sref="app.about()" class="text-u-c">Sobre {{app.initData.network.name}}</a>
                </li>
              </ul>
            </div>
          </div>
         </md-menu-content>
        </md-menu>
      </li>
      <li ng-if="!app.isLogged">
        <div class="divider-v m-r-xs"></div>
      </li>
      <li ng-if="!app.isLogged">
        <a href class="text-u-c text-center text-md" ng-click="openSplash('signin_splash.html');">ENTRAR {{app.initData.network.allowSignup ? '/ Cadastrar-se' : ''}}</a>
      </li>
    </ul>
    <ul id="top-menu" class="nav navbar-nav navbar-right" ng-class="{'p-r-md m-r-md': app.isLogged}">
      <li ng-repeat="tab in app.termPerspectiveView.ordinaryRows">
        <a ng-class="{'active': tab.termName == currentTabWeb}"
        ui-sref="app.tagspage({'tagName': tab.termName})" class="text-u-c">{{tab.termName}}</a>
      </li>
    </ul>
  </div>

      <script type="text/ng-template" id="explore_categories.html">
      <a class="splash-close-button" ng-click="app.cancelModal()">×</a>
      <div class="explore-categories" class="pos-fix" ng-cloak>
        <div class="b-b p-b-md p-t-sm p-l-md p-r-md pos-fix w-full">  
          <div class="text-xs text-u-c">estações:</div>
          <div id="explore-stations" class="text-center">
            <span class="text-lg font-thin p-r p-l text-u-l" ng-repeat="station in app.stationsPermissions">
              {{station.stationName}}
            </span>
          </div>
        </div>
        <div class="pos-abt bottom-0 top-0 left-0 right-0 scrollable" style="margin-top: 73px;">
        </div>
      </div>
    </script>