<div ng-controller="NewPostTaxonomiesCtrl">
	
	<div ng-if="p.currentStation && termTree.length > 0" class="b-t animated fadeInRight">
  
		<div class="m-t-sm" ng-show="termTree != null">
			<div class="m-b-none" ng-show="termTree.length > 0">
				<span class="pull-right m-r wrapper-xs">
					<a href="" class="m-r-xs text-grey" ng-click="collapseAll()" ng-show="termTree && termTree.length > 0"><i class="fa fa-lg fa-minus-square-o"></i></a>
					<a href="" class="text-grey m-r-sm" ng-click="expandAll()" ng-show="termTree && termTree.length > 0"><i class="fa fa-lg fa-plus-square-o"></i></a>
				</span>
				<span class="m-l-md text-md text-ellipsis wrapper-xs">{{taxonomy.name}}</span>
			</div>
			<div ui-tree id="tree-root-{{taxonomy.id}}" class="tree-root" ng-show="termTree">
				<ol ui-tree-nodes="" ng-model="termTree">
					<li class="top-level-list-item" collapsed="true" ng-repeat="node in termTree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
				</ol>
			</div>
			<div ng-show="termTree.length == 0" class="m-t-xs">
				<strong class="h5">A taxonomia selecionada não possui termos.</strong>
			</div>
		</div>
	</div>
</div>

  <script type="text/ng-template" id="nodes_renderer.html">
    <div data-nodrag class="m-l-xs tree-node tree-node-content no-padder">
      <span class="tree-item b-none">
        <a class="pointer collapse-term" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
          <span class="fa fa-fw" ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}"></span>
        </a>
        <label class="i-checks" ng-class="{'m-l-md': node.nodes.length == 0}">
	    	<input type="checkbox" ng-change="selectTerm(this)" ng-model="node.active"><i></i>
        </label>
    	<span class="m-r-sm">{{node.name}}</span>
      </span>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
      <li collapsed="true" ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
      </li>
    </ol>
  </script>