
  <div class="card">
    <div class="card-heading">
      <h2>Background options</h2>
    </div>
    <div class="card-body bg-light lt">
      <p>.bg-primary[primary, info, success, warning, danger, accent, dark]</p>
      <div class="row row-xs">
        <div class="col-md-6">
          <div class="row row-xs">
            <div class="col-xs-6 col-sm-3">
              <div class="panel">       
                <div class="box bg-primary">
                  <div class="box-col lt"></div>
                  <div class="box-col p-v-md"></div>
                  <div class="box-col dk"></div>
                </div>
                <div class="p text-center">
                  bg-primary
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="panel">       
                <div class="box bg-info">
                  <div class="box-col lt"></div>
                  <div class="box-col p-v-md"></div>
                  <div class="box-col dk"></div>
                </div>
                <div class="p text-center">
                  bg-info
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="panel">       
                <div class="box bg-success">
                  <div class="box-col lt"></div>
                  <div class="box-col p-v-md"></div>
                  <div class="box-col dk"></div>
                </div>
                <div class="p text-center">
                  bg-success
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="panel">       
                <div class="box bg-warning">
                  <div class="box-col lt"></div>
                  <div class="box-col p-v-md"></div>
                  <div class="box-col dk"></div>
                </div>
                <div class="p text-center">
                  bg-warning
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row row-xs">
            <div class="col-xs-6 col-sm-3">
              <div class="panel">       
                <div class="box bg-accent">
                  <div class="box-col lt"></div>
                  <div class="box-col p-v-md"></div>
                  <div class="box-col dk"></div>
                </div>
                <div class="p text-center">
                  bg-accent
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="panel">       
                <div class="box bg-danger">
                  <div class="box-col lt"></div>
                  <div class="box-col p-v-md"></div>
                  <div class="box-col dk"></div>
                </div>
                <div class="p text-center">
                  bg-danger
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="panel">       
                <div class="box bg-light">
                  <div class="box-col lt"></div>
                  <div class="box-col p-v-md"></div>
                  <div class="box-col dk"></div>
                </div>
                <div class="p text-center">
                  bg-light
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-3">
              <div class="panel">
                <div class="box bg-dark">
                  <div class="box-col lt"></div>
                  <div class="box-col p-v-md"></div>
                  <div class="box-col dk"></div>
                </div>
                <div class="p text-center">
                  bg-dark
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-heading">
      <h2>Border options</h2>
    </div>
    <div class="card-body bg-light lt">
      <p>
        color: b-t[top, right, bottom, left]-primary[primary, info, success, warning, danger, accent, dark]<br>
        width: b-t[top, right, bottom, left]-2x[2x, 3x, 4x, 5x]
      </p>
      <div class="m-b">
        <div class="panel p r-3x b-t-primary inline">b-t-primary</div>
        <div class="panel p r-3x b-r-info inline">b-r-info</div>
        <div class="panel p r-3x b-b-success inline">b-b-success</div>
        <div class="panel p r-3x b-l-warning inline">b-l-warning</div>
        <div class="panel p r-3x b-t-dark b-t-2x inline">b-t-2x</div>
        <div class="panel p r-3x b-r-black b-r-3x inline">b-r-3x</div>
        <div class="panel p r-3x b-b-info b-b-4x inline">b-b-4x</div>
        <div class="panel p r-3x b-l-success b-l-5x inline">b-l-5x</div>
      </div>
      <h5 class="no-margin font-bold">Text options</h5>
      <p>text-primary[primary, info, success, warning, danger][-lt[lt, dk]]</p>
      <div class="m-b-lg">
        <span class="text-primary m-r-xs">text-primary</span><span class="text-info-lt m-r-xs">text-info-lt</span><span class="text-success-dk">text-success-dk</span>
      </div>
    </div>
  </div>
