
  <div class="row">
    <div class="col-sm-6">
      <h5 class="no-margin m-b">Nav with sub</h5>
      <ul class="nav m-b-lg bg-white md-whiteframe-z0 r" ui-nav>
        <li class="active">
          <a href>
            <span class="pull-right label bg-info">NEW</span>
            Pages
          </a>
        </li>
        <li>
          <a href>UI Kits</a>
        </li>
        <li>
          <a href class="auto">
            <span class="pull-right text-muted m-r-xs">
              <i class="fa fa-plus inline"></i>
              <i class="fa fa-minus none"></i>
            </span>
            Components
          </a>
          <ul class="nav nav-sub nav-sm">
            <li>
              <a href><span class="fa fa-angle-right fa-fw text-muted"></span> Arrow</a>
            </li>
            <li>
              <a href><span class="fa fa-angle-right fa-fw text-muted"></span> Button</a>
            </li>
            <li>
              <a href><span class="fa fa-angle-right fa-fw text-muted"></span> Colors</a>
            </li>
          </ul>
        </li>
        <li>
          <a href>
            <span class="pull-right badge bg-success">8</span>
            Mail
          </a>
        </li>
      </ul>
      <h5 class="no-margin m-b">Nav Pills</h5>
      <div class="card">
        <div class="card-body">
          <ul class="nav nav-pills m-b" ui-nav>
            <li class="active">
              <a href>Pages</a>
            </li>
            <li>
              <a href>Components <span class="badge bg-info">2</span></a>
            </li>
            <li>
              <a href>UI Kits</a>
            </li>
          </ul>
          <ul class="nav nav-sm nav-pills m-b" ui-nav>
            <li>
              <a href>Small</a>
            </li>
            <li class="active">
              <a href>Components <span class="badge bg-success badge-sm">2</span></a>
            </li>
            <li>
              <a href>UI Kits</a>
            </li>
          </ul>
          <ul class="nav nav-xs nav-pills m-b" ui-nav>
            <li>
              <a href>Nav xs</a>
            </li>
            <li>
              <a href>Components <span class="badge bg-success badge-xs">2</span></a>
            </li>
            <li class="active">
              <a href>UI Kits</a>
            </li>
          </ul>
          <ul class="nav nav-xxs nav-rounded nav-pills" ui-nav>
            <li class="active">
              <a href>Rounded</a>
            </li>
            <li>
              <a href>Components</a>
            </li>
            <li>
              <a href>UI Kits</a>
            </li>
          </ul>
        </div>
      </div>
      <h5 class="no-margin m-b">Nav Tabs</h5>
      <ul class="nav nav-tabs">
        <li class="active">
          <a href data-toggle="tab" data-target="#tab1">Pages</a>
        </li>
        <li>
          <a href data-toggle="tab" data-target="#tab2">Components</a>
        </li>
        <li>
          <a href data-toggle="tab" data-target="#tab3">UI Kits</a>
        </li>
      </ul>
      <div class="tab-content p b-a no-b-t bg-white m-b-md">
        <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab1">
          Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
        </div>
        <div role="tabpanel" class="tab-pane animated fadeIn" id="tab2">
          Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
        </div>
        <div role="tabpanel" class="tab-pane animated fadeIn" id="tab3">
          Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher.
        </div>
      </div>
      <ul class="nav nav-sm nav-tabs">
        <li class="active">
          <a href data-toggle="tab" data-target="#tab4">Pages</a>
        </li>
        <li>
          <a href data-toggle="tab" data-target="#tab5">Components <span class="badge bg-warning badge-xs">5</span></a>
        </li>
        <li>
          <a href data-toggle="tab" data-target="#tab6">UI Kits</a>
        </li>
      </ul>
      <div class="tab-content p b-a no-b-t bg-white m-b-md clear">
        <div role="tabpanel" class="tab-pane animated fadeInUp active" id="tab4">
          Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
        </div>
        <div role="tabpanel" class="tab-pane animated fadeInUp" id="tab5">
          Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
        </div>
        <div role="tabpanel" class="tab-pane animated fadeInUp" id="tab6">
          Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher.
        </div>
      </div>
      <ul class="nav nav-tabs nav-justified">
        <li class="active">
          <a href data-toggle="tab" data-target="#tab7">Pages</a>
        </li>
        <li>
          <a href data-toggle="tab" data-target="#tab8">Components <span class="badge bg-warning badge-xs">5</span></a>
        </li>
        <li>
          <a href data-toggle="tab" data-target="#tab9">UI Kits</a>
        </li>
      </ul>
      <div class="tab-content p b-a no-b-t bg-white m-b-md clear">
        <div role="tabpanel" class="tab-pane animated fadeInDown active" id="tab7">
          Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
        </div>
        <div role="tabpanel" class="tab-pane animated fadeInDown" id="tab8">
          Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
        </div>
        <div role="tabpanel" class="tab-pane animated fadeInDown" id="tab9">
          Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher.
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h5 class="no-margin m-b">Nav with background</h5>
      <div class="bg-primary md-whiteframe-z0 r lt m-b-lg">
        <ul class="nav scroll-y" ui-nav>
          <li class="active">
            <a href>
              <span class="pull-right label bg-info">6</span>
              Pages
            </a>
          </li>
          <li>
            <a href>UI Kits</a>
          </li>
          <li>
            <a href class="auto">
              <span class="pull-right text-muted m-r-xs">
                <i class="fa fa-plus inline"></i>
                <i class="fa fa-minus none"></i>
              </span>
              Components
            </a>
            <ul class="nav nav-sub nav-sm bg">
              <li>
                <a href><span class="fa fa-angle-right fa-fw text-muted"></span> Arrow</a>
              </li>
              <li>
                <a href><span class="fa fa-angle-right fa-fw text-muted"></span> Button</a>
              </li>
              <li>
                <a href><span class="fa fa-angle-right fa-fw text-muted"></span> Colors</a>
              </li>
            </ul>
          </li>
          <li>
            <a href>
              <span class="pull-right badge bg-success">8</span>
              Mail
            </a>
          </li>
        </ul>
      </div>
      <h5 class="no-margin m-b">Nav stacked</h5>
      <div class="card p m-b-lg">
        <ul class="nav nav-pills nav-stacked" ui-nav>
          <li class="active">
            <a href>
              <span class="pull-right label bg-info">NEW</span>
              Pages
            </a>
          </li>
          <li>
            <a href>UI Kits</a>
          </li>
          <li>
            <a href class="auto">
              <span class="pull-right text-muted m-r-xs">
                <i class="fa fa-plus inline"></i>
                <i class="fa fa-minus none"></i>
              </span>
              Components
            </a>
            <ul class="nav nav-sub nav-sm">
              <li>
                <a href><span class="fa fa-angle-right fa-fw text-muted"></span> Arrow</a>
              </li>
              <li>
                <a href><span class="fa fa-angle-right fa-fw text-muted"></span> Button</a>
              </li>
              <li>
                <a href><span class="fa fa-angle-right fa-fw text-muted"></span> Colors</a>
              </li>
            </ul>
          </li>
          <li>
            <a href>
              <span class="pull-right badge bg-success">8</span>
              Mail
            </a>
          </li>
        </ul>
      </div>

      <div class="md-whiteframe-z0 bg-white">
        <ul class="nav nav-md nav-tabs nav-lines b-info">
          <li class="active">
            <a href data-toggle="tab" data-target="#tab_1">Pages</a>
          </li>
          <li>
            <a href data-toggle="tab" data-target="#tab_2">Components</a>
          </li>
          <li>
            <a href data-toggle="tab" data-target="#tab_3">UI Kits</a>
          </li>
        </ul>
        <div class="tab-content p m-b-md b-t b-t-2x">
          <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab_1">
            Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
          </div>
          <div role="tabpanel" class="tab-pane animated fadeIn" id="tab_2">
            Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
          </div>
          <div role="tabpanel" class="tab-pane animated fadeIn" id="tab_3">
            Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher.
          </div>
        </div>
      </div>
      <div class="md-whiteframe-z0 bg-white">
        <ul class="nav nav-lines nav-tabs b-warning">
          <li class="active">
            <a href data-toggle="tab" data-target="#tab_4">Pages</a>
          </li>
          <li>
            <a href data-toggle="tab" data-target="#tab_5">Components <span class="badge bg-warning badge-xs">5</span></a>
          </li>
          <li>
            <a href data-toggle="tab" data-target="#tab_6">UI Kits</a>
          </li>
        </ul>
        <div class="tab-content p m-b-md b-t b-t-2x">
          <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab_4">
            Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
          </div>
          <div role="tabpanel" class="tab-pane animated fadeIn" id="tab_5">
            Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
          </div>
          <div role="tabpanel" class="tab-pane animated fadeIn" id="tab_6">
            Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher.
          </div>
        </div>
      </div>
      <div class="md-whiteframe-z0 bg-white">
        <ul class="nav nav-lines nav-tabs nav-justified">
          <li class="active">
            <a href data-toggle="tab" data-target="#tab_7">Pages</a>
          </li>
          <li>
            <a href data-toggle="tab" data-target="#tab_8">Components <span class="badge bg-info badge-xs">5</span></a>
          </li>
          <li>
            <a href data-toggle="tab" data-target="#tab_9">UI Kits</a>
          </li>
        </ul>
        <div class="tab-content p m-b-md clear b-t b-t-2x">
          <div role="tabpanel" class="tab-pane animated fadeInDown active" id="tab_7">
            Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
          </div>
          <div role="tabpanel" class="tab-pane animated fadeInDown" id="tab_8">
            Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
          </div>
          <div role="tabpanel" class="tab-pane animated fadeInDown" id="tab_9">
            Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher.
          </div>
        </div>
      </div>
    </div>
  </div>
