<div class="wrapper-md" ng-controller="ScaffoldCreateTaxonomiesCtrl">
  <div class="row">
  <div class="col-lg-8 col-lg-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">
          Nova taxonomia
        </div>
        <div class="panel-body">
          <form class="form-horizontal" ng-submit="submitCreateTaxonomy(taxonomyName, stationId)">
            <!-- type selector -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Tipo</label>
              <div class="col-sm-10">
                <div class="m-b-sm">
                  <div class="btn-group m-r">
                    <label class="btn btn-default" ng-model="type" btn-radio="'N'" >Rede</label>
                    <label class="btn btn-default" ng-model="type" btn-radio="'S'" >Estação</label>
                  </div>
                </div>
                <span class="help-block m-b-none">Taxonomias podem ter visibilidade Rede ou Estação</span>
              </div>
            </div>
            <!-- list of networks, only shown for type 'N' -->
            <div class="line line-dashed b-b line-lg pull-in" ng-show="type == 'N'"></div>
            <div class="form-group" ng-show="type == 'N'">
              <label class="col-sm-2 control-label">Rede</label>
              <div class="col-sm-10">
                <div class="m-t-xs">
                  <strong>{{app.network.name}}</strong>
                </div>
              </div>
            </div>
            <!-- list of stations, only shown for type 'S' -->
            <div class="line line-dashed b-b line-lg pull-in" ng-show="type == 'S'"></div>
            <div class="form-group" ng-show="type == 'S'">
              <label class="col-sm-2 control-label">Estação</label>
              <div class="col-sm-10">
                <div ui-module="select2">
                  <select ui-select2 ng-model="stationId" class="form-control w-md">
                    <option ng-repeat="station in stations" value="{{station.id}}">{{station.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- taxonomy name -->
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Nome</label>
              <div class="col-sm-10">
                <input type="text" class="form-control w-md" id="taxonomy-name" ng-model="taxonomyName" placeholder="Nome da taxonomia">
              </div>
            </div>
            <!-- submit -->
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <a class="btn btn-default" ui-sref="app.scaffold.taxonomies">Cancel</a>
                <button type="submit" class="btn btn-success">Create</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>