<div ng-controller="PerspectiveBuilderCtrl" id="perspective-builder">
	<div class="m-b-md text-center" ng-if="p.selectedTerm == null || p.selectedTerm.station">
		<h4>Perspectiva da estação <strong>{{p.currentStation.name}}</strong></h4>
	</div>
	<div class="m-b-md text-center" ng-show="p.termTree.length > 0 && p.selectedTerm.station == null">
		<h4>Perspectiva do termo <strong>{{p.selectedTerm.name}}</strong></h4>
	</div>

	<div class="m-t-lg">
	 <div class="col-sm-7" >
	    <div id="perspective-wrapper" class="bg-light lter wrapper">
	      <div id="splashed-posts" class="m-b-md">
	      	<div class="h4 v-middle text-center m-b">Splash Posts: </div>
	      	<div class="flow-posts wheelScroll">
			  <ul class="sortable-posts-list droppable-post-position splash"
			   ng-model="p.splashedPosts" ui-sortable="splashedOptions">
			    <li class="post-li" ng-class="{'new-item animated fadeIn': cell.postView.new || cell.id, 'old-item' : !(cell.postView.new || cell.id)}" ng-repeat="cell in p.splashedPosts">
			      <div  class="flow-post no-image-stub" data-post-id="{{cell.postView.postId}}">
			      	<div class="dropped-post" ng-style="backgroundImage(cell.postView, 'md')">
		              <div class="title-wrapper">
		                <span class="text-white text-ellipsis">{{cell.postView.title}}</span>
		              </div>
		            </div>
		            <button class="showcase-remove btn btn-danger btn-xs" ng-show="cell.postView.new || cell.id" 
		            	ng-click="removeSplashedPost(this)">
		            	<i class="fa fa-times"></i>
		            </button>
			      </div>
			    </li>
			  </ul>
			</div>
	      </div>
	      <div class="line line-dashed b-b line-lg text-grey animated fadeIn" ng-show="p.currentStation &amp;&amp; p.currentTaxonomy &amp;&amp; p.name"></div>
	      <div class="m-b text-center">
	        <span class="h4 v-middle">Notícias em destaque: </span>
	        <div class="btn-group">
	          <button type="button" class="btn btn-sm btn-default" ng-click="changeFeaturedPostsNumber(1)">1</button>
	          <button type="button" class="btn btn-sm btn-default" ng-click="changeFeaturedPostsNumber(2)">2</button>
	          <button type="button" class="btn btn-sm btn-default" ng-click="changeFeaturedPostsNumber(3)">3</button>
	        </div>
	      </div>
	      <div class="row">
	        <div class="m-b-md" ng-class="{'col-sm-12': p.featuredPostNumber == 1, 'col-sm-6': p.featuredPostNumber > 1}">
	          <div class="droppable-post lg" data-index="0">
	          	<div class="dropped-post animated fadeIn" ng-style="backgroundImage(p.featuredPosts[0].postView, 'md')" ng-if="p.featuredPosts[0]">
	              <button ng-click="removeFeaturedPost(0)" class="showcase-remove btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
	              <div class="title-wrapper">
	                <span class="text-white text-ellipsis h4">{{p.featuredPosts[0].postView.title}}</span>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="col-sm-6" ng-show="p.featuredPostNumber > 1">
	          <div class="row">
	            <div class="col-sm-12 m-b-md">
	              <div class="droppable-post" data-index="1" ng-class="{'lg': p.featuredPostNumber == 2, 'sm': p.featuredPostNumber > 2}">
              		<div class="dropped-post animated fadeIn" ng-style="backgroundImage(p.featuredPosts[1].postView, 'md')" ng-if="p.featuredPosts[1]">
		              <button ng-click="removeFeaturedPost(1)" class="showcase-remove btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
		              <div class="title-wrapper">
		                <span class="text-white text-ellipsis h4">{{p.featuredPosts[1].postView.title}}</span>
		              </div>
		            </div>
	              </div>
	            </div>
	            <div class="col-sm-12" ng-show="p.featuredPostNumber > 2">
	              <div class="droppable-post sm" data-index="2">
	              	<div class="dropped-post animated fadeIn" ng-style="backgroundImage(p.featuredPosts[2].postView, 'md')" ng-if="p.featuredPosts[2]">
		              <button ng-click="removeFeaturedPost(2)" class="showcase-remove btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
		              <div class="title-wrapper">
		                <span class="text-white text-ellipsis h4">{{p.featuredPosts[2].postView.title}}</span>
		              </div>
		            </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="line line-dashed b-b line-lg text-grey" ng-show="p.currentStation &amp;&amp; p.currentTaxonomy &amp;&amp; p.name"></div>
	      <sortable-posts></sortable-posts>
	    </div>
	  </div> 
	  <div class="col-sm-5">
	    <h4 class="m-t-xs m-b">Busque por notícias para destacá-las.</h4>
	    <form ng-submit="submitSearchPosts(searchQuery)">
	      <div class="row m-b">
	        <div class="col-lg-6">
	          <input type="text" ng-model="searchQuery" class="form-control input-sm dk">
	        </div>
	        <div class="col-lg-6">
	          <button class="btn btn-sm btn-white" type="submit">Buscar</button>
	        </div>
	      </div>
	    </form>
        <div class="list-group list-group-lg list-group-sp" ng-show="search.result">
		  <div ng-repeat="searchedPost in search.result" class="list-group-item clearfix draggable-post" 
		  data-post-id="{{searchedPost.postId}}" data-post-title="{{searchedPost.title}}" data-post-img="{{searchedPost.mediumId | imageLink}}"
		  data-post-large="{{searchedPost.largeId}}" data-post-medium="{{searchedPost.mediumId}}" data-post-small="{{searchedPost.smallId}}">
			<span class="pull-left thumb-sm m-r" ng-class="{'no-image-stub': !searchedPost.mediumId}">
				<img ng-show="searchedPost.mediumId" ng-src="{{searchedPost.mediumId | imageLink}}">
			</span>
			<span class="clear">
			  <span>{{searchedPost.title}}</span>
			  <small class="text-muted clear text-ellipsis" bind-html-unsafe="searchedPost.snippet"></small>
			  <em class="text-xs">Criado em  <span class="text-danger">{{searchedPost.date | myLongTimeFormat}}</span></em>
		    </span>
		  </div>
			<pagination total-items="search.hits" ng-model="search.page" max-size="maxSize"
			class="pagination-sm m-t-sm m-b" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ></pagination>
		</div>
	  </div>
	</div>
</div>


