<ul class="no-borders no-padding m-b-none l-s-n animated fadeIn">
	<li class="" ng-repeat="draftView in draftsViews">
		<div class="line thin-line bg-light"></div>
		<div class="pull-right text-sm text-muted m-t-sm">
			<!-- <a class="thumb-xl text-black w-150 pull-left m-l" ui-sref="app.post({postId: draftView.postId})" ng-if="draftView.smallId">
			</a> -->
			<div class="author-img m-l-lg" ng-if="draftView.mediumId" ng-style="backgroundImage(draftView, 'md')" style="height:120px;width:120px;"></div>
			<!-- <span class="hidden-xs ng-binding">{{draftView.date | myLongTimeFormat}}</span> -->
		</div>
		<div class="clear min-h-150 p-t-sm">
			<div class="m-t-sm">
				<!-- <span class="label no-radius normal topper text-md" ng-if="draftView.topper">{{draftView.topper}}</span> -->
				<a ui-sref="app.post({postId: draftView.postId})" class="h3 m-b-sm m-t-sm block">
					{{draftView.title}}
				</a>
				<div class="m-t text-lg text-ellipsis font-thin" bind-html-unsafe="draftView.snippet">
				</div>
				<p class="m-t">
					<i class="fa fa-clock-o text-muted" tooltip="{{post.date | myLongTimeFormat}}"></i>
					<span ng-if="draftView.date" data-livestamp="{{draftView.date / 1000}}"></span>
					<!-- <a class="m-l-sm"><i class="fa fw m-r-xs fa-bookmark"></i>Ler depois</a> -->
				</p>
			</div>
		</div>    
	</li>
</ul>