<div class="hbox hbox-auto-xs hbox-auto-sm" ng-show="postsViews && app.network.currentStation" ng-cloak>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="">
				<div class="" style="background-size:cover; {{person.cover ? (person.cover | bgimg) : ''}}; background-position: center center;">
					<div class="wrapper-md bg-white-opacity cover" style="">
						<div class="absolute wrapper cover-photo pointer clear" ng-if="person.id == app.person.id">
							<i class="icon icon-camera m-r-xs fa-lg"></i>
							<span class="fileinput-button">
								Atualizar imagem
								<input type="file" nv-file-select="" uploader="cover" name="contents" accept="image/*"/>
							</span>
						</div>
						<!-- <div class="absolute profile-stats">
							<div class="pull-right pull-none-xs text-center">
								<a href class="m-b-md inline m">
									<span class="h3 block font-bold">30000</span>
									<small>Seguidores</small>
								</a>
								<a href class="m-b-md inline m">
									<span class="h3 block font-bold">250</span>
									<small>Segue</small>
								</a>
							</div>
							<div class="text-right" ng-if="person.id != app.person.id">
								<button class="btn btn-info follow-button btn-rounded">Seguir</button>
							</div>
						</div> -->
					</div>
				</div>
				<div class="center-block text-center profile-avatar" style="margin-top: -65px;">
					<div class="thumb-xl avatar" ng-class="{'fileinput-button': person.id == app.person.id}" ng-if="imageLoaded">
						<div style="{{person.imageMedium | bgimg}}" class="img-circular-lg"></div>
						<input ng-if="person.id == app.person.id" type="file" nv-file-select="" uploader="headshot" name="contents" accept="image/*"/>
					</div>
					<div ng-if="person.id == app.person.id" class="h1 text-black m-t-sm" ng-model="person.name" contenteditable no-line-breaks="true">{{person.name}}</div>
					<div ng-if="person.id != app.person.id" class="h1 text-black m-t-sm">
						{{person.name}}
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div ng-if="person.id == app.person.id" class="user-bio text-center h3 font-thin text-black m-t-sm contenteditable" ng-class="{'placeholder' : !person.bio}" contenteditable="true" no-line-breaks="true" ng-model="person.bio" placeholder="Sobre mim...">{{person.bio}}
	</div>
	<div ng-if="(person.id != app.person.id) && person.bio" class="user-bio text-center h3 font-thin text-black m-t-sm">
		{{person.bio}}
	</div>
							<!-- <textarea ng-model="person.bio"></textarea> -->
	<div class="wrapper-md">
		<div class="m-w-850 center-block" >
			<div class="bg-white profile-menu hidden-xs" ng-if="person.id == app.person.id">
				<!-- <div class="pull-left">
					<span class="active">
						<a ui-sref="app.user({username: username})" ui-sref-opts="{ reload: true }">Notícias</a>
					</span>
					<span>
						<a ui-sref="app.user.drafts({username: username})" ui-sref-opts="{ reload: true }">Rascunhos</a>
					</span>
				</div> -->
			<ul class="nav nav-pills nav-sm">
		        <li ui-sref-active="active"><a ui-sref="app.user({username: username})" ng-click="changeTab('app.user')" style="padding: 10px; background: #fff;" class="h4 text-u-c">Notícias</a></li>
		        <li ui-sref-active="active"><a ui-sref="app.user.drafts({username: username})" ng-click="changeTab('app.user.drafts')" style="background: #fff; padding: 10px;" class="h4 text-u-c">Rascunhos</a></li>
		    </ul>
			</div>
			<div ui-view autoscroll="false">
				<ul class="no-borders no-padding m-b-none l-s-n animated fadeIn">
					<li class="" ng-repeat="postView in postsViews">
						<div class="line thin-line bg-light"></div>
						<div class="pull-right text-sm text-muted m-t-sm">
							<!-- <a class="thumb-xl text-black w-150 pull-left m-l" ui-sref="app.post({postId: postView.postId})" ng-if="postView.smallId">
							</a> -->
							<div class="author-img m-l-lg" ng-if="postView.mediumId" ng-style="backgroundImage(postView, 'md')" style="height:120px;width:120px;"></div>
							<!-- <span class="hidden-xs ng-binding">{{postView.date | myLongTimeFormat}}</span> -->
						</div>
						<div class="clear min-h-150 p-t-sm">
							<div class="m-t-sm">
								<!-- <span class="label no-radius normal topper text-md" ng-if="postView.topper">{{postView.topper}}</span> -->
								<a ui-sref="app.post({postId: postView.postId})" class="h3 m-b-sm m-t-sm block">
									{{postView.title}}
								</a>
								<div class="m-t text-lg text-ellipsis font-thin" bind-html-unsafe="postView.snippet">
								</div>
								<p class="m-t">
									<i class="fa fa-clock-o text-muted" tooltip="{{post.date | myLongTimeFormat}}"></i>
									<span ng-if="postView.date" data-livestamp="{{postView.date / 1000}}"></span>
									<!-- <a class="m-l-sm"><i class="fa fw m-r-xs fa-bookmark"></i>Ler depois</a> -->
								</p>
							</div>
						</div>    
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>