<div class="m-b p-h-xl">

  <div ng-if="noBookmarks" class="text-center text-3x m-t-xxl" style="opacity: 0.5">
    <div>{{'titles.NO_BOOKMARKS' | translate}}</div>
    <i class="i-72 mdi2-bookmark"></i>
  </div>

  <div masonry class="m-b pos-rlt animated fadeIn" reload-on-show ng-if="postViews && postViews.length > 0">
    <div class="col-lg-4 col-sm-6 col-xs-12 masonry-brick" ng-repeat="postView in postViews">
        <!--  Vertical News Box -->
        <div class="news md-whiteframe-z1 vertical z-depth-1 card">
            <div class="">
              <div class="inline m-sm user-avatar rounded w-32 bg-white inline pos-rlt text-center bg-cover" 
              ng-style="app.getImagesPerson(postView, postView.authorId, 'small', 'PROFILE_PICTURE', true) " ng-class="{'md-primary-hue-1 background': !app.hasAuthorImage(postView)}">
                <i ng-if="!app.hasAuthorImage(postView)" class="mdi2-account i-20" style="top: 16%;position: relative;"></i>
              </div>
              <div class="inline p-t v-t font-500">
              {{postView.authorName}}
              </div>
              <div class="inline p-t v-t pull-right p-r-sm text-sm" style="opacity: 0.6" am-time-ago="postView.date">
              </div>
            </div>
            <!-- News Image -->
            <div class="news-image o-f-h">
                <div ng-if="app.hasImage(postView);" ng-style="app.getBackgroundImage(postView, 'medium')" class="zoom-hover h-full bg-cover" style="min-height: 230px;">
                    <!-- <img class="responsive-img materialboxed" ng-src="{{postView | imageLink:'medium'}}" alt="news Image" style="opacity: 0"> -->
                </div>
            </div>
            <div class="text-left p-sm w-full z-index-2" >
              <a target="_blank" ng-href="{{app.getCategoryLink(app.getStationById(postView.stationId).stationSlug, category.name)}}" class="label r md-whiteframe-z1 m-r-xs" ng-style="app.getCategoryBG(category)" ng-repeat="category in postView.categories">
                {{category.name}}
              </a>
            </div>
            <!-- News Description -->
            <div class="news-description p-t p-b-sm p-h">
                <div class="news-title" style="min-height: 66px"><a clamp="3"> {{::postView.title}} </a></div>
                <div class="news-content"><p clamp="4">{{::postView.snippet}}</p></div>
                <div class="news-comment-shares z-index-2">
                    <md-divider class="m-b-sm m-t"></md-divider>
                    <div class="p-b-xs">
                        <md-button ng-click="recommend = !recommend" style="width: 36px; height: 36px; padding: 6px; margin-left: 0;" class="not-trans md-icon-button" ng-style="recommend ? null : {'background-color': actionButtonColors, 'opacity': '0.6'}" ng-class="{'md-accent-default background': recommend}"><i class="mdi2-heart i-16"></i></md-button>

                        <md-button style="width: 36px; height: 36px; padding: 6px;" class="not-trans md-icon-button" ng-style="bookmark ? null : {'background-color': actionButtonColors, 'opacity': '0.6'}" ng-class="{'md-accent-default background': bookmark}"><i class="mdi2-bookmark-remove i-20"></i></md-button>
                        
                        <md-button ng-click="showSharesPostDialog(postView)" style="width: 36px; height: 36px; padding: 6px; opacity: 0.6; margin-right: 0" class="not-trans md-icon-button pull-right" ng-style="{'background-color': actionButtonColors}"><i class="mdi2-share i-20"></i></md-button>
                        
                        <md-button style="width: 36px; height: 36px; padding: 6px; opacity: 0.6;" class="not-trans md-icon-button pull-right" ng-style="{'background-color': actionButtonColors}" ng-click="loadComments(postView);"><i class="mdi2-comment i-16"></i></md-button>
                    </div>
                </div>
                <div class="news-comment z-index-1 animated fadeInDown" ng-if="showComments" style="margin:6px -16px -8px -16px;">
                  <md-divider class=""></md-divider>

                  <div class="p inline w-full">
                    <div class="pull-left user-avatar rounded w-36 bg-white pos-rlt background text-center bg-cover" ng-style="{'background-image': 'url(' + app.userImageSmall + ')', 'background-position': '50% 50%'}" ng-class="{'md-primary-hue-1': !app.userImageSmall}">
                      <i ng-if="!app.userImageSmall" class="mdi2-account i-20" style="top: 16%;position: relative;"></i>
                    </div>

                    <md-button style="width: 36px; height: 36px; padding: 6px;" class="md-button not-trans m-0 md-icon-button pull-right md-accent-default background">
                      <i class="mdi2-send i-16"></i>
                    </md-button>
                    <div class="m-l-xxl m-r-xxl"> 
                      <textarea msd-elastic class="no-border p-t-sm" ng-keydown="reloadMasonry()" ng-model="comment" style="resize: none;" placeholder="{{'titles.COMMENT' | translate }}"></textarea>
                    </div>
                  </div>

                </div>
                <md-progress-linear class="pos-abt bottom-0 left-0" ng-if="loadingComments" md-mode="indeterminate"></md-progress-linear>
            </div>
        </div>
    </div>
  </div>
</div>