<div class="row m-b">
    <!-- <div class="col l9 col m12 col s12">
        
        News Slider
        <ul class="pgwSlider">
            <li>
                News Slider Image
                <img src="http://placehold.it/350/e91e63?text=Slider 1" alt="News Slider 1">
                News Slider Content
                <div class="news-content">
                    <div class="news-time"><small>21 Mins Ago</small></div>
                    <div class="news-title big"><h2> <a href="javascript:void(0);">Netanyachu's Likud Party Sweeps to Israel election victory</a> </h2></div>
                    <p class="news-detail">Nullam Quies ante. rhoncus augue pharetra sed. Mauris tincidunt, nunc vitae tristique porta, nisi arcu pulvinar enim, in pretium mi ex quis felis. Integer pharetra sit amet ligula sit amet porttitor. Praesent condimentum augue ut ornare tempor. </p>
                </div>
            </li>
            <li>
                News Slider Image
                <img src="http://placehold.it/350/9e9d24?text=Slider 2" alt="News Slider 2">
                News Slider Content
                <div class="news-content">
                    <div class="news-time"><small>21 Mins Ago</small></div>
                    <div class="news-title big"><h2><a href="javascript:void(0);"> Party,s Over for frat after ski-resort rampage</a> </h2></div>
                    <p class="news-detail">Nullam Quies ante. rhoncus augue pharetra sed. Mauris tincidunt, nunc vitae tristique porta, nisi arcu pulvinar enim, in pretium mi ex quis felis. Integer pharetra sit amet ligula sit amet porttitor. Praesent condimentum augue ut ornare tempor. </p>
                </div>
            </li>
            <li>
                News Slider
                <img src="http://placehold.it/350/689f38?text=Slider 3" alt="News Slider 3">
                News Slider Content
                <div class="news-content">
                    <div class="news-time"><small>21 Mins Ago</small></div>
                    <div class="news-title big"><h2><a href="javascript:void(0);"> Reeling Fashion Police gets Sidelined</a> </h2></div>
                    <p class="news-detail">Nullam Quies ante. rhoncus augue pharetra sed. Mauris tincidunt, nunc vitae tristique porta, nisi arcu pulvinar enim, in pretium mi ex quis felis. Integer pharetra sit amet ligula sit amet porttitor. Praesent condimentum augue ut ornare tempor. </p>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="col l3 col m12 col s12">
        Sidebar
        <div class="sidbar-box z-depth-1">
            <div class="sidebar-title">Top Stories</div>
            <ul>
                <li>
                    <a href="javascript:void(0);"> 5 Things you Need To Know Wenesday</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Auti-austeriry Protest Turns Violent In Germany</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Flying Cars: The near Future, From SXSW</a>
                </li>
                <li>
                    <a href="javascript:void(0);">No end in Signt for California Drought</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Boehner Coup by Conservatives is Unlikely</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Market Reaction to fed rate talk: 3 scenarious</a>
                </li>
                <li>
                    <a href="javascript:void(0);">fed deny visas for 'Specialized' foreign workers</a>
                </li>
            </ul>
        </div>
    </div>
    </div>     -->
    
<!-- <div class="row m-b">
            <div class="col l3 col m6 col s12">
                Vertical News Box
                <div class="news vertical z-depth-1">
                    News Image    
                    <div class="news-image">
                        <img class="responsive-img" src="http://placehold.it/350x235?text=News Image" alt="news Image">
                    </div>
                    News Description
                    <div class="news-description">
                        <div class="news-time">
                            <i class="fa fa-clock-o"></i> 9 min ago 
                        </div>
                        <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna leo metus vel magna. </a></div>
                        <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum Integer. </p></div>
                    </div>
                </div>
            </div>
            <div class="col l3 col m6 col s12">
                Vertical News Box
                <div class="news vertical z-depth-1">
                    News Image
                    <div class="news-image">
                        <img class="responsive-img" src="http://placehold.it/350x235?text=News Image" alt="news Image">
                    </div>
                    News Description
                    <div class="news-description">
                        <div class="news-time">
                            <i class="fa fa-clock-o"></i> 9 min ago 
                        </div>
                        <div class="news-title"> <a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna. </a></div>
                        <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus In dapibus ac tellus non rutrum</p></div>
                    </div>
                </div>
            </div>
            <div class="col l6 col m12 col s12">
                <div class="z-depth-1">
                    Horizontal News Box
                    <div class="news horizontal">
                        <div class="col l4 col m4 col s12 no-padding">
                            News Image
                            <div class="news-image">
                                <img class="responsive-img" src="http://placehold.it/350x360?text=News Image" alt="news Image">
                            </div>
                        </div>
                        <div class="col l8 col m8 col s12 no-padding">
                            News Description
                            <div class="news-description">
                                <div class="news-time">
                                    <i class="fa fa-clock-o"></i> 9 min ago 
                                </div>
                                <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna. </a></div>
                                <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. Mauris bibendum semper quam.</p></div>
                            </div>
                        </div>
                    </div>
                    
                    Horizontal News Box
                    <div class="news horizontal no-border">
                        <div class="col l4 col m4 col s12 no-padding">
                            News Image
                            <div class="news-image">
                                <img class="responsive-img" src="http://placehold.it/350x360/f5f5f5?text=News Image" alt="news Image">
                            </div>
                        </div>
                        <div class="col l8 col m8 col s12 no-padding">
                            News Description
                            <div class="news-description">
                                <div class="news-time">
                                    <i class="fa fa-clock-o"></i> 9 min ago 
                                </div>
                                <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna.</a></div>
                                <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. Mauris bibendum semper quam.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->        
    
<div class="row m-b">
    <div class="col l3 col m6 col s12" ng-repeat="cell in app.termPerspectiveView.homeRow.cells">
        <!--  Vertical News Box -->
        <div class="news vertical z-depth-1">
            <!-- News Image -->
            <div class="news-image">
                <img class="responsive-img" src="http://placehold.it/350x235?text=News Image" alt="news Image">
            </div>
            <!-- News Description -->
            <div class="news-description">
                <div class="news-time" md-style="{'color': 'accent.300'}">
                    <i class="fa fa-clock-o"></i> 9 min ago 
                </div>
                <div class="news-title"><a href="javascript:void(0);"> {{cell.postView.title}} </a></div>
                <div class="news-content"><p>{{::cell.postView.snippet}}</p></div>
            </div>
        </div>
    </div>
</div>

<div class="row m-b">
    <div class="col l12 col m12 col s12">
        <!-- blockquote -->
        <div class="blockquote z-depth-1 md-accent-default background">
            <span>Hot News:</span> Nullam Quies ante. rhoncus augue pharetra sed. Mauris tincidunt, nunc vitae tristique porta, nisi arcu pulvinar enim, in pretium mi ex quis felis. Integer pharetra sit amet ligula sit amet porttitor. Praesent condimentum augue ut ornare tempor. 
        </div>
    </div>
</div>

<div class="row m-b">
    <div class="col l6 col m6 col s12">
        <!-- News Blog Box -->
        <div class="news-blog z-depth-1">
            <!-- News Blog Image -->
            <div class="image">
                <img class="responsive-img" src="http://placehold.it/350x235?text=News Image" alt="news Image">
            </div>
            <!-- News Blog Category -->
            <div class="news-category">
                <span class="purple">Life</span>
                <!-- Dropdown -->
                <div class="news-dropdown">
                    <a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown1"><i class="fa fa-ellipsis-v "></i></a>
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="javascript:void(0);">Option 1</a></li>
                        <li><a href="javascript:void(0);">Option 1</a></li>
                        <li><a href="javascript:void(0);">Option 1</a></li>
                    </ul>
                </div>
            </div>
            <!-- News Blog Description -->
            <div class="news-description">
                <div class="news-time text-white">
                    21 min ago 
                </div>
                <div class="news-title"> <a href="javascript:void(0);"> Netanyachu's Likud Party <br> Sweeps to Israel election. </a></div>
                <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus <br> non rutrum. Integer ut nisi risus In dapibus ac tellus.</p></div>
            </div>
        </div>
    </div>
    <div class="col l6 col m6 col s12">
        <!-- News Blog Box -->
        <div class="news-blog z-depth-1">
            <!-- News Blog Video -->
            <div class="video-container no-controls">
                <iframe src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0;autohide=1" allowfullscreen></iframe>
            </div>
            <!-- News Blog Category -->
            <div class="news-category">
                <span class="orange">Video</span>
                <!-- Dropdown -->
                <div class="news-dropdown">
                    <a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown2"><i class="fa fa-ellipsis-v "></i></a>
                    <ul id="dropdown2" class="dropdown-content">
                        <li><a href="javascript:void(0);">Option 1</a></li>
                        <li><a href="javascript:void(0);">Option 1</a></li>
                        <li><a href="javascript:void(0);">Option 1</a></li>
                    </ul>
                </div>
            </div>
            <!-- News Blog Description -->
            <div class="news-description">
                <div class="news-time text-white">
                    21 min ago 
                </div>
                <div class="news-title"> <a href="javascript:void(0);"> Party Sweepsto Israel <br> election Victory </a></div>
                <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac <br> tellus non rutrum. Integer ut nisi risus.</p></div>
            </div>
        </div>
    </div>
</div>

<div class="row m-b">
    <div class="col l6 col m6 col s12">
        <!-- News Blog Solid Box -->
        <div class="news-blog md-primary-default background z-depth-1">
            <!-- News Blog Category -->
            <div class="news-category">
                  <span class="md-accent-default background">More</span>
                  <!-- Dropdown -->
                    <div class="news-dropdown">
                        <a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown3"><i class="fa fa-ellipsis-v "></i></a>
                        <ul id="dropdown3" class="dropdown-content">
                            <li><a href="javascript:void(0);">Option 1</a></li>
                            <li><a href="javascript:void(0);">Option 1</a></li>
                            <li><a href="javascript:void(0);">Option 1</a></li>
                        </ul>
                    </div>
            </div>
            <!-- News Blog Description -->
            <div class="news-description center-align">
                <div class="quote"><i class="fa fa-quote-left" md-style="{'color': 'accent.300'}"></i></div>
                <div class="news-title"> <a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna et bibendum leo metus vel magna.  </a></div>
                <div class="news-content"><p>President of ThemeLeague <br> Dark Waider</p></div>
            </div>
        </div>
    </div>
    <div class="col l6 col m6 col s12">
        <!-- News Blog Box -->
        <div class="news-blog z-depth-1">
            <!-- News Blog Image -->
            <div class="image">
                <img class="responsive-img" src="http://placehold.it/350x235?text=News Image" alt="news Image">
            </div>
            <!-- News Blog Category -->
            <div class="news-category">
                  <span class="green">Money</span>
                  <!-- Dropdown -->
                    <div class="news-dropdown">
                        <a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown4"><i class="fa fa-ellipsis-v "></i></a>
                        <ul id="dropdown4" class="dropdown-content">
                            <li><a href="javascript:void(0);">Option 1</a></li>
                            <li><a href="javascript:void(0);">Option 1</a></li>
                            <li><a href="javascript:void(0);">Option 1</a></li>
                        </ul>
                    </div>
            </div>
            <!-- News Blog Description -->
            <div class="news-description">
                <div class="news-time" md-style="{'background-color': 'accent.A100'}">
                    21 min ago 
                </div>
                <div class="news-title"> <a href="javascript:void(0);">Party Sweepsto Israel <br> election Victory</a></div>
                <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus <br> ac tellus non rutrum. Integer.</p></div>
            </div>
        </div>
    </div>
</div>

<div class="row m-b">
    <div class="col l6 col m12 col s12">
        <div class="z-depth-1">
            <!-- Horizontal News Box -->
            <div class="news horizontal">
                <div class="col l4 col m4 col s12 no-padding">
                    <!-- News Image -->
                    <div class="news-image">
                        <img src="http://placehold.it/350x360?text=News Image" class="responsive-img" alt="news Image">
                    </div>
                </div>
                <div class="col l8 col m8 col s12 no-padding">
                    <!-- News  Description -->
                    <div class="news-description">
                        <div class="news-time">
                            <i class="fa fa-clock-o"></i> 9 min ago 
                        </div>
                        <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna. </a></div>
                        <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. Mauris bibendum semper quam.</p></div>
                    </div>
                </div>
            </div>
            
            <!-- Horizontal News Box -->
            <div class="news horizontal no-border">
                <div class="col l4 col m4 col s12 no-padding">
                    <!-- News Image -->
                    <div class="news-image">
                        <img src="http://placehold.it/350x360/f5f5f5?text=News Image" class="responsive-img" alt="news Image">
                    </div>
                </div>
                <div class="col l8 col m8 col s12 no-padding">
                    <!-- News Description -->
                    <div class="news-description">
                        <div class="news-time">
                            <i class="fa fa-clock-o"></i> 9 min ago
                        </div>
                        <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna.</a></div>
                        <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus. Mauris bibendum semper quam.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col l3 col m6 col s12">
        <!-- Vertical News Box -->
        <div class="news vertical z-depth-1">
            <!-- News Image -->
            <div class="news-image">
                <img src="http://placehold.it/350x235?text=News Image" class="responsive-img" alt="news Image">
            </div>
            <!-- News Description -->
            <div class="news-description">
                <div class="news-time">
                    <i class="fa fa-clock-o"></i> 9 min ago 
                </div>
                <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur. </a></div>
                <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus.</p></div>
            </div>
        </div>
    </div>
    
    <div class="col l3 col m6 col s12">
        <!-- Vertical News Box -->
        <div class="news vertical z-depth-1">
            <!-- News Image -->
            <div class="news-image">
                <img src="http://placehold.it/350x235?text=News Image" class="responsive-img" alt="news Image">
            </div>
            <!-- News Description -->
            <div class="news-description">
                <div class="news-time">
                    <i class="fa fa-clock-o"></i> 9 min ago 
                </div>
                <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna leo metus vel magna. </a></div>
                <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum Integer.</p></div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="row m-b">
        <div class="col l3 col m6 col s12">
            <div class="col l12 col m12 col s12 no-padding">
                <!--  Vertical News Box -->
                <div class="news vertical z-depth-1 margin-bottom-20">
                    <!-- News Image -->
                    <div class="news-image">
                        <img src="http://placehold.it/350x235?text=News Image" class="responsive-img" alt="news Image">
                    </div>
                    <!-- News Description -->
                    <div class="news-description">
                        <div class="news-time">
                            <i class="fa fa-clock-o"></i> 9 min ago 
                        </div>
                        <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur. </a></div>
                        <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus.</p></div>
                    </div>
                </div>
            </div>
            <div class="col l12 col m12 col s12 no-padding">
                <!-- Vertical News Box -->
                <div class="news vertical z-depth-1">
                    <!-- News Image -->
                    <div class="news-image">
                        <img src="http://placehold.it/350x235?text=News Image" class="responsive-img" alt="news Image">
                    </div>
                    <!-- News Description -->
                    <div class="news-description">
                        <div class="news-time">
                            <i class="fa fa-clock-o"></i> 9 min ago 
                        </div>
                        <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna leo metus vel magna. </a></div>
                        <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus.</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l6 col m6 col s12">
            <!-- Vertical News Box -->
            <div class="news vertical z-depth-1">
                <!-- News Image -->
                <div class="news-image">
                    <img src="http://placehold.it/350x236?text=News Image" class="responsive-img" alt="news Image">
                </div>
                <!-- News Description -->
                <div class="news-description">
                    <div class="news-time">
                        <i class="fa fa-clock-o"></i> 9 min ago 
                    </div>
                    <div class="news-title large-font"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna leo metus vel magna. </a></div>
                    <div class="news-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur erat velit, tristique eu molestie vitae, malesuada eget est. Vestibulum ut aliquam libero. Nunc nec risus dolor. Aliquam pellentesque eget lectus vel lobortis. Donec gravida nec tortor ac semper. Aliquam dapibus dolor et metus feugiat porta. Sed in mauris lorem. Quisque ultrices nulla dui. Praesent sollicitudin consectetur tincidunt.</p>
                        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In lobortis dignissim eros sed convallis. Donec et quam eros. Suspendisse a enim sit amet nisl accumsan malesuada. Maecenas sodales velit at molestie blandit. Nullam maximus tellus ante, vitae finibus lorem luctus vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col l3 col m12 col s12 no-padding">
            <div class="col l12 col m6 col s12">
                <!-- Vertical News Box -->
                <div class="news vertical z-depth-1 margin-bottom-20">
                    <!-- News Image -->
                    <div class="news-image">
                        <img src="http://placehold.it/350x235?text=News Image" class="responsive-img" alt="news Image">
                    </div>
                    <!-- News Description -->
                    <div class="news-description">
                        <div class="news-time">
                            <i class="fa fa-clock-o"></i> 9 min ago 
                        </div>
                        <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur. </a></div>
                        <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus.</p></div>
                    </div>
                </div>
            </div>
            <div class="col l12 col m6 col s12">
                <!-- Vertical News Box -->
                <div class="news vertical z-depth-1">
                    <!-- News Image -->
                    <div class="news-image">
                        <img src="http://placehold.it/350x235?text=News Image" class="responsive-img" alt="news Image">
                    </div>
                    <!-- News Description -->
                    <div class="news-description">
                        <div class="news-time">
                            <i class="fa fa-clock-o"></i> 9 min ago 
                        </div>
                        <div class="news-title"><a href="javascript:void(0);"> Nam erat nulla, auctor a eros vitae, hendrerit efficitur magna leo metus vel magna. </a></div>
                        <div class="news-content"><p>et bibendum leo metus vel magna. In dapibus ac tellus non rutrum. Integer ut nisi risus.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="row m-b">
        <div class="col l9 col m12 col s12">
            <!-- Thumbnail Slider -->
            <div class="thumbnail-slider z-depth-1">
                <!-- Thumbnail Slider Category -->
                <ul class="tabs">
                    <li class="tab"><a class="active" href="#News-category1">March Sadness</a></li>
                    <li class="tab"><a href="#News-category2">Snapshot</a></li>
                    <li class="tab"><a href="#News-category3">Terrorist Attack Donbass</a></li>
                    <li class="tab"><a href="#News-category4">Prince Charles and Camilla visit the U.S.</a></li>
                    <li class="tab"><a href="#News-category5">Your Take: Readers Photos of the Aurora Borealis</a></li>
                </ul>
                <!-- Thumbnail Slider 1 -->
                <div id="News-category1">
                    <div class="camera_wrap camera_magenta_skin" id="camera_wrap_1">
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                    </div>
                </div>
                <!-- Thumbnail Slider 2 -->
                <div id="News-category2">
                    <div class="camera_wrap camera_magenta_skin" id="camera_wrap_2">
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                    </div>
                </div>
                <!-- Thumbnail Slider 3 -->
                <div id="News-category3">
                     <div class="camera_wrap camera_magenta_skin" id="camera_wrap_3">
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                    </div>
                </div>
                <!-- Thumbnail Slider 4 -->
                <div id="News-category4">
                     <div class="camera_wrap camera_magenta_skin" id="camera_wrap_4">
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                    </div>
                </div>
                <!-- Thumbnail Slider 5 -->
                <div id="News-category5">
                     <div class="camera_wrap camera_magenta_skin" id="camera_wrap_5">
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                        <div data-thumb="http://placehold.it/350x235?text=News Image?1443511387528" data-src="http://placehold.it/350x235?text=News Image?1443511387528">
                            <div class="camera_caption fadeFromBottom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l3 col m12 col s12">
            <!-- News Sidebar -->
            <div class="sidbar-box z-depth-1">
                <div class="sidebar-title">New Stories</div>
                <div class="news-sidebar">
                    <div class="news-box">
                        <!-- News Sidebar Image -->
                        <div class="image">
                            <img src="http://placehold.it/350x235?text=News Image" alt="news Image">
                        </div>
                        <!-- News Sidebar Detail -->
                        <div class="news-detail">
                            <div class="news-category">
                                <a href="javascript:void(0);">World | 21 min ago </a>
                            </div>
                            <div class="news-title">
                                <a href="javascript:void(0);"> 5 things you need to know wenesday</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="news-box">
                        <!-- News Sidebar Image -->
                        <div class="image">
                            <img src="http://placehold.it/350x235?text=News Image" alt="news Image">
                        </div>
                        <!-- News Sidebar Detail -->
                        <div class="news-detail">
                            <div class="news-category">
                                <a href="javascript:void(0);">Tech | 21 min ago </a>
                            </div>
                            <div class="news-title">
                                <a href="javascript:void(0);"> Auti-austeriry Protest Turns Violent In Germany</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="news-box">
                      <!-- News Sidebar Image -->
                        <div class="image">
                            <img src="http://placehold.it/350x235?text=News Image" alt="news Image">
                        </div>
                        <!-- News Sidebar Detail -->
                        <div class="news-detail">
                            <div class="news-category">
                                <a href="javascript:void(0);">Money | 21 min ago </a>
                            </div>
                            <div class="news-title">
                                <a href="javascript:void(0);"> Flying Cars: The near Future, From SXSW</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="news-box">
                      <!-- News Sidebar Image -->
                        <div class="image">
                            <img src="http://placehold.it/350x235?text=News Image" alt="news Image">
                        </div>
                        <!-- News Sidebar Detail -->
                        <div class="news-detail">
                            <div class="news-category">
                                <a href="javascript:void(0);">Life | 21 min ago </a>
                            </div>
                            <div class="news-title">
                                <a href="javascript:void(0);"> No end in Signt for California Drought</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="news-box">
                        <!-- News Sidebar Image -->
                        <div class="image">
                            <img src="http://placehold.it/350x235?text=News Image" alt="news Image">
                        </div>
                        <!-- News Sidebar Detail -->
                        <div class="news-detail">
                            <div class="news-category">
                                <a href="javascript:void(0);">World | 21 min ago </a>
                            </div>
                            <div class="news-title">
                                <a href="javascript:void(0);"> Boehner Coup by Conservatives is Unlikely</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="news-box">
                        <!-- News Sidebar Image -->
                        <div class="image">
                            <img src="http://placehold.it/350x235?text=News Image" alt="news Image">
                        </div>
                        <!-- News Sidebar Detail -->
                        <div class="news-detail">
                            <div class="news-category">
                                <a href="javascript:void(0);">Travel | 21 min ago </a>
                            </div>
                            <div class="news-title">
                                <a href="javascript:void(0);"> Market Reaction to fed rate talk: 3 scenarious</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
