  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="row row-sm text-center">
          <div class="col-xs-4">
            <div class="panel b-n m-b-0 p-v item md-whiteframe-z1">
              <div class="h1 font-thin h1 m-b counter" value="registeredUsersValue" to="registeredUsers" duration="1000">{{ registeredUsersValue | number:0 }}</div>
              <span class="p-t">{{'settings.dashboard.REGISTERD_USERS' | translate}}</span>
              <md-progress-linear class="pos-abt bottom-0 left-0" ng-if="loadingRegisteredUsers" md-mode="indeterminate"></md-progress-linear>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="panel b-n m-b-0 p-v item md-whiteframe-z1">
              <div class="h1 font-thin h1 m-b">521</div>
              <span class="p-t">{{'settings.dashboard.IOS_INSTALLS' | translate}}</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="panel b-n m-b-0 p-v item md-whiteframe-z1">
              <div class="h1 font-thin h1 m-b">521</div>
              <span class="p-t">{{'settings.dashboard.ANDROID_INSTALLS' | translate}}</span>
            </div>
          </div>
        </div>
      <div class="row no-gutter">


        <div class="col-xs-12">
          <div class="card md-whiteframe-z1">
            <!--<div class="card-heading">
              <h2>Dashboard</h2>
              <small>Welcome to the new material design dashboard</small>
            </div>-->
            <!--<div class="card-tools">
              <ul class="list-inline">
                <li class="dropdown">
                  <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                    <i class="mdi-navigation-more-vert text-md"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                    <li><a href>Action</a></li>
                    <li><a href>Another action</a></li>
                  </ul>
                </li>
              </ul>
            </div>-->
            <div class="card-body p-0">
              <div class="row no-gutter m-b-0">
                <div class="col-xs-6">
                  <div class="text-md p">
                    <div class="p-sm">
                      <div class="pull-left m-r-md"><i class="opacity-07 v-m mdi2-pencil i-20"></i></div><div class="clear opacity-09"><a class="text-u-l-hover">{{'settings.dashboard.CREATE_PUBLICATION_HEADER' | translate}}</a></div>
                    </div>
                    <div class="p-sm">
                      <div class="pull-left m-r-md"><i class="opacity-07 v-m mdi2-settings i-20"></i></div><div class="clear opacity-09"><a class="text-u-l-hover">{{'settings.dashboard.NETWORK_MANAGEMENT_HEADER' | translate}}</a></div>
                    </div>
                    <div class="p-sm">
                      <div class="pull-left m-r-md"><i class="opacity-07 v-m mdi2-radio-tower i-20"></i></div><div class="clear opacity-09"><a class="text-u-l-hover">{{'settings.dashboard.STATION_MANAGEMENT_HEADER' | translate}}</a></div>
                    </div>
                    <div class="p-sm">
                      <div class="pull-left m-r-md"><i class="opacity-07 v-m mdi2-view-quilt i-20"></i></div><div class="clear opacity-09"><a class="text-u-l-hover">{{'settings.dashboard.CREATE_PAGES_HEADER' | translate}}</a></div>
                    </div>
                    <div class="p-sm">
                      <div class="pull-left m-r-md"><i class="opacity-07 v-m mdi-social-people i-20"></i></div><div class="clear opacity-09"><a class="text-u-l-hover">{{'settings.dashboard.USER_MANAGEMENT_HEADER' | translate}}</a></div>
                    </div>
                    <div class="p-sm">
                      <div class="pull-left m-r-md"><i class="opacity-07 v-m mdi2-newspaper i-20"></i></div><div class="clear opacity-09"><a class="text-u-l-hover">{{'settings.dashboard.POST_MANAGEMENT_HEADER' | translate}}</a></div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 o-f-h">
                  <div class="text-center" style="margin: 0 -50px 0 -50px; min-height: 230px;">
                    <img src="/images/tutorial/features-logo.fw.png" class="img-responsive">
                  </div>
                  <div class="text-center m-t-lg w-full">
                    <md-button class="md-button md-raised md-primary p-h md-whiteframe-z2" ng-href="/" target="_blank">
                      <i class="mdi2-home i-14 m-r-sm"></i> {{'settings.pages.HOME_PAGE' | translate}}
                    </md-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="md-primary-default background md-whiteframe-z1">
            <div class="card-heading">
              <h2>{{'titles.SCHEDULED' | translate}}</h2>
            </div>
            <div class="list-group list-group-lg md-primary-hue-1 background w-full" ng-style="{'height': (drafts.length * 78) + 'px'}" ng-class="{'display-table': !scheduled || !scheduled.length}">
              <a md-ink-ripple class="list-group-item text-ellipsis" ng-repeat="scheduledPost in scheduled" ng-click="app.showPost(scheduledPost)">
               <!--  <span class="pull-right">
                 <i class="mdi-action-trending-up i-20 text-muted-dk"></i>
               </span> -->
                {{scheduledPost.title}}
              </a>
              <div class="text-center p-lg display-cell v-m w-full" ng-if="!scheduled || !scheduled.length">
                <div class="m-b text-md">
                  {{'settings.dashboard.NO_SCHEDULED' | translate}}
                </div>
                <i class="mdi2-calendar-clock i-32 text-3x"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="md-accent-hue-1 background md-whiteframe-z1">
            <div class="card-heading">
              <h2>{{'titles.DRAFTS' | translate}}</h2>
            </div>
            <div class="list-group list-group-lg md-accent-default background w-full" ng-style="{'height': (scheduled.length * 78) + 'px'}" ng-class="{'display-table': !drafts || !drafts.length}">
              <a md-ink-ripple href class="list-group-item" ng-repeat="draft in drafts" ng-click="app.showPost(draft)">
                <!-- <span class="pull-right">
                  1
                </span> -->
                <div class="text-ellipsis font-bold">{{draft.title}}</div>
                <div class="text-xs text-right p-t-sm"><i class="mdi mdi2-radio-tower"></i> {{draft.stationName}}</div>
              </a>
              <div class="text-center p-lg display-cell v-m w-full" ng-if="!drafts || !drafts.length">
                <div class="m-b text-md">
                  {{'settings.dashboard.NO_DRAFTS' | translate}}
                </div>
                <i class="mdi2-pencil i-32 text-3x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-sm">
        <div class="col-sm-12">
          <div class="card p"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card md-whiteframe-z1">
        <div class="card-heading">
          <h2 class="font-thin">{{'titles.LATEST_POSTS' | translate}}</h2>
        </div>
        <div class="card-body">
          <div class="streamline b-l b-accent m-b">
            <div class="sl-item" ng-repeat="publication in publications | limitTo:5">
              <div class="sl-content" ng-click="app.showPost(publication)">
                <div class="text-muted-dk">{{app.getLocalTime(publication.date)}}</div>
                <p>{{publication.title}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-right" ng-if="publications.length > 10">
          <md-button class="m-t-sm m-r-sm" ui-sref="app.publications">{{'titles.SHOW_ALL' | translate}}</md-button>
        </div>
        <md-progress-linear class="pos-abt bottom-0 left-0" ng-if="loadingPublished" md-mode="indeterminate"></md-progress-linear>
      </div>
      <div class="card md-whiteframe-z1">
        <div class="card-heading">
          <h2 class="font-thin">{{'titles.USERS' | translate}}</h2>
        </div>
        <div class="card-divider"></div>
        <div class="card-body">
          <!--<a href class="m-l-sm m-r-sm m-b inline" ng-repeat="person in persons">
            <img src="/images/a4.jpg" class="w-40 img-circle">
          </a>-->

          <div class="m-b-sm" ng-repeat="person in persons | limitTo:5" ng-click="showPerson($event,person)">
            <span class="pull-left thumb-sm m-r">
              <div ng-style="app.getUserImage(person, 'small', 'PROFILE_PICTURE', true)" style="height: 40px;" class="bg-cover img-responsive img-circle thumb md-whiteframe-z1 text-center" ng-class="{'md-primary-hue-1 background': !app.hasProfilePicture(person)}">
                <i ng-if="!app.hasProfilePicture(person)" style="line-height: 36px;" class="mdi2-account i-24"></i>
              </div>
            </span>
            <span class="clear">
              <span class="text-md font-bold">{{person.name}}</span>
              <div class="text-muted clear text-ellipsis">{{person.username}} | {{person.email}}</div>
            </span>
          </div>
        </div>
        <div class="text-right" ng-if="persons.length > 5">
          <md-button class="m-t-sm m-r-sm" ui-sref="app.users">{{'titles.SHOW_ALL' | translate}}</md-button>
        </div>
        <md-progress-linear class="pos-abt bottom-0 left-0" ng-if="loadingPerson" md-mode="indeterminate"></md-progress-linear>
      </div>
    </div>
  </div>

<script type="text/ng-template" id="welcolme-dialog.html">
  <md-dialog aria-label="change action">
    <md-content style="background: white">
      <div class="" id="email-template">
        <div class="m-b-sm m-t-xs p-h w-800 pos-rlt">
              
          <div slider Interval='999999'>
            <ul class="slides" style="background: white; height: 300px;">
              <li>
                <img src="/images/tutorial/edit-logo.fw.png" class="h-200 img-responsive">
              </li>
              <li>
                <img src="/images/tutorial/stations-logo.fw.png" class="h-200 img-responsive">
              </li>
              <li>
                <img src="/images/tutorial/pages-logo.fw.png" class="h-200 img-responsive">
              </li>
              <li>
                <img src="/images/tutorial/manage-users-logo.fw.png" class="h-200 img-responsive">
              </li>
              <li>
                <img src="/images/tutorial/admin-logo.fw.png" class="h-200 img-responsive">
              </li>
              <!--<li>
                <img src="/images/tutorial/features-logo.fw.png" class="h-200 img-responsive">
              </li>-->
            </ul>
          </div>

          <div class="pos-abt bottom-0 right-0 z-index-5 m-r-sm">
            <md-button class="md-raised md-accent p-h md-whiteframe-z2 font-500" ng-click="cancel(); setSeen();">{{'titles.SKIP' | translate}}</md-button>
          </div>

        </div>
      </div>
    </md-content>
  </md-dialog>
</script>

