  <div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">
        <span class="m-l inline">{{app.name}}</span>
      </div>
    </div>
    <div class="p-md panel md-whiteframe-z1 text-color m">
      <div class="m-b">
        Forgot your password?
        <p class="text-xs m-t">Enter your email address below and we will send you instructions on how to change your password.</p>
      </div>
      <form name="reset">
        <md-input-container class="w-full m-b-0">
          <label for="testInput">{{'titles.EMAIL' | translate}}</label>
          <input type="text" id="testInput" ng-model="person.email" md-autofocus>
        </md-input-container>
        <button md-ink-ripple type="submit" class="m-0 md-btn md-raised pink btn-block p-h-md" title="Hey!" data-content="Instructions sent to your email." data-type="info" data-container="#alerts-container" bs-alert  ng-disabled="reset.$invalid" >Send</button>
      </form>
    </div>
    <p id="alerts-container"></p>
    <div class="p-v-lg text-center">Return to <button ui-sref="access.signin" class="md-btn">sign in</button></div>    
  </div>
