<div class="center-block w-xxl w-auto-xs p-v-md m-t-lg" style="margin-top:80px">
 <md-content class="md-background-hue-1 background md-whiteframe-z2 w-xxl">
 <div class="text-color m">
      <div class="m-b p-t p-h w-full">
        <span class="text-md font-500">{{'signin_signup.FORGOT' | translate}}</span>
        <p class="m-t" >{{'signin_signup.FORGOT_MSG' | translate}}.</p>
      </div>
      <form name="reset" class="text-md w-full">
        <div class="p" style="padding-bottom: 0">
          <md-input-container class="w-full m-b-0">
            <label for="testInput">{{'titles.EMAIL' | translate}}</label>
            <input type="text" id="testInput" ng-model="person.email" md-autofocus>
          </md-input-container>
        </div>
        <div class="text-center">
          <md-button type="submit" class="md-accent m-b" translate="titles.SEND"></md-button>
        </div>
      </form>
      <div class="text-center">
        <div>{{'signin_signup.HAVE_AN_ACCOUNT' | translate}}?
        <button class="md-btn" ui-sref="access.signin" translate="signin_signup.SIGNIN">Entrar</button>
        </div>
      </div>
    </div>
  </md-content>
</div>