<div ng-if="::(!hasVideo && app.hasImage(post) && post.imageLandscape)" preload-bg-image="{{::(app.getImageLink(post, 'large'))}}" class="pos-rlt display-table animated5x fadeIn w-full bg-cover md-whiteframe-z2 h-500 text-center animated fadeIn" ng-class="{'h-500': $mdMedia('gt-sm'),'h-400': !$mdMedia('gt-sm')}" style="margin-top: -16px;" style="background-position: {{::post.focusX + '% '}} {{::post.focusY + '%'}}" ng-style="{'background-position': post.focusX + '% ' + post.focusY + '%'}">
</div>

<div ng-class="{'container': !$mdMedia('xs')}" style="word-break: break-word;">
  <div class="row no-margin">
      <div class="col l12 pos-rlt" ng-class="{'m-t-n-80': app.hasImage(post) && post.imageLandscape}">
          <md-button ng-if="::(post.author.id == app.person.id && (!app.hasImage(post) || (app.hasImage(post) && post.imageLandscape)))" ng-href="{{'/settings/post?id=' + post.id}}" target="_blank" aria-label="menu" class="md-fab md-accent pos-abt right-0 top-0 m-r-md m-t"
          ng-style="{'margin-top': app.hasImage(post) && post.imageLandscape ? '-30px' : '16px'}">
            <i class="mdi2-pencil i-24"></i>
          </md-button>
          <div class="news-single z-depth-1 card">
              <!-- News Single Image -->
              <div alt="news Image" ng-if="::((app.hasImage(post) && !post.imageLandscape) || hasVideo)" preload-bg-image="{{app.getImageLink(post, 'large')}}" class="responsive-img h-400 bg-cover pos-rlt animated fadeIn" style="background-position: {{::post.focusX + '% '}} {{::post.focusY + '%'}}" ng-style="{'background-position': post.focusX + '% ' + post.focusY + '%'}">
                <embed-video width=800 height=400 iframe-id="video1" api="1" player_id="video1" ng-href="{{post.externalVideoUrl}}"></embed-video>
                <md-button ng-if="::(post.author.id == app.person.id)" ng-href="{{'/settings/post?id=' + post.id}}" target="_blank" aria-label="menu" class="md-fab md-accent pos-abt right-0 bottom-0 m-r" style="margin-bottom: -26px;">
                  <i class="mdi2-pencil i-24"></i>
                </md-button>
              </div>
              <!-- News Single Description -->
              <div class="col l8 offset-l2">
                  <!-- News Time -->
                  <!--<div class="news-time">The Village Guide  <i class="fa fa-clock-o"></i> 9 min ago </div>-->
                  <div ng-if="::(app.hasImage(post))" class="text-md p-t-sm opacity-09">
                    <i>{{::post.imageCredits}}</i>
                  </div>
                  <div class="m-v-md">
              			<a ui-sref="app.userprofile({username: post.author.username})">
			                <div class="inline m-r-sm user-avatar rounded w-56 bg-white inline pos-rlt text-center bg-cover" 
			                ng-style="app.getImagesPerson(post, post.author.id, 'small', 'PROFILE_PICTURE', true) " ng-class="{'md-primary-hue-1 background': !app.hasAuthorImage(post)}">
			                  <i ng-if="::(!app.hasAuthorImage(post))" class="mdi2-account i-32" style="top: 16%;position: relative;"></i>
			                </div>
			                <div class="inline v-t font-500 text-md p-t-sm">
			                	{{post.author.name}}
			                	<div class="text-base opacity-07">
			                			{{app.getLocalTime(post.date)}}
			                	</div>
			                </div>
			              </a>
                  </div>
                  <!-- News Title -->
                  <div ng-if="post.topper" class="font-500 text m-v-sm p-xs border-bg-color inline">
                    {{post.topper}}
                  </div>
                  <div class="news-title" ng-bind-html="post.title"></div>
                  <div ng-if="post.subheading" class="font-thin text-md-l m-v-sm">
                    {{post.subheading}}
                  </div>
                  <div class="fr-view text-md-l read-style" ng-bind-html="post.body"></div>

                  <div class="p-t-lg p-b-sm">

                    <md-divider class="m-b m-t"></md-divider>
                    <div class="text-left p-h-sm w-full z-index-2 m-b" >
                      <a target="_blank" ng-href="{{app.getCategoryLink(app.getStationById(post.stationId).stationSlug, category.name)}}" class="badge m-t-sm p-sm r-5x md-whiteframe-z1 m-r-xs text-md" ng-style="app.getCategoryBG(category)" ng-repeat="category in post.terms">
                        {{::category.name}}
                      </a>
                    </div>

                    <div class="text-left p-h-sm w-full z-index-2" ng-if="post.tags && post.tags.length > 0">
                       <i class="mdi2-tag-multiple i-24"></i> <a target="_blank" style="color: black" ui-sref="app.search({'stationId': post.stationId, 'tag': tag})" class="font-normal badge bg-light m-t-sm p-sm r-5x m-r-xs" ng-repeat="tag in post.tags">
                        {{::tag}}
                      </a>
                    </div>

                  </div>
                  <div class="news-comment-shares p-b-sm" ng-if="::(!$state.includes('app.preview'))">
                    <md-divider class="m-b m-t"></md-divider>
                    <div class="p-b-xs">
                        <md-button ng-click="app.showSharesPostDialog($event, post)" style="width: 36px; height: 36px; padding: 6px; opacity: 0.6; margin-right: 0" class="not-trans md-icon-button pull-right" ng-style="{'background-color': actionButtonColors}"><i class="mdi2-share i-20"></i></md-button>
                        
                        <md-button ng-click="app.toggleBookmark(post)" style="width: 36px; height: 36px; padding: 6px;" class="not-trans md-icon-button pull-right" ng-style="app.isBookmarked(post) ? null : {'background-color': actionButtonColors, 'opacity': '0.6'}" ng-class="{'md-accent-default background': app.isBookmarked(post)}"><i class="mdi2-bookmark i-16"></i></md-button>

                        <span class="v-m p-v-sm m-r-sm pull-right">{{post.recommendsCount}}</span>
                        <md-button ng-click="app.toggleRecommend(post)" style="width: 36px; height: 36px; padding: 6px; margin-left: 0;" class="not-trans md-icon-button pull-right" ng-style="app.isRecommended(post) ? null : {'background-color': actionButtonColors, 'opacity': '0.6'}" ng-class="{'md-accent-default background': app.isRecommended(post)}"><i class="mdi2-heart i-16"></i></md-button>

                        <div class="p-v-xs m-t-sm m-r-sm text-u-c text-md-l" ng-style="{'color': app.getMaterialColor('myPrimary', '500')}"> {{'titles.COMMENTS' | translate}} • {{post.commentsCount}}</div>

                        <!--<md-button style="width: 36px; height: 36px; padding: 6px; opacity: 0.6;" class="not-trans md-icon-button pull-right" ng-style="{'background-color': actionButtonColors}" ng-click="app.loadComments(post);"><i class="mdi2-comment i-16"></i></md-button>-->
                    </div>
                </div>
                    <!-- Comment Title -->
                    <!--<div class="comment-title">Comments</div>
                    <!~~ Comment Share it button ~~>
                    <div class="clearfix"></div>-->
                    
                  <div class="p-v inline w-full" ng-if="::(!$state.includes('app.preview'))">
                    <div class="pull-left user-avatar rounded w-50 bg-white pos-rlt background text-center bg-cover" ng-style="{'background-image': 'url(' + app.userImageSmall + ')', 'background-position': '50% 50%'}" ng-class="{'md-primary-hue-1': !app.userImageSmall}">
                      <i ng-if="!app.userImageSmall" style="line-height: 46px;" class="mdi2-account i-32"></i>
                    </div>

                    <!--<md-button style="width: 36px; height: 36px; padding: 6px;" class="md-button not-trans m-0 md-icon-button pull-right md-accent-default background" ng-click="post.postComment(post, post.newComment)" ng-disabled="!post.newComment">
                      <i class="mdi2-send i-16"></i>
                    </md-button>-->
                    <div  style="margin-left: 60px;"> 
                      <textarea id="comment-box" msd-elastic class="p-sm text-md" style="min-height: 50px;" rows="1" ng-keydown="reloadMasonry()" ng-model="post.newComment" style="resize: none;" placeholder="{{'titles.COMMENT' | translate }}"></textarea>
                    </div>
                    <div class="text-right">
                      <md-button id="send-comment" class="m-h-0 m-v md-button not-trans md-accent-default background" ng-click="post.postComment(post, post.newComment)" ng-disabled="!post.newComment">
                        {{'titles.SEND' | translate}}
                      </md-button>
                    </div>
                    <md-divider></md-divider>
                  </div>

                    <ul >
                      <li ng-repeat="comment in post.comments">
                        <div class="p-v pos-rlt">
                          <div class="display-t-c inline p-h-xs">
                            <div ng-style="app.getUserImage(comment.author, 'small', 'PROFILE_PICTURE', true)" style="height: 50px;" class="bg-cover img-responsive img-circle thumb md-whiteframe-z1 text-center" ng-class="{'md-primary-hue-1 background': !app.hasProfilePicture(comment.author)}">
                              <i ng-if="::(!app.hasProfilePicture(comment.author))" style="line-height: 46px;" class="mdi2-account i-32"></i>
                            </div>
                          </div>
                          <div class="p-l-sm display-t-c v-m inline w-full text-md">
                            <div class="p-h-sm text-right pull-right">
                              <span class="text-base" am-time-ago="comment.date"></span>
                            </div>
                            <div class="text-md font-bold">{{comment.author.name}}</div>
                            {{comment.body}}
                          </div>
                        </div>
                        <md-divider style="margin-left: 60px;" ng-if="!$last" md-inset></md-divider>
                      </li>
                    </ul>
                    
              </div>
          </div>
          <!-- related -->
          <div class="text-u-c p font-bold text-lg m-b-sm" ng-if="related && related.length > 0" ng-style="{'color': app.getMaterialColor('myPrimary', '500')}">
            {{'titles.RELATED' | translate}}
          </div>
          <div class="row no-margin" masonry class="m-b pos-rlt animated fadeIn m-t-lg" reload-on-show ng-show="related">
            <div ng-if="::(publication.id != post.id)" class="col-lg-4 col-sm-6 col-xs-12 masonry-brick" ng-repeat="publication in related">
              <!--  Vertical News Box -->
              <div class="news md-whiteframe-z1 vertical z-depth-1 card">
                <a ui-sref="app.userprofile({username: publication.authorUsername})">
                  <div class="inline m-sm user-avatar rounded w-32 bg-white inline pos-rlt text-center bg-cover" 
                  ng-style="app.getImagesPerson(publication, publication.authorId, 'small', 'PROFILE_PICTURE', true) " ng-class="{'md-primary-hue-1 background': !app.hasAuthorImage(publication)}">
                    <i ng-if="::(!app.hasAuthorImage(publication))" class="mdi2-account i-20" style="top: 16%;position: relative;"></i>
                  </div>
                  <div class="inline p-t v-t font-500">
                  {{publication.authorName}}
                  </div>
                </a>
                <!-- News Image -->
                <div class="news-image o-f-h">
                    <a ui-sref="app.station.read({'stationSlug': app.getStationById(publication.stationId).stationSlug, 'postSlug': publication.slug})" ng-if="::(app.hasImage(publication))">
                    <div  preload-bg-image="{{app.getImageLink(publication, 'medium')}}" class="zoom-hover h-full bg-cover" style="min-height: 230px;">
                    </div>
                    </a>
                </div>
                <div class="text-left p-h-sm w-full z-index-2" >
                  <a target="_blank" ng-href="{{app.getCategoryLink(app.getStationById(publication.stationId).stationSlug, category.name)}}" class="badge m-t-sm p-sm r-5x md-whiteframe-z1 m-r-xs" ng-style="app.getCategoryBG(category)" ng-repeat="category in publication.categories">
                    {{::category.name}}
                  </a>
                </div>
  

                <!-- News Description -->
                <div class="news-description p-t p-b-sm p-h">
                    <a ui-sref="app.station.read({'stationSlug': app.getStationById(publication.stationId).stationSlug, 'postSlug': publication.slug})">
                    <div class="news-title text-lg" style="min-height: 66px"><p clamp="2"> {{::publication.title}} </p></div>
                    <div class="news-content text-md"><p clamp="2">{{::publication.snippet}}</p></div>
                    </a>
                </div>
              </div>
            </div>
          </div>
          <!-- /related -->
      </div>
  </div>
</div>

<md-button aria-label="menu" class="md-fab md-accent pos-fix right-0 bottom-0 m-r-xxl m-b-lg animated hide" ng-class="{'fadeOut': !showScrollUp, 'fadeIn': showScrollUp}" ng-click="scrollToTop();">
  <!-- <md-tooltip md-direction="top">
    {{'titles.REMOVE_ALL' | translate}}
  </md-tooltip> -->
  <i class="mdi2-chevron-up i-32"></i>
</md-button>