<div ng-if="app.hasImage(post) && post.imageLandscape" preload-bg-image="{{app.getImageLink(post, 'large')}}" class="display-table animated5x fadeIn w-full bg-cover m-b-xl md-whiteframe-z2 h-400 text-center" style="margin-top: -32px; background-position: 50% 50%;">
</div>

<div class="container">
  <div class="row">
      <div class="col l12">
          <div class="news-single z-depth-1 card">
              <!-- News Single Image -->
              <div alt="news Image" ng-if="app.hasImage(post) && !post.imageLandscape" preload-bg-image="{{app.getImageLink(post, 'large')}}" class="responsive-img h-400 bg-cover"></div>
              <!-- News Single Description -->
              <div class="col l8 offset-l2">
                  <!-- News Time -->
                  <!--<div class="news-time">The Village Guide  <i class="fa fa-clock-o"></i> 9 min ago </div>-->
                  <div class="m-v-md">
              			<a ui-sref="app.userprofile({username: post.author.username})">
			                <div class="inline m-r-sm user-avatar rounded w-56 bg-white inline pos-rlt text-center bg-cover" 
			                ng-style="app.getImagesPerson(post, post.author.id, 'small', 'PROFILE_PICTURE', true) " ng-class="{'md-primary-hue-1 background': !app.hasAuthorImage(post)}">
			                  <i ng-if="!app.hasAuthorImage(post)" class="mdi2-account i-32" style="top: 16%;position: relative;"></i>
			                </div>
			                <div class="inline v-t font-500 text-md p-t-sm">
			                	{{post.author.name}}
			                	<div class="text-base opacity-07">
			                			{{app.getLocalTime(post.date)}}
			                	</div>
			                </div>
			              </a>
                  </div>
                  <!-- News Title -->
                  <div class="news-title" ng-bind-html="post.title"></div>
                  <div class="fr-view" ng-bind-html="post.body"></div>
              </div>
          </div>
      </div>
  </div>
</div>

<md-button aria-label="menu" class="md-fab md-accent pos-fix right-0 bottom-0 m-r-xxl m-b-lg animated" ng-class="{'fadeOut': !showScrollUp, 'fadeIn': showScrollUp}" ng-click="scrollToTop();">
  <!-- <md-tooltip md-direction="top">
    {{'titles.REMOVE_ALL' | translate}}
  </md-tooltip> -->
  <i class="mdi2-chevron-up i-32"></i>
</md-button>