  <div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">
        <span class="m-l inline">{{app.name}}</span>
      </div>
    </div>

    <div class="p panel card md-whiteframe-z1 text-color m text-center">
      <!-- <div class="m-b text-sm">
        Sign in with your {{app.name}} Account
      </div> -->
      <form name="form" ng-submit="signin()" >
        <md-input-container class="w-full">
          <label for="testInput">{{'titles.USERNAME' | translate}}</label>
          <input type="text" id="testInput" ng-model="person.username" md-autofocus>
        </md-input-container>
        <md-input-container class="w-full m-b-0">
          <label for="testInput">{{'titles.PASSWORD' | translate}}</label>
          <input type="password" id="testInput" ng-model="person.password" md-autofocus>
        </md-input-container>
        <md-button type="submit" class="m-0 md-accent p-h-md">Sign in</md-button>
      </form>
    </div>

    <div class="p-v-lg text-center">
      <div class="m-b"><button ui-sref="access.forgot-password" class="md-btn">Forgot password?</button></div>
      <div>Do not have an account? <button ui-sref="access.signup" class="md-btn">Create an account</button></div>
    </div>
  </div>
