<div class="display-table animated5x fadeIn w-full bg-cover m-b-xl md-whiteframe-z2 h-400 text-center" style="margin-top: -32px; background-position: 50% 50%;">
</div>

<md-button aria-label="menu" class="md-fab md-accent pos-fix right-0 bottom-0 m-r-xxl m-b-lg animated" ng-class="{'fadeOut': !showScrollUp, 'fadeIn': showScrollUp}" ng-click="scrollToTop();">
  <!-- <md-tooltip md-direction="top">
    {{'titles.REMOVE_ALL' | translate}}
  </md-tooltip> -->
  <i class="mdi2-chevron-up i-32"></i>
</md-button>