<div id="bookmarks" class="hbox hbox-auto-xs">
  <div class="wrapper-lg" infinite-scroll="paginate()" infinite-scroll-distance="1">
    <div class="header-custom text-center animated box-shadow">
      <p class="h2 font-bold">Minha Lista</p>
    </div>
    <div class="block-800 m-auto text-center m-b-lg">
    </div>
    <div class="m-b-lg p-l-xxl p-r-xxl block-800 m-auto m-t-sm m-t-xxl p-t-md pos-rlt">
      <!-- search -->
      <div class="bookmarks-navbar panel panel-card material-shadow-light m-b-md">
        <div class="p">
          <form ng-submit="submitSearch()">
            <input ng-model="app.bookmarksCtrl.query" class="text-lg b-none form-control w-full pull-left" placeholder="Busca..."/>
          </form>
          <!-- <div class="divider-v pull-left m-l m-r"></div> -->
        </div>
      </div>
      <!-- /search -->
    </div>
    <div class="block-800 m-auto">

      <div class="wrapper-xxl text-3x text-center" ng-class="{'hide': searchLoading || (app.bookmarksCtrl.bookmarks && app.bookmarksCtrl.bookmarks.length > 0 || !app.bookmarksCtrl.firstLoad)}">
        <i class="mdi mdi-bookmark-outline text-3x text-muted"></i>
        <p>lista vazia<i></i></p>
      </div>

      <ul class="b-none no-padding m-b-none ls-style-none">
        <li ng-repeat="bookmark in app.bookmarksCtrl.bookmarks">
          <div ng-class="{'b-t': !$first}"></div>
          <div class="m-b panel-card panel animated zoomIn clear p-t-sm padder-v padder-md post-list news-item">
            <!-- image -->
            <a ui-sref="app.read({'slug': bookmark.slug})" class="block-image m-l m-t" ng-if="bookmark.imageMediumId" >
              <div class="cell-wrap r r-2x" ng-style="getBackgroundImage(bookmark, 'medium')">
              </div>
            </a>
            <!-- /image -->
            <!-- /content -->
            <div class="m-t-sm" ng-class="{'content-block': bookmark.imageMediumId}">
              <span class="no-radius normal p-xxs topper text-md bg-custom-primary" ng-if="bookmark.topper">{{bookmark.topper}}</span>
              <a  class="h3 font-bold m-b m-t-sm block" ui-sref="app.read({'slug': bookmark.slug})">
                {{bookmark.title}}
              </a>
              <a ui-sref="app.read({'slug': bookmark.slug})">
                <div class="text-lg font-thin">
                  {{bookmark.snippet | characters:170}}
                </div>
              </a>
              <div class="m-t">
                <div class="display-t-c">
                  <a >
                    <div back-img="{{bookmark.authorSmallImageId}}" class="bg-cover bg-img bg-cover-round" title="bookmark.authorName"></div>
                  </a>
                </div>
                <div class="display-t-c p-l-sm v-middle">
                  <a ng-click="app.goToProfile($event, bookmark.authorUsername)" class="a-custom-primary link link link--accent link--darken">
                    {{bookmark.authorName}}
                  </a>
                  <br>
                  <span class="text-sm">
                    <span class="">
                      <span class="readingTime" data-livestamp="{{bookmark.date/1000}}">{{bookmark.date | fromNow}}</span>
                      <div class="inline text-muted p-l-lg text-u-c" ng-if="bookmark.authorId == app.initData.person.id">
                        <a ng-click="app.goToEditPost(bookmark.postId, $event)"
                        class="text-muted p-r underline-hover">editar</a>
                        <a class="text-muted underline-hover" ng-click="app.openDeletePost(bookmark.postId, $event);
                        ">remover</a>
                      </div>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <!-- /content -->
          </div>    
        </li>
      </ul>
      
    </div>
  </div>
</div>

<div ui-view></div>