<div id="bookmarks" class="hbox hbox-auto-xs">
  <div class="wrapper-lg" infinite-scroll="paginate()" infinite-scroll-distance="1">
    <div class="header-custom text-center animated fadeIn box-shadow">
      <p class="h2 font-bold">Minha Lista</p>
    </div>
    <div class="block-800 m-auto text-center m-b-lg">
    </div>
    <div class="m-b-lg p-l-xxl p-r-xxl block-800 m-auto m-t-sm m-t-xxl p-t-md pos-rlt">
      <!-- search -->
      <div class="bookmarks-navbar panel panel-card m-b-md">
        <div class="p">
          <form ng-submit="submitSearch()">
            <input ng-model="app.bookmarksCtrl.query" class="text-lg b-none form-control w-full pull-left" placeholder="Busca..."/>
          </form>
          <!-- <div class="divider-v pull-left m-l m-r"></div> -->
        </div>
      </div>
      <!-- /search -->
    </div>
    <div class="block-800 m-auto">
      
      <div class="panel panel-card animated zoomIn" angular-ripple ng-repeat="bookmark in app.bookmarksCtrl.bookmarks"
      ng-click="app.setNowReading(bookmark,app.bookmarksCtrl.bookmarks, null, 'app.bookmarks')" 
      ng-class="{'hide': !app.bookmarked(bookmark.postId)}">

        <div>
          <div class="notification-image pull-left bg-cover"
           ng-class="{'w-1': !bookmark.mediumId, 'm-r-lg': bookmark.mediumId}"
           ng-style="getBackgroundImage(bookmark, 'md')">
          </div>
          <div class="p">
            <div class="text-md font-bold">{{bookmark.title}}</div>
            <div>
              {{bookmark.snippet | characters: !bookmark.mediumId ? 240 : 140}}
            </div>
          </div>
        </div>

        <div class="author-div" ng-class="{'no-margin': !bookmark.mediumId}">
          <!-- <div class="notification-image pull-left m-r-lg"></div> -->
            <div class="display-t-c">
              <a >
                  <div style="{{bookmark.authorSmallImageId | imageLink | bgimg}}" class="bg-cover bg-img bg-cover-round" title="bookmark.authorName"></div>
              </a>
            </div>
            <div class="display-t-c p-l-sm v-middle">
              <a ng-click="app.goToProfile($event, bookmark.authorUsername)" class="a-custom-primary">
                {{bookmark.authorName}}
              </a>
              <br>
              <span class="text-sm">
                <span class="">
                  <span class="readingTime">{{bookmark.date | fromNow}}</span>
                </span>
              </span>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div ui-view></div>