  <!-- navbar -->
  <div data-ng-include=" 'tpl/blocks/header.html' " ng-class="{'hide': app.hideAside && !app.isMobile}" class="app-header navbar animated slideInLeft">
  </div>
  <!-- / navbar -->

  <!-- menu -->
  <div data-ng-include=" 'tpl/blocks/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}} animated slideInLeft" ng-class="{'hide': app.hideAside }">
  </div>
  <!-- / menu -->

  <!-- view -->
  <div class="app-content" ng-class="{'m-n': app.hideAside, 'h-full': app.hideFooter }">
    <div class="app-content-body fade-in" ng-class="{'h-full': app.hideFooter, 'no-header-space': $state.includes('app.search') || $state.includes('app.stations') || $state.includes('app.notifications') || $state.includes('app.bookmarks') || $state.includes('app.settings') || $state.includes('app.user') || $state.includes('app.tagspage') || $state.includes('app.publications') || $state.includes('app.userstats'), 'app-content-full': (!$state.includes('app.stations') && !$state.includes('app.search') && !$state.includes('app.user') && !$state.includes('app.bookmarks') && !$state.includes('app.tagspage') && !$state.includes('app.notifications') && !$state.includes('app.publications') ) && !$state.includes('app.userstats')}" ui-view>
    </div>
  </div>
  <!-- / view -->
  <!-- navbar -->
  <!-- <div class="app-footer navbar navbar-fixed-bottom bg-light lt b-t" ng-class="{'m-n': app.hideAside, 'hide': app.hideFooter}" ui-view="footer"></div> -->

  <div id="post-left-content" data-ng-include=" 'tpl/read-post-left-content.html' "></div>
  <div id="post-right-content" ng-class="{'night-mode': app.nightMode}" data-ng-include=" 'tpl/read-post-right-content.html' "></div>
<!-- /navbar -->

    <!-- profile-popover -->
  <div id="my-profile-popover" class="popover right animated" ng-class="{ show: app.profilepopover.open, hide: !app.profilepopover.open}" click-outside="app.profilepopover.open = false; console.log('teste')" outside-if-not="profile-popover-toggle">
    <div class="arrow"></div>
    <div class="popover-inner">
      <div class="popover-content">
        <div data-ng-include=" 'tpl/profile_popover.html' "></div>
      </div>
    </div>
  </div>
  <!-- /profile-popover -->
  

<script type="text/ng-template" id="signin_splash.html">
  <a class="splash-close-button" ng-click="cancelModal()">×</a>
  <div class="splash-content text-center" ng-cloak>
    <div class="row m-t-n-lg">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="text-color p-l-lg p-r-lg p-b-sm" ng-class="{'p-t-xxs': app.initData.network.loginImageLink}">
          <div class="text-center thumb-lg">
            <img class="img-responsive max-logo m-auto" ng-src="{{app.initData.network.loginImageLink}}" />
          </div>
          <div id="login-error">
            <span id="login-error" class="text-danger animated" ng-class="{'fadeIn': app.loginError, 'hide': !app.loginError}">
              Usuário ou senha inválidos
            </span>
          </div>
          <form name="form" ng-submit="app.signIn(username, password)" class="m-b-sm">
            <div class="md-form-group float-label p-b-sm">
              <input id="username-input" class="md-input" ng-model="username" required>
              <label>Usuário</label>
            </div>
            <div class="md-form-group float-label p-b-sm">
              <input type="password" class="md-input" ng-model="password" required>
              <label>Senha</label>
            </div>      
            <button md-ink-ripple type="submit" class="m-t btn-custom md-btn text-lg text-u-c btn-block ">Entrar</button>
            <div class="text-center m-t m-b text-md"><a ui-sref="access.forgotpwd" ng-click="app.cancelModal()">Esqueceu sua senha?</a></div>
          </form>
          <p class="text-center h5 p-b-sm">Não possui uma conta? <a ui-sref="access.signup" ng-click="app.cancelModal()">clique aqui para cadastrar-se.</a></p>
          <div class="text-md">
            <button ng-if="app.socialLogin()" ng-click="app.facebookSignIn()" md-ink-ripple type="submit" class="btn-blue md-btn text-u-c btn-block">
              <i class="mdi mdi-facebook m-r-sm"></i> Facebook
            </button>
            <button ng-if="app.socialLogin()" ng-click="app.twitterSignIn()" md-ink-ripple type="submit" class="m-t btn-info md-btn text-u-c btn-block">
              <i class="mdi mdi-twitter m-r-sm"></i> Twitter
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 text-base" ng-bind-html="app.initData.network.loginFooterMessage">
      </div>
    </div>
  </div>
    </script>

    <script type="text/ng-template" id="confirm_delete_post.html">
  <a class="splash-close-button" ng-click="app.cancelModal()">×</a>
  <div class="splash-content text-center" ng-cloak>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="p-lg text-color wrapper-lg">
          <div class="m-b-lg">
            <div class="text-3x">
              <i class="mdi mdi-delete text-muted"></i>
            </div>
            Tem certeza que deseja remover esta notícia?
          </div>
          <button ng-click="app.deletePost();" angular-ripple type="submit" class="btn-danger md-btn text-lg text-u-c btn-block ">
             Sim
          </button>
          <button ng-click="app.cancelModal()" angular-ripple type="submit" style="margin-top: 10px; border: 1px solid rgba(0, 0, 0, 0.2)!important" class="btn-muted md-btn text-lg text-u-c btn-block ">
             Não
          </button>
        </div>
      </div>
    </div>
  </div>
  </script>