<div id="user-stats" class="hbox" ng-cloak>
	<!-- <div class="header-custom animated box-shadow">
		<div class="block-1000 m-auto m-b-xxl text-center"> -->
		<!-- </div>
			</div> -->
	<div class="wrapper-lg">
		<div class="row row-sm text-center">
			<div class="col-sm-3">
				<div class="panel padder-v item">
	                <div class="font-thin h1">{{app.initData.stations.length}}</div>
	                <span class="text-muted">Estações</span>
	                <div class="bottom text-left">
	                  <i class="fa fa-caret-up text-warning m-l-sm"></i>
	                </div>
	              </div>
			</div>
			<div class="col-sm-3">
				<div class="panel padder-v item">
	                <div class="font-thin h1">{{userCount}}</div>
	                <span class="text-muted">Usuários totais</span>
	                <div class="bottom text-left">
	                  <i class="fa fa-caret-up text-warning m-l-sm"></i>
	                </div>
	              </div>
			</div>
			<div class="col-sm-3">
				<div class="panel padder-v item">
	                <div class="font-thin h1">{{usersAndroid}}</div>
	                <span class="text-muted">Usuários android</span>
	                <div class="bottom text-left">
	                  <i class="fa fa-caret-up text-warning m-l-sm"></i>
	                </div>
	              </div>
			</div>
			<div class="col-sm-3">
				<div class="panel padder-v item">
	                <div class="font-thin h1">{{usersIOS}}</div>
	                <span class="text-muted">iOS</span>
	                <div class="bottom text-left">
	                  <i class="fa fa-caret-up text-warning m-l-sm"></i>
	                </div>
	              </div>
			</div>
		</div>
		<div class="row row-sm text-center">
			<div class="col-sm-3">
				<div class="panel padder-v item">
	                <div class="font-thin h1">{{totalPostsRead}}</div>
	                <span class="text-muted">Leituras</span>
	                <div class="bottom text-left">
	                  <i class="fa fa-caret-up text-warning m-l-sm"></i>
	                </div>
	              </div>
			</div>
			<div class="col-sm-3">
				<div class="panel padder-v item">
	                <div class="font-thin h1">{{totalComments}}</div>
	                <span class="text-muted">Comentários</span>
	                <div class="bottom text-left">
	                  <i class="fa fa-caret-up text-warning m-l-sm"></i>
	                </div>
	              </div>
			</div>
			<div class="col-sm-3">
				<div class="panel padder-v item">
	                <div class="font-thin h1">{{totalRecommends}}</div>
	                <span class="text-muted">Recomendações</span>
	                <div class="bottom text-left">
	                  <i class="fa fa-caret-up text-warning m-l-sm"></i>
	                </div>
	              </div>
			</div>
			<div class="col-sm-3">
				<div class="panel padder-v item">
	                <div class="font-thin h1">{{totalPublished}}</div>
	                <span class="text-muted">Categorias</span>
	                <div class="bottom text-left">
	                  <i class="fa fa-caret-up text-warning m-l-sm"></i>
	                </div>
              	</div>
			</div>
		</div>
		<div class="row row-sm text-center">
			<div class="col-sm-3">
				<div class="panel padder-v item">
	                <div class="font-thin h1">{{totalPublished}}</div>
	                <span class="text-muted">Publicações</span>
	                <div class="bottom text-left">
	                  <i class="fa fa-caret-up text-warning m-l-sm"></i>
	                </div>
	              </div>
			</div>
			<div class="col-sm-3">
				<div class="panel padder-v item">
	                <div class="font-thin h1">{{totalDrafts}}</div>
	                <span class="text-muted">Agendados</span>
	                <div class="bottom text-left">
	                  <i class="fa fa-caret-up text-warning m-l-sm"></i>
	                </div>
	              </div>
			</div>
			<div class="col-sm-3">
				<div class="panel padder-v item">
	                <div class="font-thin h1">{{totalScheduled}}</div>
	                <span class="text-muted">Rascunhos</span>
	                <div class="bottom text-left">
	                  <i class="fa fa-caret-up text-warning m-l-sm"></i>
	                </div>
	              </div>
			</div>
			<div class="col-sm-3">
				<div class="panel padder-v item">
	                <div class="font-thin h1">{{userCount}}</div>
	                <span class="text-muted">Imagens</span>
	                <div class="bottom text-left">
	                  <i class="fa fa-caret-up text-warning m-l-sm"></i>
	                </div>
	              </div>
			</div>
		</div>
	</div>
	
	<div class="p-l-lg p-r-lg p-b-lg">
		<div class="block-1200 m-auto" >
			
			<div class="panel panel-card animated zoomIn o-h" style="min-height:200px">
				<div class="stats-wrapper pos-rlt">
					<div class="w-full">
<!-- 						<div class="text-center w-sm bg-dg pos-abt top-0 left-0 bottom-0 r-l" style="box-shadow: inset 2px 3px 6px -1px rgba(0,0,0,0.2)">

	<div class="padder-v item">
		<div class="h4 font-thin">Publicações</div>
	</div>
	<div class="divider"></div>
	<div class="padder-v item">
		<div class="font-bold h3">{{totalPublished}}</div>
		<span class="text-base">Publicados</span>
	</div>
	<div class="divider"></div>
	<div class="padder-v item ">
		<div class="font-bold h3">{{totalDrafts}}</div>
		<span class="text-base">Rascunhos</span>
	</div>
	<div class="divider"></div>
	<div class="padder-v item ">
		<div class="font-bold h3">{{totalScheduled}}</div>
		<span class="text-base">Agendados</span>
	</div>
	<div class="divider"></div>

</div> -->

						<!-- summary -->
						<div class="text-center w-sm bg-dg pos-abt top-0 right-0 bottom-0 r-r" style="box-shadow: inset 2px 3px 6px -1px rgba(0,0,0,0.2)">

							<div class="padder-v item">
								<div class="h4 font-thin wrapper-xs">Estatísticas</div>
							</div>
							<div class="divider"></div>
							<div class="padder-v item ">
								<div class="font-thin h3">{{totalPostsRead}}</div>
								<span class="text-base">Leituras</span>
							</div>
							<div class="divider"></div>
							<div class="padder-v item ">
								<div class="font-thin h3">{{totalComments}}</div>
								<span class="text-base">Comentários</span>
							</div>
							<div class="divider"></div>
							<div class="padder-v item ">
								<div class="font-thin h3">{{totalRecommends}}</div>
								<span class="text-base">Recommendações</span>
							</div>
							<div class="divider"></div>

						</div>
						<!-- /summary -->
						<!-- user stats chart -->
						<div class="" style="margin-right: 150px; min-height: 320px">
							<div class="wrapper-sm  b-b row text-md" ng-class="{'text-2x': selectedPost, 'text-muted font-thin': !selectedPost}">
								<div class="col-sm-11 clamp1">
									{{selectedPost ? selectedPost.title : 'selecione as publicações abaixo para ver as estatísticas'}}
								</div>
							</div>
							<div class="wrapper-sm m-b">
								<input ui-jq="daterangepicker" ng-value="datePickerValue" class="b-none input-lg w-md form-control hide-xs" ui-options="datePickerOptions" class="form-control w-md" />
							</div>
							<nvd3 options="chartOptions" data="chartData"></nvd3>
						</div>
						<!-- /user stats chart -->
					</div>
				</div>
			</div>
				<!-- div post list -->
			<div class="panel panel-card animated zoomIn o-h m-t">
				<div>
					<div class="m h4 b-b m-b-none font-bold">
						Publicações
						<div class="pull-right">
							<div class="display-t-c w-sm text-center">
								Leituras
							</div>
							<div class="display-t-c w-sm text-center">
								Recomendações
							</div>
							<div class="display-t-c w-sm text-center">
								Comentários
							</div>
						</div>
					</div>
					<ul class="b-none no-padding m-b-none ls-style-none">
						<li ng-repeat="publication in publications" class="p-l p-r">
							<div ng-class="{'b-t': !$first}"></div>
							<div class="clear p-t-sm p post-list news-item">
								<!-- image -->
								<div class="block-image m-r m-l-n pull-left" style="width: 100px; height: 100px" ng-if="publication.mediumId" ng-class="{'m-t': publication.topper}">
									<div class="cell-wrap r r-2x" ng-style="getBackgroundImage(publication, 'md')">
              		</div>
								</div>
								<!-- /image -->
								<!-- stats -->
								<div class="pull-right">
									<div class="display-t-c h2 p-t p-b w-sm text-center font-bold">
										{{publication.readsCount}}
									</div>
									<div class="display-t-c h2 p-t p-b w-sm text-center font-bold">
										{{publication.recommendsCount}}
									</div>
									<div class="display-t-c h2 p-t p-b w-sm text-center font-bold">
										{{publication.commentsCount}}
									</div>
								</div>
								<!-- /stats -->
								<!-- /content -->
								<div class="p-t display-t-c">
									<div class="m-b-sm v-middle display-t-c" ng-if="publication.topper">
										<span class="no-radius normal p-xxs topper text-md bg-custom-primary">{{publication.topper}}</span>
									</div>
									<a  class="h4 font-bold m-b block" href>
										{{publication.title}}
									</a>
									<div class="text-base font-thin" ng-bind-html="publication.snippet | characters: 100 | stripHtml">
									</div>
								</div>
								<!-- /content -->
							</div>    
						</li>
					</ul>
				</div>
				<!-- div post list -->
			</div>
			<!-- panel -->
		</div>
	</div>
</div>