    <div class="container w-xxl w-auto-xs" >
      <div class="m-b-lg p-t-lg">
        <div class="wrapper-sm text-center text-2x text-white text-shadow-grey font-bold">
          Dados da rede
        </div>
        <form name="form" class="form-validation">
          <div class="list-group list-group-sm">
            <div class="list-group-item">
              <input placeholder="Nome" class="form-control p-n text-lg no-border" ng-model="createNetworkObject.name" required>
            </div>
            <div class="list-group-item">
              <input placeholder="subdomínio" class="form-control p-n text-lg no-border" ng-model="createNetworkObject.subdomain" required>
            </div>
          </div>
          <div class="wrapper text-center text-xl text-white text-shadow-grey font-bold">
            Dados do administrador
          </div>
          <div class="text-danger wrapper text-center" ng-show="errorCreating">
            {{errorCreating}}
          </div>
          <div class="list-group list-group-sm">
            <div class="list-group-item">
              <input placeholder="Nome" class="form-control p-n text-lg no-border" ng-model="createNetworkObject.person.name" required>
            </div>
            <div class="list-group-item">
              <input placeholder="Usuário" class="form-control p-n text-lg no-border" ng-model="createNetworkObject.person.username" required>
            </div>
            <div class="list-group-item">
              <input type="email" placeholder="Email" class="form-control p-n text-lg no-border" ng-model="createNetworkObject.person.email" required>
            </div>
            <div class="list-group-item">
             <input type="password" placeholder="Senha" class="form-control p-n text-lg no-border" ng-model="createNetworkObject.person.password" required>
           </div>
         </div>
         <div class="text-xl">
          <button md-ink-ripple type="submit" class="md-btn md-raised btn-blue text-u-c btn-block " ng-click="app.createNetwork(createNetworkObject)">Criar</button>
        </div>
      </form>
    </div>
  </div>