<div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;">
  <div class="m-b-lg p-t-lg">
    <div class="wrapper text-center">
      <div class="text-center thumb-lg">
        <img class="img-responsive max-logo m-auto" ng-src="{{app.initData.network.loginImageLink}}" />
      </div>
    </div>
    <form name="form" class="form-validation">
      <span id="login-error" class="text-danger animated" ng-class="{'fadeIn': app.loginError, 'hide': !app.loginError}">
        Usuário ou senha inválidos
      </span>
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="text" placeholder="Usuário" class="form-control no-border" ng-model="user.email" required>
        </div>
        <div class="list-group-item">
           <input type="password" placeholder="Senha" class="form-control no-border" ng-model="user.password" required>
        </div>
      </div>
      <!-- <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>Log in</button> -->
      <div class="text-lg">
        <button md-ink-ripple type="submit" class="btn-custom md-btn text-u-c btn-block ">Entrar</button>
      </div>
      <div class="text-center m-t m-b"><a ui-sref="access.forgotpwd">Esqueceu sua senha?</a></div>
      <p class="text-center">Não possui uma conta? <a ui-sref="access.signup">clique aqui para cadastra-se.</a></p>
    </form>
  </div>
  <div class="text-center" ng-bind-html="app.initData.network.loginFooterMessage">
  </div>
</div>