<div class="container w-xl w-auto-xs" ng-init="app.settings.container = false;">
  <div class="m-b-lg p-t-lg">
    <div class="wrapper text-center">
      <div class="text-center thumb-lg">
        <img class="img-responsive max-logo m-auto" ng-src="{{app.initData.network.loginImageLink}}" />
      </div>
    </div>
    <strong>Digite seu email para reconfigurar sua senha</strong>
    <form class="m-t" name="reset" ng-init="isCollapsed=true" ng-submit="app.recoverPassword(email)">
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="email" placeholder="Email" ng-model="email" class="form-control no-border" required>
        </div>
      </div>

      <div class="text-lg">
        <button md-ink-ripple type="submit" class="btn-custom md-btn text-u-c btn-block "
        ng-disabled="reset.$invalid"  ng-click="isCollapsed = !isCollapsed" >Enviar</button>
      </div>
    </form>
    <div collapse="isCollapsed" class="m-t">
<!--       <span id="login-error" class="alert alert-danger" ng-class="{'fadeIn': !app.passwordRecovered, 'hide': app.passwordRecovered}">
        Endereço de e-mail não cadastrado
      </span>
 -->      <div class="alert alert-success" ng-class="{'fadeIn': app.passwordRecovered, 'hide': !app.passwordRecovered}">
        <p>Instruções de reconfiguração da senha foram enviadas a seu email. <a ui-sref="access.signin" class="btn btn-sm btn-success">Entrar</a></p>
      </div>
    </div>
  </div>
  <div class="text-center" ng-bind-html="app.initData.network.loginFooterMessage">
  </div>
</div>