<!-- hbox layout -->
<div id="post-editor"  class="hbox hbox-auto-xs">

  <!-- column -->
  <div class="col">
    <div class="vbox">
      <div class="row-row">
        <div class="cell" id="post-cell">
          <div class="cell-inner">
            <div id="post-editor" class="wrapper-md p-r-xxl p-l-xxl">
              <div id="post-media-box" class="post-block" ng-class="{'image-landscape': app.editingPost.imageLandscape && app.editingPost.uploadedImage.filelink}">
                <div id="post-media" class="pull-left text-2x" ng-class="{'hide': app.editingPost.showInputVideoUrl || app.editingPost.uploadedImage.filelink}">
                  <div id="image-button-wrapper" class="thumb-xs">
                    <span id="image-button" class="mdi mdi-file-image-box custom-btn" tooltip="Imagem" tooltip-append-to-body="true" tooltip-placement="top">
                      <input id="image-upload" type="file" nv-file-select="" uploader="uploader" name="contents" accept="image/*"/>
                    </span>
                  </div>
                  <div class="thumb-xs" id="video-button">
                    <a tooltip="Video" tooltip-placement="top" tooltip-append-to-body="true" href ng-click="toggleVideoUrl()" class="mdi mdi-youtube-play"></a>
                  </div>
                </div>
                <a id="video-remove-button" ng-click="removeVideo()" class="pos-abt h3 m-t-xs" href tooltip="Remover vídeo" tooltip-append-to-body="true" ng-hide="!app.editingPost.showInputVideoUrl">
                  <i class="mdi mdi-close-circle-outline"></i>
                </a>
                <input id="video-url-input" ng-model="videoUrl" class="form-control text-lg b-none" ng-class="{'hide': !app.editingPost.showInputVideoUrl}" placeholder="Digite o link para um vídeo do YouTube ou Vimeo."/>
                <div class="video-container" ng-show="app.editingPost.externalVideoUrl">
                  <embed-video enablejsapi="1" class="video" iframe-id="video1" api="1" player_id="video1" href="{{videoUrl}}" width=800 height=460 ></embed-video>
                </div>
                <!-- /media selection buttons -->
                <!-- <img src="img/c0.jpg" class="img-full"> -->
                <div id="image-config" class="text-lg" ng-if="app.editingPost.uploadedImage.filelink" ng-class="{'image-config-full': app.editingPost.imageLandscape}">
                  <div id="image-config-items">
                    <a ng-click="invertLandscapeSquare();"><i class="m-r-xs mdi" ng-class="{'mdi-crop-square': app.editingPost.imageLandscape, 'mdi-crop-landscape': !app.editingPost.imageLandscape}">
                    </i></a> | 
                    <a ng-click="clearImage()">
                      <i class="m-l-xs mdi mdi-close">
                      </i></a>
                    </div>
                  </div>
                  <!-- <img src="img/c0.jpg" class="img-full"> -->
                  <img id="image-box-holder" ng-src="{{app.editingPost.uploadedImage.filelink}}" class="img-full" ng-if="app.editingPost.uploadedImage.filelink">
                </div>
                <div class="post-block m-t-xs m-b-sm clear" ng-class="{'hide': !app.editingPost.uploadedImage.filelink}">
                  <input placeholder="Créditos da imagem" ng-model="app.editingPost.imageCaption" class="text-md font-italic b-none w-full back-none">
                </div>
                <div ng-show="app.editingPost.selectedStation.topper" id="post-topper-box" class="post-block m-t-md m-b clear" style="min-height:30px;">
                  <div style="color: transparent!important" ng-show="app.editingPost.topper"
                  class="post-block text-lg bg-custom-primary pos-abt p-xxs">{{app.editingPost.topper}}</div>
                  <textarea style="resize: none;" ng-model="app.editingPost.topper" type="text" ng-class="{'text-custom-primary': app.editingPost.topper}" 
                  class="pos-abt post-block text-lg p-xxs pull-left b-none w-full back-none" placeholder="Chapéu" tabindex="0" aria-invalid="false"></textarea>
                </div>
                <div id="post-title-box" class="post-block m-t">
                  <input ng-model="app.editingPost.title" type="text" class="b-none text-3x font-bold w-full back-none" placeholder="Título">
                </div>
                <div ng-show="app.editingPost.selectedStation.subheading" id="post-subheading-box" class="post-block">
                  <input ng-model="app.editingPost.subtitle" type="text" class="b-none text-2x font-thin w-full back-none" placeholder="Subtítulo">
                </div>
                <div id="external-toolbar-container" class="post-block bg-white">
                  <button id="toggle-toolbars" class="post-stroke-btn btn text-md btn m-t btn-icon btn-rounded btn-stroke btn-muted" tooltip="Mostrar/Esconder ferramentas" tooltip-append-to-body="true" ng-click="app.showPostToolbar = !app.showPostToolbar">
                    <i class="mdi-pencil mdi"></i>
                  </button>
                  <div id="external-toolbar" class="w-full m-b-n-xxs p-t p-b bg-white" ng-class="{'hide': !app.showPostToolbar}"></div>
                </div>
                <div class="bg-white-only post-block">
                  <div id="post-placeholder" class="post-content-font text-muted m-t-xxs" ng-class="{'hide': app.editingPost.body}">Texto...</div>
                  <textarea ng-model="app.editingPost.body" redactor="{initCallback: postCtrl.redactorInit}" redactor style="opacity: 0"></textarea>
                </div>
            <!-- <nav id="post-fab-button" template-url="ng-mfb-menu-md.tpl.html" 
                label="Publicar"
                 mfb-menu position="{{chosen.position}}" effect="{{chosen.effect}}"
                 active-icon="mdi mdi-send" resting-icon="mdi mdi-plus"
                 ng-mouseenter="hovered()" ng-mouseleave="hovered()"
                 toggling-method="{{chosen.method}}" menu-state="menuState" main-action="publishPost($event)"
                 ng-class="{'sidebar-opened': !app.hidePostOptions}">
            
              <button template-url="ng-mfb-button-md.tpl.html"
                 mfb-button icon="{{button.icon}}" ng-click="doAction(button.action($event))"
                 label="{{button.label}}" ng-repeat="button in buttons"></button>
               </nav> -->
               <!-- /options button -->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- /column -->

   <!-- column -->
   <div class="col w-xl" data-ng-include=" 'tpl/post_options.html' " ng-class="{'hide': app.hidePostOptions}">
   </div>
   <!-- /column -->
 </div>
 <!-- /hbox layout -->
 <!-- header navbar -->
 <div  class="new-post-navbar navbar" ng-class="{'box-shadow': postCtrl.showHeaderShadow || !app.hidePostOptions}">
  <ul class="nav navbar-nav m-l-xs">
    <li class="hidden-xs">
      <a ui-fullscreen></a>
    </li>
    <li>
      <div class="divider-v" ng-class="{'hide': !showTopOptions()}"></div>
    </li>
    <li>
      <a tooltip="Informações" ng-click="showPostDetails()" class="animated text-lg" ng-class="{'hide': !showTopOptions(), 'bounceIn': showTopOptions()}" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="700"
      href >
      <i class="mdi-information-outline mdi"></i>
    </a>
  </li>
  <li>
    <a id="scheduler-popover-toggle" class="animated text-lg text-muted" ng-class="{'hide': !showTopOptions(), 'bounceIn': showTopOptions()}" ng-click="schedulerPopoverOpen = !schedulerPopoverOpen"
    tooltip="Agendar" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="700"
    popover-trigger="manual" popover-template="scheduling_popover.html" popover-append-to-body="true" popover-placement="bottom">
    <i class="mdi-timer mdi"></i>
  </a>
</li>
<li>
  <a tooltip="Excluir" ng-click="app.openDeletePost(app.editingPost.id);" class="animated text-lg" ng-class="{'hide': !app.editingPost.id, 'bounceIn': app.editingPost.id}" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="700"
  href >
  <i class="mdi-delete mdi"></i>
</a>
</li>
</ul>
<ul class="nav navbar-nav navbar-right text-lg">

  <li style="padding: 6px 0px;">
    <button class="btn btn-default btn-sm text-md btn-rounded" ng-class="{'disabled': !showTopOptions()}" ng-click="publishPost()">
      {{checkState() == 1 ? 'Atualizar' : 'Publicar'}}
    </button>
  </li>
  <li style="padding: 6px 14px;">
    <div class="dropdown" dropdown>
      <button class="btn btn-default btn-sm text-md border-radius-50" dropdown-toggle><i class="mdi mdi-dots-vertical"></i></button>
      <ul class="dropdown-menu">
        <li ng-class="{'disabled': !showTopOptions()}"><a>Pré-visualização</a></li>
        <li ng-class="{'disabled': !showTopOptions()}"><a href ng-click="savePostAsDraft()">Salvar como rascunho</a></li>
        <li ng-if="checkState() && app.editingPost.editingExisting" class="divider"></li>
        <li ng-if="checkState() && app.editingPost.editingExisting">
          <a ng-click="loadPost(app.editingPost.id)">Descartar altarações</a>
        </li>
        <li class="divider"></li>
        <li><a ng-click="openHelp()" >Ajuda</a></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="divider-v"></div>
  </li>
  <li>
    <a tooltip="Opções de publicação" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="700"
    href class="text-lg" ng-click="app.hidePostOptions = !app.hidePostOptions" style="font-size: 19px;">
    <i class="mdi mdi-menu"></i>
  </a>
</li>
<li>
  <div class="divider-v"></div>
</li>
<li>
  <a tooltip="Voltar" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-popup-delay="700"
  href class="text-u-c text-center" style="font-size: 30px;" ng-click="closeNewPost()">×</a>
</li>
</ul>
</div>
<!-- /header navbar -->
<script type="text/ng-template" id="confirm_change_to_draft.html">
  <a class="splash-close-button" ng-click="app.cancelModal()">×</a>
  <div class="splash-content text-center" ng-cloak>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="p-lg text-color wrapper-lg">
          <div class="m-b-lg" ng-if="app.checkState() == 1">
            Esta notícia já foi publicada. Deseja salvar as alterações e transformá-la em rascunho?
          </div>
          <div class="m-b-lg" ng-if="app.checkState() == 3">
            Esta notícia está agendada para publicação. Tem certeza que deseja transformá-la em rascunho?
          </div>
          <button ng-click="updateToDraf();" angular-ripple type="submit" class="m-t-md btn-success btn text-lg text-u-c btn-block ">
           Sim
         </button>
         <button ng-click="app.cancelModal()" angular-ripple type="submit" style="margin-top: 10px;" class="btn-muted btn text-lg text-u-c btn-block ">
           Não
         </button>
       </div>
     </div>
   </div>
 </div>
</script>

<script type="text/ng-template" id="post_help.html">
  <a class="splash-close-button" ng-click="app.cancelModal()">×</a>
  <div class="splash-content text-center" ng-cloak>
    <div class="row">
      <img src="img/help.png">
    </div>
  </div>
</script>

<script type="text/ng-template" id="show_posts_details.html">
  <a class="splash-close-button" ng-click="app.cancelModal()">×</a>
  <div class="splash-content" ng-cloak>
    <div class="row">
      <div class="m-b"><code>{{baseUrl +'/'+ app.editingPost.slug}}</code></div>
      <div class="h3 font-bold">{{app.editingPost.title}}</div>
    </div>
  </div>
</script>

<!-- profile-popover -->
<div id="schedulerPopover" class="popover bottom animated" click-outside="schedulerPopoverOpen = false; console.log('teste')" outside-if-not="scheduler-popover-toggle" style="max-width: 295px" ng-class="{'show': schedulerPopoverOpen, 'hide': !schedulerPopoverOpen}">
  <div class="arrow"></div>
  <div class="popover-inner">
    <div class="popover-content">
      <a class="popover-close-button text-2x" ng-click="schedulerPopoverOpen = false"
      tooltip="Fechar" tooltip-append-to-body="true" tooltip-placement="top">×</a>
      <div style="display:inline-block;" class="m-t">
        <datepicker ng-model="dt" min-date="minDate" show-weeks="false" format-year="yy" class="datepicker"></datepicker>
      </div>
    </div>
  </div>
</div>
<!-- /profile-popover -->

