<div id="post-options-sidebar" class="vbox bg-lighter-grey in-left-shadow">
  <div class="wrapper b-b b-l" ng-show="(writableStations && writableStations.length > 1) || app.editingPost.id">
    <span>Estação: <strong>{{app.editingPost.id ? + app.editingPost.selectedStation.stationName : ''}}</strong></span>
    <select ng-class="{'hide': app.editingPost.id}" class="form-control m-t-xs" ng-model="app.editingPost.selectedStation" ng-change="selectStation(app.editingPost.selectedStation)"
    ng-options="station as station.stationName for station in writableStations track by station.stationId">
    </select>


    <dropdown-multiselect model="selectedStations"  options="writableStations"></dropdown-multiselect>
  </div>
  <div class="row-row">
    <div class="cell b-l">
      <div class="cell-inner">
        <div class="wrapper-sm term-tree">

          <div class="span5 article-tree animated fadeIn">
            <div ng-style="{'overflow': 'auto'}">
              <div class="tree well">
                <ul>
                  <node-tree ng-model="termTree"></node-tree>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- <div class="wrapper b-t b-l bg-light lter">
    tags
  </div> -->
  <div md-no-ink angular-ripple class="pointer wrapper b-t b-l bg-light lter text-center text-u-c font-bold" ng-click="showMoreOptions($event)">
    mais opções
  </div>
</div>
