<div class="profile-popover">
	<div class="text-center profile-cover pos-rlt abstract-bg bg-cover clear" back-img-cover="{{app.initData.person.coverMediumId}}">
		<div class="cover-abstract-mask" ng-if="!app.initData.person.coverMediumId">
		</div>
		<div back-img="{{app.initData.person.imageSmallId}}" class="bg-cover bg-img-md bg-cover-round popup-profile-img" title="{{app.initData.person.name}}"></div>
		<div class="text-u-c m-t-sm text-lg font-thin wrapper-xs text-center title-wrapper-bg text-white pos-abt bottom-0 w-full">
			{{app.initData.person.name}}
		</div>
	</div>
	<div class="wrapper">
		<div class="">
			<!-- <ul class="ls-style-none m-b-none p-l-none text-lg">
				<li class="inline"><a ng-click="app.signOut()"><i class="mdi mdi-account"></i> Perfil</a></li>
				<li class="inline m-l-sm m-r-sm"> | </li>
				<li class="inline"><a ng-click="app.signOut()"><i class="mdi mdi-logout"></i> Sair</a></li>
			</ul> -->
			<div class="text-md">
				<a class="m-b-xs" ng-class="{'block-item': app.writableStations && app.writableStations.length > 0}" ng-click="app.goToProfile($event, app.initData.person.username)"><i class="mdi mdi-account"></i> Perfil</a>

				<a class="m-b-xs" ng-class="{'block-item': app.writableStations && app.writableStations.length > 0, 'hide':
				!(app.writableStations && app.writableStations.length > 0)}" ng-click="app.goToUserPublications($event)"><i class="mdi mdi-newspaper"></i> Publicações</a>

				<a  ng-class="{'hide': !(app.writableStations && app.writableStations.length > 0)}"
				ng-click="app.goToUserStats($event, app.initData.person.username)"><i class="mdi mdi-chart-bar"></i> Estatísticas</a>

				<a ng-click="app.signOut()" class="pull-right m-r-xs"><i class="mdi mdi-logout "></i> Sair</a>
			</div>
		</div>
	</div>
</div>