<div class="hbox">
  <div class="col o-h">
    <div class="vbox">
      <div class="row-row">
      <div id="left-profile-cover" class="profile-cover pos-rlt abstract-bg bg-cover animated slideInRight" style="{{app.nowReadingAuthor.coverMediumId | imageLink | bgimg2}}">
        <div class="cover-abstract-mask" ng-if="!app.nowReadingAuthor.coverMediumId">
        </div>
        <div style="{{app.nowReadingAuthor.imageSmallId | imageLink | bgimg}}" class="bg-cover bg-img-md bg-cover-round popup-profile-img" title="{{app.nowReadingAuthor.authorName}}"></div>
        <!-- <div class="m-t-sm p-l text-md font-thin wrapper-xs title-wrapper-bg-gd pos-abt bottom-0 w-full">
          por <span class="m-xs font-normal">{{::app.nowReadingAuthor.authorName}}</spna>
        </div> -->
      </div>
        <div class="cell left-content-wrap">
          <div class="cell-inner">
            <div class="list-wrapper">
              <ul class="timeline m-t-md m-b-md">
                <li class="tl-item" ng-repeat="postView in app.readList" ng-if="app.readList && app.readList.length > 0">
                  <div class="tl-wrap" ng-class="{'active':app.nowReading.postId == postView.postId}" ng-click="app.setNowReading(postView, app.readList, app.nowReadingMeta.listMeta, app.nowReadingMeta.baseState)" class="pointer">
                    <div class="">
                      <small class="post-time w-md text-muted">{{::postView.date | fromNow}}</small>
                      <div>
                        <a>{{::postView.title}}</a>
                      </div>
                    </div>
                  </div>
                  <div class="divider"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>