<div id="post-media-box" ng-style="getBackgroundImage2(app.nowReading, 'lg')" class="post-block image-landscape m-t-60" ng-if="!app.isMobile && app.nowReading.imageLandscape && app.nowReading.imageLargeId">
</div>

<div id="post-content" ng-if="app.nowReading.postId || app.nowReading.id" class="container p-t-xxl" ng-class="{'m-t p-t-70': !app.nowReading.imageLargeId && !app.isMobile, 'p-t-xxl': app.isMobile}"> 
	<div class="row">
		<div class="img-responsive" ng-if="app.isMobile && app.nowReading.imageLargeId">
			<img ng-src="{{getImageLink(app.nowReading.imageLargeId)}}" class="img-full">
		</div>
		<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 p-b-xxl">
			<div class="cell-inner animated {{app.incomingPostDirection}}">
				<div id="post-media-box" class="post-block p-t-xxl m-b-lg" ng-if="!app.isMobile && (!app.nowReading.imageLandscape && app.nowReading.imageLargeId)">
					<img ng-src="{{getImageLink(app.nowReading.imageLargeId)}}" class="img-full">
				</div>

            <!-- <div class="post-image-cover" ng-style="getBackgroundImage2(app.nowReading, 'lg')" ng-if="app.nowReading.imageLandscape && app.nowReading.imageLargeId">
          </div> -->
          <div class="post-block m-t-lg" ng-show="app.nowReading.externalVideoUrl">
          	<embed-video enablejsapi="1" class="video" iframe-id="video1" api="1" player_id="video1" href="{{app.nowReading.externalVideoUrl}}" width=800 height=460 ></embed-video>
          </div>
          <div>
          	<div ng-if="app.nowReading.imageCaptionText" class="text-md font-italic m-t-xs m-b-sm post-block">
          		{{app.nowReading.imageCaptionText}}
          	</div>
          	<div ng-if="app.nowReading.topper" class="m-t-md post-block">
          		<span class="no-radius normal p-xxs topper text-lg bg-custom-primary ng-binding ng-scope">
          			{{app.nowReading.topper}}
          		</span>
          	</div>
          	<div id="post-title-box" class="post-block m-t">
          		<span type="text" class="b-none font-bold w-full back-none l-h-1" placeholder="Título" ng-class="{'text-3x':!app.isMobile, 'text-2x':app.isMobile}">
          			{{app.nowReading.title}}
          		</span>
          	</div>
          	<div ng-show="app.nowReading.subheading" class="post-block text-2x font-thin">
          		{{app.nowReading.subheading}}
          	</div>
          	<div class="post-block m-t">
          		<span class="text-md font-bold">Por <a ui-sref="app.user({username: app.nowReading.author.username})" class="m-l-xs">{{app.nowReading.author.name}}</a></span>
          		<span class="m-l-sm text-muted text-u-c">em {{ app.nowReading.date | fromNow2 }}</span>
      				<a ng-if="app.nowReadingAuthor.authorId == app.initData.person.id && !app.isMobile"
                ui-sref="app.post({'id': app.nowReading.postId})" class="text-center text-lg p-l-lg">
      					<i class="mdi mdi-pencil" ></i>
      				</a>
      				<a ng-if="app.nowReadingAuthor.authorId == app.initData.person.id && !app.isMobile"
              href class="text-center text-lg p-l" ng-click="app.openDeletePost(app.nowReading.postId);">
        				<i class="mdi mdi-delete"></i>
        			</a>
          	</div>
          	<div class="post-block m-t-lg m-b">
          		<div class="redactor-editor" style="min-height: 50px;" bind-html-unsafe="app.nowReading.body">
          		</div>
          		<div class="p-t p-b">
          			<a ng-repeat="term in app.nowReading.terms" ui-sref="app.tagspage({'tagName': term.name})"
          			class="btn btn-rounded btn-stroke btn-term text-md m-r-sm m-b">
          			{{term.name}}
          		</a>
          	</div>
          	<div class="p-b-xxl">
          		<ul class="read-actions" ng-class="{'nav navbar-nav navbar-left': !app.isMobile}">
          			<li ng-show="app.currentStation.allowSocialShare">
          				<a class="text-center text-xl" socialshare socialshare-provider="google+" socialshare-text="{{app.nowReading.title}}" socialshare-url="{{app.nowReading.slug}}">
          					<i class="mdi mdi-google-plus"></i>
          				</a>
          			</li>
          			<li ng-show="app.currentStation.allowSocialShare">
          				<a class="text-center text-xl" socialshare socialshare-provider="twitter" socialshare-text="{{app.nowReading.title}}" socialshare-url="{{app.nowReading.slug}}">
          					<i class="mdi mdi-twitter"></i>
          				</a>
          			</li>
          			<li ng-show="app.currentStation.allowSocialShare">
          				<a class="text-center text-xl" socialshare socialshare-provider="facebook" socialshare-text="{{app.nowReading.title}}" socialshare-url="{{app.nowReading.slug}}">
          					<i class="mdi mdi-facebook"></i>
          				</a>
          			</li>
          			<li ng-show="app.currentStation.allowSocialShare">
          				<div class="divider-v"></div>
          			</li>
          			<li><a href class="text-center text-xl" ng-click="app.recommend(app.nowReading.postId)">
          				<i class="mdi" ng-class="{'mdi-heart animated rubberBand': app.recommended(app.nowReading.postId), 'mdi-heart-outline': !app.recommended(app.nowReading.postId)}"></i>
          			</a>
          		</li>
          		<li><a href class="text-center text-xl" ng-click="app.bookmark(app.nowReading.postId)">
          			<i class="mdi" ng-class="{'mdi-bookmark animated rubberBand': app.bookmarked(app.nowReading.postId), 'mdi-bookmark-outline': !app.bookmarked(app.nowReading.postId)}"></i>
          		</a>
          	</li>
          </ul>
        </div>
      </div>
    </div>
    <div ng-if="app.nowReading.tags">
      <span class="text-lg pull-left m-t-sm p-r">Tags: </span>
      <md-chips ng-model="app.nowReading.tags" readonly="true">
      </md-chips>
    </div>
  </div>
  <!-- end of post -->

  <div class="b-t m-b m-t hide"></div>

  <div class="comments m-t hide">
  	<h5>Comentários</h5>
  	<div class="comment-tab">
  		<textarea placeholder="Add Your Content"></textarea>
  		<span>Enter to Submit</span>
  		<div class="log-user">
  			You're logged in as <a href="#">Cristian Cotlet</a>
  		</div>
  	</div>

  	<ul class="comments-info">
  		<li>
  			<img src="images/other/1.png" alt="">
  			<h4>Neil patel<span>King of a Big Deal</span></h4>
  			<p>Warren Buffett knows a thing or three about becoming wealthy and successful, and the Oracle of Omaha is not averse to handing out mostly excellent advice to others who'd like to follow in his footsteps.</p>
  			<div class="comment-meta">
  				<span><a href="#">UpVote</a></span>
  				<span><a href="#">Reply</a></span>
  			</div>
  		</li>

  		<li>
  			<img src="images/other/2.png" alt="">
  			<h4>Emily Alford<span>Content Writer for SearchEngineWatch</span></h4>
  			<p>It's not that taking risks is wrong--but do it only for the right reasons, Buffett explained to the University of Florida class. He added that he's seen both businesses and individuals take big risks out of greed when they should have held back.</p>
  			<p>"If you risk something that is important to you for something that is unimportant to you, it just doesn't make sense," he said. "I don't care if the odds you succeed are 99"</p>
  			<div class="comment-meta">
  				<span><a href="#">UpVote</a></span>
  				<span><a href="#">Reply</a></span>
  				<span>36 Upvotes</span>
  			</div>
  		</li>

  		<li class="sub-comment">
  			<img src="images/other/3.png" alt="">
  			<h4>Yuyu Chen<span><a href="#">www.themeforest.net</a></span></h4>
  			<p>Warren Buffett knows a thing or three about becoming wealthy and successful, and the Oracle of Omaha is not averse to handing out mostly excellent advice to others who'd like to follow in his footsteps.</p>
  			<div class="comment-meta">
  				<span><a href="#">UpVote</a></span>
  				<span><a href="#">Reply</a></span>
  			</div>
  		</li>

  		<li>
  			<img src="images/other/4.png" alt="">
  			<h4>Cory Collins<span>Marketing Specialist</span></h4>
  			<p>Warren Buffett knows a thing or three about becoming wealthy and successful, and the Oracle of Omaha is not averse to handing out mostly excellent advice to others who'd like to follow in his footsteps.</p>
  			<div class="comment-meta">
  				<span><a href="#">UpVote</a></span>
  				<span><a href="#">Reply</a></span>
  			</div>
  		</li>
  	</ul>
  	<a href="#" class="more-comments">3 More Comments</a>			
  </div>		
</div>
<!-- end of col -->
  
</div>
</div>

<div data-ng-include=" 'tpl/blocks/top_header.html' "></div>
</div>

<div ng-if="app.nowReading.postId || app.nowReading.id" data-ng-include=" 'tpl/blocks/bottom_footer.html' "></div> 