<div id="settings-sponsor-config">

<div class="header-custom text-center animated box-shadow">
</div>

<div class="wrapper-lg animated zoomIn">
    <div class="panel panel-card block-600 m-auto">
      <div class="panel-heading h4 wrapper-md">
        <a ui-sref="app.settings.sponsors">Patrocinadores</a> <i class="mdi mdi-chevron-right"></i> <span clamp="1">{{sponsor.name}}</span>
      </div>
      <div class="panel-body wrapper-md">
        <div class="row pos-rlt">
          <div class="w-xxl m-auto">
            <div class="md-form-group md-neutral-theme text-lg">
              <input class="md-input" ng-model="sponsor.name">
              <label>Nome do patrocinador</label>
            </div>
            <div class="md-form-group md-neutral-theme m-t text-md">
              <textarea class="md-input" ng-model="sponsor.keywords" rows="4"></textarea>
              <label>Detalhes</label>
            </div>
          </div>
          <div class="bg-cover text-center" src="img/img-stub.png">
            <div ng-if="logoImage.link" class="text-center w-xxl m-auto">
              <img class="img-responsive bg-header p-sm r-3x" style="display:block; margin:auto; max-height: 80px;" ng-src="{{logoImage.link}}">
              <div class="pull-right m-r-n-md m-t-n-xxl">
                <a ng-click="logoImage.link = null;"><i class="mdi mdi-close-circle-outline text-2x"></i></a>
              </div>
            </div>
            <button id="logo-upload" md-ink-ripple class="md-btn md-flat m-t m-b btn-fw" ng-if="!logoImage.link">
              <span class="text-lg v-middle">Adicionar Logotipo</span>
              <i class="fa-fw mdi mdi-file-image-box text-2x v-bottom"></i>
              <input id="image-upload" type="file" nv-file-select="" uploader="logo" name="contents" accept="image/*"/>
            </button>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="row">
        </div>
      </div>
      <div class="m-t text-right text-lg">
        <button ui-sref="app.settings.sponsors"
        md-ink-ripple class="md-btn md-flat m-b btn-fw m-r">Voltar</button>
        <button ng-if="!creating" ng-click="updateSponsor()"
        md-ink-ripple class="md-btn md-flat m-b btn-fw m-r">Salvar</button>

        <button ng-if="creating" ng-click="createSponsor()"
        md-ink-ripple class="md-btn md-flat m-b btn-fw m-r">Criar</button>
      </div>
    </div>
  </div>
</div>