<!-- hbox layout -->

<div id="settings" class="hbox hbox-auto-xs">
<!-- column -->
<div class="col w-md b-r bg-dg pos-rlt b-dark">
  <div class="vbox">
    <div class="wrapper text-center">
      <div class="font-thin h3">Configurações</div>
    </div>
    <div class="row-row">
      <div class="cell" id="settings-sidebar">
        <div class="cell-inner">
          <ul class="nav text-lg no-radius p-t-lg">
            <li ng-class="{'active': $state.current.name.indexOf('app.settings.station') > -1}">
            <a ng-if="app.networkAdmin || (app.adminStations && app.adminStations.length > 0)" ui-sref="app.settings.stations" class=" no-border no-radius">
              Estações
            </a>
            </li>
            <!-- <li ng-class="{'active': $state.includes('app.settings.publications')}">
            <a ng-if="app.networkAdmin || (app.adminStations && app.adminStations.length) > 0 || (app.editorStations && app.editorStations.length > 0)" ui-sref="app.settings.users" class="no-border no-radius">
              Notícias
            </a>
            </li>
            <li ng-class="{'active': $state.includes('app.settings.images')}">
            <a ng-if="app.networkAdmin || (app.adminStations && app.adminStations.length) > 0 || (app.editorStations && app.editorStations.length > 0)" ui-sref="app.settings.users" class="no-border no-radius">
              Galeria de Imagens
            </a>
            </li> -->
            <li ng-class="{'active': $state.includes('app.settings.users')}">
            <a ng-if="app.networkAdmin" ui-sref="app.settings.users" class="no-border no-radius">
              Usuários
            </a>
            </li>
            <li ng-class="{'active': $state.includes('app.settings.taxonomies')}">
            <a ng-if="app.networkAdmin" ui-sref="app.settings.taxonomies" class="no-border no-radius">
              Taxonomias
            </a>
            </li>
            <li ng-class="{'active': $state.includes('app.settings.colors')}">
            <a ng-if="app.networkAdmin" ui-sref="app.settings.colors" class="no-border no-radius">
              Personalização de Cores
            </a>
            </li>
            <li ng-class="{'active': $state.includes('app.settings.statistics')}">
            <a ng-if="app.networkAdmin" ui-sref="app.settings.statistics" class="no-border no-radius">
              Estatísticas da Rede
            </a>
            </li>
            <li ng-class="{'active': $state.includes('app.settings.network')}">
            <a ng-if="app.networkAdmin" ui-sref="app.settings.network" class="no-border no-radius">
              Configurações da Rede
            </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /column -->
<div class="col">
  <div class="vbox">
    <div class="row-row">
      <div class="cell" id="post-cell">
        <div class="cell-inner">
          <div class="fade-in" ui-view></div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
 