<div id="settings-stations-perspectives">

	<div class="header-custom text-center animated box-shadow">
	</div>

	<div class="wrapper-lg animated zoomIn m-b-xxl">
		<!-- start of user panel list -->
		<div class="panel panel-card block-1000 m-auto" ng-if="!(creating || editing)">
			<div class="panel-heading h4 wrapper-md">
				<span>Perspectivas da estação </span><strong>{{thisStation.name}}</strong>
			</div>
			<div class="panel-body p-n" style="min-height: 200px;">
				<div class="table-responsive o-visible text-md">
					<table class="table b-t b-light">
						<thead>
							<tr>
								<th style="width:10%;">Ativada</th>
								<th>Título</th>
								<th ng-if="app.networkAdmin" style="width:100px;"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="perspective in perspectives" ng-click="openEditPerspective(perspective)">
								<td>
									<label class="md-check">
										<input type="checkbox" ng-change="changeDefaultPerspective(perspective)" ng-model="perspective.selected" ng-click="app.stopPropagation($event)">
										<i class="blue"></i>
									</label>
								</td>
								<td>{{perspective.name}}</td>
								<td ng-if="app.networkAdmin">
									<div class="hidden-sm text-right" ng-click="app.stopPropagation($event)">
										<a href ng-click="openDeletePerspective(perspective)" class="border-radius-50 i-20 mdi-delete mdi">
										</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- /end of user panel list -->
	</div>
		<md-button ng-hide="creating || editing" ng-click="showAddPerspective($event)"
			id="station-fab" class="custom-fab-button md-fab text-2x animated zoomIn"
			tooltip="Nova perspectiva" tooltip-placement="left" tooltip-append-to-body="true" tooltip-popup-delay="700"
			aria-label="Nova perspectiva">
			<i class="mdi mdi-plus"></i>
		</md-button>

<script type="text/ng-template" id="add_perspective.html">
	<md-dialog aria-label="Adicionar notícia" id="perspective-editor-dialog">
  	<md-content>
  		<div class="wrapper">
  			<form role="form">
	            <div class="form-group">
	              <label class="text-md">Título</label>
	              <input type="email" class="form-control input-lg" placeholder="Título da perspectiva">
	            </div>
          	</form>
			<div class="pos-abt bottom-0 right-0 wrapper-sm text-md">
				<button ng-click="cancel()" md-ink-ripple class="md-btn md-flat btn-fw m-r">Criar</button>
				<button ng-click="cancel()" md-ink-ripple class="md-btn md-flat btn-fw">Fechar</button>
			<div>
		</div>
	  </md-content>
	</md-dialog>
</script>
</div>