<div id="settings-stations-users">

	<div class="header-custom text-center animated box-shadow">
	</div>

	<div class="wrapper-lg animated zoomIn">
		<div class="panel panel-card block-1000 m-auto">
			<div class="panel-heading h4 wrapper-md">
				<a ui-sref="app.settings.stations">Estações</a><i class="mdi mdi-chevron-right"></i><span>Usuários da estação <strong>{{stationName}}</strong></span>
			</div>
			<div class="panel-body wrapper-md p-l-none p-r-none" style="min-height: 200px;">
				<div class="row wrapper">
					<div class="col-sm-5 m-b-xs">
						<select class="input-sm form-control w-sm inline v-middle">
							<option value="0">Ações em grupo</option>
							<option value="1">Alterar selecionados</option>
							<option value="1">Remover selecionados</option>
						</select>
						<button class="btn btn-sm btn-default">Aplicar</button>                
					</div>
					<div class="col-sm-2">
					</div>
					<div class="col-sm-5">
						<!-- <div class="input-group"> -->
							<input type="text" class="input-md w-xxl form-control" placeholder="Busque por usuário, nome ou email">
							<!-- <span class="input-group-btn">
								<button class="btn btn-sm text-lg btn-default" type="button">Buscar</button>
							</span> -->
						<!-- </div> -->
					</div>
				</div>
				<div class="table-responsive o-visible text-md">
					<table class="table b-t b-light">
						<thead>
							<tr>
								<th style="width:20px;">
									<label class="md-check">
                    <input type="checkbox" ng-model="toggleSelectValue" ng-change="toggleAll()">
                    <i class="blue"></i>
                  </label>
								</th>
								<th>Nome</th>
								<th>Usuários</th>
								<th class="text-center">Permissão</th>
								<th class="text-center">Último login</th>
								<th style="width:30px;"></th>
							</tr>
						</thead>
						<tbody>
						<!-- <tr ng-repeat="role in personsRoles"> -->
							<tr ng-repeat="role in personsRoles" ng-click="loadUser(role.person)">
								<td>
									<label class="md-check">
                    <input type="checkbox" ng-model="role.selected">
                    <i class="blue"></i>
                  </label>
								</td>
								<td>{{role.person.name}}</td>
								<td>{{role.person.username}}</td>
								<td class="text-center">{{role.admin}}</td>
								<td class="text-center" ng-if="!role.person.lastLogin"> - </td>
								<td class="text-center" ng-if="role.person.lastLogin">{{role.person.lastLogin | fromNow3}}</td>
								<td>
									<div class="dropdown hidden-sm" dropdown ng-click="stopPropagation($event)">
							      <a href angular-ripple class="dropdown-toggle border-radius-50 i-24 mdi-dots-vertical mdi" dropdown-toggle>
							      </a>
							      <!-- dropdown -->
							      <ul class="dropdown-menu dropdown-menu-scale animated w-sm pull-right">
							        <li> <a href> Reconfigurar a senha </a> </li>
							        <!-- <li class="divider"></li> -->
							        <li> <a href> Remover </a> </li>
							      </ul>
							      <!-- / dropdown -->
							    </div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>