<!-- hbox layout -->
<div class="hbox hbox-auto-xs">

<!-- column -->
<div class="col w b-r bg-grey">
  <div class="vbox">
    <div class="wrapper text-center">
      <div class="font-thin h3">Configurações</div>
    </div>
    <div class="row-row">
      <div class="cell" id="settings-sidebar">
        <div class="cell-inner">
          <div class="list-group text-lg no-radius p-t-lg">
            <a ui-sref="app.settings.stations" class="list-group-item no-border no-radius bg-light"
            ng-class="{'active': $state.current.name.indexOf('app.settings.stations') > -1}">
              Estações
            </a>
            <a ui-sref="app.settings.users" class="list-group-item no-border no-radius bg-light"
            ng-class="{'active': $state.current.name.indexOf('app.settings.users') > -1}">
              Usuários
            </a>
            <a ui-sref="app.settings.taxonomies" class="list-group-item no-border no-radius bg-light"
            ng-class="{'active': $state.current.name.indexOf('app.settings.taxonomies') > -1}">
              Taxonomias
            </a>
            <a ui-sref="app.settings.general" class="list-group-item no-border no-radius bg-light"
            ng-class="{'active': $state.current.name.indexOf('app.settings.general') > -1}">
              Geral
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /column -->
<div class="col">
  <div class="vbox">
    <div class="row-row">
      <div class="cell" id="post-cell">
        <div class="cell-inner">
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- column -->
<!-- <div class="col w-lg" ng-class="{'hide': app.hidePostOptions}">
</div> -->
<!-- /column -->
</div>
<!-- /hbox layout -->
<!-- header navbar
<div class="new-post-navbar navbar" ng-class="{'box-shadow': postCtrl.showHeaderShadow || !app.hidePostOptions}">
  <ul class="nav navbar-nav m-l-xs">
    <li class="hidden-xs">
      <a ui-fullscreen></a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right text-lg">
    <li>
      <a ng-click="printPost();">print</a>
    </li>
    <li>
      <a href class="text-lg" >
        <i class="mdi-information-outline mdi"></i>
      </a>
    </li>
    <li>
      <div class="m-t" style="line-height:16px">•</div>
    </li>
    <li>
      <a href class="text-lg" >
        <i class="mdi-delete mdi"></i>
      </a>
    </li>
    <li>
      <div class="m-t" style="line-height:16px">•</div>
    </li>
    <li>
      <a href class="text-lg" ng-click="app.hidePostOptions = !app.hidePostOptions" style="font-size: 19px;">
        <i class="mdi mdi-menu"></i>
      </a>
    </li>
    <li>
      <div class="divider-v"></div>
    </li>
    <li>
      <a href class="text-u-c text-center" style="font-size: 30px;" ng-click="closeNewPost()">×</a>
    </li>
  </ul>
</div>
/header navbar
 -->