<div id="settings-network">

<div class="header-custom text-center animated box-shadow">
</div>

<div class="wrapper-lg animated zoomIn">
  <div class="panel panel-card block-800 m-auto pos-rlt material-shadow-light">
    <md-content class="md-neutral-theme">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Configurações de Rede">
          <md-content class="md-padding">
            <div class="w-xxl m-auto p-t p-b-xxl">
		          <md-input-container class="text-xl">
		            <label>Nome</label>
		            <input ng-model="network.name">
		          </md-input-container>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="m-l">
                	<p>
	                  <label class="md-switch">
	                    <input type="checkbox" ng-model="network.allowSignup"
	                    ng-true-value="true" ng-false-value="false">
	                    <i class="blue"></i>
	                    Permitir cadastro em estações públicas
	                  </label>
	                </p>
                  <p>
                    <label class="md-check p-l-lg">
                      <input type="checkbox" ng-disabled="!network.allowSignup" ng-model="network.addStationRolesOnSignup"
                      ng-true-value="true" ng-false-value="false">
                      <i class="blue"></i>
                      Ao cadastrar usuário, criar permissões de leitura em todas as estações
                    </label>
                  </p>
	                <p>
	                  <label class="md-switch">
	                    <input type="checkbox" ng-disabled="!network.allowSignup" ng-model="network.allowSocialLogin"
	                    ng-true-value="true" ng-false-value="false">
	                    <i class="blue"></i>
	                    Autenticação através de redes sociais em estações públicas
	                  </label>
	                </p>
	                <p>
	                  <label class="md-switch">
	                    <input type="checkbox" ng-model="network.allowSponsors"
	                    ng-true-value="true" ng-false-value="false">
	                    <i class="blue"></i>
	                    Ativar/Desativar patrocinadores
	                  </label>
	                </p>
                </div>
              </div>
              <div class="col-sm-6 p-l-lg">
                <div class="m-b text-muted text-md text-u-c">Orientação padrão</div>
                <div class="m-l">
                	<p>
	                  <label class="md-check">
	                    <input type="radio" name="a" ng-model="network.defaultOrientationMode" value="H">
	                    <i class="blue"></i>
	                    Horizontal
	                  </label>
	                </p>
	                <p>
	                  <label class="md-check">
	                    <input type="radio" name="a" ng-model="network.defaultOrientationMode" value="V">
	                    <i class="blue"></i>
	                    Vertical
	                  </label>
	                </p>
                </div>
                <div class="m-b m-t text-muted text-md text-u-c">Modo de leitura padrão</div>
                <div class="m-l">
	                <p>
	                  <label class="md-check">
	                    <input type="radio" name="b" ng-model="network.defaultReadMode" value="N">
	                    <i class="blue"></i>
	                    Modo noturno
	                  </label>
	                </p>
	                <p>
	                  <label class="md-check">
	                    <input type="radio" name="b" ng-model="network.defaultReadMode" value="D">
	                    <i class="blue"></i>
	                    Modo diurno
	                  </label>
	                </p>
                </div>
              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="DOMÍNIOS & ANALYTICS">
          <md-content class="md-padding">
            <div class="m-b text-muted text-md text-u-c">Domínio</div>
              <div class="row pos-rlt">
                <a class="text-lg pos-abt right-0 top-0 m-r-xl"><i class="mdi mdi-help"></i></a>
                <div class="w-xxl m-auto">
                  <div class="md-form-group md-neutral-theme">
                    <input class="md-input" ng-model="network.subdomain" disabled>
                    <label>Subdomínio</label>
                  </div>
                </div>
                <div class="w-xxl m-auto">
                  <div class="md-form-group md-neutral-theme">
                    <input class="md-input" ng-model="network.domain">
                    <label>Domínio personalizado</label>
                  </div>
                </div>
              </div>
              <!-- /domain settings -->
              <!-- analytics settings -->
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="m-b text-muted text-md text-u-c">Analytics</div>
              <div class="row pos-rlt">
                <a class="text-lg pos-abt right-0 top-0 m-r-xl"><i class="mdi mdi-help"></i></a>
                <div class="w-xxl m-auto">
                  <div class="md-form-group md-neutral-theme">
                    <input class="md-input" ng-model="network.trackingId">
                    <label>Google Analytics - TRACKING ID</label>
                  </div>
                </div>
                <div class="w-xxl m-auto">
                  <div class="md-form-group md-neutral-theme">
                    <input class="md-input" ng-model="network.flurryKey">
                    <label>Flurry - API KEY</label>
                  </div>
                </div>
              </div>
          </md-content>
        </md-tab>
        <md-tab label="LOGOTIPOS">
          <md-content class="md-padding">
            <!-- /color preferences -->
            <!-- logo section -->
            <ul class="list-group list-group-lg no-bg auto">
              <li class="list-group-item clearfix b-none">
                <div class="display-t-c thumb-xl">
                  <img ng-src="{{loginImage.link ? loginImage.link : 'img/img-stub.png'}}" class="b b-a wrapper-xxs bg-white img-responsive" alt="...">
                </div>
                <div class="clear display-t-c v-middle p-l">
                  <span class="font-bold">Login</span>
                  <small class="text-muted clear text-ellipsis">
                  Logotipo da rede. Exibido na tela de login no Android, iOS e Web.</small>
                  <input id="image-upload" type="file" nv-file-select="" uploader="login" name="contents" accept="image/*"/>
                </div>
              </li>
              <li class="list-group-item clearfix b-none">
                <div class="display-t-c thumb-xl">
                  <img ng-src="{{splashImage.link ? splashImage.link : 'img/img-stub.png'}}" class="b b-a wrapper-xxs bg-white img-responsive" alt="...">
                </div>
                <div class="clear display-t-c v-middle p-l">
                  <span class="font-bold">Splash</span> <span>(dispositivos móveis apenas)</span>
                  <small class="text-muted clear text-ellipsis">
                  Logotipo da rede. Exibido na tela inicial dos aplicativos Android e iOS.</small>
                  <input id="image-upload" type="file" nv-file-select="" uploader="splash" name="contents" accept="image/*"/>
                </div>
              </li>
              <li class="list-group-item clearfix b-none">
                <div class="display-t-c thumb">
                  <img ng-src="{{faviconImage.link ? faviconImage.link : 'img/img-stub.png'}}" class="b b-a wrapper-xxs bg-white img-responsive" alt="...">
                </div>
                <div class="clear display-t-c v-middle p-l">
                  <span class="font-bold">Favicon</span> <span>(cliente web apenas)</span>
                  <small class="text-muted clear text-ellipsis">Favicon da home page. Exibido na aba do browser.</small>
                  <input id="image-upload" class="text-xs" type="file" nv-file-select="" uploader="favicon" name="contents" accept="image/*"/>
                </div>
              </li>
            </ul>
      <!-- /logo section -->
          </md-content>
        </md-tab>
        <md-tab label="RODAPÉS">
	        <md-content class="md-padding">
	        		<div class="m-b text-muted text-md text-u-c">RODAPÉ DA PÁGINA</div>
		        		<div class="p-r-xxl p-l-xxl">
		        			<div class="p-r-xxl p-l-xxl">
			              <md-input-container class="">
			                <label>Link da página/perfil do Facebook</label>
			                <input ng-model="network.facebookLink">
			              </md-input-container>
			              <md-input-container class="">
			                <label>Link do perfil do Twitter</label>
			                <input ng-model="network.twitterLink">
			              </md-input-container>
			              <md-input-container class="">
			                <label>Link do canal do Youtube</label>
			                <input ng-model="network.youtubeLink">
			              </md-input-container>
			              <md-input-container class="">
			                <label>Link da página/perfil do Google+</label>
			                <input ng-model="network.googlePlusLink">
			              </md-input-container>
		              </div>
			          </div>
	            <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="m-b text-muted text-md text-u-c">Rodapé da tela de login</div>
	              <div class="p-r-xxl p-l-xxl">
			        			<div class="p-r-xxl p-l-xxl">
			              <div class="m-t-lg md-form-group md-neutral-theme m-t text-md">
				              <textarea class="md-input font-code" ng-model="network.loginFooterMessage" rows="3"></textarea>
				              <label></label>
				              <span class="md-input-msg right">(opcional) Exibido na parte inferior da tela de login. Use <code>tags HTML</code> para inserir links</span>
				            </div>
			            </div>
		            </div>
	        </md-content>
        </md-tab>
        <md-tab label="APARÊNCIA & PERSONALIZAÇÃO">
	        <md-content class="md-padding">
          	<div class="m-t-xxl text-muted text-md text-u-c">Personalização</div>
        		<md-input-container class="">
              <label>Aba de estações</label>
              <input ng-model="network.stationMenuName">
              <small class="text-muted clear text-ellipsis pos-abt bottom-0">
                  Substituir a palavra "estação" do menu lateral.</small>
            </md-input-container>
            <md-input-container class="">
              <label>Aba de início</label>
              <input ng-model="network.homeTabName">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Texto de convite por email</label>
              <textarea ng-model="network.invitationMessage" columns="1" rows="5"></textarea>
              <small class="text-muted clear text-ellipsis pos-abt bottom-0">
                  Mensagem enviada em emails de convites a usuários</small>
            </md-input-container>
	        </md-content>
	      </md-tab>
      </md-tabs>
    </md-content>
    <!-- <div class="pos-abt top-0 right-0 text-lg m-t">
      <button ng-click="saveChanges()"
      md-ink-ripple class="md-btn md-flat m-b btn-fw m-r">Salvar</button>
    </div> -->
    <!-- <div class="m-t text-right text-lg">
      <button ng-click="saveChanges()"
      md-ink-ripple class="md-btn md-flat m-b btn-fw m-r">Salvar</button>
    </div> -->
  </div>
</div>
    <md-button ng-click="saveChanges()"
      id="station-fab" class="custom-fab-button md-fab text-2x animated zoomIn" 
      ng-if="app.networkAdmin && app.isLogged"
      tooltip="Salvar" tooltip-placement="left" tooltip-append-to-body="true" tooltip-popup-delay="700"
      aria-label="Salvar">
      <i class="mdi mdi-content-save"></i>
    </md-button>
</div>