<div id="settings-sponsors">
  <div class="wrapper-lg m-b-xxl">
    <div class="row">
      <div class="col-sm-4" ng-repeat="sponsor in sponsors">
        <div class="panel panel-card animated zoomIn">
          <div class="wrapper">
            <div class="h4 m-b" clamp="1">{{sponsor.name}}</div>
            <div class="pull-in m-b-none b-r-n b-l-n">
              <div class="list-group no-radius alt list-group-no-border">
                <a class="list-group-item text-md" ui-sref="app.settings.sponsorconfig({'sponsorId': sponsor.id})">
                  <i class="mdi mdi-settings fa-fw text-muted"></i> 
                  Configurações
                </a>
                <a class="list-group-item text-md" href>
                  <i class="mdi mdi-account fa-fw text-muted"></i> 
                  Publicações
                </a>
                <a class="list-group-item text-md" href>
                  <i class="mdi mdi-chart-bar fa-fw text-muted"></i> 
                  Estatísticas
                </a>
              </div>
            </div>
            <div class="m-t text-md text-right">
              <button ng-click="openDeleteStation(sponsor.id)"
              md-ink-ripple class="md-btn md-flat btn-fw">Excluir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="(!sponsors || sponsors.length == 0) && sponsorsLoaded" class="wrapper-xxl text-4x text-center" ng-class="{'hide': app.notificationsCtrl.notifications && app.notificationsCtrl.notifications.length > 0 || app.notificationsCtrl.firstLoad}">
      <i class="mdi mdi-bullhorn text-3x text-muted"></i>
      <p class="h1">Adicione Patrocinadores<i></i></p>
    </div>
  </div>
  <md-button 
  id="sponsor-fab" class="custom-fab-button md-fab text-2x animated zoomIn" 
  ui-sref="app.settings.sponsorconfig({'newSponsor': true})" ng-show="app.writableStations && app.writableStations.length > 0 && app.isLogged"
  tooltip="Novo patrocinador" tooltip-placement="left" tooltip-append-to-body="true" tooltip-popup-delay="700"
  aria-label="Nova estação">
  <i class="mdi mdi-plus"></i>
</md-button>
</div>

<script type="text/ng-template" id="confirm_delete_sponsor.html">
  <a class="splash-close-button" ng-click="app.cancelModal()">×</a>
  <div class="splash-content text-center" ng-cloak>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="p-lg text-color wrapper-lg">
          <div class="m-b-lg">
            Tem certeza que deseja excluir esta estação e todo o seu conteúdo? Esta operação não poderá ser desfeita!
          </div>
          <button ng-click="app.deleteStation();" angular-ripple type="submit" class="m-t-md btn-danger btn text-lg text-u-c btn-block ">
           Sim
         </button>
         <button ng-click="app.cancelModal()" angular-ripple type="submit" style="margin-top: 10px;" class="btn-muted btn text-lg text-u-c btn-block ">
           Não
         </button>
       </div>
     </div>
   </div>
 </div>
</script>