<div id="settings-network">
  <!--   <div class="wrapper-xl">
  <div class="panel panel-card block-600 m-auto">
    <div class="panel-heading h3">
      Configurações Gerais
    </div>
    <div class="panel-body">
      <div class="wrapper-xl">
        <p>
          <button class="btn btn-default btn-lg btn-block">Personalização da Rede</button>
        </p>
        <p>
          <button class="btn btn-default btn-lg btn-block">Personalização de Cores</button>
        </p>
      </div>
    </div>
  </div>
</div> -->

<div class="header-custom text-center animated box-shadow">
</div>

<div class="wrapper-lg animated zoomIn">
    <div class="panel panel-card block-600 m-auto">
      <div class="panel-heading h3 wrapper-md">
        Configurações de Rede
      </div>
      <div class="panel-body wrapper-md">
        <div class="row">
          <div class="col-sm-6">
            <p>
              <label class="md-check">
                <input type="checkbox">
                <i class="indigo"></i>
                Checkbox
              </label>
            </p>
            <p>
              <label class="md-check">
                <input type="checkbox" checked>
                <i class="blue"></i>
                Checkbox: checked
              </label>
            </p>
            <p>
              <label class="md-check">
                <input type="checkbox" disabled>
                <i class="indigo"></i>
                Checkbox: disabled
              </label>
            </p>
            <p>
              <label class="md-check">
                <input type="checkbox" checked disabled>
                <i class="indigo"></i>
                Checkbox: checked and disabled
              </label>
            </p>
            <p>
              <label class="md-check">
                <input type="checkbox">
                <i class="pink"></i>
                Checkbox: pink
              </label>
            </p>
            <p>
              <label class="md-check">
                <input type="checkbox" checked>
                <i class="green"></i>
                Checkbox: green
              </label>
            </p>
            <p>
              <label class="md-check">
                <input type="checkbox" checked>
                <i class="teal no-icon"></i>
                Checkbox: no icon
              </label>
            </p>
          </div>
          <div class="col-sm-6">
            <p>
              <label class="md-switch">
                <input type="checkbox">
                <i class="indigo"></i>
                Switch
              </label>
            </p>
            <p>
              <label class="md-switch">
                <input type="checkbox" checked>
                <i class="blue"></i>
                Switch: checked
              </label>
            </p>
            <p>
              <label class="md-switch">
                <input type="checkbox" disabled>
                <i class="blue"></i>
                Switch: disabled
              </label>
            </p>
            <p>
              <label class="md-switch">
                <input type="checkbox" checked disabled>
                <i class="blue"></i>
                Switch: checked and disabled
              </label>
            </p>
            <p>
              <label class="md-switch">
                <input type="checkbox">
                <i class="pink"></i>
                Switch: pink
              </label>
            </p>
            <p>
              <label class="md-switch">
                <input type="radio" name='switch' checked>
                <i class="green"></i>
                Switch: radio 1
              </label>
            </p>
            <p>
              <label class="md-switch">
                <input type="radio" name='switch'>
                <i class="orange"></i>
                Switch: radio 2
              </label>
            </p>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="row pos-rlt">
          <a class="text-lg pos-abt right-0 top-0 m-r-xxl"><i class="mdi mdi-help"></i></a>
          <div class="w-xxl m-auto">
            <div class="md-form-group md-neutral-theme">
              <input class="md-input" ng-model="network.subdomain">
              <label>Subdomínio</label>
            </div>
          </div>
          <div class="w-xxl m-auto">
            <div class="md-form-group md-neutral-theme">
              <input class="md-input" ng-model="network.domain">
              <label>Domínio personalizado</label>
            </div>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="row pos-rlt">
          <a class="text-lg pos-abt right-0 top-0 m-r-xxl"><i class="mdi mdi-help"></i></a>
          <div class="w-xxl m-auto">
            <div class="md-form-group md-neutral-theme">
              <input class="md-input" ng-model="network.trackingId">
              <label>Google Analytics - TRACKING ID</label>
            </div>
          </div>
          <div class="w-xxl m-auto">
            <div class="md-form-group md-neutral-theme">
              <input class="md-input" ng-model="network.flurryKey">
              <label>Flurry - API KEY</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>