<div id="setting-perspective-editor">
	<div class="wrapper-md">
		<div class="color-selector-container">
			<div class="content m-t-md">
				<div class="mockup-browser animated fadeIn" ng-class="{'mobile': isMobile}">

					<div class="text-sm text-u-c pos-abt m-t-n-lg p-t-xs text-dg w-full text-center">
						{{isMobile ? (isVertical ? 'ambiente móvel - modo vertical' : 'ambiente móvel - modo horizontal') : 'ambiente desktop'}}
					</div>

					<header class="mockup-header bg-light paint-area" style="padding:0">
						<div class="mockup-content mockup-grid mockup-grid--spread pull-right">
							<ul class="nav navbar-nav">
								<li class="hidden-sm">
									<a href class="i-24 mdi-view-dashboard mdi" style="padding:10px;" ng-class="{'opacity-0': !isMobile}">
									</a>
								</li>
							</ul>
						</div>
					</header>

					<section class="mockup-section bg-white"> 
						<div class="mockup-content mockup-grid">
							<div class="text-center wrapper-sm w-full" ng-if="!termPerspectiveView.featuredRow.cells || termPerspectiveView.featuredRow.cells.length == 0">
								<a ng-click="showAddFeaturedPost($event)" href="" class="text-xl"><span class="text-md font-thin">destaques</span> <i class="mdi mdi-plus-circle-outline v-middle"></i></a>
							</div>
							<div ng-if="termPerspectiveView.featuredRow.cells.length > 0" class="p-e-carousel">
								<div class="pos-abt right-0 wrapper-xs z-i-2 text-white" ng-class="{'p-r-xxl m-r-xxl': !isMobile}">
									<a ng-click="app.stopPropagation($event)" popover-class="carousel-popover" popover-placement="bottom" popover-class class="text-shadow-dark perspective-editor-options-button" popover="" popover-template=" 'carousel-template.html' " type="button" popover-append-to-body="true">
										<i class="i-24 mdi-dots-vertical mdi"></i>
									</a>
								</div>
								<ul rn-carousel="" rn-carousel-index="carouselIndex2" rn-carousel-auto-slide="" rn-carousel-pause-on-hover="" rn-carousel-buffered="" class="carousel2 ng-scope p-e-carousel">
									<li ng-repeat="cell in termPerspectiveView.featuredRow.cells">
										<div ng-if="cell.postView.imageLargeId" ng-style="getBackgroundImage(cell.postView, 'large')"
												class="cell-wrap bg-cover">
										</div>
									</li>
								</ul>
									<div class="text-center pos-rlt m-t-n-lg text-md z-i-2 perspective-editor-options-button ">
										<div rn-carousel-indicators="" ng-if="termPerspectiveView.featuredRow.cells.length > 1" slides="termPerspectiveView.featuredRow.cells" rn-carousel-index="carouselIndex2" class="">
										</div>
									</div>
							</div>

							<div ng-if="isMobile" ng-repeat="ordinaryRow in termPerspectiveView.ordinaryRows" class="ordinary-row">
							
								<div data-term-id="{{::ordinaryRow.termId}}" class="wrap info-flow-wrap" 
								scroll="horizontalPaginate(ordinaryRow)" active="horizontalCallback()" sly-scroll style="margin:0" >
								<div class="h4 wrapper-xs text-u-c">
									{{::ordinaryRow.termName}}
								</div>
								<div class="frame info-flow" style="overflow: hidden; height:130px">
									<ul class="sly-clearfix info-flow-list" data-term-id="{{::ordinaryRow.termId}}">
										<li class="cell" style="width:130px" ng-repeat="cell in ordinaryRow.cells">
							
											<div style="height:130px" class="news-item animated fadeIn" data-post-id="{{::cell.postView.postId}}" ng-class="{'bg-custom-primary-no-image': !cell.postView.imageMediumId}" ng-click="app.setHorizontalCursor(cell.postView, app.cellsToPostViews(ordinaryRow.cells))">

												<div class="pos-abt right-0 z-i-4 text-white" ng-class="{'p-r-xxl m-r-xxl': !isMobile}">
													<!-- <a ng-click="app.stopPropagation($event)" popover-class="carousel-popover" popover-placement="bottom" popover-class class="text-shadow-dark perspective-editor-options-button" popover="" popover-template=" 'carousel-template.html' " type="button" popover-append-to-body="true">
														<i class="i-20 mdi-dots-vertical mdi"></i>
													</a> -->
													<a ng-click="app.stopPropagation($event)" class="text-shadow-dark perspective-editor-options-button">
														<i class="i-20 mdi-dots-vertical mdi"></i>
													</a>
												</div>
							
												<div class="wrapper-xs text-sm font-thin pos-abt bottom-0 text-shadow-dark text-white" style="z-index:3;">
													{{::cell.postView.title | characters:60}}
												</div>
							
												<div class="cell-wrap" ng-if="cell.postView.imageMediumId">
													<div class="w-full h-full" ng-style="getBackgroundImage(cell.postView, 'medium')"></div>
												</div>
											</div>
							
										</li>
										<li syle="1px"></li>
									</ul>
								</div>
								<div class="scrollbar info-flow-scroll">
									<div class="handle">
										<div class="mousearea"></div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- /mockup-grid -->
					<!-- /mockup-browser -->
				</section>
			</div>
		</div><!-- /content -->
		<div id="device-selector" class="customizer" >
			<ul class="color-tool">
				<li class="text-2x text-white">
					<div class="m-t-n-sm" ng-click="isMobile = true;"><i class="mdi mdi-cellphone"></i></div>
				</li>
				<li class="text-2x text-white">
					<div class="" ng-click="isMobile = false;"><i class="mdi mdi-desktop-mac"></i></div>
				</li>
			</ul>
		</div>

		<div id="perspective-editor-terms" class="customizer editor-panel"
			ng-class="{'active': termEditorActive, 'inactive': !termEditorActive && (webconfEditorActive || adsEditorActive)}" 
			ng-if="termPerspectiveView">
			<div id="perspective-editor-terms-tab" class="pe-tabs"
				ng-click="activateTermsPanel()">
				<ul class="color-tool">
					<li class="text-2x text-white">
						<div class="m-t-n-xs"><i class="mdi mdi-format-list-numbers"></i></div>
					</li>
				</ul>
			</div>
			<div class="m-b-sm p-l-sm text-md text-white">
				Ordem das categorias
			</div>
			<div class="pos-rlt">
				<div class="display-t-c p-r">
					<ul class="no-style">
						<li ng-repeat="row in termPerspectiveView.ordinaryRows" class="text-white wrapper-xxs">
							{{$index + 1}}ª
						</li>
					</ul>
				</div>
				<div class="display-t-c clearfix">
					<!-- <ul class="no-style" ui-jq="sortable" id="sortable"> -->
					<ul class="no-style" ui-sortable ng-model="termPerspectiveView.ordinaryRows">
						<li ng-repeat="row in termPerspectiveView.ordinaryRows" class="sortable-term sortable-elem text-white wrapper-xxs">
							<div ng-click="removeCategory(row.termId)"
							class="text-danger pull-right mdi mdi-close i-16 wrapper-xxs"></div>
							<div class="term-name">{{row.termName}}</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="text-right wrapper-xs w-full m-t">
				<button ng-click="showConfigCategory($event)"
					md-ink-ripple="" class="md-btn-sm md-btn md-raised btn-fw bg-white">Categorias</button>
			</div>
		</div>

<!-- 		<div id="perspective-editor-webconf" class="customizer editor-panel"
			ng-class="{'active': webconfEditorActive,'inactive': !webconfEditorActive && (termEditorActive || adsEditorActive)}">
			<div id="perspective-editor-webconf-tab" class="pe-tabs"
				ng-click="activateTabsPanel()">
				<ul class="color-tool">
					<li class="text-2x text-white">
						<div class="m-t-n-xs"><i class="mdi mdi-television-guide"></i></div>
					</li>
				</ul>
			</div>
			<div class="m-b-sm p-l-sm text-md text-white">
				Website
			</div>
		</div> -->

	</div><!-- /container -->

	<md-button ng-hide="creating || editing" 
	ng-click="updatePerspective()"
	id="station-fab" class="custom-fab-button md-fab text-2x animated zoomIn" 
	ng-show="app.writableStations && app.writableStations.length > 0 && app.isLogged"
	tooltip="Salvar alterações" tooltip-placement="left" tooltip-append-to-body="true" tooltip-popup-delay="700"
	aria-label="Salvar alterações">
	<i class="mdi mdi-content-save"></i>
</md-button>

		<!-- <a class="popover-close-button text-lg pull-right" tooltip="Fechar" tooltip-append-to-body="true" tooltip-placement="top">×</a> -->
<script type="text/ng-template" id="carousel-template.html">
	<div id="perspective-editor-popover-id" class="perspective-editor-popover w-xl" click-outside="pe.clickOutside()"
		outside-if-not="delete-cell">
		<a ng-click="pe.clickOutside(); app.stopPropagation($event);" class="popover-close-button text-lg pull-right" tooltip="Fechar" tooltip-append-to-body="true" tooltip-placement="top">×</a>
		<div class="text-center wrapper-xxs text-md m-b">
			destaques
		</div>
		<div class="pos-rlt">
			<div class="display-t-c p-r">
				<ul class="no-style">
					<li ng-repeat="cell in termPerspectiveView.featuredRow.cells" class="wrapper-xxs sortable-elem">
						{{$index + 1}}ª
					</li>
				</ul>
			</div>
			<div class="display-t-c clearfix" style="min-width: 285px">
				<ul class="no-style w-full" ui-sortable ng-model="termPerspectiveView.featuredRow.cells">
					<li ng-repeat="cell in termPerspectiveView.featuredRow.cells" class="font-thin sortable-elem clearfix wrapper-xxs">
						<div class=" ">
							<a angular-ripple id="delete-cell" class="border-radius-50 p-sm mdi-delete mdi pull-right" ng-click="$parent.removeFeaturedPost(cell.postView)">
							</a>
							<span class="clear m-r"
							tooltip="{{cell.postView.title}}" tooltip-placement="top" tooltip-append-to-body="true" tooltip-popup-delay="700">
								{{cell.postView.title | characters:75}}
							</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="text-center wrapper-xs w-full b-t m-t-sm">
			<a href="" class="text-md" ng-click="showAddFeaturedPost();pe.clickOutside();">
				<span class=" font-thin">adicionar</span>
				<i class="mdi mdi-plus-circle-outline v-middle"></i>
			</a>
		</div>
	</div>
</script>

<script type="text/ng-template" id="add_post.html">
	<md-dialog aria-label="Adicionar notícia" id="perspective-editor-dialog">
  	<md-content>
			<div class="wrapper">
				<form ng-submit="pe.submitSearch()">
					<div class="input-group">
						<input ng-model="pe.searchQuery" class="input-lg w-full form-control" placeholder="Busque por notícias" />
						<span class="input-group-btn">
		      <button class="btn btn-default btn-lg i-24" type="submit" style="padding: 6px 12px">
		      	<i class="mdi mdi-magnify"></i>
		      </button>
		     </span>
					</div>
				</form>
				<div class="wrapper-xxs perspective-editor-search-results m-t-sm" >
					<ul class="no-style">
						<li ng-repeat="postView in pe.searchResults" class="clearfix wrapper-xxs font-thin" ng-class="{'opacity-07 bg-light': !pe.cellAddValidation(postView)}">
		      <span ng-if="postView.imageSmallId" style="height: 50px" class="bg-cover pull-left thumb m-r" ng-style="app.getBackgroundImage(postView, 'medium')">
		      </span>
		      <span class="pull-right" ng-if="pe.cellAddValidation(postView)"
		      tooltip="Adicionar" tooltip-placement="top" tooltip-append-to-body="true" tooltip-popup-delay="300">
								<a ng-click="pe.addCell(postView)" angular-ripple class="border-radius-50 text-lg p-sm mdi-plus mdi"></a>
							</span>
							<span class="pull-right" ng-if="!pe.cellAddValidation(postView)">
								<a ng-click="pe.removeCell(postView)" angular-ripple class="border-radius-50 text-lg p-sm mdi-close mdi animated bounceIn text-danger"></a>
							</span>
		      <span class="clear m-r-xxl">
		        <span>{{postView.title}}</span>
		        <small class="text-muted clear text-ellipsis" ng-bind-html="postView.snippet">
		        </small>
		      </span>
		    </li>
		    <li ng-if="pe.searchResults.length > 0">
		    	<div class="wrapper-xs text-center">
		    		<button ng-click="pe.paginateSearch()" md-ink-ripple class="md-btn md-flat btn-fw">mais</button>
		    	</div>
		    </li>
					</ul>
				</div>
				<div class="pos-abt bottom-0 right-0 wrapper-sm">
					<button ng-click="cancel()" md-ink-ripple class="md-btn md-flat btn-fw">Fechar</button>
				<div>
			</div>
	  </md-content>
	</md-dialog>
</script>

<script type="text/ng-template" id="config_category.html">
	<md-dialog aria-label="Adicionar notícia" id="perspective-editor-dialog">
  	<md-content>
  		<div class="wrapper">
  			<div class="text-lg text-center">Selectione as categorias desejadas</div>
				<div class="wrapper-xxs perspective-editor-category-selector m-t-sm tree well">
					<ul class="normal-wrap perspective-editor-category-selector-list">
						<li ng-repeat="term in pe.terms">
							<span class="check-term" ng-click="pe.checkCategory(term)">
						 		<md-checkbox md-no-ink ng-model="term.checked" class="pull-left"></md-checkbox>
						 	</span>
						 	<span class="leaf box-shadow" tooltip="{{term.name}}" tooltip-placement="top" tooltip-append-to-body="true" tooltip-popup-delay="700">
						 		{{term.name}}
						 	</span>
					 	</li>
				 	</ul>
				</div>
				<div class="pos-abt bottom-0 right-0 wrapper-sm">
					<button ng-click="cancel()" md-ink-ripple class="md-btn md-flat btn-fw">Fechar</button>
				</div>
			</div>
	  </md-content>
	</md-dialog>
</script>


</div>
</div>
