<div id="settings-stations-users">

	<div class="header-custom text-center animated box-shadow">
	</div>

	<div class="wrapper-lg animated zoomIn m-b-xxl">
		<!-- start of user panel list -->
		<div class="panel panel-card block-1000 m-auto" ng-hide="creating || editing">
			<div class="panel-heading h4 wrapper-md">
				<a ui-sref="app.settings.stations">Estações</a><i class="mdi mdi-chevron-right"></i><span>Permissões da estação <strong>{{stationName}}</strong></span>
			</div>
			<div class="panel-body p-n" style="min-height: 200px;">
				<div class="row wrapper">
					<div class="col-sm-6 m-b-xs">
						<select class="form-control w inline v-middle" ng-model="bulkActionSelected" ng-change="selectBulkAction()"
						ng-options="action as action.name for action in bulkActions track by action.id">
					</select>
					<button ng-disabled="bulkActionSelected.id == 0" ng-click="openBulkActionsSplash()" class="btn btn-default">Aplicar</button>                
				</div>
				<div class="col-sm-1">
				</div>
				<div class="col-sm-5">
					<!-- <div class="input-group"> -->
					<input type="text" class="input-md w-full form-control" placeholder="Busque por usuário, nome ou email">
							<!-- <span class="input-group-btn">
								<button class="btn btn-sm text-lg btn-default" type="button">Buscar</button>
							</span> -->
							<!-- </div> -->
						</div>
					</div>
					<div class="table-responsive o-visible text-md">
						<table class="table b-t b-light">
							<thead>
								<tr>
									<th style="width:15px;">
										<label class="md-check">
											<input type="checkbox" ng-model="toggleSelectValue" ng-change="toggleAll()">
											<i class="blue"></i>
										</label>
									</th>
									<th>Usuários</th>
									<th>Nome</th>
									<th class="text-center">Permissão</th>
									<th class="text-center">Último login</th>
									<th style="width:30px;"></th>
								</tr>
							</thead>
							<tbody>
								<!-- <tr ng-repeat="role in personsRoles"> -->
								<tr ng-repeat="role in personsRoles" ng-click="loadPerson(role.person)">
									<td>
										<label class="md-check">
											<input type="checkbox" ng-model="role.selected" ng-click="app.stopPropagation($event)">
											<i class="blue"></i>
										</label>
									</td>
									<td>
										<div back-img="{{role.person.imageSmallId}}" 
										class="bg-cover bg-img-xs bg-cover-round pull-left m-r m-t-n-xxs m-b-n-xxs pos-rlt"
										title="{{role.person.name}}"></div>
										{{role.person.username}}
									</td>
									<td>{{role.person.name}}</td>
									<td class="text-center">{{role.admin ? 'admin': (role.editor ? 'editor' : role.writer ? 'escritor' : 'leitor')}}</td>
									<td class="text-center" ng-if="!role.person.lastLogin"> - </td>
									<td class="text-center" ng-if="role.person.lastLogin">{{role.person.lastLogin | fromNow3}}</td>
									<td>
										<div class="dropdown hidden-sm" dropdown ng-click="app.stopPropagation($event)">
											<a href angular-ripple class="dropdown-toggle border-radius-50 i-24 mdi-dots-vertical mdi" dropdown-toggle>
											</a>
											<!-- dropdown -->
											<ul class="dropdown-menu dropdown-menu-scale animated w-sm pull-right">
												<li ng-if="app.networkAdmin" > <a href> Reconfigurar a senha </a> </li>
												<!-- <li class="divider"></li> -->
												<li> <a ng-click="openDeletePersonRole(role.id);"> Remover permissões </a> </li>
											</ul>
											<!-- / dropdown -->
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /end of user panel list -->

			<!-- new user panel -->
			<div class="panel panel-card block-600 m-auto" ng-if="creating">
				<div class="panel-heading h4 wrapper-md">
					<a ui-sref="app.settings.stations">Estações</a>
					<i class="mdi mdi-chevron-right"></i>
					<a ui-sref="app.settings.stationusers({'stationId':stationId, 'newUser': null})">{{stationName}}</a>
					<i class="mdi mdi-chevron-right"></i>
					<span>Novo usuário</span>
				</div>
				<div class="panel-body wrapper-md">
					<div class="row pos-rlt">
						<div class="w-xxl m-auto">
							<div class="md-form-group md-neutral-theme text-lg">
								<input class="md-input text-xl" ng-model="person.name">
								<label>Nome completo</label>
							</div>
							<div class="md-form-group md-neutral-theme">
								<input class="md-input" ng-model="person.email" required>
								<label>Email</label>
							</div>
							<div class="md-form-group md-neutral-theme">
								<input class="md-input" ng-model="person.username" required>
								<label>Usuário</label>
							</div>
							<div class="md-form-group md-neutral-theme">
								<input type="password" class="md-input" ng-model="person.password" required>
								<label>Senha</label>
								<span class="md-input-msg right">(opcional) se não fornecido, criaremos uma senha automaticamente.</span>
							</div>
						</div>
					</div>
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="row">
						<div class="col-sm-6">
							<div class="m-b text-muted text-md text-u-c">Permissões</div>
							<p>
								<label class="md-check">
									<input type="radio" name="c" ng-model="person.stationRole.roleString" value="READER" ng-change="changePermission(person)">
									<i class="blue"></i>
									Leitor
								</label>
							</p>
							<p>
								<label class="md-check">
									<input type="radio" name="c" ng-model="person.stationRole.roleString" value="WRITER" ng-change="changePermission(person)">
									<i class="blue"></i>
									Escritor
								</label>
							</p>
							<p>
								<label class="md-check">
									<input type="radio" name="c" ng-model="person.stationRole.roleString" value="EDITOR" ng-change="changePermission(person)">
									<i class="blue"></i>
									Editor
								</label>
							</p>
							<p>
								<label class="md-check">
									<input type="radio" name="c" ng-model="person.stationRole.roleString" value="ADMIN" ng-change="changePermission(person)">
									<i class="blue"></i>
									Adminastrador
								</label>
							</p>
						</div>
						<div class="col-sm-6">
							<div class="m-b text-muted text-md text-u-c">Notificar usuário</div>
							<p>
								<label class="md-switch">
									<input type="checkbox" ng-model="person.emailNotification"
									ng-true-value="true" ng-false-value="false">
									<i class="blue"></i>
									Enviar link de configuração do perfil via email.
								</label>
							</p>
						</div>
					</div>
				</div>
				<div class="m-t text-right text-lg" >
					<button ui-sref="app.settings.stationusers({'stationId':stationId, 'newUser': null, 'userId': null})"
					md-ink-ripple class="md-btn md-flat m-b btn-fw m-r">Voltar</button>

					<button ng-click="createPerson()"
					md-ink-ripple class="md-btn md-flat m-b btn-fw m-r">Criar</button>
				</div>
			</div>
			<!-- /new user panel-->

			<!-- editing user panel -->
			<div class="panel panel-card block-600 m-auto animated fadeIn" ng-show="editing && editingPersonLoaded">
				<div class="panel-body wrapper-md p-t-none">
					<div id="editing-user-profile" class="row">
						<div class="profile-cover abstract-bg bg-cover pos-rlt m-l-n-xs m-r-n-xs o-h" style="border-radius:3px 3px 0 0; {{person.coverLargeId | imageLink | bgimg2}}">
							<div class="cover-abstract-mask ng-scope" ng-if="!person.coverLargeId">
							</div>
							<div back-img="{{person.imageSmallId}}" class="bg-cover bg-img-xl bg-cover-round m-l-lg m-t-lg pos-rlt" title="{{person.name}}">
								<div id="image-button-wrapper" ng-if="app.networkAdmin">
									<div id="image-button" class="custom-btn bg-img-xl border-radius-50">
										<i class="mdi mdi-pencil text-3x text-white image-edit" style="margin: 40px;"></i>
										<input id="image-upload" type="file" nv-file-select="" uploader="uploader" name="contents" accept="image/*"/>
									</div>
								</div>
							</div>

							<div id="settings-users-name" class="pos-rlt text-white text-xl p-l-lg p-r-lg p-t p-b text-xl"
							style="text-shadow:1px 1px 1px #000; margin-top: -90px; margin-left: 140px;">
							{{person.name}}
						</div>

						<div id="cover-image-button" style="overflow:hidden;" 
						class="pos-abt right-0 bottom-0 m-r-xs m-b-xs wrapper-sm">
						<div style="z-index: 2; position: absolute; width: 100%;height:100%;overflow:hidden; vertical-align: bottom;">
							<input style="opacity: 0;cursor:pointer" type="file" nv-file-select="" uploader="uploader" name="contents" accept="image/*"/>
						</div>	
						<span class="p-r-xs text-md" style="text-shadow:1px 1px 1px #000; vertical-align: sub;">
							Trocar imagem de capa
						</span>
						<i class="mdi mdi-camera text-2x icon-text-shadow v-middle p-r-xs"></i>
					</div>
				</div>
			</div>
			<!-- <div class="line line-dashed b-b line-lg pull-in"></div> -->
			<!-- user's data -->
			<div class="wrapper">
				<form class="bs-example form-horizontal text-md">
					<div class="form-group m-b-n">
						<label class="col-lg-2 control-label font-bold">Usuário</label>
						<div class="col-lg-10">
							<div class="form-control b-none text-md">
								{{person.username}}
							</div>
						</div>
					</div>
					<div class="form-group m-b-n">
						<label class="col-lg-2 control-label font-bold">Biografia</label>
						<div class="col-lg-10">
							<div class="form-control b-none text-md" ng-class="{'font-italic text-muted': !person.bio}">
								{{person.bio ? person.bio : 'Usuário ainda não possui biografia.'}}
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- /user's data -->
		</div>
		<div class="m-t text-right text-lg" >
			<button ui-sref="app.settings.stationusers({'stationId':stationId, 'newUser': null, 'userId': null})"
			md-ink-ripple class="md-btn md-flat m-b btn-fw m-r">Voltar</button>

			<button ng-if="creating" ng-click="createPerson()"
			md-ink-ripple class="md-btn md-flat m-b btn-fw m-r">Salvar</button>
		</div>
	</div>
	<!-- /editing user panel -->
</div>
<!--  /wrapper -->

<!-- create user -->
<md-button ng-hide="creating || editing"
id="station-fab" class="custom-fab-button md-fab text-2x animated zoomIn" 
ui-sref="app.settings.stationusers({'stationId':stationId, 'newUser': true})" ng-show="app.writableStations && app.writableStations.length > 0 && app.isLogged"
tooltip="Novo usuário" tooltip-placement="left" tooltip-append-to-body="true" tooltip-popup-delay="700"
aria-label="Novo usuário">
<i class="mdi mdi-plus"></i>
</md-button>

	<!-- <nav id="post-fab-button" template-url="ng-mfb-menu-md.tpl.html" 
                label="Publicar"
                 mfb-menu position="{{chosen.position}}" effect="{{chosen.effect}}"
                 active-icon="mdi mdi-send" resting-icon="mdi mdi-plus"
                 ng-mouseenter="hovered()" ng-mouseleave="hovered()"
                 toggling-method="{{chosen.method}}" menu-state="menuState" main-action="publishPost($event)"
                 ng-class="{'sidebar-opened': !app.hidePostOptions}">
            
              <button template-url="ng-mfb-button-md.tpl.html"
                 mfb-button icon="{{button.icon}}" ng-click="doAction(button.action($event))"
                 label="{{button.label}}" ng-repeat="button in buttons"></button>
               </nav> -->
               <!-- /options button -->

             </div>
             <!-- /settings-stations-users -->

             <script type="text/ng-template" id="conflicting_person.html">
             	<a class="splash-close-button" ng-click="app.cancelModal()">×</a>
             	<div class="splash-content text-center" ng-cloak>
             		<div>
             			<div class="row">
             				<div class="col-xs-8 col-xs-offset-2">

             					<div class="h3 m-b-lg m-t-lg" ng-show="app.conflictingData.conflictingStationRole">
             						Esta estação já possui um usuário cadastrado com estes dados!
             					</div>

             					<div back-img="{{app.conflictingData.conflictingPerson.imageSmallId}}" 
             					class="bg-cover bg-img-lg bg-cover-round m-auto" 
             					title="{{app.conflictingData.conflictingPerson.name}}"></div>
             					<div class="h3 m-b-xs">{{app.conflictingData.conflictingPerson.name}}</div>
             					<div class="h4 m-b-lg">{{app.conflictingData.conflictingPerson.username}} | {{app.conflictingData.conflictingPerson.email}}</div>
             				</div>
             			</div>
             			<div class="row">
             				<div class="col-xs-6 col-xs-offset-3">

             					<div class="h4 m-b" ng-hide="app.conflictingData.conflictingStationRole">
             						Este usuário já existe. Deseja adioná-lo a esta estação no papel de <strong>
             						{{app.conflictingData.role == 'ADMIN' ? 'admin': (app.conflictingData.role == 'EDITOR' ? 'editor' : app.conflictingData.role == 'WRITER' ? 'escritor' : 'leitor')}}?</strong></div>

             						<div class="text-color p-l-lg p-r-lg" ng-hide="app.conflictingData.conflictingStationRole">
             							<button ng-click="app.addConflictingToStation();" angular-ripple type="submit" class="m-t-md btn-default btn text-lg text-u-c btn-block ">
             								Sim
             							</button>
             							<button ng-click="app.cancelModal()" angular-ripple type="submit" style="margin-top: 10px;" class="btn-muted btn text-lg text-u-c btn-block ">
             								Não
             							</button>
             						</div>
             					</div>
             				</div>
             			</div>
             		</div>
             	</script>

             	<script type="text/ng-template" id="confirm_delete_person.html">
             		<a class="splash-close-button" ng-click="app.cancelModal()">×</a>
             		<div class="splash-content text-center" ng-cloak>
             			<div>
             				<div class="row">
             					<div class="col-xs-8 col-xs-offset-2">
             						<div class="">
             							Tem certeza que deseja remover as permissões deste usuário a esta estação? <br>
             							Atenção! Este usuário não será excluído. Para excluir este usuário, entre em contato com o administrador da rede. 
             						</div>
             					</div>
             				</div>
             				<div class="row">
             					<div class="col-xs-6 col-xs-offset-3">
             						<div class="p-lg text-color wrapper-lg">
             							<button ng-click="app.deletePersonRole();" angular-ripple type="submit" class="m-t-md btn-danger btn text-lg text-u-c btn-block ">
             								Sim
             							</button>
             							<button ng-click="app.cancelModal()" angular-ripple type="submit" style="margin-top: 10px;" class="btn-muted btn text-lg text-u-c btn-block ">
             								Não
             							</button>
             						</div>
             					</div>
             				</div>
             			</div>
             		</div>
             	</script>

             	<script type="text/ng-template" id="confirm_no_person_selected.html">
             		<a class="splash-close-button" ng-click="app.cancelModal()">×</a>
             		<div class="splash-content text-center" ng-cloak>
             			<div class="row m-t-xxl">
             				<div class="col-xs-6 col-xs-offset-3 text-2x m-t-xxl">
             					Nenhum usuário foi selecionado.
             				</div>
             			</div>
             		</div>
             	</script>

             	<script type="text/ng-template" id="confirm_bulk_delete_persons.html">
             		<a class="splash-close-button" ng-click="app.cancelModal()">×</a>
             		<div class="splash-content text-center" ng-cloak>
             			<div>
             				<div class="row">
             					<div class="col-xs-8 col-xs-offset-2">
             						<div class="">
             							Tem certeza que deseja remover as permissões dos usuários selecionados para esta estação?
             							<br>
             							Atenção! Os usuários selecionados não serão excluídos da rede. Para excluir um usuário, entre em contato com o administrador da rede. 
             						</div>
             					</div>
             				</div>
             				<div class="row">
             					<div class="col-xs-6 col-xs-offset-3">
             						<div class="p-lg text-color wrapper-lg">
             							<button ng-click="app.applyBulkActions();" angular-ripple type="submit" class="m-t-md btn-danger btn text-lg text-u-c btn-block ">
             								Sim
             							</button>
             							<button ng-click="app.cancelModal()" angular-ripple type="submit" style="margin-top: 10px;" class="btn-muted btn text-lg text-u-c btn-block ">
             								Não
             							</button>
             						</div>
             					</div>
             				</div>
             			</div>
             		</div>
             	</script>