<div id="settings-stations">
  <div class="wrapper-lg m-b-xxl">
    <div class="row">
      <div class="col-sm-4" ng-repeat="station in app.initData.stations">
        <div class="panel panel-card animated zoomIn material-shadow-light">
          <div class="wrapper">
            <div class="h4 m-b" clamp="1">{{station.name}}</div>
            <div class="pull-in m-b-none b-r-n b-l-n">
              <div class="list-group no-radius alt list-group-no-border">
                <a class="list-group-item text-md" ui-sref="app.settings.perspectives({'stationId': station.id})">
                  <i class="mdi mdi-view-quilt fa-fw text-muted"></i> 
                  Perspectivas
                </a>
                <a class="list-group-item text-md" ui-sref="app.settings.stationcategories({'stationId': station.id})">
                  <i class="mdi mdi-sitemap fa-fw text-muted"></i> 
                  Categorias
                </a>
                <a class="list-group-item text-md" ui-sref="app.settings.stationusers({'stationId': station.id})">
                  <i class="mdi mdi-account-key fa-fw text-muted"></i> 
                  Usuários
                </a>
                <!-- <a class="list-group-item text-md" ui-sref="app.settings.stationperspectives({'stationId': station.id})"> -->
                <a class="list-group-item text-md" ui-sref="app.settings.stationconfig({'stationId': station.id})">
                  <i class="mdi mdi-settings fa-fw text-muted"></i> 
                  Configurações
                </a>
                <!-- <a class="list-group-item text-md" ui-sref="app.settings.stationstatistics({'stationId': station.id})">
                  <i class="mdi mdi-chart-bar fa-fw text-muted"></i> 
                  Estatísticas
                </a> -->
              </div>
            </div>
            <div class="m-t text-md text-right">
              <div class="pull-left m-t-xs" ng-if="app.initData.stations.length > 1 &&  app.networkAdmin">
                <label class="md-check">
                  <input type="checkbox" ng-model="station.main" ng-change="setMainStation(station)">
                  <i class="blue"></i>
                  Principal
                </label>
              </div>
              <button ng-click="openDeleteStation(station.id)"
              md-ink-ripple class="md-btn md-flat btn-fw">Excluir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <md-button 
    id="station-fab" class="custom-fab-button md-fab text-2x animated zoomIn" 
    ui-sref="app.settings.stationconfig({'newStation': true})" ng-if="app.networkAdmin && app.isLogged"
    tooltip="Nova estação" tooltip-placement="left" tooltip-append-to-body="true" tooltip-popup-delay="700"
    aria-label="Nova estação">
    <i class="mdi mdi-plus"></i>
  </md-button>
</div>

<script type="text/ng-template" id="confirm_delete_station.html">
  <a class="splash-close-button" ng-click="app.cancelModal()">×</a>
  <div class="splash-content text-center" ng-cloak>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="p-lg text-color wrapper-lg">
          <div class="m-b-lg">
            Tem certeza que deseja excluir esta estação e todo o seu conteúdo? Esta operação não poderá ser desfeita!
          </div>
          <button ng-click="app.deleteStation();" angular-ripple type="submit" class="m-t-md btn-danger btn text-lg text-u-c btn-block ">
           Sim
         </button>
         <button ng-click="app.cancelModal()" angular-ripple type="submit" style="margin-top: 10px;" class="btn-muted btn text-lg text-u-c btn-block ">
           Não
         </button>
       </div>
     </div>
   </div>
 </div>
</script>