<div class="wrapper-md">
<div class="color-selector-container">
	<div class="content m-t-md">
		<div class="mockup-browser animated fadeIn" ng-class="{'mobile': isMobile}">
			<header class="mockup-header mockup-section--dark paint-area">
				<div class="mockup-content mockup-grid mockup-grid--spread">
				</div>
			</header>
			<section class="mockup-section paint-area">
				<div class="mockup-content mockup-grid">
				</div><!-- /mockup-grid -->
				<md-button class="md-fab pos-abt bottom-0 right-0 m-r m-b" aria-label="demo">
				</md-button>
			</section>
		</div><!-- /mockup-browser -->
	</div><!-- /content -->
	<div class="customizer">
		<ul class="color-tool">
			<li class="color-1"><div class="drag-element" data-color="#333"><div class="drop color-1"></div><i class="drop-helper-1 color-1"></i><i class="drop-helper-2 color-1"></i><i class="drop-helper-3 color-1"></i><i class="drop-helper-4 color-1"></i></div></li>
			<li class="color-2"><div class="drag-element" data-color="#f0f0f0"><div class="drop color-2"></div><i class="drop-helper-1 color-2"></i><i class="drop-helper-2 color-2"></i><i class="drop-helper-3 color-2"></i><i class="drop-helper-4 color-2"></i></div></li>
			<li class="color-3"><div class="drag-element" data-color="#c0c3d5"><div class="drop color-3"></div><i class="drop-helper-1 color-3"></i><i class="drop-helper-2 color-3"></i><i class="drop-helper-3 color-3"></i><i class="drop-helper-4 color-3"></i></div></li>
			<li class="color-4"><div class="drag-element" data-color="#5FA1E0"><div class="drop color-4"></div><i class="drop-helper-1 color-4"></i><i class="drop-helper-2 color-4"></i><i class="drop-helper-3 color-4"></i><i class="drop-helper-4 color-4"></i></div></li>
			<li class="color-5"><div class="drag-element" data-color="#C1D5C0"><div class="drop color-5"></div><i class="drop-helper-1 color-5"></i><i class="drop-helper-2 color-5"></i><i class="drop-helper-3 color-5"></i><i class="drop-helper-4 color-5"></i></div></li>
			<li class="color-6"><div class="drag-element" data-color="#47AE73"><div class="drop color-6"></div><i class="drop-helper-1 color-6"></i><i class="drop-helper-2 color-6"></i><i class="drop-helper-3 color-6"></i><i class="drop-helper-4 color-6"></i></div></li>
			<li class="color-7"><div class="drag-element" data-color="#EAE7C4"><div class="drop color-7"></div><i class="drop-helper-1 color-7"></i><i class="drop-helper-2 color-7"></i><i class="drop-helper-3 color-7"></i><i class="drop-helper-4 color-7"></i></div></li>
			<li class="color-8"><div class="drag-element" data-color="#FB6964"><div class="drop color-8"></div><i class="drop-helper-1 color-8"></i><i class="drop-helper-2 color-8"></i><i class="drop-helper-3 color-8"></i><i class="drop-helper-4 color-8"></i></div></li>
			<li><button class="reset-button" title="Reser colors">Reset colors</button></li>
		</ul>
	</div>
	<div id="device-selector" class="customizer" >
		<ul class="color-tool">
			<li class="text-2x text-white">
				<div class="m-t-n-sm" ng-click="isMobile = true;"><i class="mdi mdi-cellphone"></i></div>
			</li>
			<li class="text-2x text-white">
				<div class="" ng-click="isMobile = false;"><i class="mdi mdi-desktop-mac"></i></div>
			</li>
		</ul>
	</div>
</div><!-- /container -->
</div>