<div class="station-perspectives p-t-60" ng-if="!app.isMobile">

<div class="container p-b-lg p-r-xxl p-l-xxl">
    <div class="row">
      <!-- carousel top -->
      <div class="col-md-12" style="height: 430px;" 
      ng-if="app.termPerspectiveView.featuredRow.cells && app.termPerspectiveView.featuredRow.cells.length > 0">
        <!-- carousel list -->
        <ul rn-carousel="" rn-carousel-index="carouselIndex2" rn-carousel-auto-slide="10" rn-carousel-pause-on-hover="" rn-carousel-buffered="" class="carousel2 ng-scope w-full h-full">
          <li class="w-full h-full" ng-repeat="cell in app.termPerspectiveView.featuredRow.cells">
              <a ui-sref="app.read({'slug': cell.postView.slug})">
            <div ng-style="getBackgroundImage(cell.postView, 'lg')" class="cell-wrap bg-cover">
              <!-- title bg-stripe -->
              <div class="pos-abt bottom-0 wrapper-sm bg-stripe bg-gd-dk text-white title-wrapper-bg animated fadeInUp">
                  <div class="text-shadow-dark h2 text-white">{{::cell.postView.title}}</div>
                  <div  ng-if="cell.postView.imageMediumId">
                    <div class="display-t-c pull-right">
                      <span ng-click="app.goToProfile($event, cell.postView.authorUsername)" class="" title="Ir para o perfil de {{::cell.postView.authorName}}">
                        <div back-img="{{cell.postView.authorSmallImageId}}" class="bg-cover bg-img bg-cover-round" title="{{::cell.postView.authorName}}"></div>
                      </span>
                    </div>
                    <div class="display-t-c p-r-sm v-middle pull-right">
                      <span ng-click="app.goToProfile($event, cell.postView.authorUsername)" class="text-white" title="Ir para o perfil de {{::cell.postView.authorName}}" dir="auto">
                        {{::cell.postView.authorName}}
                      </span>
                      <br>
                      <span class="text-sm readingTime">
                        {{::cell.postView.date | fromNow}}
                      </span>
                    </div>
                  </div>
                </div>
                <!-- title bg-stripe -->
            </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 p-t">
        <!-- BLOG POST -->
        <div class="home-blog bg-custom">
          <!-- 
          <div class="full-post">
            <a href=""><img src="images/home/1/1.jpg" class="post-thumb img-responsive" alt=""></a>
            <div class="post-meta">
              <span class="post-author a-custom-primary">Lesly Quintella</span>
              <span class="post-tags"><a href="#">Search Engine Optimization</a></span>
            </div>
            <a href="" class="h3 font-bold m-b m-t-sm block">8 Essential Tools to Simplify SEO for Content Marketing</a>
            <p class="font-thin text-lg">Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really want to know.</p>
          </div>
          -->

          <div ng-repeat="ordinaryRow in app.termPerspectiveView.ordinaryRows" ng-if="ordinaryRow.cells && ordinaryRow.cells.length">
          
          <!-- <div ng-click="app.setNowReading(cell.postView, app.cellsToPostViews(ordinaryRow.cells))" -->
          <div 
          ng-repeat="cell in ordinaryRow.cells | limitTo: 3" class="half-post bg-custom">
            <div class="p-b-md b-t m-t-md"></div>
            <a ui-sref="app.tagspage({'tagName': ordinaryRow.termName})" ng-click="app.stopPropagation($event)"
              class="btn btn-rounded btn-stroke btn-term m-r-sm m-b-sm">
              {{ordinaryRow.termName}}
            </a>
            <a ui-sref="app.read({'slug': cell.postView.slug})">
              <div class="row">
                <div class="col-md-5" ng-if="cell.postView.imageMediumId">
                  <span class="block-image2">
                    <div ng-style="getBackgroundImage(cell.postView, 'md')"
                    class="cell-wrap r r-2x bg-cover" alt=""></div>
                  </span>
                </div>
                <div ng-class="{'col-md-7':cell.postView.imageMediumId, 'col-md-12': !cell.postView.imageMediumId}">
                  <span href="" class="h3 font-bold m-b block" ng-class="{'m-t-sm': cell.postView.imageMediumId}">
                  {{::cell.postView.title}}</span>
                  <!-- <div class="post-meta">
                    <span class="post-author a-custom-primary">Lavonne Flynn</span>
                    <span class="post-tags"><a href="#">Online Marketing</a></span>
                  </div> -->
                  <p class="font-thin text-lg">{{::cell.postView.snippet | characters:150}}</p>
                </div>
              </div>
            </a>
            <div class="m-t">
              <div class="display-t-c">
                <a >
                  <div back-img="{{cell.postView.authorSmallImageId}}" class="bg-cover bg-img bg-cover-round" title="{{::cell.postView.authorName}}"></div>
                </a>
              </div>
              <div class="display-t-c p-l-sm v-middle">
                <a ng-click="app.goToProfile($event, cell.postView.authorUsername)" class="a-custom-primary link link link--accent link--darken">
                  {{::cell.postView.authorName}}
                </a>
                <br>
                <span class="text-sm readingTime">
                  {{::cell.postView.date | fromNow}}
                </span>
              </div>
              <div class="display-t-c v-middle padder">
                <span ng-click="app.recommend(cell.postView.postId); app.stopPropagation($event);">
                  <a href class="text-center text-lg v-middle">
                    <i class="mdi" ng-class="{'mdi-heart animated rubberBand': app.recommended(cell.postView.postId), 'mdi-heart-outline': !app.recommended(cell.postView.postId)}"></i>
                  </a>
                  <span class="p-b-sm">Recomendar</span>
                </span>
                <span class="p-l-sm" ng-click="app.bookmark(cell.postView.postId); app.stopPropagation($event);">
                  <a href class="text-center text-lg v-middle">
                    <i class="mdi" ng-class="{'mdi-bookmark animated rubberBand': app.bookmarked(cell.postView.postId), 'mdi-bookmark-outline': !app.bookmarked(cell.postView.postId)}"></i>
                  </a>
                  <span class="p-b-sm">Adicionar a Minha Lista</span>
                </span>
              </div>
            </div>
          </div>

          </div>

          <!--
          <div class="half-post bg-custom">
            <div class="row">
              <div class="col-md-6">
                <a href=""><img src="images/home/1/3.jpg" class="post-thumb img-responsive" alt=""></a>
                <span class="post-formats video"></span>
              </div>
              <div class="col-md-6">
                <a class="h3 font-bold m-b m-t-sm" href="">YouTube Newswire Curates Eyewitness Videos</a>
                <div class="post-meta">
                  <span class="post-author a-custom-primary">Pleasance Noah</span>
                  <span class="post-tags"><a href="#">Video Marketing</a></span>
                </div>
                <p class="font-thin text-lg">Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really</p>
              </div>
            </div>
          </div>
          
          <div class="half-post bg-custom">
            <div class="row">
              <div class="col-md-6">
                <a href=""><img src="images/home/1/4.jpg" class="post-thumb img-responsive" alt=""></a>
              </div>
              <div class="col-md-6">
                <a class="h3 font-bold m-b m-t-sm" href="">Has Google Gone Too Far with the Bias Toward Its Own Content?</a>
                <div class="post-meta">
                  <span class="post-author a-custom-primary">Morgan Sheri</span>
                  <span class="post-tags"><a href="#">Development</a></span>
                </div>
                <p class="font-thin text-lg">Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really</p>
              </div>
            </div>
          </div>
          
          <div class="sep"></div>
          
          <div class="full-post bg-custom">
            <a href=""><img src="images/home/1/5.jpg" class="post-thumb img-responsive" alt=""></a>
            <div class="post-meta">
              <span class="post-author a-custom-primary">Sheena Geoffrey</span>
              <span class="post-tags"><a href="#">Tutorials on Marketing</a></span>
            </div>
            <a class="h3 font-bold m-b m-t-sm" href="">The Day After: 11 Things to Do After You Publish a Post</a>
            <p>Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really want to know.</p>
          </div>
          
          <div class="half-post bg-custom">
            <div class="row">
              <div class="col-md-6">
                <a href=""><img src="images/home/1/6.jpg" class="post-thumb img-responsive" alt=""></a>
              </div>
              <div class="col-md-6">
                <a class="h3 font-bold m-b m-t-sm" href="">How to Make Custom Images for Your Blog Posts Without Hiring a Designer</a>
                <div class="post-meta">
                  <span class="post-author a-custom-primary">Edweena Lynne</span>
                  <span class="post-tags"><a href="#">Ideometer</a></span>
                </div>
                <p class="font-thin text-lg">Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really</p>
              </div>
            </div>
          </div>
          
          <div class="half-post bg-custom">
            <div class="row">
              <div class="col-md-6">
                <a href=""><img src="images/home/1/7.jpg" class="post-thumb img-responsive" alt=""></a>
                <span class="post-formats gallery"></span>
              </div>
              <div class="col-md-6">
                <a class="h3 font-bold m-b m-t-sm" href="">Instagram Makes Content More Accessible</a>
                <div class="post-meta">
                  <span class="post-author a-custom-primary">Frederica Hayley</span>
                  <span class="post-tags"><a href="#">Development</a></span>
                </div>
                <p class="font-thin text-lg">Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really</p>
              </div>
            </div>
          </div>
          
          <div class="half-post bg-custom">
            <div class="row">
              <div class="col-md-6">
                <a href=""><img src="images/home/1/8.jpg" class="post-thumb img-responsive" alt=""></a>
              </div>
              <div class="col-md-6">
                <a class="h3 font-bold m-b m-t-sm" href="">The 7 Must Have SEO Reports to Meet Today's Search Optimization Challenges</a>
                <div class="post-meta">
                  <span class="post-author a-custom-primary">Edric Franklin</span>
                  <span class="post-tags"><a href="#">Search Engine Optimization</a></span>
                </div>
                <p class="font-thin text-lg">Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really</p>
              </div>
            </div>
          </div>
        </div> -->
        
        <!-- <div class="free-course">
          <h5>Free Course, valued at $299</h5>
          <h3>"Double Your Traffic in 30 days" + Secret Bonus</h3>
          <p>This amazing course will teach you, step by step, how to double if not triple your traffic over the next 30 days.</p>
          <form>
            <input type="text" placeholder="Email...">
            <button type="submit">Yes, let's Start</button>
          </form>
          <div class="clearfix"></div>
          <span>100% Privacy. We will never spam you!</span>
        </div> -->
        
        <!-- <div class="home-blog bg-custom">
          <div class="half-post">
            <div class="row">
              <div class="col-md-6">
                <a href=""><img src="images/home/1/9.jpg" class="post-thumb img-responsive" alt=""></a>
              </div>
              <div class="col-md-6">
                <a class="h3 font-bold m-b m-t-sm" href="./">13 Important Questions You Need to Ask Yourself Before Blogging</a>
                <div class="post-meta">
                  <span class="post-author a-custom-primary">Irene Lynnette</span>
                  <span class="post-tags"><a href="#">Blogging</a></span>
                </div>
                <p class="font-thin text-lg">Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really</p>
              </div>
            </div>
          </div>
          
          <div class="half-post bg-custom">
            <div class="row">
              <div class="col-md-6">
                <a href=""><img src="images/home/1/10.jpg" class="post-thumb img-responsive" alt=""></a>
                <span class="post-formats link"></span>
              </div>
              <div class="col-md-6">
                <a class="h3 font-bold m-b m-t-sm" href="./">Simple SEO Mistakes That Can Cause Damage</a>
                <div class="post-meta">
                  <span class="post-author a-custom-primary">Les Cecilia</span>
                  <span class="post-tags"><a href="#">Search Engine Optimization</a></span>
                </div>
                <p class="font-thin text-lg">Finding a real star requires going beyond "Tell me about yourself." Here are the questions that will tell you what you really</p>
              </div>
            </div>
          </div>
        </div> -->
        
        <!-- PAGINATION -->
        <!-- <div class="page_nav">
          <ul>
            <li class="active"><a href="./index.html">1</a></li>
            <li><a href="./index.html">2</a></li>
            <li><a href="./index.html">3</a></li>
          </ul>
         -->
        </div>

      </div>
      
      <!-- SIDEBAR -->
      <aside class="col-md-4 p-t-lg">
        <!-- <div class="free-course free-course-aside side-widget">
          <h5>Free Course</h5>
          <h3>"Double Your Traffic in 30 days" + Secret Bonus</h3>
          <h5>valued at $299</h5>
          <p>This amazing course will teach you, step by step, how to double if not triple your traffic over the next 30 days.</p>
          <form>
            <input type="text" placeholder="Email...">
            <button type="submit">Yes, let's Start</button>
          </form>
          <span>100% Privacy. We will never spam you!</span>
        </div> -->

        <div class="recent-posts side-widget" id="station-sidebar" ng-if="app.initData.popular && app.initData.popular.length > 0">
          <h4>Populares</h4>
          <ul>
            <li ng-repeat="post in app.initData.popular | limitTo: 5">
              <a ui-sref="app.read({'slug': post.slug})" class="rp-title">
              {{post.title}}</a>
              <div class="rp-meta">
                <span class="post-author a-custom-primary">{{post.date | fromNow}}</span>
                <!-- <span class="post-tags"><a href="#">Startup</a></span> -->
              </div>
            </li>
          </ul>
        </div>

        <div class="recent-posts side-widget" id="station-sidebar" ng-if="app.initData.recent && app.initData.recent.length > 0">
          <h4>Recentes</h4>
          <ul>
            <li ng-repeat="post in app.initData.recent | limitTo: 5">
              <a ui-sref="app.read({'slug': post.slug})" class="rp-title">
              {{post.title}}</a>
              <div class="rp-meta">
                <span class="post-author a-custom-primary">{{post.date | fromNow}}</span>
                <!-- <span class="post-tags"><a href="#">Startup</a></span> -->
              </div>
            </li>
          </ul>
        </div>
        <!-- <div class="ad-block side-widget">
          <img src="images/home/other/ad-300.jpg" class="img-responsive" alt="">
          <a href="#">Advertise Here</a>
        </div> -->
      </aside>
    </div>
  </div>
</div>

<div class="station-perspectives p-t-50" ng-if="app.isMobile">

  <!-- horizontal perspective -->
  <div id="perspective-horizontal" ng-if="app.viewMode === 'horizontal'" class="p-t-lg p-b-lg">
    <div ng-repeat="ordinaryRow in app.termPerspectiveView.ordinaryRows" class="ordinary-row" ng-if="ordinaryRow.cells && ordinaryRow.cells.length">
    <!-- ng-class="{'text-white': !app.customStyle.darkFonts2}" -->
      <button ng-if="ordinaryRow.cells"  class="backward"><i class="mdi mdi-chevron-left"></i></button>
      <!-- ng-class="{'text-white': !app.customStyle.darkFonts2}"  -->
      <button ng-if="ordinaryRow.cells"  class="forward"><i class="mdi mdi-chevron-right"></i></button>
      <div ng-if="ordinaryRow.cells" class="wrap info-flow-wrap" scroll="horizontalPaginate(ordinaryRow)" active="horizontalCallback()" sly-scroll>
        <div class="h3">
          <a ng-if="ordinaryRow.termName" class="animated fadeIn" ui-sref="app.stations.perspectives({stationId: app.network.currentStation.id, perspectiveId: app.network.currentStation.perspective.id, termId: ordinaryRow.termId})">
            <!-- ng-class="{'text-white': !app.customStyle.darkFonts2}" -->
            <span class="m-l-xs font-thin text-lg text-u-c" >{{::ordinaryRow.termName}}</span>
          </a>
        </div>
        <div class="frame info-flow" style="overflow: hidden;">
          <ul class="sly-clearfix info-flow-list" >
            <li class="cell" ng-repeat="cell in ordinaryRow.cells" ng-class="{'post-read': app.postRead(cell.postView.postId)}">
              <!-- <div class="" include=" 'tpl/stations_horizontal_cells.html' "></div> -->
              <div class="news-item animated fadeIn o-h" ng-class="{'bg-custom-primary-no-image': !cell.postView.imageMediumId}" ng-click="app.setHorizontalCursor(cell.postView, app.cellsToPostViews(ordinaryRow.cells))">
                <div class="bottom wrapper-xxs bg-stripe bg-gd-dk text-white title-wrapper-bg" ng-if="cell.postView.imageMediumId">
                  <div class="text-base text-white ls-sm">{{::cell.postView.title}}</div>
                  <div class="m-t-sm" ng-if="cell.postView.imageMediumId">
                    <div class="display-t-c">
                      <a ng-click="app.goToProfile($event, cell.postView.authorUsername)" class="" title="Ir para o perfil de {{::cell.postView.authorName}}">
                        <div back-img="{{cell.postView.authorSmallImageId}}" class="bg-cover bg-img-xs bg-cover-round" title="{{::cell.postView.authorName}}"></div>
                      </a>
                    </div>
                    <div class="display-t-c p-l-sm v-middle">
                      <a ng-click="app.goToProfile($event, cell.postView.authorUsername)" class="text-sm text-white" title="Ir para o perfil de {{::cell.postView.authorName}}" dir="auto">
                        {{::cell.postView.authorName}}
                      </a>
                      <br>
                      <span class="text-sm readingTime">
                        {{::cell.postView.date | fromNow}}
                      </span>
                    </div>
                    <div class="pos-abt bottom-0 right-0 v-middle padder-v p-r-xs">
                      <span ng-click="app.recommend(cell.postView.postId); app.stopPropagation($event);">
                        <a href class="text-center text-md v-middle">
                          <i class="mdi text-white link" ng-class="{'mdi-heart animated rubberBand': app.recommended(cell.postView.postId), 'mdi-heart-outline': !app.recommended(cell.postView.postId)}"></i>
                        </a>
                      </span>
                      <span class="p-l-xs" ng-click="app.bookmark(cell.postView.postId); app.stopPropagation($event);">
                        <a href class="text-center text-md v-middle">
                          <i class="mdi text-white link" ng-class="{'mdi-bookmark animated rubberBand': app.bookmarked(cell.postView.postId), 'mdi-bookmark-outline': !app.bookmarked(cell.postView.postId)}"></i>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="wrapper-xs font-base" ng-if="!cell.postView.imageMediumId">
                  {{::cell.postView.title | characters:50}}
                </div>

                <div class="pos-abt bottom-0 wrapper-xs" ng-if="!cell.postView.imageMediumId">
                  <div class="display-t-c">
                    <a ng-click="app.goToProfile($event, cell.postView.authorUsername)" title="Ir para o perfil de {{::cell.postView.authorName}}">
                      <div back-img="{{cell.postView.authorSmallImageId}}" class="bg-cover bg-img-xs bg-cover-round" title="{{::cell.postView.authorName}}"></div>
                    </a>
                  </div>
                  <div class="display-t-c p-l-sm v-middle">
                    <a ng-click="app.goToProfile($event, cell.postView.authorUsername)" class="text-sm text-custom-primary link" title="Ir para o perfil de {{::cell.postView.authorName}}" dir="auto">
                      {{::cell.postView.authorName}}
                    </a>
                    <br>
                    <span class="text-sm readingTime">
                      {{::cell.postView.date | fromNow}}
                    </span>
                  </div>
                </div>
                <div class="pos-abt bottom-0 right-0 v-middle padder-v p-r-xs" ng-if="!cell.postView.imageMediumId">
                  <span ng-click="app.recommend(cell.postView.postId); app.stopPropagation($event);">
                    <a href class="text-center text-md v-middle">
                      <i class="mdi text-custom-primary link" ng-class="{'mdi-heart animated rubberBand': app.recommended(cell.postView.postId), 'mdi-heart-outline': !app.recommended(cell.postView.postId)}"></i>
                    </a>
                  </span>
                  <span class="p-l-xs" ng-click="app.bookmark(cell.postView.postId); app.stopPropagation($event);">
                    <a href class="text-center text-md v-middle">
                      <i class="mdi text-custom-primary link" ng-class="{'mdi-bookmark animated rubberBand': app.bookmarked(cell.postView.postId), 'mdi-bookmark-outline': !app.bookmarked(cell.postView.postId)}"></i>
                    </a>
                  </span>
                </div>

                <div class="cell-wrap img-bg" ng-if="cell.postView.imageMediumId" ng-style="getBackgroundImage(cell.postView, 'md')">
                </div>
              </div>
            </li>
            <li syle="width:1px"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /horizontal perspective -->

  <!-- vertical perspective -->
  <div id="perspective-vertical" class="animated fadeIn" ng-if="app.viewMode === 'vertical'">
    <md-tabs md-no-ink md-selected="selectedIndex" flex class="bg-custom" md-center-tabs md-dynamic-height>
    <!-- tab -->
    <md-tab md-on-select="selectVerticalRow(ordinaryRow)" ng-repeat="ordinaryRow in app.termPerspectiveView.ordinaryRows" ng-if="ordinaryRow.cells && ordinaryRow.cells.length" label="{{::ordinaryRow.termName}}">
    <div flex class="m-b-lg p-l-xxl p-r-xxl block-800 m-auto m-t-sm" infinite-scroll="verticalPaginate(ordinaryRow)" infinite-scroll-distance="3">
      <!-- posts -->
      <ul class="b-none no-padding m-b-none ls-style-none">
        <!-- ng-class="{'post-read': app.postRead(cell.postView.postId)}" -->
        <li ng-repeat="cell in ordinaryRow.cells">
         <div ng-class="{'b-t': !$first}"></div>
         <div ng-click="app.goToState('app.read', {'slug': cell.postView.slug})" class="clear p-t-sm padder-v padder-md post-list news-item">
          <!-- image -->
          <a  class="block-image m-l m-t" ng-if="cell.postView.imageMediumId" >
            <div class="cell-wrap r r-2x bg-cover" ng-style="getBackgroundImage(cell.postView, 'md')">
            </div>
          </a>
          <!-- /image -->
          <!-- /content -->
          <div class="m-t-sm" ng-class="{'content-block': cell.postView.imageMediumId}">
            <span class="no-radius normal p-xxs topper text-md bg-custom-primary" ng-if="cell.postView.topper">{{::cell.postView.topper}}</span>
            <a  class="h3 font-bold m-b m-t-sm m-b m-t-sm block">
              {{::cell.postView.title}}
            </a>
            <a  class="text-lg font-thin text-lg">{{::cell.postView.snippet | characters:170}}</a>
            <div class="m-t">
              <div class="display-t-c">
                <a >
                  <div back-img="{{cell.postView.authorSmallImageId}}" class="bg-cover bg-img bg-cover-round" title="{{::cell.postView.authorName}}"></div>
                </a>
              </div>
              <div class="display-t-c p-l-sm v-middle">
                <a ng-click="app.goToProfile($event, cell.postView.authorUsername)" class="a-custom-primary link link link--accent link--darken">
                  {{::cell.postView.authorName}}
                </a>
                <br>
                <span class="text-sm readingTime">
                  {{::cell.postView.date | fromNow}}
                </span>
              </div>
              <div class="display-t-c use-actions v-middle padder">
                <span ng-click="app.recommend(cell.postView.postId); app.stopPropagation($event);">
                  <a href class="text-center text-lg v-middle">
                    <i class="mdi" ng-class="{'mdi-heart animated rubberBand': app.recommended(cell.postView.postId), 'mdi-heart-outline': !app.recommended(cell.postView.postId)}"></i>
                  </a>
                  <span class="p-b-sm hide-xs">Recomendar</span>
                </span>
                <span class="p-l-sm" ng-click="app.bookmark(cell.postView.postId); app.stopPropagation($event);">
                  <a href class="text-center text-lg v-middle">
                    <i class="mdi" ng-class="{'mdi-bookmark animated rubberBand': app.bookmarked(cell.postView.postId), 'mdi-bookmark-outline': !app.bookmarked(cell.postView.postId)}"></i>
                  </a>
                  <span class="p-b-sm hide-xs">Adicionar a Minha Lista</span>
                </span>
              </div>
            </div>
          </div>
          <!-- /content -->
        </div>    
      </li>
    </ul>
  </div>
  <!-- /posts -->
</md-tab>
<!-- /tab -->
</md-tabs>
</div>
<!-- /vertical perspective -->


<!-- perspective view vertical/horizontal -->
<div ng-if="!app.isMobile" id="station-sidebar" class="b-l animated fadeIn">
  <!-- <div class="vbox"> -->
  <div class="wrapper sidebar-top">
    <div class="font-thin text-lg h4">&nbsp;</div>
  </div>
  <md-tabs style="height: 100%" md-center-tabs md-dynamic-height md-no-ink>
  <md-tab class="bg-custom" label="Populares">
  <div class="wrapper-sm popular-posts" flex>
    <ul class="timeline m-t-sm m-b-md">
      <li class="tl-item" ng-repeat="post in app.initData.popular | limitTo: 5">
        <div class="tl-wrap">
          <div class="popular-index">{{$index + 1}}</div>
          <div class="">
            <small style="opacity: 0.7" class="post-time w-md">{{post.date | fromNow}}</small>
            <a ng-click="app.setNowReading(post, app.initData.popular)" class="pointer">
              <div>
                {{post.title | characters:40}}
              </div>
            </a>
          </div>
        </div>
        <div class="divider" ng-if="!$last"></div>
      </li>
    </ul>
  </div>
</md-tab>
<md-tab md-no-ink angular-ripple class="bg-custom" label="Recentes">
<div class="wrapper-sm recent-posts" flex>
  <ul class="timeline m-t-md m-b-md">
    <li class="tl-item" ng-repeat="post in app.initData.recent | limitTo: 5">
      <div class="tl-wrap">
        <div class="">
          <small style="opacity: 0.7" class="post-time w-md">{{post.date | fromNow}}</small>
          <a ng-click="app.setNowReading(post, app.initData.recent)" class="pointer">
            <div clamp="1">
              {{post.title | characters:40}}
            </div>
          </a>
        </div>
      </div>
      <div class="divider" ng-hide="$last"></div>
    </li>
  </ul>
</div>
</md-tab>
<!-- /tab -->
</md-tabs>
</div>
</div>

<!-- header bar -->
<div data-ng-include=" 'tpl/blocks/top_header.html' "></div>
<!-- /header bar-->
<div ng-class="{'pos-abt bottom-0 w-full': !(app.initData.popular && app.initData.popular.length > 0) || !(app.initData.recent && app.initData.recent.length > 0)}" data-ng-include=" 'tpl/blocks/bottom_footer.html' "></div>