<div id="perspective-vertical" class="animated fadeIn" ng-if="app.viewMode === 'vertical'">
  <md-tabs md-no-ink md-selected="selectedIndex" flex class="bg-custom" md-center-tabs md-dynamic-height>
    <!-- tab -->
    <md-tab md-on-select="selectVerticalRow(ordinaryRow)" ng-repeat="ordinaryRow in app.termPerspectiveView.ordinaryRows" ng-if="ordinaryRow.cells && ordinaryRow.cells.length" label="{{::ordinaryRow.termName}}">
      <div flex>
        <div class="m-b-lg p-l-xxl p-r-xxl block-800 m-auto m-t-sm" infinite-scroll="verticalPaginate(ordinaryRow)" infinite-scroll-distance="3">
            <!-- posts -->
          <ul class="b-none no-padding m-b-none ls-style-none">
            <li ng-repeat="cell in ordinaryRow.cells" ng-class="{'post-read': app.postRead(cell.postView.postId)}">
             <div ng-class="{'b-t': !$first}"></div>
              <div class="clear p-t-sm padder-v padder-md post-list news-item" angular-ripple ng-click="app.setNowReading(cell.postView, app.cellsToPostViews(ordinaryRow.cells))">
                <!-- image -->
                <a class="block-image m-l m-t" ng-if="cell.postView.mediumId" >
                  <div class="cell-wrap r r-2x">
                    <div ng-style="getBackgroundImage(cell.postView, 'md')"></div>
                  </div>
                </a>
                <!-- /image -->
                <!-- /content -->
                <div class="m-t-sm" ng-class="{'content-block': cell.postView.mediumId}">
                  <span class="no-radius normal p-xxs topper text-md bg-custom-primary" ng-if="cell.postView.topper">{{::cell.postView.topper}}</span>
                  <a  class="h3 font-bold m-b m-t-sm block">
                    {{::cell.postView.title}}
                  </a>
                  <div class="text-lg font-thin">{{::cell.postView.snippet | characters:170}}</div>
                  <div class="m-t">
                    <div class="display-t-c">
                      <a >
                          <div style="{{::cell.postView.authorSmallImageId | imageLink | bgimg}}" class="bg-cover bg-img bg-cover-round" title="cell.postView.authorName"></div>
                      </a>
                    </div>
                    <div class="display-t-c p-l-sm v-middle">
                      <a ng-click="app.goToProfile($event, cell.postView.authorUsername)" class="a-custom-primary link link link--accent link--darken">
                        {{::cell.postView.authorName}}
                      </a>
                      <br>
                      <span class="text-sm">
                        <span class="">
                          <span class="readingTime">{{::cell.postView.date | fromNow}}</span>
                        </span>
                      </span>
                    </div>
                    <div class="display-t-c v-middle padder">
                      <span ng-click="app.recommend(cell.postView.postId); app.stopPropagation($event);">
                        <a href class="text-center text-lg v-middle">
                        <i class="mdi" ng-class="{'mdi-heart animated rubberBand': app.recommended(cell.postView.postId), 'mdi-heart-outline': !app.recommended(cell.postView.postId)}"></i>
                        </a>
                        <span class="p-b-sm">Recomendar</span>
                      </span>
                      <span class="p-l-sm" ng-click="app.bookmark(cell.postView.postId); app.stopPropagation($event);">
                        <a href class="text-center text-lg v-middle">
                        <i class="mdi" ng-class="{'mdi-bookmark animated rubberBand': app.bookmarked(cell.postView.postId), 'mdi-bookmark-outline': !app.bookmarked(cell.postView.postId)}"></i>
                        </a>
                        <span class="p-b-sm">Adicionar a Minha Lista</span>
                      </span>
                    </div>
                  </div>
                </div>
                <!-- /content -->
              </div>    
            </li>
          </ul>
            <!-- /posts -->
        </div>
      </div>
    </md-tab>
    <!-- /tab -->
  </md-tabs>
</div>