<div id="tag-posts" class="hbox p-t-xxl" ng-cloak>
	<!-- cover container -->
	<div class="text-center m-t-xxl">
		<span class="tag-page-tag box-shadow animated fadeIn text-3x m-auto">
			{{tagName}}
		</span>
	</div>
	<!-- /conver container -->

	<!-- posts & recommendation -->
	<div infinite-scroll="paginate()" infinite-scroll-distance="1">

		<div class="container p-b-lg">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<!-- BLOG POST -->
					<div class="home-blog bg-custom">

						<div  ng-repeat="postView in postViews" class="half-post bg-custom">
							<div class="p-b-lg b-t m-t-md"></div>
						<a ui-sref="app.read({'slug': postView.slug})">
							<div class="row">
								<div class="col-md-5" ng-if="postView.imageMediumId">
									<span class="block-image2">
										<div ng-style="getBackgroundImage(postView, 'md')"
										class="cell-wrap r r-2x bg-cover" alt=""></div>
									</span>
								</div>
								<div ng-class="{'col-md-7':postView.imageMediumId, 'col-md-12': !postView.imageMediumId}">
									<span href="" class="h3 font-bold m-b block" ng-class="{'m-t-sm': postView.imageMediumId}">
										{{::postView.title}}</span>
										<p class="font-thin text-lg">{{::postView.snippet | characters:150}}</p>
									</div>
								</div>
							</a>
							<div class="m-t">
								<div class="display-t-c">
									<a >
										<div back-img="{{postView.authorSmallImageId}}" class="bg-cover bg-img bg-cover-round" title="postView.authorName"></div>
									</a>
								</div>
								<div class="display-t-c p-l-sm v-middle">
									<a ng-click="app.goToProfile($event, postView.authorUsername)" class="a-custom-primary link link link--accent link--darken">
										{{::postView.authorName}}
									</a>
									<br>
									<span class="text-sm readingTime">
										{{::postView.date | fromNow}}
									</span>
								</div>
								<div class="display-t-c v-middle padder">
									<span ng-click="app.recommend(postView.postId); app.stopPropagation($event);">
										<a href class="text-center text-lg v-middle">
											<i class="mdi" ng-class="{'mdi-heart animated rubberBand': app.recommended(postView.postId), 'mdi-heart-outline': !app.recommended(postView.postId)}"></i>
										</a>
										<span class="p-b-sm">Recomendar</span>
									</span>
									<span class="p-l-sm" ng-click="app.bookmark(postView.postId); app.stopPropagation($event);">
										<a href class="text-center text-lg v-middle">
											<i class="mdi" ng-class="{'mdi-bookmark animated rubberBand': app.bookmarked(postView.postId), 'mdi-bookmark-outline': !app.bookmarked(postView.postId)}"></i>
										</a>
										<span class="p-b-sm">Adicionar a Minha Lista</span>
									</span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- /posts -->

		<!-- /pages -->
	</div>

	<div data-ng-include=" 'tpl/blocks/top_header.html' "></div>

</div>