<div id="tag-posts" class="hbox p-t-xxl" ng-cloak>
	<!-- cover container -->
	<div class="text-center wrapper" ng-class="{'m-t-lg': app.isMobile, 'm-t-xxl': !app.isMobile}">
		<span class="tag-page-tag box-shadow animated fadeIn text-3x m-auto" ng-class="{'text-xl': app.isMobile, 'text-3x': !app.isMobile}">
			{{tagName}}
		</span>
	</div>
	<!-- /conver container -->

	<!-- posts & recommendation -->
	<div infinite-scroll="paginate()" infinite-scroll-distance="1">

		<div class="container p-b-lg p-t-lg p-b-xl m-b-xl">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<!-- BLOG POST -->
					<div class="home-blog">

						<ul class="b-none no-padding m-b-none ls-style-none">
							<li ng-repeat="postView in postViews">
								<div ng-class="{'b-t': !$first}"></div>
								<div class="m-b panel-card panel animated zoomIn clear p-t-sm padder-v padder-md post-list news-item">
									<!-- image -->
									<a ui-sref="app.read({'slug': postView.slug})" class="block-image m-l m-t" ng-if="postView.featuredImage" >
										<div class="cell-wrap r r-2x" ng-style="getBackgroundImage(postView, 'medium')">
										</div>
									</a>
									<!-- /image -->
									<!-- /content -->
									<div class="m-t-sm" ng-class="{'content-block': postView.featuredImage}">
										<span class="no-radius normal p-xxs topper text-md bg-custom-primary" ng-if="postView.topper">{{postView.topper}}</span>
										<a  class="h3 font-bold m-b m-t-sm block" ui-sref="app.read({'slug': postView.slug})">
											{{postView.title}}
										</a>
										<a ui-sref="app.read({'slug': postView.slug})">
											<div class="text-lg font-thin">
												{{postView.snippet | characters:170}}
											</div>
										</a>
										<div class="m-t">
											<div class="display-t-c">
												<a >
													<div back-img="{{postView.authorSmallImageId}}" class="bg-cover bg-img bg-cover-round" title="postView.authorName"></div>
												</a>
											</div>
											<div class="display-t-c p-l-sm v-middle">
												<a ng-click="app.goToProfile($event, postView.authorUsername)" class="a-custom-primary link link link--accent link--darken">
													{{postView.authorName}}
												</a>
												<br>
												<span class="text-sm">
													<span class="">
														<span class="readingTime" data-livestamp="{{postView.date/1000}}">{{postView.date | fromNow}}</span>
														<div class="inline text-muted p-l-lg text-u-c" ng-if="postView.authorId == app.initData.person.id">
															<a ng-click="app.goToEditPost(postView.postId, $event)"
															class="text-muted p-r underline-hover">editar</a>
															<a class="text-muted underline-hover" ng-click="app.openDeletePost(postView.postId, $event);
															">remover</a>
														</div>
													</span>
												</span>
											</div>
										</div>
									</div>
									<!-- /content -->
								</div>    
							</li>
						</ul>

					</div>
				</div>
			</div>

			<!-- /posts -->

			<!-- /pages -->
		</div>

		<div data-ng-include=" 'tpl/blocks/top_header.html' "></div>

		<div ng-if="postViews != null" class="pos-abt bottom-0 w-full" data-ng-include=" 'tpl/blocks/bottom_footer.html' "></div> 
	</div>