<div id="user-profile" class="hbox" ng-cloak>
	<md-sidenav id="edit-profile" ng-if="person.id == app.initData.person.id" class="md-sidenav-right md-whiteframe-z2 w-lg" md-component-id="right">
      <md-toolbar class="bg-header">
        <h1 class="md-toolbar-tools bg-header-text">Editar Perfil</h1>
      </md-toolbar>
      <md-content layout-padding class="p-l-xl p-r-xl">
        <div>
          <md-input-container>
            <label for="testInput">Nome</label>
            <input type="text" id="testInput" ng-model="editingPerson.name" md-autofocus>
          </md-input-container>
          <md-input-container>
            <label for="testInput">Usuário</label>
            <input type="text" id="testInput" ng-model="editingPerson.username" md-autofocus>
          </md-input-container>
          <md-input-container>
            <label for="testInput">Email</label>
            <input type="text" id="testInput" ng-model="editingPerson.email" md-autofocus>
          </md-input-container>
          <md-input-container>
            <label for="testInput">Senha</label>
            <input type="password" id="testInput" ng-model="editingPerson.password" md-autofocus>
          </md-input-container>
          <md-input-container ng-class="{'animated fadeIn': editingPerson.password, 'hide': !editingPerson.password}">
            <label for="testInput">Confirmar Senha</label>
            <input type="password" id="testInput" ng-model="editingPerson.passwordConfirm" md-autofocus>
          </md-input-container>
          <md-input-container>
            <label for="testInput">Biografia</label>
            <textarea type="text" id="testInput" columns="1" ng-model="editingPerson.bio" md-autofocus></textarea>
          </md-input-container>
        </div>
        <button md-ink-ripple class="md-btn md-button md-flat btn-fw pull-right" ng-click="saveProfile(editingPerson)">
	        Salvar
        </button>
        <button md-ink-ripple class="md-btn md-button md-flat btn-fw pull-right" ng-click="cancelEditProfile()">
	        Cancelar
        </button>
      </md-content>
    </md-sidenav>
	<!-- cover container -->
	<div ng-if="showProfile">
		<div id="user-cover-pic" class="profile-cover abstract-bg bg-cover pos-rlt" back-img-cover="{{person.coverLargeId}}">
			<div class="cover-abstract-mask ng-scope" ng-if="!person.coverLargeId">
			</div>
			<div id="cover-image-button" style="overflow:hidden;" 
			 class="pos-abt left-0 bottom-0 m-l-md m-b-md wrapper-sm" ng-if="person.id == app.initData.person.id">
				<i class="mdi mdi-camera text-3x icon-text-shadow v-middle p-r-xs"></i>
				<span class="p-r-xs text-lg" style="text-shadow:1px 1px 1px #000; vertical-align: sub;">
					Trocar imagem de capa
				</span>
				<div id="image-button" class="">
					<input id="image-upload" type="file" nv-file-select="" uploader="cover" name="contents" accept="image/*"/>
				</div>	
			</div>
		</div>
		<div id="profile-buttons" class="pos-abt wrapper profile-buttons-cover">
			<md-button class="md-fab custom-fab-button text-lg animated zoomIn" 
			tooltip="Editar perfil" tooltip-placement="left" tooltip-append-to-body="true" tooltip-popup-delay="700"
			ng-if="person.id == app.initData.person.id" 
			ng-click="showEditProfile($event)">
			<i class="mdi mdi-pencil"></i>
		</md-button>
	</div>
	<div id="editing-user-profile" class="user-details block-600 m-auto animated zoomIn with-cover">
		<div id="user-profile-pic" back-img="{{person.imageMediumId}}" class="bg-cover box-shadow2 bg-img-xxl bg-cover-round m-b m-auto b b-3x b-white" title="{{person.name}}">
			<div id="image-button-wrapper" ng-if="person.id == app.initData.person.id">
				<div id="image-button" class="custom-btn border-radius-50" style="width: 194px; height: 194px;">
					<i class="mdi mdi-pencil text-4x text-white image-edit" style="margin: 75px;"></i>
					<input id="image-upload" type="file" nv-file-select="" uploader="image" name="contents" accept="image/*"/>
				</div>
			</div>
		</div>
		<div class="m-t-sm font-bold wrapper-xs text-center" ng-class="{'text-4x': !person.coverLargeId, 'text-3x': person.coverLargeId}">
			{{person.name}}
		</div>
	</div>
	<div class="user-bio block-600 m-auto font-thin text-2x text-center m-b-lg">
		{{person.bio}}
	</div>
</div>
<!-- /conver container -->

<!-- divider -->
<div ng-if="postViews && postViews.length > 0 && showProfile">
	<div class="m-t b-t b-drk w-full"></div>
	<div class="header m-auto text-center text-u-c text-lg">
		<span class="header-title p-l p-r">
			Notícias
		</span>
	</div>
</div>

<!-- posts & recommendation -->
<div infinite-scroll="paginate()" infinite-scroll-distance="1">
	<!-- posts -->
	<div class="block-800 m-auto m-t-lg m-b-lg" ng-class="{'wrapper-sm': app.isMobile}" ng-if="postViews && postViews.length > 0 && showProfile">
		<ul class="b-none no-padding m-b-none ls-style-none">
			<li ng-repeat="postView in postViews">
				<div ng-class="{'b-t': !$first}"></div>
				<div class="m-b panel-card panel animated zoomIn clear p-t-sm padder-v padder-md post-list news-item">
					<!-- image -->
					<a ui-sref="app.read({'slug': postView.slug})" class="block-image m-l m-t" ng-if="postView.featuredImageHash" >
			            <div class="cell-wrap r r-2x" ng-style="getBackgroundImage(postView, 'medium')">
			            </div>
			          </a>
					<!-- /image -->
					<!-- /content -->
					<div class="m-t-sm" ng-class="{'content-block': postView.featuredImageHash}">
						<span class="no-radius normal p-xxs topper text-md bg-custom-primary" ng-if="postView.topper">{{postView.topper}}</span>
						<a  class="h3 font-bold m-b m-t-sm block" ui-sref="app.read({'slug': postView.slug})">
							{{postView.title}}
						</a>
						<a ui-sref="app.read({'slug': postView.slug})">
							<div class="text-lg font-thin">
								{{postView.snippet | characters:170}}
							</div>
						</a>
						<div class="m-t">
							<div class="display-t-c">
								<a >
									<div back-img="{{postView.authorSmallImageId}}" class="bg-cover bg-img bg-cover-round" title="postView.authorName"></div>
								</a>
							</div>
							<div class="display-t-c p-l-sm v-middle">
								<a ng-click="app.goToProfile($event, postView.authorUsername)" class="a-custom-primary link link link--accent link--darken">
									{{postView.authorName}}
								</a>
								<br>
								<span class="text-sm">
									<span class="">
										<span class="readingTime" data-livestamp="{{postView.date/1000}}">{{postView.date | fromNow}}</span>
										<div class="inline text-muted p-l-lg text-u-c" ng-if="postView.authorId == app.initData.person.id">
											<a ng-click="app.goToEditPost(postView.postId, $event)"
											 class="text-muted p-r underline-hover">editar</a>
											<a class="text-muted underline-hover" ng-click="app.openDeletePost(postView.postId, $event);
											">remover</a>
										</div>
									</span>
								</span>
							</div>
						</div>
					</div>
					<!-- /content -->
				</div>    
			</li>
		</ul>
	</div>
	<!-- /posts -->

	<!-- <div class="clear wrapper m-t m-b bg-light dk b-t b-b" ng-if="recommendations && showProfile">
		<div class="block-800 m-auto text-md text-u-c m-b-md p-l font-bold">
			recomendados por {{person.name}}
		</div>
		<div class="block-800 m-auto">
			<div class="col-sm-6" ng-repeat="recommendation in recommendations">
				<div class="m-t-sm m-b-md">
					<div clamp="1" class="text-md">
						<a class="underline-hover">{{recommendation.post.title}}</a>
					</div>
					<div clamp="1" class="font-thin">
						{{recommendation.post.body | stripHtml}}
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<!-- pages -->
	<div class="block-800 m-auto m-t-lg m-b-lg" ng-class="{'wrapper-sm': app.isMobile}" ng-if="pages && showProfile">
		<ul class="b-none no-padding m-b-none ls-style-none">
			<li ng-repeat="postView in pages">
				<div ng-class="{'b-t': !$first}"></div>
				<div class="m-b panel-card panel animated zoomIn clear p-t-sm padder-v padder-md post-list news-item">
					<!-- image -->
					<a ui-sref="app.read({'slug': postView.slug})" class="block-image m-l m-t" ng-if="postView.featuredImageHash" >
			            <div class="cell-wrap r r-2x" ng-style="getBackgroundImage(postView, 'medium')">
			            </div>
			          </a>
					<!-- /image -->
					<!-- /content -->
					<div class="m-t-sm" ng-class="{'content-block': postView.featuredImageHash}">
						<span class="no-radius normal p-xxs topper text-md bg-custom-primary" ng-if="postView.topper">{{postView.topper}}</span>
						<a  class="h3 font-bold m-b m-t-sm block" ui-sref="app.read({'slug': postView.slug})">
							{{postView.title}}
						</a>
						<a ui-sref="app.read({'slug': postView.slug})">
							<div class="text-lg font-thin">
								{{postView.snippet | characters:170}}
							</div>
						</a>
						<div class="m-t">
							<div class="display-t-c">
								<a >
									<div back-img="{{postView.authorSmallImageId}}" class="bg-cover bg-img bg-cover-round" title="postView.authorName"></div>
								</a>
							</div>
							<div class="display-t-c p-l-sm v-middle">
								<a ng-click="app.goToProfile($event, postView.authorUsername)" class="a-custom-primary link link link--accent link--darken">
									{{postView.authorName}}
								</a>
								<br>
								<span class="text-sm">
									<span class="">
										<span class="readingTime" data-livestamp="{{postView.date/1000}}">{{postView.date | fromNow}}</span>
										<div class="inline text-muted p-l-lg text-u-c" ng-if="postView.authorId == app.initData.person.id">
											<a ng-click="app.goToEditPost(postView.postId, $event)"
											 class="text-muted p-r underline-hover">editar</a>
											<a class="text-muted underline-hover" ng-click="app.openDeletePost(postView.postId, $event);
											">remover</a>
										</div>
									</span>
								</span>
							</div>
						</div>
					</div>
					<!-- /content -->
				</div>    
			</li>
		</ul>
	</div>
	<!-- /pages -->

</div>

<!-- header bar -->
<div data-ng-include=" 'tpl/blocks/top_header.html' "></div>
<!-- /header bar-->

</div>

<script type="text/ng-template" id="edit_profile.html">
	<md-dialog aria-label="Adicionar notícia" id="edit-profile-dialog">
  	<md-content>
  		<div class="wrapper">
  			<div class="text-lg text-center">Selectione as categorias desejadas</div>
				<div class="wrapper-xxs perspective-editor-category-selector m-t-sm tree well">
					<ul class="normal-wrap perspective-editor-category-selector-list">
						<li ng-repeat="term in pe.terms">
							<span class="check-term" ng-click="pe.checkCategory(term)">
						 		<md-checkbox md-no-ink ng-model="term.checked" class="pull-left"></md-checkbox>
						 	</span>
						 	<span class="leaf box-shadow" tooltip="{{term.name}}" tooltip-placement="top" tooltip-append-to-body="true" tooltip-popup-delay="700">
						 		{{term.name}}
						 	</span>
					 	</li>
				 	</ul>
				</div>
				<div class="pos-abt bottom-0 right-0 wrapper-sm">
					<button ng-click="cancel()" md-ink-ripple class="md-btn md-flat btn-fw">Fechar</button>
				</div>
			</div>
	  </md-content>
	</md-dialog>
</script>