/* general */
.font-500{
	font-weight: 500;
}

.animated{
 -webkit-animation-duration: 0.3s!important;
 animation-duration: 0.3s!important; 
}

.animated3x{
 -webkit-animation-duration: 0.3s!important;
 animation-duration: 0.3s!important; 
}

.animated5x{
 -webkit-animation-duration: 0.5s!important;
 }

 .z-index-n-1{
	z-index: -1;
 }
 .z-index-n-2{
	z-index: -2;
 }
 .z-index-n-3{
	z-index: -3;
 }
 .z-index-n-4{
	z-index: -4;
 }
.z-index-1{
	z-index: 1;
 }
 .z-index-2{
	z-index: 2;
 }
 .z-index-3{
	z-index: 3;
 }
 .z-index-4{
	z-index: 4;
 }
 .z-index-5{
	z-index: 5;
 }


/* /general */

/* toast */
md-toast {
	color: white!important;
}

.md-toast-success > div{
	background-color: rgba(0,128,0,0.95)!important;
}

.md-toast-info > div{
	background-color: rgba(0,85,187,0.95)!important;
}
/* /toast */

/* search */
#search input{
	background-color: rgba(255,255,255,.15);
    border-radius: 3px;
}
/* /search */

/* color-settings */
div#settings-colors ~ md-backdrop.md-sidenav-backdrop{
	display: none;
}
/* /color-settings */

/* settings */
.settings-list {
  padding: 0;
  margin: 70px 0 16px;
  list-style: none;
}

.settings-list > li {
  padding: 0;
  width: 100%;
}

.settings-list > li a.settings-items {
	display: block;
	width: inherit;
	border-radius: 2px;
	padding: 12px;
	transition: background 0.15s ease-in-out;
}

.settings-list > li.active a.settings-items,
.settings-list > li a.settings-items:hover{
	background-color: rgba(0,0,0,0.12);
}

/* /settings */