/* general */
	/* material design icons */
	@font-face {
	  font-family: 'Material Icons';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v12/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
	}

	.material-icons {
	  font-family: 'Material Icons';
	  font-weight: normal;
	  font-style: normal;
	  font-size: 24px;
	  line-height: 1;
	  letter-spacing: normal;
	  text-transform: none;
	  display: inline-block;
	  white-space: nowrap;
	  word-wrap: normal;
	  direction: ltr;
	  -webkit-font-feature-settings: 'liga';
	  -webkit-font-smoothing: antialiased;
	}

	@font-face {
      font-family:"icomoon";
      src:url("https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot");
      font-weight:normal;
      font-style:normal;
    }
    @font-face {
      font-family: 'icomoon';
      src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?-cmq1um');
      src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?#iefix-cmq1um') format('embedded-opentype'),
      url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.woff?-cmq1um') format('woff'),
      url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.ttf?-cmq1um') format('truetype'),
      url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.svg?-cmq1um#icomoon') format('svg');
      font-weight: normal;
      font-style: normal;
    }
	/* /material design icons */

	/* material datepicker */
	.mdp-calendar-monthyear,  .mdp-datepicker-year, .mdp-calendar-week-days,
	.mdp-datepicker-select-year .repeated-year .md-button{
		font-size: inherit!important;
	}

	.mdp-datepicker-date, .mdp-datepicker-select-year .repeated-year .md-button.current{
		font-size: 28px!important;
	}

	.mdp-calendar button.md-icon-button.md-button{
		margin: 5px 0;
	}

	.mdp-calendar button.md-raised:not([disabled]){
		background-color: transparent;
	}

	.mdp-calendar button.md-raised, .mdp-timepicker button.md-raised:not(.md-primary){
		color: inherit!important;
	}

	.mdp-clock, .mdp-calendar .md-button.md-raised:not(.md-accent):not([disabled]):hover{
		background-color: transparent!important;
	}

	/* /material datepicker */

	/* material override */
	.md-icon-button-lg{
		height: 58px!important;
		width: 58px!important;
	}
	/* /material override */

	/* bootstrap overrides */
	.advanced-search-menu .arrow, .with-arrow .arrow{
		top: -11px;
		right: 0;
	}

	.advanced-search-menu .arrow.lft, .with-arrow .arrow.lft{
		left: 9px;
	}

	.advanced-search-menu .arrow:before, .with-arrow .arrow:before {
	  position: absolute;
	  top: -9px;
	  right: 15px;
	  display: inline-block;
	  border-right: solid transparent;
	  border-bottom: solid #ccc;
	  border-left: solid transparent;
	  border-width: 10px;
	  border-bottom-color: rgba(0, 0, 0, 0.2);
	  content: '';
	}

	.advanced-search-menu .arrow.lft:before, .with-arrow .arrow.lft:before {
		left: 0px;
	}

	.advanced-search-menu .arrow:after, .with-arrow .arrow:after{
	  position: absolute;
	  top: -7px;
	  right: 16px;
	  display: inline-block;
	  border-right: solid transparent;
	  border-bottom: solid #ffffff;
	  border-left: solid transparent;
	  border-width: 9px;
	  content: '';
	}

	.advanced-search-menu .arrow.lft:after, .with-arrow .arrow.lft:after {
		left: 1px;
	}

	.popover-content{
		padding: 0px;
	}
	/* /bootstrap overrides */


.font-500{
	font-weight: 500;
}

.min-h-100{
	min-height: 100px;
}

.min-h-200{
	min-height: 200px;
}

.min-h-300{
	min-height: 300px;
}

.min-h-400{
	min-height: 400px;
}

.min-h-500{
	min-height: 500px;
}

.fr-toolbar .fr-command.fr-btn, .fr-popup .fr-command.fr-btn:focus{
	color: #222;
}

.ph-dk::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #333;
    opacity:  0.7;
}
.ph-dk:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #333;
   opacity:  0.7;
}
.ph-dk::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #333;
   opacity:  0.7;
}
.ph-dk:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #333;
   opacity:  0.7;
}
.ph-dk:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #333;
  opacity:  0.7;
}

.o-f-v{
	overflow:visible!important;
}

.o-f-h{
 	overflow: hidden;
}

.d-i-b{
	display: inline-block;
}

.bg-t{
	background-color: transparent;
}

.animated1x{
 -webkit-animation-duration: 0.1s!important;
 animation-duration: 0.1s!important; 
}

.animated2x{
 -webkit-animation-duration: 0.2s!important;
 animation-duration: 0.2s!important; 
}

.animated{
 -webkit-animation-duration: 0.3s!important;
 animation-duration: 0.3s!important; 
}

.animated4x{
 -webkit-animation-duration: 0.4s!important;
 animation-duration: 0.4s!important; 
}

.animated5x{
 -webkit-animation-duration: 0.5s!important;
 animation-duration: 0.5s!important; 
 }

 .z-index-n-1{
	z-index: -1;
 }
 .z-index-n-2{
	z-index: -2;
 }
 .z-index-n-3{
	z-index: -3;
 }
 .z-index-n-4{
	z-index: -4;
 }
.z-index-1{
	z-index: 1;
 }
 .z-index-2{
	z-index: 2;
 }
 .z-index-3{
	z-index: 3;
 }
 .z-index-4{
	z-index: 4;
 }
 .z-index-5{
	z-index: 5;
 }

.hbox{
	display: table;
	table-layout: fixed;
	border-spacing: 0;
	width: 100%;
	height: 100%;
	.col{
		display: table-cell;
		vertical-align: top;
		height: 100%;
		float: none;
	}
}

.v-middle{vertical-align: middle !important;}
.v-top{vertical-align: top !important;}
.v-bottom{vertical-align: bottom !important;}

.vbox{
	display: table;
	border-spacing:0;
	position: relative;	
	width: 100%;
	height: 100%;
	min-height: 240px;
	.row-row {
		display: table-row;
		height: 100%;
		.cell {
			position: relative;
			height: 100%;
			width: 100%;
			-webkit-overflow-scrolling:touch;
			overflow: auto;
			.ie & {
				display: table-cell;
			}
			.cell-inner {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}
}

.bg-cover{
  background-size: cover;
}


/* These are the base rule to set the dead center */

/* center-img */
.center-img-container{
  position : relative;
}

.center-img{
  position : absolute;
  top: 0 ;
  right: 0 ;
  bottom : 0 ;
  left : 0 ;
  margin : auto;
}

.center-img-container{
  width : 400px;
  height: 400px;
}

.center-img{
  text-align:center;
  line-height:100px;
}

.ng-jcrop-image-wrapper{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 400px;
    width: 400px;
}
.jcrop-keymgr{
	opacity:0;
}
/* /center-img */


/* /general */

/* toast */
.md-toast-content {
	color: white!important;
}

.md-toast-success > div{
	background-color: rgba(0,128,0,0.95)!important;
}

.md-toast-info > div{
	background-color: rgba(0,85,187,0.95)!important;
}
/* /toast */

/* search */
#search input{
	background-color: rgba(255,255,255,.15);
    border-radius: 3px;
}
/* /search */

/* color-settings */
div#settings-colors ~ md-backdrop.md-sidenav-backdrop{
	display: none;
}
/* /color-settings */

/* settings-post */
#post-info-dialog {
	background: rgba(255,255,255,0.87)!important;
	-webkit-box-shadow: none!important;
      box-shadow: none!important;
          display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: 80;
    overflow: hidden;
}
#post-info-dialog > .content{
    min-width: 240px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

#image-upload{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 40px;
  direction: ltr;
  cursor: pointer;
  display: block;
}

/* /settings-post */

/* settings */
.settings-list {
  padding: 0;
  margin: 70px 0 16px;
  list-style: none;
}

.settings-list > li {
  padding: 0;
  width: 100%;
}

.settings-list > li a.settings-items {
	display: block;
	width: inherit;
	border-radius: 2px;
	padding: 12px 18px;
	transition: background 0.15s ease-in-out;
}

.settings-list > li.active a.settings-items,
.settings-list > li a.settings-items:hover{
	background-color: rgba(0,0,0,0.12);
}
.settings-list > li.active a.settings-items {font-weight: 700;}

/* /settings */
