<li class="parent_li">
 <span ng-if="!editing" class="check-term" ng-click="nodeClicked(node)">
    <md-checkbox style="margin-top: 4px; margin-bottom: 2px;" md-no-ink aria-label="{{node.name}}" ng-model="node.checked" ng-click="node.checked = !node.checked" class="pull-left"></md-checkbox>
 </span>
 <span class="leaf box-shadow animated fadeIn" ng-class="{'w-400': node.editing, 'b-n-i md-whiteframe-z1': node.color}" tooltip="{{node.name}}" tooltip-placement="top" tooltip-append-to-body="true" tooltip-popup-delay="700" ng-style="app.getCategoryBG(node)">
 	<span ng-if="!node.editing">
	 	{{node.name}}
	    <!-- <i class="{{ switcher( isLeaf(node), '', 'fa fa-remove' ) }}"></i> -->
	    {{showNode(node)}}
    </span>
 </span>
</li>