<li class="parent_li">
 <span ng-if="!editing" class="check-term" ng-click="nodeClicked(node)">
    <md-checkbox style="margin-top: 4px; margin-bottom: 2px;" md-no-ink aria-label="{{node.name}}" ng-model="node.checked" ng-click="node.checked = !node.checked" class="pull-left"></md-checkbox>
 </span>
 <span class="leaf box-shadow animated fadeIn" ng-class="{'w-400': node.editing}" tooltip="{{node.name}}" tooltip-placement="top" tooltip-append-to-body="true" tooltip-popup-delay="700">
 	<span ng-if="!node.editing">
	 	{{node.name}}
	    <!-- <i class="{{ switcher( isLeaf(node), '', 'fa fa-remove' ) }}"></i> -->
	    {{showNode(node)}}
    </span>
    <form ng-submit="updateCategory(node)" ng-if="node.editing">
    	<input style="padding:0; background-color: transparent;" ng-click="$event.stopPropagation();"
    	ng-model="node.editingName" type="text" class="no-border" placeholder="Nome da categoria" />
 	</form>
 </span>
 	<button ng-if="editing" ng-click="showAddCategoryDialog(node)"
 	md-ink-ripple class="md-btn md-mini md-fab md-fab-sm bg-white v-top" style="width:35px;height:35px;">
 		<md-tooltip md-direction="top">
 			{{'settings.category.ADD_CHILD' | translate}}
 		</md-tooltip>
 		<i class="mdi mdi2-plus i-20" style="vertical-align: 44%; line-height: normal;"></i>
 	</button>
 	<button ng-if="editing" ng-click="node.editing=!node.editing; node.editingName = node.name;"
 	md-ink-ripple class="md-btn md-mini md-fab md-fab-sm bg-white v-top" style="width:35px;height:35px;">
 		<md-tooltip md-direction="top">
 			{{'titles.EDIT' | translate}}
 		</md-tooltip>
 		<i ng-if="!node.editing" class="mdi mdi2-pencil i-20" style="vertical-align: 44%; line-height: normal;"></i>
 		<i ng-if="node.editing" class="mdi mdi2-close i-20" style="vertical-align: 44%; line-height: normal;"></i>
 	</button>
 	<button ng-if="editing" md-ink-ripple class="md-btn md-mini md-fab md-fab-sm bg-white v-top" style="width:35px;height:35px;">
 		<md-tooltip md-direction="top">
 			{{'titles.REMOVE' | translate}}
 		</md-tooltip>
 		<i class="mdi mdi2-delete i-20" style="vertical-align: 44%; line-height: normal;"
 		ng-click="showDeleteCategoryDialog(node, $event)"></i>
 	</button>
</li>