<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Patrocinadores</h1>
</div>
<div class="wrapper-md">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading animated fadeIn">
          Novo patrocinador <strong>{{p.name}}</strong>
        </div>
        <div class="panel-body">
          <div class="form-horizontal">

            <div class="form-group">
              <label class="col-sm-3 control-label">Nome do patricinador</label>
              <div class="col-sm-9">
                <input type="text" ng-model="p.name" class="form-control w-md">
              </div>
            </div>

            <div class="line line-dashed b-b line-lg animated fadeIn"></div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Logo</label>
              <div class="col-sm-9">
                <span ng-hide="logoUploader.progress > 0 || p.image" id="image-button" class="m-t-xs btn btn-success fileinput-button" style="">
                  <i class="fa fa-image"></i>
                  <span>Escolha uma imagem...</span>
                  <input type="file" nv-file-select="" uploader="logoUploader" name="contents" accept="image/*"/>
                </span>
                <div class="inline-block wrapper-xs b b-a" ng-if="p.image">
                  <img class="sponsor-logo-selector bg-full-black img-responsive" ng-src="{{p.image.link}}">
                </div>
                <div ng-if="logoUploader.progress > 0 && !p.image">
                  <div class="progress-striped progress-sm progress m-t">
                      <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{ 'width': logoUploader.progress + '%' }"></div>
                  </div>
                </div>
                <span class="sponsor-remove-logo">
                  <a class="text-lg" ng-if="p.image" ng-click="clearUpload()">
                    <i class="fa fa-remove"></i>
                  </a>
                </span>
              </div>
            </div>

            <div class="line line-dashed b-b line-lg animated fadeIn"></div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Palavras-chave</label>
              <div class="col-sm-9">
                <textarea class="form-control w-xxl" row="3" ng-model="p.keywords"></textarea>
                <span class="help-block m-b-none">palavras utlizadas para relacionar notícias a patrocinadores (opcional)</span>
              </div>
            </div>

            <div class="line line-dashed b-b line-lg animated fadeIn"></div>

            <div class="form-group">
              <div class="text-center h3">Publicidade</div>
              <div class="wrapper">
                <button class="btn m-b-xs btn-default btn-addon fileinput-button pull-right m-b-sm">
                  <i class="icon-picture"></i>Escolher imagens
                  <input type="file" nv-file-select="" uploader="publicity" multiple/>
                </button>
                <table class="m-t b table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="100">
                  <thead>
                    <tr>
                      <th data-toggle="true">
                        Imagem
                      </th>
                      <th data-toggle="true">
                        Nome
                      </th>
                      <th data-toggle="true">
                        Dimensões
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat = "perspective in perspectives">
                      <td>{{perspective.name}}</td>
                      <td>{{perspective.station.name}}</td>
                      <td data-value="1" class="text-center">
                        <a href tooltip="gerenciar a perspectiva" ui-sref="app.scaffold.perspectives_edit({perspectiveId: perspective.id})"><i class="fa fa-fw fa-sitemap text-grey"></i></a>
                        <a href tooltip="renomear" ng-click="openModal('edit_perspective.html', null, taxonomy.id)" class="m-l-sm"><i class="fa fa-fw fa-pencil text-grey"></i></a>
                        <a href tooltip="remover" ng-click="openModal('delete_perspective.html', null, taxonomy.id)" class="m-l-sm"><i class="fa fa-fw fa-trash-o text-danger"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="line line-dashed b-b line-lg animated fadeIn"></div>

            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-3">
                <a class="btn btn-default" ui-sref="app.scaffold.sponsor">Cancelar</a>
                <button ng-click="submitSponsor()" type="submit" class="btn btn-success">Confirmar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
