<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Taxonomias</h1>
</div>
<div class="wrapper-md" ng-controller="ScaffoldTaxonomiesTermsCtrl">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      Adicionar termos
    </div>
    <div class="panel-body">
      <a tooltip="lista de taxonomias" ui-sref="app.scaffold.taxonomies" class="btn m-b-xs btn-default btn-addon">
        <i class="fa fa-chevron-left"></i>Taxonomias
      </a> 
      <div class="row m-t-sm">
        <div class="col-sm-6">
          <div class="term-tree-heading panel m-b-none">
            <a href="" class="" ng-click="openModal('create_top_term.html', null, null)" tooltip="adicionar termo raiz"><i class="fa fa-lg fa-plus text-success m-r-xs"></i></a>
            <span class="pull-right">
              <a href="" class="m-r-xs text-grey" tooltip="colapsar" ng-click="collapseAll()" ng-show="termTree && termTree.length > 0"><i class="fa fa-lg fa-minus-square-o"></i></a>
              <a href="" class="text-grey" tooltip="expandir" ng-click="expandAll()" ng-show="termTree && termTree.length > 0"><i class="fa fa-lg fa-plus-square-o"></i></a>
            </span>
          </div>
          <div ui-tree id="tree-root" class="tree-root bg-light lter">
            <ol ui-tree-nodes="" ng-model="termTree">
              <li class="top-level-list-item" collapsed="true" ng-repeat="node in termTree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="nodes_renderer.html">
    <div data-nodrag class="m-l-xs tree-node tree-node-content">
      <span class="tree-item">
        <a class="pointer collapse-term" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
          <span class="fa" ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}"></span>
        </a>
        <a class="collapse-term" ng-if="node.nodes && node.nodes.length == 0" data-nodrag>
          <span class="fa text-grey"></span>
        </a>
        <span class="term-name pointer" tooltip="clique para editar" ng-click="openModal('edit_term.html', null, this)">
          {{node.name}}</span>
        <span class="m-l">
          <a href><i tooltip="adicionar termo filho para {{node.name}}" class="fa fa-plus pointer text-success" ng-click="openModal('create_term.html', null, this)"></i></a>
          <a href><i tooltip="remover  termo" class="fa fa-trash-o m-l-xs pointer text-danger" ng-click="openModal('delete_term.html', null, this)"></i></a>
        </span>
      </span>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
      <li collapsed="true" ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
      </li>
    </ol>
  </script>

  <script type="text/ng-template" id="create_top_term.html">
  <form ng-submit="submitCreateTopTerm(newName)">
    <div class="modal-header">
        <h3 class="modal-title">Criar termo</h3>
    </div>
    <div class="modal-body">
        <input ng-model="newName" class="form-control w-md" placeholder="Nome do termo">
    </div>
    <div class="modal-footer">                  
        <a class="btn btn-default" ng-click="cancelModal()">Cancelar</a>
        <button type="submit" class="btn btn-success">Criar</button>
    </div>
  </form>
</script>

  <script type="text/ng-template" id="create_term.html">
  <form ng-submit="submitCreateTerm(newName)">
    <div class="modal-header">
        <h3 class="modal-title">Criar termo</h3>
    </div>
    <div class="modal-body">
        <input ng-model="newName" class="form-control w-md" placeholder="Nome do termo">
    </div>
    <div class="modal-footer">                  
        <a class="btn btn-default" ng-click="cancelModal()">Cancelar</a>
        <button type="submit" class="btn btn-success">Criar</button>
    </div>
  </form>
</script>

  <script type="text/ng-template" id="edit_term.html">
  <form ng-submit="submitEditTerm(newName)">
    <div class="modal-header">
        <h3 class="modal-title">Editar termo</h3>
    </div>
    <div class="modal-body">
        <input ng-model="newName" class="form-control w-md" placeholder="Novo nome">
    </div>
    <div class="modal-footer">                  
        <a class="btn btn-default" ng-click="cancelModal()">Cancelar</a>
        <button type="submit" class="btn btn-primary">Alterar</button>
    </div>
  </form>
</script>

<script type="text/ng-template" id="delete_term.html">
  <form ng-submit="submitDeleteTerm()">
    <div class="modal-header">
        <h3 class="modal-title">Remover termo</h3>
    </div>
    <div class="modal-body">
        Tem certeza que deseja remover o termo?
    </div>
    <div class="modal-footer">                  
        <a class="btn btn-default" ng-click="cancelModal()">Cancelar</a>
        <button type="submit" class="btn btn-danger">Remover</button>
    </div>
  </form>
</script>

</div>