      <!-- navbar header -->
      <div class="navbar-header {{app.settings.navbarHeaderColor}}">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt">
          <i class="icon icon-home text-lgrey"></i>
          <!-- <img src="img/logo.png" alt="." class="hide"> -->
          <span class="hidden-folded m-l-xs">{{app.name}}</span>
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}" ng-if="!app.hideActionBar">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs m-t-sm text-lg">
          CRONICA 
        </div>
        <div class="nav navbar-nav hidden-xs">
          <a href class="btn no-shadow navbar-btn">
            &nbsp;
          </a>
        </div>
        <div class="nav navbar-nav hidden-xs text-center w-full pos-abt">
          <div class="m-t-sm">
            <!-- <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i> -->
            ESTAÇÃO
          </div>
        </div>
      </div>
      <div class="hbox hbox-auto-xs" ng-if="$state.current.name == 'app.stations.post' && app.hideActionBar">
        <div class="col w-lg lter pull-right">
          <div id="post-editor-top-buttons" class="btn-group">
            <!-- <a href class="m-b-xs btn btn-sm btn-default w-xxs w-auto-xs" tooltip="Arquivar"><i class="fa fa-save"></i></a> -->
            <a class="m-b-xs btn btn-sm btn-default w-xxs w-auto-xs" tooltip="Descartar" tooltip-placement="bottom" tooltip-popup-delay="700" tooltip-append-to-body="true" ng-click="app.hideLeftAside = !app.hideLeftAside">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
            <a class="m-b-xs btn btn-sm btn-default w-xxs w-auto-xs" tooltip="Salvar como racunho" tooltip-placement="bottom" tooltip-popup-delay="700" tooltip-append-to-body="true">
              <i class="fa fa-save"></i>
            </a>
            <a href class="m-b-xs btn btn-sm m-r btn-default w-xxs w-auto-xs" tooltip="Publicar" tooltip-placement="bottom" tooltip-popup-delay="700" tooltip-append-to-body="true">
              <i class="fa fa-send"></i>
            </a>
            <!-- <span class="term-tags">
              <a tooltip="remover" ng-click="removeTerm(selectedTerm)" ng-repeat="selectedTerm in p.termList" class="m-l-sm m-b-xs h-u">{{selectedTerm.name}}</a>
            </span> -->
          </div>
        </div>
      </div>
      <!-- / navbar collapse -->
