<!-- list -->
<ul class="nav m-t-md">
  <!-- <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">Navigation</span>
  </li> -->
  <li ui-sref-active="active">
    <a ui-sref="app.post" tooltip="Nova notícia" ng-if="app.isLogged" tooltip-placement="right" tooltip-append-to-body="true" tooltip-popup-delay="700" ng-if="app.writableStations">      
      <i class="mdi-plus mdi text-lgrey"></i>
      <span class="font-bold">Novo</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.search" tooltip="Busca" tooltip-placement="right" tooltip-append-to-body="true" tooltip-popup-delay="700">
      <i class="mdi-magnify mdi text-lgrey"></i>
      <span class="font-bold">Procurar</span>
    </a>
  </li>
  <li ui-sref-active="active" tooltip="Minhas Leituras" ng-if="app.isLogged" tooltip-placement="right" tooltip-append-to-body="true" tooltip-popup-delay="700">
    <a ui-sref="app.mail.list">
      <i class="mdi-bookmark-outline mdi text-lgrey"></i>
      <span class="font-bold">Minhas Leituras</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.form.elements" tooltip="Notificações" ng-if="app.isLogged" tooltip-placement="right" tooltip-append-to-body="true" tooltip-popup-delay="700">
      <b class="badge bg-custom-primary pull-right">9</b>
      <i class="mdi-bell-outline mdi text-lgrey"></i>
      <span class="font-bold">Notificações</span>
    </a>
  </li>
  <li ui-sref-active="active" tooltip="Estações" tooltip-placement="right" tooltip-append-to-body="true" tooltip-popup-delay="700" ng-if="app.initData.stations && app.initData.stations.length > 0">
    <a ng-click="toggleMenu($event);">
      <i class="mdi-library-books mdi text-lgrey"></i>
      <span class="font-bold">Estações</span>
    </a>
  </li>
  <li class="line dk" ng-if="app.isLogged"></li>
  <li ui-sref-active="active">
    <a ui-sref="app.mail.list" tooltip="Configurações" ng-if="app.isLogged" tooltip-placement="right" tooltip-append-to-body="true" tooltip-popup-delay="700">
      <i class="mdi-settings mdi text-lgrey"></i>
      <span class="font-bold">Configurações</span>
    </a>
  </li>
</ul>
<!-- / list -->
