  <!-- navbar -->
  <div data-ng-include=" 'tpl/blocks/header.html' " class="app-header navbar">
  </div>
  <!-- / navbar -->

  <!-- menu -->
  <div data-ng-include=" 'tpl/blocks/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}" ng-class="{'hide': app.hideAside }">
  </div>
  <!-- / menu -->

  <!-- view -->
  <div class="app-content" ng-class="{'m-n': app.hideAside, 'h-full': app.hideFooter }">
    <div class="app-content-body fade-in" ng-class="{'h-full': app.hideFooter, 'no-header-space': $state.current.name == 'app.search' || $state.current.name == 'app.stations', 'app-content-full': $state.current.name != 'app.stations'}" ui-view>
    </div>
  </div>
  <!-- / view -->
  <!-- navbar -->
  <!-- <div class="app-footer navbar navbar-fixed-bottom bg-light lt b-t" ng-class="{'m-n': app.hideAside, 'hide': app.hideFooter}" ui-view="footer"> -->
    
  </div>
  <!-- /navbar -->

<script type="text/ng-template" id="signin_splash.html">
  <a class="splash-close-button" ng-click="cancelModal()">×</a>
  <div class="splash-content text-center" ng-cloak>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="p-lg text-color wrapper-lg">
          <form name="form">
            <div class="md-form-group float-label p-b-sm">
              <input class="md-input" ng-model="user.email" required>
              <label>Username</label>
            </div>
            <div class="md-form-group float-label p-b-sm">
              <input type="password" class="md-input" ng-model="user.password" required>
              <label>Senha</label>
            </div>      
            <button md-ink-ripple type="submit" class="m-t-md btn-custom btn text-lg text-u-c btn-block p-h-md">Entrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</script>