  <!-- navbar -->
  <div data-ng-include=" 'tpl/blocks/header.html' " class="app-header navbar">
  </div>
  <!-- / navbar -->

  <!-- menu -->
  <div data-ng-include=" 'tpl/blocks/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}" ng-class="{'hide': app.hideAside }">
  </div>
  <!-- / menu -->

  <!-- view -->
  <div class="app-content" ng-class="{'m-n': app.hideAside, 'h-full': app.hideFooter }">
    <div class="app-content-body fade-in" ng-class="{'h-full': app.hideFooter, 'no-header-space': $state.current.name == 'app.search' || $state.current.name == 'app.stations', 'app-content-full': $state.current.name != 'app.stations'}" ui-view>
    </div>
  </div>
  <!-- / view -->
  <!-- navbar -->
  <!-- <div class="app-footer navbar navbar-fixed-bottom bg-light lt b-t" ng-class="{'m-n': app.hideAside, 'hide': app.hideFooter}" ui-view="footer"> -->
    
  </div>
  <!-- /navbar -->

<script type="text/ng-template" id="signin_splash.html">
  <a class="splash-close-button" ng-click="cancelModal()">×</a>
  <div class="splash-content text-center" ng-cloak>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <form ng-submit="signIn(username, password)">
        <div class="text-danger animated fadeInLeft" ng-if="signInError">
          Usuário ou senha inválidos
        </div>
        <div class="form-group m-t-md">
          <input type="text" ng-model="username" class="inline-input form-control input-lg" placeholder="Usuário">
        </div>
        <div class="form-group">
          <input type="password" ng-model="password" class="inline-input form-control input-lg" placeholder="Senha">
        </div>
        <div class="checkbox m-t-lg text-center">
          <button type="submit" class="btn btn-success w-sm btn-rounded text-uc m-t">
            ENTRAR
          </button>
          <a class="btn btn-default w-sm btn-rounded text-uc m-t" ng-click="cancelModal()">
            CANCELAR
          </a>
        </div>
        </form>
      </div>
    </div>
  </div>
</script>