<!-- hbox layout -->
<div class="hbox hbox-auto-xs ">

  <!-- column -->
  <div class="col">
    <div class="vbox">
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
            <div class="wrapper-md">
              <div id="perspective-horizontal">
                <div ng-repeat="ordinaryRow in termPerspectiveView.ordinaryRows" class="ordinary-row">
                  <button ng-show="ordinaryRow.cells" ng-class="{'text-white': !app.customStyle.darkFonts2}" class="backward"><i class="fa fa-angle-left"></i></button>
                  <button ng-show="ordinaryRow.cells" ng-class="{'text-white': !app.customStyle.darkFonts2}" class="forward"><i class="fa fa-angle-right"></i></button>
                  <div ng-show="ordinaryRow.cells" data-term-id="{{ordinaryRow.termId}}" class="wrap info-flow-wrap" sly-scroll>
                    <div class="h3">
                      <a ng-show="ordinaryRow.term.name" class="animated fadeIn" 
                        ui-sref="app.stations.perspectives({stationId: app.network.currentStation.id, perspectiveId: app.network.currentStation.perspective.id, termId: ordinaryRow.termId})">
                        <span class="m-l-xs" ng-class="{'text-white': !app.customStyle.darkFonts2}">{{ordinaryRow.term.name}}</span>
                      </a>
                    </div>
                    <div class="frame info-flow" style="overflow: hidden;">
                      <ul class="sly-clearfix info-flow-list" data-term-id="{{ordinaryRow.termId}}">
                        <li class="sly-stub" style="display: none"></li>
                        <li class="animated fadeIn" ng-repeat="cell in ordinaryRow.cells">
                          <div class="" data-ng-include=" 'tpl/perspectives/news-item.html' "></div>
                        </li>
                      </ul>
                    </div>
                    <div class="scrollbar info-flow-scroll">
                      <div class="handle">
                        <div class="mousearea"></div>
                      </div>
                    </div>
                    <!-- <div class="controls center">
                      <button class="btn prev disabled" disabled=""><i class="icon-chevron-left"></i> prev</button>
                      <button class="btn next">next <i class="icon-chevron-right"></i></button>
                    </div> -->
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->
</div>
<!-- /hbox layout -->