<md-dialog aria-label="MAIS OPÇÕES" id="more-options-dialog">
  <md-content>
    <div id="post-more-options">
      <md-tabs>
        <md-tab class="bg-custom" label="Populares">
          <div class="b-t wrapper-sm post-terms-tab" flex>
            <!-- tree view -->
            <div class="wrapper-sm term-tree">
              <div class="span5 article-tree">
                <div ng-style="{'overflow': 'auto'}">
                  <div class="tree well">
                    <ul>
                      <node-tree ng-model="termTree"></node-tree>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /tree view -->
          </div>
        </md-tab>
        <md-tab class="bg-custom" label="Recentes">
          <div class="b-t wrapper-sm recent-posts" flex>
          </div>
        </md-tab>
        <!-- /tab -->
      </md-tabs>
    </div>
  </md-content>

  <div class="md-actions" layout="row">
    <md-button ng-click="answer('not useful')">
     cancelar
    </md-button>
    <md-button ng-click="answer('useful')" class="md-primary">
      publicar
    </md-button>
  </div>

</md-dialog>