<div class="wrapper-xs block-800">
	<ul class="b-none no-padding m-b-none">

		<!-- post card -->
    <li class="">
     <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
      <div class="pull-right text-sm text-muted m-t-sm">
        <a class="thumb-xl w-150 pull-left m-l" ui-sref="app.post({postId: postView.postId})" ng-if="postView.smallId">
          <img ng-src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg">
        </a>
      </div>
      <div class="clear min-h-150 p-t-sm">
        <div class="m-t-sm">
          <span class="label no-radius normal wrapper-xs topper text-lg" ng-if="postView.topper">{{postView.topper}}</span>
          <a ui-sref="app.post({postId: postView.postId})" class="h3 m-b-sm m-t-sm block">
            Title
          </a>
          <div class="m-t-xs text-lg font-thin" bind-html-unsafe="postView.snippet">
          </div>
        </div>
      </div>    
    </li>
    <!-- /post card -->

		<!-- post card -->
    <li class="">
     <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
      <div class="pull-right text-sm text-muted m-t-sm">
        <a class="thumb-xl w-150 pull-left m-l" ui-sref="app.post({postId: postView.postId})" ng-if="postView.smallId">
          <img ng-src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg">
        </a>
      </div>
      <div class="clear min-h-150 p-t-sm">
        <div class="m-t-sm">
          <span class="label no-radius normal wrapper-xs topper text-lg" ng-if="postView.topper">{{postView.topper}}</span>
          <a ui-sref="app.post({postId: postView.postId})" class="h3 m-b-sm m-t-sm block">
            Title
          </a>
          <div class="m-t-xs text-lg font-thin" bind-html-unsafe="postView.snippet">
          </div>
        </div>
      </div>    
    </li>
    <!-- /post card -->

		<!-- post card -->
    <li class="">
     <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
      <div class="pull-right text-sm text-muted m-t-sm">
        <a class="thumb-xl w-150 pull-left m-l" ui-sref="app.post({postId: postView.postId})" ng-if="postView.smallId">
          <img ng-src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg">
        </a>
      </div>
      <div class="clear min-h-150 p-t-sm">
        <div class="m-t-sm">
          <span class="label no-radius normal wrapper-xs topper text-lg" ng-if="postView.topper">{{postView.topper}}</span>
          <a ui-sref="app.post({postId: postView.postId})" class="h3 m-b-sm m-t-sm block">
            Title
          </a>
          <div class="m-t-xs text-lg font-thin" bind-html-unsafe="postView.snippet">
          </div>
        </div>
      </div>    
    </li>
    <!-- /post card -->

		<!-- post card -->
    <li class="">
     <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
      <div class="pull-right text-sm text-muted m-t-sm">
        <a class="thumb-xl w-150 pull-left m-l" ui-sref="app.post({postId: postView.postId})" ng-if="postView.smallId">
          <img ng-src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg">
        </a>
      </div>
      <div class="clear min-h-150 p-t-sm">
        <div class="m-t-sm">
          <span class="label no-radius normal wrapper-xs topper text-lg" ng-if="postView.topper">{{postView.topper}}</span>
          <a ui-sref="app.post({postId: postView.postId})" class="h3 m-b-sm m-t-sm block">
            Title
          </a>
          <div class="m-t-xs text-lg font-thin" bind-html-unsafe="postView.snippet">
          </div>
        </div>
      </div>    
    </li>
    <!-- /post card -->

		<!-- post card -->
    <li class="">
     <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
      <div class="pull-right text-sm text-muted m-t-sm">
        <a class="thumb-xl w-150 pull-left m-l" ui-sref="app.post({postId: postView.postId})" ng-if="postView.smallId">
          <img ng-src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg">
        </a>
      </div>
      <div class="clear min-h-150 p-t-sm">
        <div class="m-t-sm">
          <span class="label no-radius normal wrapper-xs topper text-lg" ng-if="postView.topper">{{postView.topper}}</span>
          <a ui-sref="app.post({postId: postView.postId})" class="h3 m-b-sm m-t-sm block">
            Title
          </a>
          <div class="m-t-xs text-lg font-thin" bind-html-unsafe="postView.snippet">
          </div>
        </div>
      </div>    
    </li>
    <!-- /post card -->

		<!-- post card -->
    <li class="">
     <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
      <div class="pull-right text-sm text-muted m-t-sm">
        <a class="thumb-xl w-150 pull-left m-l" ui-sref="app.post({postId: postView.postId})" ng-if="postView.smallId">
          <img ng-src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg">
        </a>
      </div>
      <div class="clear min-h-150 p-t-sm">
        <div class="m-t-sm">
          <span class="label no-radius normal wrapper-xs topper text-lg" ng-if="postView.topper">{{postView.topper}}</span>
          <a ui-sref="app.post({postId: postView.postId})" class="h3 m-b-sm m-t-sm block">
            Title
          </a>
          <div class="m-t-xs text-lg font-thin" bind-html-unsafe="postView.snippet">
          </div>
        </div>
      </div>    
    </li>
    <!-- /post card -->

		<!-- post card -->
    <li class="">
     <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
      <div class="pull-right text-sm text-muted m-t-sm">
        <a class="thumb-xl w-150 pull-left m-l" ui-sref="app.post({postId: postView.postId})" ng-if="postView.smallId">
          <img ng-src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg">
        </a>
      </div>
      <div class="clear min-h-150 p-t-sm">
        <div class="m-t-sm">
          <span class="label no-radius normal wrapper-xs topper text-lg" ng-if="postView.topper">{{postView.topper}}</span>
          <a ui-sref="app.post({postId: postView.postId})" class="h3 m-b-sm m-t-sm block">
            Title
          </a>
          <div class="m-t-xs text-lg font-thin" bind-html-unsafe="postView.snippet">
          </div>
        </div>
      </div>    
    </li>
    <!-- /post card -->

		<!-- post card -->
    <li class="">
     <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
      <div class="pull-right text-sm text-muted m-t-sm">
        <a class="thumb-xl w-150 pull-left m-l" ui-sref="app.post({postId: postView.postId})" ng-if="postView.smallId">
          <img ng-src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg">
        </a>
      </div>
      <div class="clear min-h-150 p-t-sm">
        <div class="m-t-sm">
          <span class="label no-radius normal wrapper-xs topper text-lg" ng-if="postView.topper">{{postView.topper}}</span>
          <a ui-sref="app.post({postId: postView.postId})" class="h3 m-b-sm m-t-sm block">
            Title
          </a>
          <div class="m-t-xs text-lg font-thin" bind-html-unsafe="postView.snippet">
          </div>
        </div>
      </div>    
    </li>
    <!-- /post card -->

		<!-- post card -->
    <li class="">
     <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
      <div class="pull-right text-sm text-muted m-t-sm">
        <a class="thumb-xl w-150 pull-left m-l" ui-sref="app.post({postId: postView.postId})" ng-if="postView.smallId">
          <img ng-src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg">
        </a>
      </div>
      <div class="clear min-h-150 p-t-sm">
        <div class="m-t-sm">
          <span class="label no-radius normal wrapper-xs topper text-lg" ng-if="postView.topper">{{postView.topper}}</span>
          <a ui-sref="app.post({postId: postView.postId})" class="h3 m-b-sm m-t-sm block">
            Title
          </a>
          <div class="m-t-xs text-lg font-thin" bind-html-unsafe="postView.snippet">
          </div>
        </div>
      </div>    
    </li>
    <!-- /post card -->

		<!-- post card -->
    <li class="">
     <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
      <div class="pull-right text-sm text-muted m-t-sm">
        <a class="thumb-xl w-150 pull-left m-l" ui-sref="app.post({postId: postView.postId})" ng-if="postView.smallId">
          <img ng-src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg">
        </a>
      </div>
      <div class="clear min-h-150 p-t-sm">
        <div class="m-t-sm">
          <span class="label no-radius normal wrapper-xs topper text-lg" ng-if="postView.topper">{{postView.topper}}</span>
          <a ui-sref="app.post({postId: postView.postId})" class="h3 m-b-sm m-t-sm block">
            Title
          </a>
          <div class="m-t-xs text-lg font-thin" bind-html-unsafe="postView.snippet">
          </div>
        </div>
      </div>    
    </li>
    <!-- /post card -->

		<!-- post card -->
    <li class="">
     <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
      <div class="pull-right text-sm text-muted m-t-sm">
        <a class="thumb-xl w-150 pull-left m-l" ui-sref="app.post({postId: postView.postId})" ng-if="postView.smallId">
          <img ng-src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg">
        </a>
      </div>
      <div class="clear min-h-150 p-t-sm">
        <div class="m-t-sm">
          <span class="label no-radius normal wrapper-xs topper text-lg" ng-if="postView.topper">{{postView.topper}}</span>
          <a ui-sref="app.post({postId: postView.postId})" class="h3 m-b-sm m-t-sm block">
            Title
          </a>
          <div class="m-t-xs text-lg font-thin" bind-html-unsafe="postView.snippet">
          </div>
        </div>
      </div>    
    </li>
    <!-- /post card -->

		<!-- post card -->
    <li class="">
     <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
      <div class="pull-right text-sm text-muted m-t-sm">
        <a class="thumb-xl w-150 pull-left m-l" ui-sref="app.post({postId: postView.postId})" ng-if="postView.smallId">
          <img ng-src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg">
        </a>
      </div>
      <div class="clear min-h-150 p-t-sm">
        <div class="m-t-sm">
          <span class="label no-radius normal wrapper-xs topper text-lg" ng-if="postView.topper">{{postView.topper}}</span>
          <a ui-sref="app.post({postId: postView.postId})" class="h3 m-b-sm m-t-sm block">
            Title
          </a>
          <div class="m-t-xs text-lg font-thin" bind-html-unsafe="postView.snippet">
          </div>
        </div>
      </div>    
    </li>
    <!-- /post card -->

		<!-- post card -->
    <li class="">
     <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
      <div class="pull-right text-sm text-muted m-t-sm">
        <a class="thumb-xl w-150 pull-left m-l" ui-sref="app.post({postId: postView.postId})" ng-if="postView.smallId">
          <img ng-src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg">
        </a>
      </div>
      <div class="clear min-h-150 p-t-sm">
        <div class="m-t-sm">
          <span class="label no-radius normal wrapper-xs topper text-lg" ng-if="postView.topper">{{postView.topper}}</span>
          <a ui-sref="app.post({postId: postView.postId})" class="h3 m-b-sm m-t-sm block">
            Title
          </a>
          <div class="m-t-xs text-lg font-thin" bind-html-unsafe="postView.snippet">
          </div>
        </div>
      </div>    
    </li>
    <!-- /post card -->

		<!-- post card -->
    <li class="">
     <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
      <div class="pull-right text-sm text-muted m-t-sm">
        <a class="thumb-xl w-150 pull-left m-l" ui-sref="app.post({postId: postView.postId})" ng-if="postView.smallId">
          <img ng-src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg">
        </a>
      </div>
      <div class="clear min-h-150 p-t-sm">
        <div class="m-t-sm">
          <span class="label no-radius normal wrapper-xs topper text-lg" ng-if="postView.topper">{{postView.topper}}</span>
          <a ui-sref="app.post({postId: postView.postId})" class="h3 m-b-sm m-t-sm block">
            Title
          </a>
          <div class="m-t-xs text-lg font-thin" bind-html-unsafe="postView.snippet">
          </div>
        </div>
      </div>    
    </li>
    <!-- /post card -->
        
		<!-- post card -->
    <li class="">
     <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
      <div class="pull-right text-sm text-muted m-t-sm">
        <a class="thumb-xl w-150 pull-left m-l" ui-sref="app.post({postId: postView.postId})" ng-if="postView.smallId">
          <img ng-src="http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17011_ip.jpg">
        </a>
      </div>
      <div class="clear min-h-150 p-t-sm">
        <div class="m-t-sm">
          <span class="label no-radius normal wrapper-xs topper text-lg" ng-if="postView.topper">{{postView.topper}}</span>
          <a ui-sref="app.post({postId: postView.postId})" class="h3 m-b-sm m-t-sm block">
            Title
          </a>
          <div class="m-t-xs text-lg font-thin" bind-html-unsafe="postView.snippet">
          </div>
        </div>
      </div>    
    </li>
    <!-- /post card -->
  </ul>
</div>
