<!-- hbox layout -->
<div class="hbox hbox-auto-xs">

<!-- column -->
<div class="col">
  <div class="vbox">
    <div class="row-row">
      <div class="cell" id="post-cell">
        <div class="cell-inner">
          <div class="wrapper-md p-r-xxl p-l-xxl">
            <div id="post-media-box" class="new-post-block">
              <button class="post-stroke-btn btn text-md btn-sm m-t-xxs btn-icon btn-rounded btn-stroke btn-muted" tooltip="adicionar mídia" tooltip-append-to-body="true" ng-click="showMediaButtons = !showMediaButtons">
                <i class="mdi-dots-horizontal mdi"></i>
              </button>
              <div class="pull-left" ng-class="{'hide': !showMediaButtons}">
                <ul class="redactor-toolbar post-media-buttons">
                  <li><a href="#" class="mdi mdi-image-filter-hdr"></a></li>
                  <li><a href="#" class="mdi mdi-image-filter"></a></li>
                  <li><a href="#" class="mdi mdi-play"></a></li>
                </ul>
              </div>
                <!-- <img src="img/c0.jpg" class="img-full"> -->
            </div>
            <div id="post-title-box" class="new-post-block m-t">
              <input type="text" class="b-none text-3x font-bold w-full back-none" placeholder="Título">
            </div>
            <div id="external-toolbar-container" class="new-post-block bg-white">
              <button id="toggle-toolbars" class="post-stroke-btn btn text-md btn-sm m-t btn-icon btn-rounded btn-stroke btn-muted" tooltip="barra de ferramentas" tooltip-append-to-body="true" ng-click="app.showPostToolbar = !app.showPostToolbar">
                <i class="mdi-format-italic mdi"></i>
              </button>
              <div id="external-toolbar" class="w-full m-b-n-xxs p-t p-b bg-white" ng-class="{'hide': !app.showPostToolbar}"></div>
            </div>
            <div class="bg-white-only new-post-block">
              <div id="post-placeholder" class="post-content-font text-muted m-t-xxs" ng-class="{'hide': content}">Texto...</div>
              <textarea ng-model="content" redactor="{initCallback: postCtrl.redactorInit}" redactor style="opacity: 0"></textarea>
            </div>
            <md-button class="md-primary md-fab md-fab-bottom-right text-lg">
              <i class="mdi mdi-send"></i>
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /column -->

<!-- column -->
<div class="col w-lg" data-ng-include=" 'tpl/post_options.html' " ng-class="{'hide': app.hidePostOptions}">
</div>
<!-- /column -->
</div>
<!-- /hbox layout -->
<!-- header navbar -->
<div class="new-post-navbar navbar" ng-class="{'box-shadow': postCtrl.showHeaderShadow || !app.hidePostOptions}">
  <ul class="nav navbar-nav m-l-xs">
    <li class="hidden-xs">
      <a ui-fullscreen></a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>
      <a href class="text-lg" >
        <i class="mdi-information-outline mdi"></i>
      </a>
    </li>
    <li>
      <div class="m-t" style="line-height:16px">•</div>
    </li>
    <li>
      <a href class="text-lg" ng-click="app.hidePostOptions = !app.hidePostOptions" style="font-size: 19px;">
        <i class="mdi mdi-menu"></i>
      </a>
    </li>
    <li>
      <div class="divider-v"></div>
    </li>
    <li>
      <a href class="text-u-c text-center" style="font-size: 30px;" ng-click="app.discardPost()">×</a>
    </li>
  </ul>
</div>
<!-- /header navbar -->