<!-- hbox layout -->
<div class="hbox hbox-auto-xs">

<!-- column -->
<div class="col">
  <div class="vbox">
    <div class="row-row">
      <div class="cell" id="post-cell">
        <div class="cell-inner">
          <div class="wrapper-md">
            <div id="post-title-box" class="new-post-block m-b">
              <input type="text" class="b-none text-2x w-full back-none" placeholder="Título">
            </div>
            <div id="post-media-box" class="new-post-block m-b">
              <img src="img/c0.jpg" class="img-full">
            </div>
            <div id="external-toolbar-container" class="new-post-block">
              <div id="external-toolbar" class="w-full m-b-n-xxs"></div>
            </div>
            <div class="box-shadow bg-white-only new-post-block">
              <textarea ng-model="content" redactor="{initCallback: postCtrl.redactorInit}" redactor style="opacity: 0"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /column -->

<!-- column -->
<div class="col w-lg" data-ng-include=" 'tpl/post_more_options.html' " ng-class="{'hide': app.hidePostOptions || app.hidePostMoreOptions}">
</div>
<!-- /column -->

<!-- column -->
<div class="col w-lg" data-ng-include=" 'tpl/post_options.html' " ng-class="{'hide': app.hidePostOptions}">
</div>
<!-- /column -->
</div>
<!-- /hbox layout -->
<!-- header navbar -->
<div class="new-post-navbar navbar" ng-class="{'box-shadow': postCtrl.showHeaderShadow || !app.hidePostOptions}">
  <ul class="nav navbar-nav m-l-xs">
    <li class="hidden-xs">
      <a ui-fullscreen></a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>
      <a href class="dropdown-toggle text-md" dropdown-toggle>
        <i class="mdi-library-books mdi m-r-xs"></i>
        Estação 1 <b class="m-l-xs caret"></b>
      </a>
      <!-- dropdown -->
      <ul class="dropdown-menu w">
        <li ng-repeat="wStation in app.writableStations">
          <a href>{{wStation.stationName}}</a>
        </li>
      </ul>
      <!-- / dropdown -->
    </li>
    <li>
      <button class="btn btn-default btn-xs text-md m-t-sm m-r-sm" ng-click="app.hidePostOptions = !app.hidePostOptions">
        <i class="icon" ng-class="{'icon-arrow-right': !app.hidePostOptions, 'icon-arrow-left': app.hidePostOptions}"></i>
      </butoon>
    </li>
    <li>
      <div class="btn-group dropdown" dropdown>
        <button class="m-t-sm btn btn-default btn-xs text-md btn-default" dropdown-toggle>Action <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href>Action</a></li>
          <li><a href>Another action</a></li>
          <li><a href>Something else here</a></li>
          <li class="divider"></li>
          <li><a href>Separated link</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<!-- /header navbar -->