<div class="hbox">
  <div class="col">
    <div class="vbox">
      <div class="row-row">
        <div class="collapse post-read-header pos-rlt navbar-collapse box-shadow post-nav">
          <!-- nabar left -->
          <ul class="nav navbar-nav navbar-left">
            <li ng-show="app.currentStation.allowSocialShare">
              <a href class="text-center text-lg">
              <i class="mdi mdi-google-plus"></i>
            </a></li>
            <li ng-show="app.currentStation.allowSocialShare">
              <a href class="text-center text-lg">
              <i class="mdi mdi-twitter"></i>
            </a></li>
            <li ng-show="app.currentStation.allowSocialShare">
              <a href class="text-center text-lg">
              <i class="mdi mdi-facebook"></i>
            </a></li>
            <li ng-show="app.currentStation.allowSocialShare">
              <div class="divider-v"></div>
            </li>
            <li><a href class="text-center text-lg" ng-click="app.recommend(app.nowReading.postId)">
              <i class="mdi" ng-class="{'mdi-heart': app.recommended(app.nowReading.postId), 'mdi-heart-outline': !app.recommended(app.nowReading.postId)}"></i>
            </a></li>
            <li><a href class="text-center text-lg" ng-click="app.bookmark(app.nowReading.postId)">
              <i class="mdi" ng-class="{'mdi-bookmark': app.bookmarked(app.nowReading.postId), 'mdi-bookmark-outline': !app.bookmarked(app.nowReading.postId)}"></i>
            </a></li>
          </ul>
          <!-- nabar right -->
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a ng-click="toggleNightMode(!app.nightMode)" class="mdi mdi-brightness-4 text-lg"></a>
            </li>
            <li>
              <div class="divider-v"></div>
            </li>
            <li>
              <a href class="text-u-c text-center splash-close-button" ng-click="app.closePostRead()">×</a>
            </li>
          </ul>
        </div>
        <div class="cell">
          <div class="cell-inner animated {{app.incomingPostDirection}}">
            <div id="post-media-box" class="post-block m-t-lg" ng-if="!app.nowReading.imageLandscape && app.nowReading.imageLargeId">
              <img ng-src="{{getImageLink(app.nowReading.imageLargeId)}}" class="img-full">
            </div>
            <div class="post-image-cover" ng-style="getBackgroundImage2(app.nowReading, 'lg')" ng-if="app.nowReading.imageLandscape && app.nowReading.imageLargeId">
            </div>
            <div class="post-block m-t-lg" ng-show="app.nowReading.externalVideoUrl">
              <embed-video enablejsapi="1" class="video" iframe-id="video1" api="1" player_id="video1" href="{{app.nowReading.externalVideoUrl}}" width=800 height=460 ></embed-video>
            </div>
            <div class="p-r-xxl p-l-xxl">
              <div ng-if="app.nowReading.imageCaptionText" class="text-md font-italic m-t-xs m-b-sm post-block">
                {{app.nowReading.imageCaptionText}}
              </div>
              <div ng-if="app.nowReading.topper" class="m-t-md post-block">
                <span class="no-radius normal p-xxs topper text-lg bg-custom-primary ng-binding ng-scope">
                  {{app.nowReading.topper}}
                </span>
              </div>
              <div id="post-title-box" class="post-block m-t">
                <span type="text" class="b-none text-3x font-bold w-full back-none" placeholder="Título">
                  {{app.nowReading.title}}
                </span>
              </div>
              <div ng-show="app.nowReading.subheading" class="post-block text-2x font-thin">
                {{app.nowReading.subheading}}
              </div>
              <div class="post-block m-t">
                <span class="text-md font-bold">Por <a ui-sref="app.user({username: app.nowReading.author.username})" class="m-l-xs">{{app.nowReading.author.name}}</a></span>
                <span class="m-l-sm text-muted text-u-c">em {{ app.nowReading.date | fromNow2 }}</span>
              </div>
              <div class="post-block m-t-lg m-b-xxl">
                <div class="redactor-editor" style="min-height: 50px;" bind-html-unsafe="app.nowReading.body">
                </div>
                <div class="p-t p-b">
                  <button ng-repeat="term in app.nowReading.terms"
                    class="btn btn-rounded btn-stroke btn-term text-md m-r-sm">
                    {{term.name}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
