<!-- hbox layout -->
<div class="p-t-50">

    <!-- search-display -->
  <div class="search-display wrapper-sm search-block b-b" ng-class="{'hide': !app.searchCtrl.searchResults, 'animated fadeIn': app.searchCtrl.searchResults}">
    <p class="m-t-sm m-b-xxs"><strong>{{app.searchCtrl.hits}}</strong> Resultados</p>
  </div>
  <!-- /search-display -->

   <!-- search box -->
  <div class="search-box" ng-class="{'nonempty-search': app.searchCtrl.searchResults && !app.searchCtrl.nonemptySearch, 'nonempty-search2': app.searchCtrl.nonemptySearch}">
    <div class="b-b wrapper-md p-l-xxl">
      <div class="m-n font-thin h3">
        <form ng-submit="submitSearch()">
          <input ng-model="app.searchCtrl.searchQuery" type="text" class="b-none text-2x w-full back-none" placeholder="Busque por notícias...">
        </form>
      </div>
    </div>
  </div>
  <!-- /search box -->
  
  <div class="w-full search-results" ng-class="{'hide': !app.searchCtrl.searchResults, 'animated fadeIn': app.searchCtrl.searchResults}" infinite-scroll="paginateSearch()" infinite-scroll-distance="1">

    <div class="m-b-lg block-800 m-auto m-t-sm">
            <!-- posts -->
      <ul class="b-none no-padding m-b-none ls-style-none">
        <li ng-repeat="result in app.searchCtrl.searchResults" ng-class="{'post-read': app.postRead(result.postId)}">
         <div ng-class="{'b-t': !$first}"></div>
          <div class="clear p-t-sm padder-v padder-md post-list news-item" angular-ripple ng-click="app.setNowReading(result,app.searchCtrl.searchResults, null, 'app.search')">
            <!-- image -->
            <a class="block-image m-l m-t" ng-if="result.mediumId" >
              <div class="cell-wrap r r-2x" ng-class="{'hide': !result.mediumId}">
                <div ng-style="getBackgroundImage(result, 'md')"></div>
              </div>
            </a>
            <!-- /image -->
            <!-- /content -->
            <div class="m-t-sm" ng-class="{'content-block': result.mediumId}">
              <span class="no-radius normal p-xxs topper text-md bg-custom-primary" ng-if="result.topper">{{result.topper}}</span>
              <a  class="h3 font-bold m-b m-t-sm block">
                {{result.title}}
              </a>
              <div class="text-lg font-thin" bind-html-unsafe="result.snippet"></div>
              <div class="m-t">
                <div class="display-t-c">
                  <a >
                      <div style="{{result.authorSmallImageId | imageLink | bgimg}}" class="bg-cover bg-img bg-cover-round" title="result.authorName"></div>
                  </a>
                </div>
                <div class="display-t-c p-l-sm v-middle">
                  <a ng-click="app.goToProfile($event, result.authorUsername)" class="a-custom-primary link link link--accent link--darken">
                    {{result.authorName}}
                  </a>
                  <br>
                  <span class="postMetaInline text-sm">
                    <span class="postMetaInline postMetaInline--bookmark">
                      <span class="readingTime">{{result.date | fromNow}}</span>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <!-- /content -->
          </div>    
        </li>
      </ul>
        <!-- /posts -->
    </div>
  </div>



</div>

<div ui-view></div>