<div class="station-perspectives">

  <div ng-include=" 'tpl/stations_horizontal.html' "></div>

  <div ng-include=" 'tpl/stations_vertical.html' "></div>

  <!-- perspective view vertical/horizontal -->
  <div id="station-sidebar" class="b-l animated fadeIn">
    <!-- <div class="vbox"> -->
    <div class="">
      <div class="wrapper sidebar-top">
        <div class="font-thin h4">&nbsp;</div>
      </div>
      <md-tabs>
        <md-tab class="bg-custom" label="Populares">
          <div class="b-t wrapper-sm popular-posts" flex>
            <ul class="timeline m-t-sm m-b-md">
              <li class="tl-item" ng-repeat="post in app.initData.popular | limitTo: 5">
                <div class="tl-wrap">
                  <div class="popular-index">{{$index + 1}}</div>
                  <div class="">
                    <small style="opacity: 0.7" class="post-time w-md">{{post.date | fromNow}}</small>
                    <a ng-click="app.setNowReading(post)" class="pointer">
                    <div>
                      {{post.title | characters:40}}
                    </div>
                    </a>
                  </div>
                </div>
                <div class="divider" ng-hide="$last"></div>
              </li>
            </ul>
          </div>
        </md-tab>
        <md-tab class="bg-custom" label="Recentes">
          <div class="b-t wrapper-sm recent-posts" flex>
            <ul class="timeline m-t-md m-b-md">
              <li class="tl-item" ng-repeat="post in app.initData.recent | limitTo: 5">
                <div class="tl-wrap">
                  <div class="">
                    <small style="opacity: 0.7" class="post-time w-md">{{post.date | fromNow}}</small>
                    <a ng-click="app.setNowReading(post)" class="pointer">
                    <div clamp="1">
                      {{post.title | characters:40}}
                    </div>
                    </a>
                  </div>
                </div>
                <div class="divider" ng-hide="$last"></div>
              </li>
            </ul>
          </div>
        </md-tab>
        <!-- /tab -->
      </md-tabs>
    </div>
  </div>
</div>

<!-- header bar -->
<div class="collapse pos-rlt navbar-collapse box-shadow nav-down station-header {{app.settings.navbarCollapseColor}}">
  <div class="nav navbar-nav hidden-xs text-center text-lg w-full wrapper-sm header-font font-thin pos-abt">
    {{app.currentStation.name}}
  </div>
  <!-- nabar right -->
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>
      <a href class="dropdown-toggle i-24 mdi-dots-vertical mdi" dropdown-toggle>
      </a>
      <!-- dropdown -->
      <ul class="dropdown-menu animated w-sm">
        <li><span class="text-xs text-u-c m-l-xs font-bold wrapper-xs text-dg">Marcar como lida</span></li>
        <li> <a href class="mark-as-read"> Todas</a> </li>
        <li> <a href class="mark-as-read"> Mais antigas que um dia</a> </li>
        <li class="divider"></li>
        <li><span class="text-xs text-u-c m-l-xs font-bold wrapper-xs text-dg">modo de exibição</span></li>
        <li> <a ng-click="changeView('horizontal')" href>
            <span class="mdi mdi-checkbox-marked-circle-outline pull-right m-t-xxs" ng-show="app.viewMode == 'horizontal'"></span>
            <i class="mdi mdi-swap-horizontal m-r-sm"></i> 
            Horizontal 
            </a> 
        </li>
        <li> <a ng-click="changeView('vertical')" href> 
            <span class="mdi mdi-checkbox-marked-circle-outline pull-right m-t-xxs" ng-show="app.viewMode == 'vertical'"></span>
            <i class="mdi mdi-swap-vertical m-r-sm"></i>
            Vertical 
            </a> 
        </li>
      </ul>
      <!-- / dropdown -->
    </li>
    <li ng-if="!app.isLogged">
      <div class="divider-v m-r-xs"></div>
    </li>
    <li ng-if="!app.isLogged">
      <a href class="text-u-c text-center" ng-click="openSplash('signin_splash.html');">ENTRAR / Cadastrar</a>
    </li>
  </ul>
</div>
<div ui-view></div>
<!-- /header bar-->