<div id="perspective-vertical" class="animated fadeIn m-t-md" ng-if="app.viewMode === 'vertical'">
  <md-tabs md-selected="selectedIndex" flex class="">
    <!-- tab -->
    <md-tab ng-repeat="ordinaryRow in app.termPerspectiveView.ordinaryRows" class="bg-custom" ng-if="ordinaryRow.cells && ordinaryRow.cells.length" label="{{ordinaryRow.termName}}">
      <div flex>
        <div class="m-b-lg p-l-xxl p-r-xxl block-800 m-auto m-t-sm">
            <!-- posts -->
          <ul class="b-none no-padding m-b-none">
            <li ng-repeat="cell in ordinaryRow.cells">
             <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
              <div class="clear p-t-sm padder-v post-list">
                <!-- image -->
                <a class="block-image m-l m-t" ui-sref="app.post({postId: cell.postView.postId})" ng-if="cell.postView.mediumId" >
                  <div class="cell-wrap r r-2x" ng-class="{'hide': !cell.postView.mediumId}">
                    <div ng-style="getBackgroundImage(cell.postView, 'md')"></div>
                  </div>
                </a>
                <!-- /image -->
                <!-- /content -->
                <div class="content-block m-t-sm">
                  <span class="no-radius normal p-xxs topper text-md bg-custom-primary" ng-if="cell.postView.topper">{{cell.postView.topper}}</span>
                  <a ui-sref="app.post({postId: cell.postView.postId})" class="h3 font-bold m-b m-t-sm block">
                    {{cell.postView.title}}
                  </a>
                  <div class="text-lg font-thin" clamp="3" bind-html-unsafe="cell.postView.snippet"></div>
                  <div class="m-t">
                    <div class="display-t-c">
                      <a href="https://medium.com/@hughmcguire" class="" title="Go to the profile of Hugh McGuire">
                        <img src="https://d262ilb51hltx0.cloudfront.net/fit/c/36/36/0*IEP3z0HdLYAjHBvk.jpg" class="" title="Hugh McGuire">
                      </a>
                    </div>
                    <div class="display-t-c p-l-sm v-middle">
                      <a class="a-custom-primary link link link--accent link--darken" title="Go to the profile of Hugh McGuire" href="https://medium.com/@hughmcguire" dir="auto">
                        Hugh McGuire
                      </a>
                      <br>
                      <span class="postMetaInline text-sm">
                        Apr 22 
                        <span class="postMetaInline postMetaInline--bookmark">
                          <span class="readingTime">11 min read</span>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <!-- /content -->
              </div>    
            </li>
          </ul>
            <!-- /posts -->
        </div>
      </div>
    </md-tab>
    <!-- /tab -->
  </md-tabs>
</div>