<div class="wrapper-md">

  <div ng-include=" 'tpl/stations_horizontal.html' "></div>

  <div ng-include=" 'tpl/stations_vertical.html' "></div>

  <!-- perspective view vertical/horizontal -->
  <div id="station-sidebar">
    <div class="vbox">
      <div class="wrapper b-b">
        <div class="font-thin h4">&nbsp;</div>
      </div>
      <div class="nav-tabs-alt">
        <ul class="nav nav-tabs nav-justified">
          <li ng-class="{'active': tabs[0]}">
            <a href ng-click="tab(0)">Populares</a>
          </li>
          <li ng-class="{'active': tabs[1]}">
            <a href ng-click="tab(1)">Recentes</a>
          </li>
        </ul>
      </div>
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="tab-content">
              <div class="tab-pane" ng-class="{'active': tabs[0]}">
                <div class="wrapper-md">
                </div>
              </div>
              <div class="tab-pane" ng-class="{'active': tabs[1]}">
                <div class="wrapper-md">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- header bar -->
<div class="collapse pos-rlt navbar-collapse box-shadow nav-down station-header bg-white {{app.settings.navbarCollapseColor}}">
  <div class="nav navbar-nav hidden-xs text-center text-lg w-full wrapper-sm header-font font-thin pos-abt">
    {{app.currentStation.name}}
  </div>
  <!-- nabar right -->
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>
      <a href class="dropdown-toggle" dropdown-toggle>
        <i class="icon icon-settings"></i>
      </a>
      <!-- dropdown -->
      <ul class="dropdown-menu animated w-sm">
        <li>
          <a  href>Horizontal</a>
          <a  href>Vertical</a>
        </li>
      </ul>
      <!-- / dropdown -->
    </li>
    <li>
      <a href class="text-u-c text-center" ng-click="openSplash('signin_splash.html');">ENTRAR / Cadastrar</a>
    </li>
  </ul>
</div>
<!-- /header bar-->