<div md-ink-ripple class="news-item" data-post-id="{{cell.postView.postId}}" ng-class="{'bg-custom-primary-no-image': !cell.postView.mediumId}" ng-click="app.setHorizontalCursor(cell.postView, ordinaryRow.cells)">
	<div class="bottom wrapper-sm bg-stripe bg-gd-dk text-white title-wrapper-bg" ng-show="cell.postView.mediumId">
		<div class="text-md font-thin text-white ls-sm">{{cell.postView.title}}</div>
		<div class="m-t-md" ng-show="cell.postView.mediumId">
			<div class="display-t-c">
				<a ng-click="app.goToProfile($event, cell.postView.authorUsername)" class="" title="Ir para o perfil de {{cell.postView.authorName}}">
					<div style="{{cell.postView.authorSmallImageId | imageLink | bgimg}}" class="bg-cover bg-img bg-cover-round" title="cell.postView.authorName"></div>
				</a>
			</div>
			<div class="display-t-c p-l-sm v-middle">
				<a ng-click="app.goToProfile($event, cell.postView.authorUsername)" class="text-white" title="Ir para o perfil de {{cell.postView.authorName}}" dir="auto">
					{{cell.postView.authorName}}
				</a>
				<br>
				<span class="postMetaInline text-sm">
					<span class="postMetaInline">
						<span class="readingTime">{{cell.postView.date | fromNow}}</span>
					</span>
				</span>
			</div>
		</div>
	</div>


	<div class="wrapper-sm text-lg font-bold" ng-hide="cell.postView.mediumId">
		{{cell.postView.title | characters:50}}
	</div>
	<div class="wrapper-sm clamped" ng-hide="cell.postView.mediumId">
		{{cell.postView.snippet}}
	</div>

	<div class="pos-abt bottom-0 wrapper-sm" ng-hide="cell.postView.mediumId">
		<div class="display-t-c">
			<a ng-click="app.goToProfile($event, cell.postView.authorUsername)" title="Ir para o perfil de {{cell.postView.authorName}}">
				<div style="{{cell.postView.authorSmallImageId | imageLink | bgimg}}" class="bg-cover bg-img bg-cover-round" title="cell.postView.authorName"></div>
			</a>
		</div>
		<div class="display-t-c p-l-sm v-middle">
			<a ng-click="app.goToProfile($event, cell.postView.authorUsername)" class="text-custom-primary link" title="Ir para o perfil de {{cell.postView.authorName}}" dir="auto">
				{{cell.postView.authorName}}
			</a>
			<br>
			<span class="postMetaInline text-sm">
				<span class="postMetaInline">
					<span class="readingTime">{{cell.postView.date | fromNow}}</span>
				</span>
			</span>
		</div>
	</div>

	<div class="cell-wrap" ng-class="{'hide': !cell.postView.mediumId}">
		<div ng-style="getBackgroundImage(cell.postView, 'md')"></div>
	</div>
</div>