<div id="perspective-vertical" class="animated fadeIn" ng-if="app.viewMode === 'vertical'">
  <md-tabs md-selected="selectedIndex" flex class="">
    <!-- tab -->
    <md-tab ng-repeat="ordinaryRow in app.termPerspectiveView.ordinaryRows" class="bg-custom" ng-if="ordinaryRow.cells && ordinaryRow.cells.length" label="{{ordinaryRow.termName}}">
      <div flex>
        <div class="m-b-lg p-l-xxl p-r-xxl block-800 m-auto m-t-sm">
            <!-- posts -->
          <ul class="b-none no-padding m-b-none ls-style-none">
            <li ng-repeat="cell in ordinaryRow.cells">
             <div class="search-divider" ng-class="{'search-divider-dark': app.customStyle.darkFonts2, 'b-t': !$first}"></div>
              <div class="clear p-t-sm padder-v padder-md post-list news-item" md-ink-ripple ng-click="app.setNowReading(cell.postView, ordinaryRow.cells)">
                <!-- image -->
                <a class="block-image m-l m-t" ui-sref="app.post({postId: cell.postView.postId})" ng-if="cell.postView.mediumId" >
                  <div class="cell-wrap r r-2x" ng-class="{'hide': !cell.postView.mediumId}">
                    <div ng-style="getBackgroundImage(cell.postView, 'md')"></div>
                  </div>
                </a>
                <!-- /image -->
                <!-- /content -->
                <div class="m-t-sm" ng-class="{'content-block': cell.postView.mediumId}">
                  <span class="no-radius normal p-xxs topper text-md bg-custom-primary" ng-if="cell.postView.topper">{{cell.postView.topper}}</span>
                  <a  class="h3 font-bold m-b m-t-sm block">
                    {{cell.postView.title}}
                  </a>
                  <div class="text-lg font-thin">{{cell.postView.snippet | characters:170}}</div>
                  <div class="m-t">
                    <div class="display-t-c">
                      <a >
                          <div style="{{cell.postView.authorSmallImageId | imageLink | bgimg}}" class="bg-cover bg-img bg-cover-round" title="cell.postView.authorName"></div>
                      </a>
                    </div>
                    <div class="display-t-c p-l-sm v-middle">
                      <a class="a-custom-primary link link link--accent link--darken">
                        {{cell.postView.authorName}}
                      </a>
                      <br>
                      <span class="postMetaInline text-sm">
                        <span class="postMetaInline postMetaInline--bookmark">
                          <span class="readingTime">{{cell.postView.date | fromNow}}</span>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <!-- /content -->
              </div>    
            </li>
          </ul>
            <!-- /posts -->
        </div>
      </div>
    </md-tab>
    <!-- /tab -->
  </md-tabs>
</div>