<div id="publications" class="hbox hbox-auto-xs">
	<div class="wrapper-lg">
		<div class="block-1000 m-auto">
			<div class="text-3x font-bold m-b-lg">
				Notícias
			</div>

			  <div class="w-full" infinite-scroll="paginatePosts()" infinite-scroll-distance="1">
            <!-- posts -->
			      <ul class="b-none no-padding m-b-none ls-style-none">
			        <li ng-repeat="publication in app.publicationsCtrl.publications">
			         <div ng-class="{'b-t': !$first}"></div>
			          <div class="clear p-t-sm padder-v post-list news-item">
			            <!-- image -->
			            <a class="block-image m-l m-t" ng-if="publication.mediumId" >
			              <div class="cell-wrap r r-2x" ng-class="{'hide': !publication.mediumId}">
			                <div ng-style="getBackgroundImage(publication, 'md')"></div>
			              </div>
			            </a>
			            <!-- /image -->
			            <!-- /content -->
			            <div class="m-t-sm" ng-class="{'content-block': publication.mediumId}">
			              <span class="no-radius normal p-xxs topper text-md bg-custom-primary" ng-if="publication.topper">{{publication.topper}}</span>
			              <a  class="h3 font-bold m-b m-t-sm block" ng-click="app.setNowReading(publication, app.publicationsCtrl.publications, null, 'app.publications')">
			                {{publication.title}}
			              </a>
			              <div class="text-lg font-thin" ng-bind-html="publication.snippet | characters: 100 | stripHtml">
			              </div>
		                <div class="p-t display-t-c v-middle">
	                    <span class="text-muted readingTime">{{publication.date | fromNow2}}</span>
		                </div>
			            </div>
			            <!-- /content -->
			          </div>    
			        </li>
			      </ul>
			  </div>
        <!-- /posts -->
		</div>
	</div>
</div>

<div ui-view></div>