<div id="user-profile" class="hbox" ng-cloak>
	<!-- cover container -->
	<div ng-show="showProfile">
		<div class="" ng-show="person.coverLargeId">
			<div class="profile-cover abstract-bg bg-cover" style="{{person.coverLargeId | imageLink | bgimg2}}">
			</div>
		</div>
		<div id="profile-buttons" class="pos-abt wrapper" ng-class="{'profile-buttons-cover': person.coverLargeId}">
			<md-button md-no-ink angular-ripple ng-show="person.id == app.initData.person.id" class="md-fab custom-fab-button text-lg" ng-click="editProfile()">
        <i class="mdi mdi-pencil"></i>
      </md-button>
		</div>
		<div class="user-details block-600 m-auto animated zoomIn" ng-class="{'with-cover': person.coverLargeId}">
			<div style="{{person.imageMediumId | imageLink | bgimg}}" class="bg-cover box-shadow2 bg-img-xxl bg-cover-round m-b m-auto b b-3x b-white" title="{{person.name}}">
			</div>
			<div class="m-t-sm font-bold wrapper-xs text-center" ng-class="{'text-4x': !person.coverLargeId, 'text-3x': person.coverLargeId}">
				{{person.name}}
			</div>
		</div>
		<div class="user-bio block-600 m-auto font-thin text-2x text-center m-b-lg">
			{{person.bio}}
		</div>
	</div>
	<!-- /conver container -->
	
	<!-- divider -->
	<div ng-show="postViews && postViews.length > 0 && showProfile">
		<div class="m-t b-t b-drk w-full"></div>
		<div class="header m-auto text-center text-u-c text-lg">
			<span class="header-title p-l p-r">
				Notícias
			</span>
		</div>
	</div>

	<!-- posts & recommendation -->
	<div infinite-scroll="paginate()" infinite-scroll-distance="1">
    <!-- posts -->
		<div class="block-800 m-auto m-t-lg m-b-lg" ng-show="postViews && postViews.length > 0 && showProfile">
	    <ul class="b-none no-padding m-b-none ls-style-none">
	      <li ng-repeat="postView in postViews">
	       <div ng-class="{'b-t': !$first}"></div>
	        <div class="m-b panel-card panel animated zoomIn clear p-t-sm padder-v padder-md post-list news-item" angular-ripple ng-click="app.setNowReading(postView, postViews, null, 'app.user')">
	          <!-- image -->
	          <a class="block-image m-l m-t" ng-if="postView.mediumId" >
	            <div class="cell-wrap r r-2x" ng-class="{'hide': !postView.mediumId}">
	              <div ng-style="getBackgroundImage(postView, 'md')"></div>
	            </div>
	          </a>
	          <!-- /image -->
	          <!-- /content -->
	          <div class="m-t-sm" ng-class="{'content-block': postView.mediumId}">
	            <span class="no-radius normal p-xxs topper text-md bg-custom-primary" ng-if="postView.topper">{{postView.topper}}</span>
	            <a  class="h3 font-bold m-b m-t-sm block">
	              {{postView.title}}
	            </a>
	            <div class="text-lg font-thin">
	            	{{postView.snippet | characters:170}}
	            </div>
	            <div class="m-t">
	              <div class="display-t-c">
	                <a >
	                    <div style="{{postView.authorSmallImageId | imageLink | bgimg}}" class="bg-cover bg-img bg-cover-round" title="postView.authorName"></div>
	                </a>
	              </div>
	              <div class="display-t-c p-l-sm v-middle">
	                <a ng-click="app.goToProfile($event, postView.authorUsername)" class="a-custom-primary link link link--accent link--darken">
	                  {{postView.authorName}}
	                </a>
	                <br>
	                <span class="postMetaInline text-sm">
	                  <span class="postMetaInline postMetaInline--bookmark">
	                    <span class="readingTime">{{postView.date | fromNow}}</span>
	                  </span>
	                </span>
	              </div>
	            </div>
	          </div>
	          <!-- /content -->
	        </div>    
	      </li>
	    </ul>
	  </div>
    <!-- /posts -->

    <div class="clear wrapper m-t m-b bg-light dk b-t b-b" ng-show="recommendations && showProfile">
    	<div class="block-800 m-auto text-md text-u-c m-b-md p-l font-bold">
    		recomendados por {{person.name}}
    	</div>
    	<div class="block-800 m-auto">
    		<div class="col-sm-6" ng-repeat="recommendation in recommendations">
    			<div class="m-t-sm m-b-md">
    				<div clamp="1" class="text-md">
    					<a class="underline-hover">{{recommendation.post.title}}</a>
    				</div>
    				<div clamp="1" class="font-thin">
    					{{recommendation.post.body | stripHtml}}
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
		
		<!-- pages -->
		<div class="block-800 m-auto m-t-lg m-b-lg" ng-show="pages && showProfile">
			<ul class="b-none no-padding m-b-none ls-style-none">
	      <li ng-repeat="postView in pages">
	       <div ng-class="{'b-t': !$first || (!recommendations || recommendations.length == 0)}"></div>
	        <div class="m-b panel-card panel animated zoomIn m-b clear p-t-sm padder-v padder-md post-list news-item" angular-ripple ng-click="app.setNowReading(postView, postViews, null, 'app.user')">
	          <!-- image -->
	          <a class="block-image m-l m-t" ng-if="postView.mediumId" >
	            <div class="cell-wrap r r-2x" ng-class="{'hide': !postView.mediumId}">
	              <div ng-style="getBackgroundImage(postView, 'md')"></div>
	            </div>
	          </a>
	          <!-- /image -->
	          <!-- /content -->
	          <div class="m-t-sm" ng-class="{'content-block': postView.mediumId}">
	            <span class="no-radius normal p-xxs topper text-md bg-custom-primary" ng-if="postView.topper">{{postView.topper}}</span>
	            <a  class="h3 font-bold m-b m-t-sm block">
	              {{postView.title}}
	            </a>
	            <div class="text-lg font-thin">
	            	{{postView.snippet | characters:170}}
	            </div>
	            <div class="m-t">
	              <div class="display-t-c">
	                <a >
	                    <div style="{{postView.authorSmallImageId | imageLink | bgimg}}" class="bg-cover bg-img bg-cover-round" title="postView.authorName"></div>
	                </a>
	              </div>
	              <div class="display-t-c p-l-sm v-middle">
	                <a ng-click="app.goToProfile($event, postView.authorUsername)" class="a-custom-primary link link link--accent link--darken">
	                  {{postView.authorName}}
	                </a>
	                <br>
	                <span class="postMetaInline text-sm">
	                  <span class="postMetaInline postMetaInline--bookmark">
	                    <span class="readingTime">{{postView.date | fromNow}}</span>
	                  </span>
	                </span>
	              </div>
	            </div>
	          </div>
	          <!-- /content -->
	        </div>    
	      </li>
	    </ul>
    </div>
		<!-- /pages -->

  </div>

	<div ui-view></div>
</div>