<div class="md-primary-hue-1 background md-whiteframe-z1 p-xl ng-scope pos-fix w-full top-0 left-0 z-index-n-1">
  <div class="p-xl">
  </div>
</div>

<div class="pos-abt w-full top-0 bottom-0 left-0">
  <div class="hbox">
    <div class="col w-md text-md font-500">
      <div class="vbox p-t-lg">
        <div class="row-row">
          <div class="cell o-f-v">
            <div class="cell-inner">
              <ul class="settings-list text-muted m-t-xxl pos-rlt" style="margin-right: -7px">
                <li ng-class="{'active': settings.tab === 'publications'}">
                  <a ng-click="settings.tab = 'publications'" md-ink-ripple class="settings-items"><span translate='titles.PUBLISHED'></span></a>
                </li>
                <li ng-class="{'active': settings.tab === 'scheduled'}">
                  <a ng-click="settings.tab = 'scheduled'" md-ink-ripple class="settings-items"><span translate='titles.SCHEDULED'></span></a>
                </li>
                <li ng-class="{'active': settings.tab === 'drafts'}">
                  <a ng-click="settings.tab = 'drafts'" md-ink-ripple class="settings-items"><span translate='titles.DRAFTS'></span></a>
                </li>
                <li ng-class="{'active': settings.tab === 'trash'}">
                  <a ng-click="settings.tab = 'trash'" md-ink-ripple class="settings-items"><span translate='titles.TRASH'></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col animated zoomIn">
      <div class="vbox p-t-lg p-r">
      
        <div class="m-r-sm m-l-sm p-sm md-background-hue-3 background md-whiteframe-z1 pos-rlt z-index-2">
          <input placeholder="Busca" class="ph-dk w-full b-n p-sm w-full b-n text-lg bg-t">
          <div class="pos-abt top-0 right-0 m-t">
            <md-button class="md-icon-button" aria-label="More">
              <i class="icon mdi-content-filter-list i-24"></i></md-icon>
            </md-button>
          </div>
        </div>
        <div class="row-row">
          <div class="cell">
            <div class="cell-inner p-r-sm p-l-sm">
              <div class="md-background-hue-1 background w-full m-h-auto pos-rlt md-whiteframe-z2 " style="overflow: auto;
    max-height: 100%;">
                <div class="md-padding min-h-400" ng-class="{'hide': settings.tab !== 'publications'}">
                  <ul class="list-group bg-t">
                    <li class="list-group-item" ng-repeat="publication in publications">
                      <a href class="pull-left w-40 m-r"><img src="images/a1.jpg" class="img-responsive img-circle"></a>
                      <div class="clear">
                        <a href class="font-bold block text-md">{{publication.title}}</a>
                        {{publication.snippet | characters:170}}
                        <div class="list-group-item b-n">
                          <a href class="pull-left w-40 m-r"><img src="images/a1.jpg" class="img-responsive img-circle"></a>
                          <div class="clear">
                            <a href class="font-bold block">Jonathan Doe</a>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul> 
                </div>
                <!-- end of network configurations -->
                <!-- domain and analytics -->
                <div class="md-padding min-h-400" ng-class="{'hide': settings.tab !== 'scheduled'}">
                  <ul class="list-group bg-t">
                    <li class="list-group-item" ng-repeat="scheduled in scheduleds">
                      <a href class="pull-left w-40 m-r"><img src="images/a1.jpg" class="img-responsive img-circle"></a>
                      <div class="clear">
                        <a href class="font-bold block">{{scheduled.title}}</a>
                        {{scheduled.snippet | characters:170}}
                      </div>
                    </li>
                  </ul> 
                </div>
                <!-- /domain and analytics -->

                <!-- logos -->
                <div class="md-padding min-h-400"  ng-class="{'hide': settings.tab !== 'drafts'}">
                  <ul class="list-group bg-t">
                    <li class="list-group-item" ng-repeat="draft in drafts">
                      <a href class="pull-left w-40 m-r"><img src="images/a1.jpg" class="img-responsive img-circle"></a>
                      <div class="clear">
                        <a href class="font-bold block">{{draft.title}}</a>
                        {{draft.snippet | characters:170}}
                      </div>
                    </li>
                  </ul> 
                </div>
                <!-- /logo section -->

                <!-- footer -->
                <div class="md-padding min-h-400"  ng-class="{'hide': settings.tab !== 'trash'}">
                </div>
                <!-- /footer -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  
  <md-button aria-label="menu" class="md-fab md-accent pos-fix right-0 bottom-0 m-r-xxl m-b-lg">
    <i class="mdi-editor-mode-edit i-24"></i>
  </md-button>
