<div class="pos-abt w-full top-0 bottom-0 left-0"> <!-- abs -->
  <div class="hbox">
    <div class="col"> <!-- col -->
      <div class="vbox"> <!-- vbox -->
        <div class="row-row"> <!-- row-row -->
          <div class="cell"> <!-- cell -->
            <div class="cell-inner"><!-- cell -->

							<!-- main content -->
							<h1>Post...</h1>
							<!-- /main content -->

						</div> <!-- cell-inner -->
					</div> <!-- cell -->
				</div> <!-- /row-row -->
			</div> <!-- /vbox -->
		</div><!-- /col -->
	</div>
</div> <!-- /abs -->