<div class="pos-abt w-full top-0 bottom-0 left-0"> <!-- abs -->
  <div class="hbox">
    <div class="col"> <!-- col -->
      <div class="vbox"> <!-- vbox -->
        <div class="row-row"> <!-- row-row -->
          <div class="cell"> <!-- cell -->
            <div class="cell-inner"><!-- cell -->

							<!-- main content -->
							<div class="block-800 m-auto">
								<!-- image speed dial -->
								<div class="media-speed-dial p">
									<div class="lock-size" layout="row" layout-align="center center">
							      <md-button aria-label="menu" class="md-fab md-accent md-mini">
									    <i class="mdi mdi2-image-area i-20"></i>
									  </md-button>
									  <md-button aria-label="menu" class="md-fab md-accent md-mini">
									    <i class="mdi mdi2-video i-20"></i>
									  </md-button>
							    </div>
								</div>
								<!-- image speed dial -->
								<div class="text-lg"> 
					      	<textarea rows="1" placeholder="Title" class="w-full ph-dk p-sm r m-b md-whiteframe-z0 md-background-hue-3 background" style="resize: none;"></textarea>
					      </div>
								<textarea id="texteditor" froala="froalaOptions" class="md-whiteframe-z1" ng-model="sample2Text"></textarea>
							</div>
							<!-- /main content -->

						</div> <!-- cell-inner -->
					</div> <!-- cell -->
				</div> <!-- /row-row -->
			</div> <!-- /vbox -->
		</div><!-- /col -->
	</div>
</div> <!-- /abs -->