<div class="m-r-lg m-l-lg m-b-xxl animated zoomIn">
	
	<div class="m">
		<h2>
			{{'settings.pages.HOME_PAGE' | translate}}
		</h2>
	</div>

	<div class="p">
		<md-divider></md-divider>
		<div class="w-full text-center" style="margin-top: -28px">
			<md-button class="md-accent md-fab md-mini" aria-label="Eat cake">
				<md-tooltip md-direction="top">
		    	{{'settings.pages.ADD_SECTION' | translate}}
		  	</md-tooltip>
        <i class="mdi mdi2-plus i-20"></i>
      </md-button>
		</div>
		<div>
			<div class="text-right">
				<div md-ink-ripple class="p-xs r-50 o-f-h inline pointer" style="line-height: 10px">
					<md-tooltip md-direction="top">
			    	{{'settings.pages.ADD_SECTION' | translate}}
			  	</md-tooltip>
          <i class="mdi mdi2-plus i-20"></i>
        </div>
			</div>
		</div>
	</div>

	<div class="p">
		<md-divider></md-divider>
		<div class="w-full text-center" style="margin-top: -28px">
			<md-button class="md-accent md-fab md-mini" aria-label="Eat cake">
				<md-tooltip md-direction="top">
			    	{{'settings.pages.ADD_SECTION' | translate}}
			  	</md-tooltip>
	          <i class="mdi mdi2-plus i-20"></i>
	        </md-button>
		</div>
	</div>
</div>

<md-button aria-label="menu" class="md-fab md-accent pos-fix right-0 bottom-0 m-r-xxl m-b-lg" style="margin-right: 80px;">
<i class="mdi mdi2-content-save i-24"></i>
</md-button>