<?xml version="1.0" encoding="UTF-8" ?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
  	   		 xmlns:beans="http://www.springframework.org/schema/beans"
  	   		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  	   		 xsi:schemaLocation="http://www.springframework.org/schema/beans
  	   					   		 http://www.springframework.org/schema/beans/spring-beans.xsd
  	   					   		 http://www.springframework.org/schema/security
  	   					   		 http://www.springframework.org/schema/security/spring-security.xsd">
	<http pattern="/logIn.jsp" security="none"/>
	<http pattern="/index.jsp" security="none"/>
	<http pattern="/app/**" security="none"/>
	<http pattern="/new/js/**" security="none"/>
	<http pattern="/new/fonts/**" security="none"/>
	<http pattern="/new/css/**" security="none"/>
	<http pattern="/new/api/**" security="none"/>
	<http pattern="/new/l10n/**" security="none"/>
	<http pattern="/new/tpl/**" security="none"/>
	<http pattern="/new/img/**" security="none"/>
	<http pattern="/home/**" security="none"/>
	<http pattern="/bower_components/**" security="none"/>
	<http pattern="/css/**" security="none"/>
	<http pattern="/js/**" security="none"/>
	<http pattern="/img/**" security="none"/>
	<http pattern="/tpl/**" security="none"/>
	<http pattern="/offcanvas/**" security="none"/>
	<http pattern="/l10n/**" security="none"/>
	<http pattern="/fonts/**" security="none"/>
	<http pattern="/api/persons/search/findByUsername/**" security="none"/>
	<http pattern="/api/persons/create" security="none"/>
	<http pattern="/api/wp/login" security="none"/>
	<http pattern="/api/wp/post" security="none"/>
	<http pattern="/api/wp/posts" security="none"/>
	<http pattern="/api/wp/terms" security="none"/>
	<http pattern="/api/util/**" security="none"/>
	<http pattern="/invitation/**" security="none"/>

	<http entry-point-ref="authenticationEntryPoint">
	    <intercept-url pattern="/api/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
	    <intercept-url pattern="/api/persons/init" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
	    <intercept-url pattern="/api/persons/login" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
	    <intercept-url pattern="/api/files/*/contents" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
	    <intercept-url pattern="/new" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
	    <intercept-url pattern="/new/index.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
	    
		<intercept-url pattern="/**" access="ROLE_USER"/>

		<form-login always-use-default-target="true" 
					default-target-url="/loggedIn.jsp"									
					authentication-failure-url="/logIn.jsp"/>
		
		<logout/>
	</http>

	<beans:bean id="authenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/logIn.jsp"/>
		<beans:property name="useForward" value="true"/>
	</beans:bean>

	<authentication-manager alias="myAuthenticationManager">
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource" />
  		</authentication-provider>
	</authentication-manager>
</beans:beans>