<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-jdbc="http://www.springframework.org/schema/integration/jdbc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         				   http://www.springframework.org/schema/beans/spring-beans.xsd
         				   http://www.springframework.org/schema/task
         				   http://www.springframework.org/schema/task/spring-task.xsd         				   
         				   http://www.springframework.org/schema/integration
         				   http://www.springframework.org/schema/integration/spring-integration-4.0.xsd
         				   http://www.springframework.org/schema/integration/jdbc
         				   http://www.springframework.org/schema/integration/jdbc/spring-integration.xsd">
<!-- ###################################################################### -->
	<int:channel id="sendHitChannel">
		<int:queue capacity="1000"/>		
	</int:channel>
	
	<int:service-activator input-channel="sendHitChannel">
		<bean class="com.wordrails.ga.SendHitService"/>
	</int:service-activator>
<!-- ###################################################################### -->

	<int:poller default="true" receive-timeout="30000" fixed-rate="10"/>
</beans>