<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         				   http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
		<property name="persistenceUnitName" value="wordrails"/>
	</bean>

	<bean id="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">

		<property name="configLocation" value="classpath:application_quartz.properties"/>
		<property name="dataSource" ref="quartzDataSource"/>
		<property name="transactionManager" ref="transactionManager"/>

		<property name="autoStartup" value="true"/>
		<property name="applicationContextSchedulerContextKey" value="applicationContext"/>

		<property name="jobFactory">
			<bean class="co.xarx.trix.scheduler.AutowiringSpringBeanJobFactory"/>
		</property>
	</bean>

	<beans profile="dev,dev_prod">
		<bean id="quartzDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
			<property name="driverClass" value="com.mysql.jdbc.Driver"/>
			<property name="jdbcUrl" value="jdbc:mysql://localhost/trix_dev"/>
			<property name="username" value="wordrails"/>
			<property name="password" value="wordrails"/>
		</bean>
	</beans>

	<beans profile="prod">
		<jee:jndi-lookup id="quartzDataSource" jndi-name="jdbc/quartz"/>
	</beans>
</beans>
