<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"       
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         				   http://www.springframework.org/schema/beans/spring-beans.xsd
         				   http://www.springframework.org/schema/context
         				   http://www.springframework.org/schema/context/spring-context.xsd
         				   http://www.springframework.org/schema/data/jpa
         				   http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
         				   http://www.springframework.org/schema/tx
       					   http://www.springframework.org/schema/tx/spring-tx.xsd
       					   http://www.springframework.org/schema/util 
       					   http://www.springframework.org/schema/util/spring-util.xsd
       					   http://www.springframework.org/schema/task
       					   http://www.springframework.org/schema/task/spring-task.xsd">
	<context:component-scan base-package="com.wordrails"/>

	<jpa:repositories base-package="com.wordrails.persistence" transaction-manager-ref="transactionManager" entity-manager-factory-ref="entityManagerFactory"/>	
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<task:annotation-driven executor="myExecutor" scheduler="myScheduler"/>
	<task:executor id="myExecutor" pool-size="5"/>
	<task:scheduler id="myScheduler" pool-size="10"/>

  	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
  		<property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
		<!-- <property name="packagesToScan" value="com.wordrails.business"/> -->
	</bean>

	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>	
		<property name="jdbcUrl" value="jdbc:mysql://localhost/wordrails2"/>
   		<property name="username" value="wordrails"/>
		<property name="password" value="wordrails"/>
	</bean>
	
	<bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
	
	<bean id="postFilter" class="com.wordrails.api.PostFilter"></bean>
	<bean id="networkDomainFilter" class="com.wordrails.api.NetworkDomainFilter"></bean>
	<bean id="personDataFilter" class="com.wordrails.api.PersonDataFilter"></bean>
	<bean id="corsCustomFilter" class="com.wordrails.api.CORSCustomFilter"></bean>
	
</beans>