<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
								 http://www.springframework.org/schema/beans/spring-beans.xsd
								 http://www.springframework.org/schema/security
								 http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<security:http pattern="/logIn.jsp" security="none"/>
	<!-- 	<security:http pattern="/index.jsp" security="none"/> -->
	<security:http pattern="/app/**" security="none"/>
	<security:http pattern="/home/**" security="none"/>
	<security:http pattern="/bower_components/**" security="none"/>
	<!-- <security:http pattern="/../bower_components/**" security="none"/> -->
	<security:http pattern="/css/**" security="none"/>
	<security:http pattern="/js/**" security="none"/>
	<security:http pattern="/img/**" security="none"/>
	<security:http pattern="/tpl/**" security="none"/>
	<security:http pattern="/offcanvas/**" security="none"/>
	<security:http pattern="/l10n/**" security="none"/>
	<security:http pattern="/fonts/**" security="none"/>
	<security:http pattern="/api/persons/search/findByUsername/**" security="none"/>
	<security:http pattern="/api/wp/**" security="none"/>
	<security:http pattern="/api/util/**" security="none"/>
	<security:http pattern="/invitation/**" security="none"/>


	<security:http entry-point-ref="authenticationEntryPoint" auto-config='false'>
		<security:intercept-url pattern="/api/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/api/persons/init" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/api/persons/login" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/api/persons/tokenSignin" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/api/files/*/contents" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<!--  <security:intercept-url pattern="/new" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
			<security:intercept-url pattern="/new/index.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/> -->
		<security:intercept-url pattern="/" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/index.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>
		<security:intercept-url pattern="/search" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>
		<security:intercept-url pattern="/search/*" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>
		<security:intercept-url pattern="/post" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>
		<security:intercept-url pattern="/post/*" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>
		<security:intercept-url pattern="/notifications" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>
		<security:intercept-url pattern="/notifications/*" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>
		<security:intercept-url pattern="/bookmarks" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>
		<security:intercept-url pattern="/bookmarks/*" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>
		<security:intercept-url pattern="/settings" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>
		<security:intercept-url pattern="/settings/*" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>
		<security:intercept-url pattern="/publications" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>
		<security:intercept-url pattern="/publications/*" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>
		<security:intercept-url pattern="/user" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>
		<security:intercept-url pattern="/user/*" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>
		<security:intercept-url pattern="/read" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>
		<security:intercept-url pattern="/read/*" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>

		<security:intercept-url pattern="/api/auth/twitter" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>

		<security:intercept-url pattern="/networks/createNetwork" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>

		<security:intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY,ROLE_USER"/>

		<security:custom-filter ref="authenticationFilter" position="FORM_LOGIN_FILTER"/>
		<security:custom-filter ref="anonymousAuthenticationFilter" position="ANONYMOUS_FILTER"/>

		<security:logout/>

		<security:anonymous enabled="false"/>
	</security:http>

	<bean id="textEncryptor" class="org.springframework.security.crypto.encrypt.Encryptors"
	      factory-method="text">
		<constructor-arg value="${security.encryptPassword}" />
		<constructor-arg value="${security.encryptSalt}" />
	</bean>

	<!--AUTHENTICATION-->

	<bean id="anonymousAuthenticationFilter" class="co.xarx.trix.web.filter.TrixAnonymousAuthenticationFilter">
		<constructor-arg name="key" value="anonymousKey" />
	</bean>

	<bean id="authenticationFilter" class="co.xarx.trix.web.filter.TrixAuthenticationFilter"
	            p:authenticationManager-ref="trixAuthenticationManager"/>

	<bean id="authenticationEntryPoint"
	            class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<constructor-arg name="loginFormUrl" value="/logIn.jsp"/>
		<property name="useForward" value="true"/>
	</bean>

	<security:authentication-manager alias="trixAuthenticationManager" erase-credentials="false">
		<security:authentication-provider ref="trixAuthenticationProvider"/>
	</security:authentication-manager>
	<security:authentication-provider id="trixAuthenticationProvider"/>
</beans>