<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         				   http://www.springframework.org/schema/beans/spring-beans.xsd
         				   http://www.springframework.org/schema/context
         				   http://www.springframework.org/schema/context/spring-context.xsd
         				   http://www.springframework.org/schema/data/jpa
         				   http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
         				   http://www.springframework.org/schema/tx
       					   http://www.springframework.org/schema/tx/spring-tx.xsd
       					   http://www.springframework.org/schema/task
       					   http://www.springframework.org/schema/task/spring-task.xsd
       					   http://www.springframework.org/schema/jee
       					   http://www.springframework.org/schema/jee/spring-jee.xsd">

	<context:component-scan base-package="com.wordrails">
		<context:include-filter type="annotation"
		                        expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>

	<jpa:repositories base-package="com.wordrails.persistence" transaction-manager-ref="transactionManager"
	                  entity-manager-factory-ref="entityManagerFactory"/>

	<tx:annotation-driven transaction-manager="transactionManager"/>

	<task:annotation-driven executor="myExecutor" scheduler="myScheduler"/>
	<task:executor id="myExecutor" pool-size="10"/>
	<task:scheduler id="myScheduler" pool-size="20"/>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
		<property name="persistenceUnitName" value="wordrails"/>
	</bean>

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
		<property name="persistenceUnitName" value="wordrails"/>
		<!-- <property name="packagesToScan" value="com.wordrails.business"/> -->
	</bean>

	<bean class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration"/>

	<bean class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"/>

	<bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>

	<bean id="postFilter" class="com.wordrails.api.PostFilter"/>
	<bean id="networkDomainFilter" class="com.wordrails.api.NetworkDomainFilter"/>
	<bean id="personDataFilter" class="com.wordrails.api.PersonDataFilter"/>
	<bean id="corsCustomFilter" class="com.wordrails.api.CORSCustomFilter"/>
	<bean id="cacheService" class="com.wordrails.services.CacheService" init-method="init"/>
	<bean id="wordrailsService" class="com.wordrails.WordrailsService" init-method="init"/>
	<bean id="simpleMapper" class="com.fasterxml.jackson.databind.ObjectMapper"></bean>

	<!-- __________________________ DATABASE __________________________ -->

	<beans profile="dev">
		<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
			<property name="driverClass" value="com.mysql.jdbc.Driver"/>
			<property name="jdbcUrl" value="jdbc:mysql://localhost/trix_dev"/>
			<property name="username" value="wordrails"/>
			<property name="password" value="wordrails"/>
		</bean>
	</beans>

	<beans profile="dev_prod">
		<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
			<property name="driverClass" value="com.mysql.jdbc.Driver"/>
			<property name="jdbcUrl" value="jdbc:mysql://localhost/trix_prod"/>
			<property name="username" value="wordrails"/>
			<property name="password" value="wordrails"/>
		</bean>
	</beans>

	<beans profile="prod">
		<jee:jndi-lookup id="dataSource" jndi-name="jdbc/trix"/>
	</beans>

	<!-- __________________________ DATABASE __________________________ -->


	<!-- __________________________ PROPERTIES __________________________ -->
	<beans profile="dev">
		<context:property-placeholder location="classpath*:application.properties, classpath*:application_dev.properties"/>
	</beans>

	<beans profile="prod,dev_prod">
		<context:property-placeholder location="classpath*:application.properties, classpath*:application_prod.properties"/>
	</beans>
	<!-- __________________________ PROPERTIES __________________________ -->
</beans>
