<!-- first -->
<ul class="not-logged m-t-lg text-center" ng-if="!app.authenticated">
  <li>
      <div>
        <h3 class="font-thin">Minha Crônica</h3>
        <div class="m-b-sm m-t-xl">Alguma mensagem de cadastro para o usuário.</div>
        <a class="btn btn-success w-full" ng-click="openModal('signup_modal.html', 'sm')">Cadastre-se</a>
      </div>
  </li>
  <li>
      <div>
        <div class="m-b-sm m-t-lg">Já possui cadastro?</div>
        <button class="btn btn-default w-full" ng-click="openModal('signin_modal.html', 'sm')">
          <strong>ENTRAR</strong>
        </button>
      </div>
  </li>
</ul>
<ul class="nav text-md" ng-if="app.authenticated">
  <li>
    <a ui-sref="app.stations.author_posts({stationId: app.network.currentStation.id ? app.network.currentStation.id : 0, authorId : app.person.id})">
      <i class="fa-file-text-o fa text-white"></i>
      <span>Minhas notícias</span>
    </a>
  </li>
  <li>
    <a href ng-click="logout()">
      <i class="fa fa-sign-out fa text-white"></i>
      <span>Sair</span>
    </a>
  </li>
  <li class="line dk" ng-if="app.network.stationAdmin && app.network.admin"></li>
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs" ng-if="app.network.stationAdmin && app.network.admin">
    <span >Admin</span>
  </li>
  <li ng-if="app.network.stationAdmin && app.network.admin">
    <a ui-sref="app.scaffold.users">
      <i class="icon icon-users"></i>
      <span>Usuários</span>
    </a>
  </li>
  <li ng-if="app.network.stationAdmin && app.network.admin">
    <a ui-sref="app.scaffold.stations">
      <i class="icon fa fa-bars"></i>
      <span >Estações</span>
    </a>
  </li>
  <li ng-if="app.network.stationAdmin && app.network.admin">
    <a ui-sref="app.scaffold.taxonomies">
      <i class="icon fa fa-sitemap"></i>
      <span >Taxonomias</span>
    </a>
  </li>
  <li ng-if="app.network.stationAdmin && app.network.admin">
    <a ui-sref="app.scaffold.perspectives">
      <i class="icon fa fa-columns"></i>
      <span >Perspectivas</span>
    </a>
  </li>
  <li ng-if="app.network.stationAdmin && app.network.admin">
    <a ui-sref="app.settings">
      <i class="icon fa fa-cog"></i>
      <span>Geral</span>
    </a>
  </li>
</ul>
<!-- / third -->

<script type="text/ng-template" id="signin_modal.html">
  <form ng-submit="signIn(username, password)">
    <div class="modal-body text-md">
        <h3 class="font-thin m-t-sm">Entrar</h3>
        <div class="text-danger" ng-show="signInError">
          Usuário ou senha inválidos
        </div>
        <div class="form-group m-t-md">
          <input type="text" ng-model="username" class="form-control input-lg" placeholder="Usuário">
        </div>
        <div class="form-group">
          <input type="password" ng-model="password" class="form-control input-lg" placeholder="Senha">
        </div>
        <div class="checkbox m-t-lg">
          <label class="i-checks">
            <input type="checkbox"><i></i> Lembre-se de mim
          </label>
          <button type="submit" class="btn btn-success w-full text-uc m-t">
            <strong>ENVIAR</strong>
          </button>
          <a class="btn btn-default w-full text-uc m-t" ng-click="cancelModal()">
            CANCELAR
          </a>
        </div>
    </div>
  </form>
</script>

<script type="text/ng-template" id="signup_modal.html">
  <div ng-controller="SignupCtrl">
    <form name="form" ng-submit="signup()">
      <div class="modal-body text-md">
        <h4 class="font-thin m-b-md m-r-md m-l-md text-center">Cadastre-se para compartilhar suas histórias...</h4>
        <div class="list-group list-group-sm">
          <div class="list-group-item">
            <input placeholder="Nome" type="text" class="form-control no-border" name="name" ng-model="person.name" required >
          </div>
          <div class="list-group-item">
            <input placeholder="Email"type="email" class="form-control no-border" name="email" required ng-model="person.email" required>
          </div>
          <div class="list-group-item">
            <input placeholder="Usuário" type="text" class="form-control no-border" name="username" ng-model="person.username">
          </div>        
          <div class="list-group-item">
            <input type="password" placeholder="Senha" class="form-control no-border" ng-model="password" required>
          </div>        
        </div>      
        <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="form.$invalid">
          Enviar
        </button>
        <a class="btn btn-default w-full text-uc m-t" ng-click="cancelModal()">
          CANCELAR
        </a>      
      </div>
    </form>
  </div>
</script>