<div class="wrapper-md" ng-controller="SettingsCtrl">
<div id="settings-panel" class="panel panel-default p-b-20">
    <div class="panel-heading text-md">
      Configurações da rede
    </div>
    <div class="panel-body no-padder vbox p-b-20">
      <div class="vbox bg-white min-400-h">
        <div class="col lter b-r w">
          <div class="vbox">
            <div class="row-row">
              <div class="cell bg-light-force">
                <div class="cell-inner">
                  <div class="list-group no-bg no-radius no-border alt">
                    <a class="list-group-item b-t-none" ng-class="{select: settingsTab == 'details'}" ng-click="setSettingsTab('details')">
                      Detalhes
                    </a>
                    <a class="list-group-item b-t-none" ng-class="{select: settingsTab == 'appearance'}" ng-click="setSettingsTab('appearance')">
                      Aparência
                    </a>
                    <a class="list-group-item b-t-none" ng-class="{select: settingsTab == 'socialnetwork'}" ng-click="setSettingsTab('socialnetwork')">
                      Redes Sociais
                    </a>
                    <a class="list-group-item b-t-none" ng-class="{select: settingsTab == 'email'}" ng-click="setSettingsTab('email')">
                      Email
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="vbox">
            <div class="row-row">
              <div class="cell">
                <div class="cell-inner bg-white">
                  <div class="wrapper-md" ng-if="settingsTab == 'details'">
                    <form class="form-horizontal" method="get" ng-submit="submitSimple(network)">
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Nome</label>
                        <div class="col-sm-9">
                          <input type="text" ng-model="network.name" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Endereço padrão</label>
                        <div class="col-sm-9">
                          <!-- <input type="text" ng-model="network.subdomain" class="form-control"> -->
                          <div class="input-group m-b">
                            <input type="text" class="form-control" ng-model="network.subdomain">
                            <span class="input-group-addon">.xarx.co</span>
                          </div>
                          <span class="help-block m-b-none">O endereço padrão da sua rede.</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Endereço personalizado</label>
                        <div class="col-sm-9">
                          <input type="text" ng-model="network.domain" class="form-control">
                          <span class="help-block m-b-none">Se desejar, sua rede pode utilizar um domínio próprio. Clique aqui para saber como configurar seu próprio endereço web.</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Google Analytics ID</label>
                        <div class="col-sm-9">
                          <input type="text" ng-model="network.trackingId" class="form-control">
                          <span class="help-block m-b-none">Acompanhe e analise a movimentação em sua rede através da integração com o Google Analytics. Para começar, insira o <i>tracking ID</i> do Google Analytics.</span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Logotipo da Rede</label>
                        <div class="col-sm-9">
                          <span ng-hide="uploader.progress > 0 || networkImg" id="image-button" class="m-t-xs btn btn-success fileinput-button" style="">
                            <i class="fa fa-image"></i>
                            <span>Escolha uma imagem...</span>
                            <input type="file" nv-file-select="" uploader="uploader" name="contents" accept="image/*"/>
                          </span>
                          <div class="inline-block wrapper-xs b b-a" ng-if="networkImg">
                            <img class="logo-selector wrapper-xs bg-full-black img-responsive" ng-src="{{networkImg.link}}" ng-style="app.customStyle.navbarColor">
                          </div>
                          <div ng-if="uploader.progress > 0 && !networkImg">
                            <div class="progress-striped progress-sm progress m-t">
                              <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                          </div>
                          <span class="remove-logo">
                            <a class="text-lg" ng-if="networkImg" ng-click="clearUpload()">
                              <i class="fa fa-remove"></i>
                            </a>
                          </span>
                          <div class="help-block m-b-none">A imagem não pode ter altura maior que 100 pixels e mais que 200Kb.</div>
                        </div>
                      </div>
                      <div class="line line-dashed b-b line-lg pull-in"></div>
                      <div class="form-group">
                        <div>
                          <button type="submit" class="btn btn-success pull-right m-r-lg">Salvar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div ng-if="settingsTab == 'appearance'">
                    <div class="wrapper-md">
                      <form class="bs-example form-horizontal" ng-submit="submitStyle(customStyle)">
                        <div class="form-group">
                          <label class="col-sm-5 control-label">Pano de fundo</label>
                          <div class="col-sm-7">
                            <input class="w-md form-control" colorpicker ng-model="customStyle.backgroundColor" type="text">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-5 control-label">Barra superior</label>
                          <div class="col-sm-7">
                            <input class="w-md form-control" colorpicker ng-model="customStyle.navbarColor" ng-change="changeStyle(customStyle)" type="text">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-5 control-label">Barra superior (cor secundária)</label>
                          <div class="col-sm-7">
                            <input class="w-md form-control" colorpicker ng-model="customStyle.navbarSecondaryColor" ng-change="changeStyle(customStyle)" type="text">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-5 control-label">Cor principal</label>
                          <div class="col-sm-7">
                            <input class="w-md form-control" colorpicker ng-model="customStyle.mainColor" ng-change="changeStyle(customStyle)" type="text">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-5 control-label">Fonte principal</label>
                          <div class="col-sm-7">
                            <select ng-model="customStyle.primaryFont" ng-change="changeStyle(customStyle)" name="account" class="form-control w-md" ng-options="font.value as font.name for font in fonts">
                            </select>
                          </div> 
                        </div>
                        <div class="form-group">
                          <label class="col-sm-5 control-label">Fonte secundária</label>
                          <div class="col-sm-7">
                            <select ng-model="customStyle.secondaryFont" ng-change="changeStyle(customStyle)" name="account" class="form-control w-md" ng-options="font.value as font.name for font in fonts">
                            </select>
                          </div>  
                        </div>
                        <div class="form-group">
                          <label class="col-sm-5 control-label">Tamanho da fonte do título</label>
                          <div class="col-sm-7">
                            <div class="w-xs pull-left">
                              <input ui-jq="TouchSpin" ng-model="customStyle.titleFontSize" type="text" value="0" class="form-control" data-min='0' data-max="5" data-decimals="1" data-step="0.1" data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up"  data-verticaldownclass="fa fa-caret-down">
                            </div>
                            <div class="m-l m-t-xs pull-left">em</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-5 control-label">Tamanho da fonte da notícia</label>
                          <div class="col-sm-7">
                            <div class="w-xs pull-left">
                              <input ui-jq="TouchSpin" ng-model="customStyle.newsFontSize" type="text" value="0" class="form-control" data-min='0' data-max="5" data-decimals="1" data-step="0.1" data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up"  data-verticaldownclass="fa fa-caret-down">
                            </div>
                            <div class="m-l m-t-xs pull-left">em</div>
                          </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                          <div>
                            <button type="submit" class="btn btn-success pull-right m-r-lg">Salvar</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>