<div class="menu-wrap">
  <div class="scroll-wrap">
  <ul class="l-s-n padder text-lg" ng-if="!app.authenticated">
    <li class="b-b border-grey wrapper-sm padder-v">
      <a class="h4" ng-click="openSplash('signin_splash.html');">
        <i class="icon-login m-r"></i>Entrar
      </a>
    </li>
    <li class="b-b border-grey wrapper-sm padder-v">
      <a class="h4" ng-click="openSplash('signup_splash.html')">
        <i class="icon-user-follow m-r"></i>Cadastre-se
      </a>
    </li>
  </ul>
  <div class="clear wrapper b-2x b-b border-l-grey" ng-if="app.authenticated">
    <a ui-sref="app.profile" ng-click="toggleMenu()">
      <span class="pull-left thumb-md avatar m-r">
        <div style="{{app.person.imageMedium | bgimg}}" class="img-circular-sm"></div>
      </span>
    </a>
    <span class="clear m-t-xs">
      <a ui-sref="app.user({username : app.person.username})" ng-click="toggleMenu()">
        <span class="block m-t-md text-lg">
          {{app.person.name}}
        </span>
      </a>
    </span>
  </div>
  <ul class="l-s-n padder text-lg" ng-if="app.authenticated">
    <li class="b-b border-grey wrapper-sm padder-v">
      <a class="h4">
        <i class="fa fa-bell m-r"></i>Notificações
      </a>
    </li>
    <li ui-sref-active="selected" class="hidden-xs b-b border-grey wrapper-sm padder-v" ng-if="app.network.stationAdmin || app.network.admin">
      <a class="h4" ui-sref="app.scaffold" ui-sref-opts="{ reload: true }" ng-click="toggleMenu()">
        <i class="icon-equalizer m-r"></i>Configurações
      </a>
    </li>
    <li class="b-b border-grey wrapper-sm padder-v">
      <a href class="h4" ng-click="logout()">
        <i class="icon-logout m-r"></i>Sair
      </a>
    </li>
  </ul>
  <div class="stations-list" ng-if="app.network.stations.length > 1">
    <div class="b-2x b-b border-l-grey text-u-c h4 font-l-grey wrapper-sm padder-v">Estaçõs</div>
    <ul class="l-s-n padder text-lg">
      <li class="b-b border-grey wrapper-sm padder-v" ng-repeat="station in (app.network.stations | filter: {canWrite: true})" ui-sref-active="selected">
        <a class="h4" ui-sref="app.stations({stationId: station.id})" ng-click="toggleMenu()">
            <i class="pull-right m-t-xs fa fa-chevron-right"></i>
            <div class="m-r-lg">{{station.name}}</div>
        </a>
      </li>
    </ul>
  </div>
  </div>
</div>


  <script type="text/ng-template" id="signin_modal.html">
  <form ng-submit="signIn(username, password)">
    <div class="modal-body text-md">
        <h3 class="font-thin m-t-sm">Entrar</h3>
        <div class="text-danger" ng-show="signInError">
          Usuário ou senha inválidos
        </div>
        <div class="form-group m-t-md">
          <input type="text" ng-model="username" class="form-control input-lg" placeholder="Usuário">
        </div>
        <div class="form-group">
          <input type="password" ng-model="password" class="form-control input-lg" placeholder="Senha">
        </div>
        <div class="checkbox m-t-lg">
          <label class="i-checks">
            <input type="checkbox"><i></i> Lembre-se de mim
          </label>
          <button type="submit" class="btn btn-success w-sm text-uc m-t btn-rounded">
            <strong>ENVIAR</strong>
          </button>
          <a class="btn btn-default w-sm text-uc m-t btn-rounded" ng-click="cancelModal()">
            CANCELAR
          </a>
        </div>
    </div>
  </form>
</script>

<script type="text/ng-template" id="signup_modal.html">
  <div ng-controller="SignupCtrl">
    <form name="form" ng-submit="signup()">
      <div class="modal-body text-md">
        <h4 class="font-thin m-b-md m-r-md m-l-md text-center">Cadastre-se para compartilhar suas histórias...</h4>
        <div class="list-group list-group-sm">
          <div class="list-group-item">
            <input placeholder="Nome" type="text" class="form-control no-border" name="name" ng-model="person.name" required >
          </div>
          <div class="list-group-item">
            <input placeholder="Email"type="email" class="form-control no-border" name="email" required ng-model="person.email" required>
          </div>
          <div class="list-group-item">
            <input placeholder="Usuário" type="text" class="form-control no-border" name="username" ng-model="person.username">
          </div>        
          <div class="list-group-item">
            <input type="password" placeholder="Senha" class="form-control no-border" ng-model="password" required>
          </div>        
        </div>      
        <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="form.$invalid">
          Enviar
        </button>
        <a class="btn btn-default w-full text-uc m-t" ng-click="cancelModal()">
          CANCELAR
        </a>      
      </div>
    </form>
  </div>
</script>

<script type="text/ng-template" id="signup_splash.html">
  <a class="splash-close-button" ng-click="cancelModal()">×</a>
  <div class="splash-content text-center" ng-cloak>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div ng-controller="SignupCtrl">
          <form name="form" ng-submit="signup()">
              <h2 class="font-thin m-b-md text-center">Cadastre-se para compartilhar suas histórias...</h2>
              <div class="list-group list-group-sm">
                <div class="list-group-item no-padding">
                  <input placeholder="Nome" type="text" class="input-lg form-control no-border" name="name" ng-model="person.name" required >
                </div>
                <div class="list-group-item no-padding">
                  <input placeholder="Email"type="email" class="input-lg form-control no-border" name="email" required ng-model="person.email" required>
                </div>
                <div class="list-group-item no-padding">
                  <input placeholder="Usuário" type="text" class="input-lg form-control no-border" name="username" ng-model="person.username">
                </div>        
                <div class="list-group-item no-padding">
                  <input type="password" placeholder="Senha" class="input-lg form-control no-border" ng-model="password" required>
                </div>        
              </div>      
              <button type="submit" class="btn btn-rounded btn-success w-sm" ng-disabled="form.$invalid">
                ENVIAR
              </button>
              <a class="btn btn-default btn-rounded w-sm text-uc" ng-click="cancelModal()">
                CANCELAR
              </a>      
          </form>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="signin_splash.html">
  <a class="splash-close-button" ng-click="cancelModal()">×</a>
  <div class="splash-content text-center" ng-cloak>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <form ng-submit="signIn(username, password)">
        <div class="text-danger animated fadeInLeft" ng-if="signInError">
          Usuário ou senha inválidos
        </div>
        <div class="form-group m-t-md">
          <input type="text" ng-model="username" class="inline-input form-control input-lg" placeholder="Usuário">
        </div>
        <div class="form-group">
          <input type="password" ng-model="password" class="inline-input form-control input-lg" placeholder="Senha">
        </div>
        <div class="checkbox m-t-lg text-center">
          <button type="submit" class="btn btn-success w-sm btn-rounded text-uc m-t">
            ENTRAR
          </button>
          <a class="btn btn-default w-sm btn-rounded text-uc m-t" ng-click="cancelModal()">
            CANCELAR
          </a>
        </div>
        </form>
      </div>
    </div>
  </div>
</script>