  <!-- aside -->
  <md-sidenav id="aside" class="app-aside md-sidenav-left hide" ui-view="aside@" md-component-id="aside">
  </md-sidenav> 
  <!-- / aside -->
  
  <!-- content -->
  <div id="content" class="app-content" role="main"  ui-view="content@">
  </div>
  <!-- / content -->


<div class="modal fade inactive" id="user" data-backdrop="false">
  <div class="right w-xl bg-white md-whiteframe-z2" ng-include="'views/partials/aside.tpl.user.html'">
  </div>
</div>

<div class="modal fade" id="chat" data-backdrop="false">
  <div class="right w-xxl bg-white md-whiteframe-z2" ng-include="'views/partials/aside.tpl.chat.html'">
  </div>
</div>
