<div class="box">
  <!-- Content Navbar -->
  <div class="navbar md-whiteframe-z1 no-radius md-primary-default background">
    <!-- Open side - Naviation on mobile -->
    <a md-ink-ripple ng-click="openAside()" ng-hide="$state.current.data.child" class="navbar-item pull-left"><i class="mdi-navigation-menu i-24"></i></a>
    <!-- / -->
    <div class="navbar-header pull-left">
      <a class="navbar-brand" ng-href="/" target="_self">
        <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="
              width: 24px; height: 24px;">
            <path d="M 50 0 L 100 14 L 92 80 Z" fill="rgba(139, 195, 74, 0.5)"></path>
            <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
            <path d="M 8 80 L 50 0 L 50 100 Z" fill="#f3f3f3"></path>
            <path d="M 50 0 L 8 80 L 0 14 Z" fill="rgba(220, 220, 220, 0.6)"></path>
          </svg> -->
        <img src="/images/logo.png" alt="." style="max-height: 36px; display:none">
        <span class="hidden-folded inline">{{app.name}}</span>
      </a>
    </div>

    <div id="search" class="navbar-header h-full md-primary-default background animated" style="width: 55%" ng-class="{'fadeIn': app.search.show, 'fadeOut': !app.search.show}">
      <div class="m-l-xxl box">
        <div class="box-col v-m p-h">
          <!-- bind to app.search.content -->
          <form ng-submit="app.goToSearch(app.search.content)" class="pos-rlt m-t-sm">
            <div class="pos-abt p-sm m-l-xs m-t-xs">
              <i class="mdi2-magnify i-24"></i>
            </div>
            <input class="form-control input-lg no-bg no-border md-autofocus p-l-xxl p-r-xxl" placeholder="{{'titles.SEARCH' | translate }}" ng-model="app.search.content">
            <div class="pos-abt right-0 top-0 m-t-xs">
              <!-- <a class="" ng-click="app.search.show=false; app.search.content=''"><i class="mdi2-close i-24"></i>
                        </a> -->
              <md-button style="width: 36px; height: 36px; padding: 6px;" class="md-icon-button pull-right" ng-click="app.search.show=false; app.search.content=''"><i class="mdi2-close i-20"></i></md-button>
            </div>
          </form>

        </div>
        <!-- <div class="box-col w-56 text-center">
          hide search form
          <a class="navbar-item inline" ng-click="app.search.show=false; app.search.content=''"><i class="mdi2-close i-24"></i>
          </a>
        </div> -->
      </div>
    </div>

    <!-- GoBack - Back to parent if $state has the param 'child' -->
    <a md-ink-ripple class="navbar-item pull-left" ng-click="goBack()" ng-show="$state.current.data.child" ><i class="mdi-navigation-arrow-back i-24"></i></a>
    <!-- / -->
    <!-- Common tools -->
    <ul class="nav nav-sm navbar-tool pull-right" ng-hide="$state.current.data.child">
      <li class="animated" ng-class="{'fadeIn': !app.search.show, 'fadeOut': app.search.show}">
        <a md-ink-ripple ng-click="app.search.show = true">
          <i class="mdi-action-search i-24 p-h-sm"></i>
        </a>
      </li>
      <!-- <li>
        <a md-ink-ripple data-toggle="modal" data-target="#user">
          <i class="mdi-social-person-outline i-24 p-h-sm"></i>
        </a>
      </li> -->
      <li class="dropdown m-r-lg">
        <a href class="dropdown-toggle clear" data-toggle="dropdown" ng-click="app.signInButton()">
          <!-- <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
            <img src="/images/a0.jpg" alt="...">
            <i class="on md b-white bottom"></i>
          </span> -->
          <div ng-if="app.isLogged()" class="o-f-h pull-right md-whiteframe-z1 m-t-sm m-b-sm user-avatar rounded thumb-sm bg-white inline pos-rlt md-primary-hue-1 background text-center bg-cover text-center" ng-style="{'background-image': 'url(' + app.userImageSmall + ')', 'background-position': '50% 50%', 'width': '46px', 'height': '46px'}">
            <i ng-if="!app.userImageSmall" class="mdi2-account i-24" style="position: relative;top: -10px;"></i>
          </div>
          <md-button ng-if="!app.isLogged()" class="md-primary-hue-1 background">
            {{'signin_signup.SIGNIN' | translate}}
          </md-button>
          <span class="hidden-sm hidden-md" ng-if="app.isLogged()">{{app.person.name}}</span>
          <b class="caret m-r" ng-if="app.isLogged()"></b>
        </a>
        <!-- dropdown -->
        <ul ng-if="app.isLogged()" class="dropdown-menu dropdown-menu-scale o-f-h w-lg pull-right">
          <li>
            <div style="margin-top: -5px;" ng-if="app.userImageUploader" class="hidden-folded bg-cover" ng-style="{'background-image': 'url(' + app.coverImageMedium + ')'}">
              <div class="md-whiteframe-z1 m-t m-l user-avatar rounded w-64 bg-white inline pos-rlt md-primary-hue-1 background text-center bg-cover" ng-style="{'background-image': 'url(' + app.userImageSmall + ')', 'background-position': '50% 50%'}">
                <i ng-if="!app.userImageSmall" class="mdi2-account i-40" style="top: 16%;position: relative;"></i>
                <!-- image profile upload -->
                <div class="profile-image-button rounded o-f-h w-64 text-center pos-abt top-0" style="background-color: rgba(0,0,0,0.7)">
                  <i class="mdi2-pencil i-32 text-white image-edit" style="opacity: 0.92; position: relative; top: 24%"></i>
                  <input class="image-upload" style="height: 64px;" type="file" nv-file-select="" uploader="app.userImageUploader" name="contents" accept="image/*">
                </div>
                <!-- /image profile upload -->
              </div>
              <div class="p-v-sm p-h black-grad m-t text-white">
                <span class="block font-bold">{{app.person.name}}</span>
                <span class="text-sm">{{app.person.email}}</span>
              </div>
            </div>
          </li>
          <li md-ink-ripple>
            <a ng-href="/settings/profile" target="_self">
              <i class="icon m-r i-16 mdi2-account-circle"></i>
              {{'settings.aside.MY_PROFILE' | translate}}
            </a>
          </li>
          <li md-ink-ripple>
            <a ng-href="/settings" target="_self">
              <i class="icon m-r i-16 mdi2-settings"></i>
              {{'titles.SETTINGS' | translate}}
            </a>
          </li>
          <li md-ink-ripple>
            <a ui-sref="app.docs">
              <i class="icon m-r i-16 mdi2-help-circle mdi"></i>
              {{'titles.HELP' | translate}}
            </a>
          </li>
          <md-divider></md-divider>
          <li md-ink-ripple>
            <a ng-click="app.signOut();">
              <i class="icon m-r i-16 mdi2-logout"></i>
              {{'header.navbar.LOGOUT' | translate}}
            </a>
          </li>
        </ul>
        <!-- / dropdown -->
      </li>
    </ul>
    <div class="pull-right" ui-view="navbar@"></div>
    <!-- / -->
    <!-- Search form -->
    
    <!-- / -->
  </div>
  <!-- Content -->
  <div class="box-row">
    <!-- <md-toolbar md-scroll-shrink ng-if="true" style="min-height: 50px;">
      <div class="md-primary-hue-1 background" style="min-height: 50px;">
      </div>
    </md-toolbar> -->
    <md-content id="scroll-box" class="box-cell">
      <div id="app-content" class="box-inner">
        <!-- <div id="view" class="clearfix md-whiteframe-z0 no-radius" ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary"> -->
          <!-- <div class="container m-v-md"> -->
            <!-- Page title - Bind to $state's title -->
            <!-- <div class="h4" ng-bind="$state.current.data.title"></div> -->
            <!-- / -->
          <!-- </div> -->
        <!-- </div> -->
        <main class="p-v-lg" ui-view></main>
        <footer class="page-footer md-primary-hue-1 background" ng-if="!$state.includes('app.search')">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h3 class="">Footer Content</h3>
                <p class="">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h3 class="">Links</h3>
                <ul>
                  <li><a class="" href="#!">Link 1</a></li>
                  <li><a class="" href="#!">Link 2</a></li>
                  <li><a class="" href="#!">Link 3</a></li>
                  <li><a class="" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-crt md-primary-default background">
            <div class="container ">
              <div class="inline pull-left">
                © {{ app.date | date:'yyyy'}} Copyright
              </div>
              <div class="inline p-h-lg text-center v-m">
                <a ng-if="app.network.facebookLink" class="m-h-sm" ng-href="{{app.network.facebookLink}}" target="_blank">
                  <i class="i-24 mdi2-facebook-box"></i>
                </a>
                <a ng-if="app.network.twitterLink" class="m-h-sm" ng-href="{{app.network.twitterLink}}" target="_blank">
                  <i class="i-24 mdi2-twitter"></i>
                </a>
                <a ng-if="app.network.youtubeLink" class="m-h-sm" ng-href="{{app.network.youtubeLink}}" target="_blank">
                  <i class="i-24 fa fa-youtube"></i>
                </a>
                <a ng-if="app.network.googlePlusLink" class="m-h-sm" ng-href="{{app.network.googlePlusLink}}" target="_blank">
                  <i class="i-24 mdi2-google-plus"></i>
                </a>
                <a ng-if="app.network.instagramLink" class="m-h-sm" ng-href="{{app.network.instagramLink}}" target="_blank">
                  <i class="i-24 mdi2-instagram"></i>
                </a>
                <a ng-if="app.network.pinterestLink" class="m-h-sm" ng-href="{{app.network.pinterestLink}}" target="_blank">
                  <i class="i-24 mdi2-pinterest"></i>
                </a>
                <a ng-if="app.network.linkedInLink" class="m-h-sm" ng-href="{{app.network.linkedInLink}}" target="_blank">
                  <i class="i-24 mdi2-linkedin-box"></i>
                </a>
              </div>
              <div class="inline pull-right">
                <a class="right" href="#!">More Links</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </md-content>
  </div>
  <!-- / -->
</div>

<script type="text/ng-template" id="signin-signup-dialog.html">
  <md-dialog-content class="md-background-hue-1 background">
    <md-progress-linear class="pos-abt top-0 left-0" ng-if="app.loading" md-mode="indeterminate"></md-progress-linear>
    <!-- signin -->
    <div class="text-color m text-center" ng-if="app.signState !== 'signup' && app.signState !== 'forgot'">
      <div class="m-b-md m-t-md text-md text-u-c font-500">{{'signin_signup.SIGNIN' | translate}}</div>
      <div class="text-center">
        <md-button class="md-fab md-mini" style="background: #3B5999" aria-label="Use Android">
          <i class="mdi2-facebook i-24 text-white"></i>
        </md-button>
        <!--<md-button class="md-fab md-mini" style="background: #5EA9DD" aria-label="Use Android">
          <i class="mdi2-twitter i-24 text-white"></i>
        </md-button>-->
        <md-button class="md-fab md-mini" style="background: #DC4A38" aria-label="Use Android">
          <i class="mdi2-google-plus text-white i-24"></i>
        </md-button>
        <!--<md-button class="md-fab md-mini" style="background: #0177B5" aria-label="Use Android">
          <i class="mdi2-linkedin i-24 text-white"></i>
        </md-button>-->
      </div>
        <div class="p-t text-md" translate="signin_signup.OR">ou</div>
      <form name="form" ng-submit="app.signIn(person)" class="text-md w-xxl">
        <div class="p" style="padding-bottom: 0">
          <md-input-container class="w-full m-b-0">
            <label for="testInput">{{'titles.USERNAME' | translate}}</label>
            <input class="p-xs" md-autofocus type="text" id="testInput" ng-model="person.username" md-autofocus>
          </md-input-container>
          <md-input-container class="w-full m-b-0 m-t-sm">
            <label for="testInput">{{'titles.PASSWORD' | translate}}</label>
            <input class="p-xs" type="password" id="testInput" ng-model="person.password">
          </md-input-container>
        </div>
        <md-button type="submit" class="md-accent m-b" translate="signin_signup.SIGNIN">Sign in</md-button>
        <md-button class="md-accent m-b" ng-click="cancel()" translate="titles.CANCEL">Cancel</md-button>
      </form>
      <div class="text-center">
        <div class="">
          <button ng-click="app.signState = 'forgot';" class="md-btn">{{'signin_signup.FORGOT' | translate}}?</button>
        </div>
        <div>{{'signin_signup.NOT_HAVE_AN_ACCOUNT' | translate}}?
        <button class="md-btn" ng-click="app.signState = 'signup';" translate="signin_signup.CREATE_ACCOUNT">Create an account</button>
        </div>
      </div>
    </div>
    <!-- /signin -->
    <!-- signup -->
    <div class="text-color m text-center" ng-if="app.signState === 'signup'">
      <form name="form" class="text-md w-xxl">
        <div class="p" style="padding-bottom: 0">
          <div class="m-b-md m-t-xs text-md text-u-c font-500">{{'signin_signup.SIGNUP' | translate}}</div>
          <md-input-container class="w-full m-b-0 m-t-sm">
            <label for="testInput">{{'titles.NAME' | translate}}</label>
            <input type="text" id="testInput" ng-model="person.username" md-autofocus>
          </md-input-container>
          <md-input-container class="w-full m-b-0 m-t-sm">
            <label for="testInput">{{'titles.USERNAME' | translate}}</label>
            <input type="text" id="testInput" ng-model="person.username">
          </md-input-container>
          <md-input-container class="w-full m-b-0 m-t-sm">
            <label for="testInput">{{'titles.EMAIL' | translate}}</label>
            <input type="email" id="testInput" ng-model="person.email">
          </md-input-container>
          <md-input-container class="w-full m-b-0 m-t-sm">
            <label for="testInput">{{'titles.PASSWORD' | translate}}</label>
            <input type="text" id="testInput" ng-model="person.username">
          </md-input-container>
        </div>
        <md-button type="submit" class="md-accent m-b" translate="signin_signup.SIGNUP"></md-button>
        <md-button class="md-accent m-b" ng-click="cancel()" translate="titles.CANCEL">Cancel</md-button>
      </form>
      <div class="text-center">
        <div>{{'signin_signup.HAVE_AN_ACCOUNT' | translate}}?
        <button class="md-btn" ng-click="app.signState = 'signin';" translate="signin_signup.SIGNIN">Entrar</button>
        </div>
      </div>
    </div>
    <!-- /signup -->
    <!-- forgot -->
    <div class="text-color m" ng-if="app.signState === 'forgot'">
      <div class="m-b p-t p-h w-xxl">
        <span class="text-md font-500">{{'signin_signup.FORGOT' | translate}}</span>
        <p class="m-t" >{{'signin_signup.FORGOT_MSG' | translate}}.</p>
      </div>
      <form name="reset" class="text-md w-xxl">
        <div class="p" style="padding-bottom: 0">
          <md-input-container class="w-full m-b-0">
            <label for="testInput">{{'titles.EMAIL' | translate}}</label>
            <input type="text" id="testInput" ng-model="person.email" md-autofocus>
          </md-input-container>
        </div>
        <div class="text-center">
          <md-button type="submit" class="md-accent m-b" translate="titles.SEND"></md-button>
          <md-button class="md-accent m-b" ng-click="cancel()" translate="titles.CANCEL">Cancel</md-button>
        </div>
      </form>
      <div class="text-center">
        <div>{{'signin_signup.HAVE_AN_ACCOUNT' | translate}}?
        <button class="md-btn" ng-click="app.signState = 'signin';" translate="signin_signup.SIGNIN">Entrar</button>
        </div>
      </div>
    </div>
    <!-- /forgot -->
  </md-dialog-content>
</script>

<md-sidenav class="md-background-hue-1 background md-sidenav-right md-whiteframe-z2 w-400" md-component-id="post-comments">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools" translate="titles.COMMENTS"></h1>
    </md-toolbar>
    <md-content class="pos-abt bottom-0 right-0 left-0 md-background-default background" style="top:64px">
        <div id="post-comments-sidebar" class="vbox">
          <div class="row-row">
            <div id="comment-list" class="cell">
              <div class="cell-inner">
                <ul infinite-scroll="app.paginateComments()" infinite-scroll-container="'#comment-list'">
                  <li ng-repeat="comment in app.comments">
                    <div class="p-sm pos-rlt">
                      <div class="display-t-c inline p-h-xs">
                        <div ng-style="app.getUserImage(comment.author, 'small', 'PROFILE_PICTURE', true)" style="height: 34px;" class="bg-cover img-responsive img-circle thumb-xs md-whiteframe-z1 text-center" ng-class="{'md-primary-hue-1 background': !app.hasProfilePicture(comment.author)}">
                          <i ng-if="!app.hasProfilePicture(comment.author)" style="line-height: 36px;" class="mdi2-account i-20"></i>
                        </div>
                      </div>
                      <div class="p-l-sm display-t-c v-m inline text-sm w-full">
                        <div class="p-h-sm text-right pull-right">
                          <span am-time-ago="comment.date" class="text-xxs"></span>
                        </div>
                        <div class="text-base font-bold m-b-xs">{{comment.author.name}}</div>
                        {{comment.body}}
                      </div>
                    </div>
                    <md-divider style="margin-left: 60px;" md-inset></md-divider>
                  </li>
                </ul>

              </div>
            </div>
          </div>
          <md-divider></md-divider>
          <div class="p inline w-full pos-rlt">
            <div class="pull-left user-avatar rounded w-36 bg-white pos-rlt background text-center bg-cover" ng-style="{'background-image': 'url(' + app.userImageSmall + ')', 'background-position': '50% 50%'}" ng-class="{'md-primary-hue-1': !app.userImageSmall}">
              <i ng-if="!app.userImageSmall" class="mdi2-account i-20" style="top: 16%;position: relative;"></i>
            </div>

            <md-button style="width: 36px; height: 36px; padding: 6px;" class="md-button not-trans m-0 md-icon-button pull-right md-accent-default background" ng-click="app.postComment(app.postLoaded, app.newComment)" ng-disabled="!app.newComment">
              <i class="mdi2-send i-16"></i>
            </md-button>
            <div class="m-l-xxl m-r-xxl"> 
              <textarea style="max-height: 200px;" msd-elastic class="no-border p-t-sm" ng-model="app.newComment" style="resize: none;" placeholder="{{'titles.COMMENT' | translate }}"></textarea>
            </div>
          </div>
        </div>

      </md-content>
  </md-sidenav>

  <script type="text/ng-template" id="social-share-dialog.html">
    <md-dialog-content class="md-background-hue-1 background p-md">
      <div class="m-b-md text-md font-500 text-center text-u-c">
        {{'titles.SHARE' | translate}}
      </div>
      <div class="inline w">
        <div class="p-sm r-2x pointer o-f-h" md-ink-ripple>
            <md-button class="md-fab md-mini md-primary inline" style="background: #3B5999" aria-label="Use Android">
              <i class="mdi2-facebook i-24"></i>
            </md-button>
            <div class="font-500 text-md inline m-r">Facebook</div>
        </div>
        <div class="p-sm r-2x pointer o-f-h" md-ink-ripple>
            <md-button class="md-fab md-mini md-primary" style="background: #5EA9DD" aria-label="Use Android">
              <i class="mdi2-twitter i-24"></i>
            </md-button>
            <div class="font-500 text-md inline m-r">Twitter</div>
        </div>
      </div>
      <div class="inline w">
        <div class="p-sm r-2x pointer o-f-h" md-ink-ripple>
            <md-button class="md-fab md-mini md-primary" style="background: #DC4A38" aria-label="Use Android">
              <i class="mdi2-google-plus i-24"></i>
            </md-button>
            <div class="font-500 text-md inline m-r">Google+</div>
        </div>
        <div class="p-sm r-2x pointer o-f-h" md-ink-ripple>
            <md-button class="md-fab md-mini md-primary" style="background: #0177B5" aria-label="Use Android">
              <i class="mdi2-linkedin i-24"></i>
            </md-button>
            <div class="font-500 text-md inline m-r">LinkedIn</div>
        </div>
      </div>
    </md-dialog-content>        
</script>

<script type="text/ng-template" id="person-dialog.html">
  <md-dialog-content>
    <div class="w-xxl scrollable md-background-hue-1 background">
        <div class="pos-rlt p">
          <div ng-style="{'background-image': 'url(  {{loadedPerson | coverImage: 'medium'}} )'}" style="margin: -16px -16px 0 -16px" class="hidden-folded bg-cover m-b-md md-whiteframe-z1">
            <div class="p w-full">
          <!-- <i class="mdi mdi2-account text-4x"></i> -->
            <div class="md-whiteframe-z1 user-avatar rounded w-64 bg-white inline pos-rlt md-primary-default background text-center bg-cover" preload-bg-image="{{app.getImageLink(loadedPerson, 'medium')}}" bstyle="{'background-image': 'url(  {{loadedPerson | userImage: 'medium'}} )'}">
              <i ng-if="!loadedPerson.imageHash" class="mdi2-account i-40" style="top: 16%;position: relative;"></i>
            </div>
            </div>
            <div class="p-v-sm p-h black-grad  text-white">
              <div class="block" style="opacity:0.92">
                <span class="block font-bold">{{loadedPerson.name}}</span>
                <span class="text-sm">{{loadedPerson.email}}</span>
              </div>
            </div>
          </div>
          <div class="">
            {{loadedPerson.bio}}
          </div>
        </div>
        <div class="text-right">
          <md-button ng-click="cancel()">{{'titles.CLOSE' | translate}}</md-button>
        </div>
      </div>
  </md-dialog-content>
</script>
