<div class="box">
  <!-- Content Navbar -->
  <div class="navbar md-whiteframe-z1 no-radius md-primary-default background">

  <!-- ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary" -->

    <!-- Open side - Naviation on mobile -->
    <a md-ink-ripple ng-click="openAside()" ng-hide="$state.current.data.child" class="navbar-item pull-left visible-xs visible-sm"><i class="mdi-navigation-menu i-24"></i></a>
    <!-- / -->
    <!-- GoBack - Back to parent if $state has the param 'child' -->
    <a md-ink-ripple class="navbar-item pull-left" ng-click="goBack()" ng-show="$state.current.data.child" ><i class="mdi-navigation-arrow-back i-24"></i></a>
    <!-- / -->
    <!-- Page title - Bind to $state's title -->
    <div class="navbar-item pull-left h4">{{($state.current.data.titleTranslate) ? ($state.current.data.titleTranslate | translate) : $state.current.data.title}}</div>
    <!-- / -->
    <!-- Common tools -->
    <ul class="nav nav-sm navbar-tool pull-right" ng-hide="$state.current.data.child">
      <!-- <li ng-if="!app.search.show">
        <a md-ink-ripple ng-click="app.search.show = true">
          <i class="mdi-action-search i-24 p-h-sm"></i>
        </a>
      </li> -->
      <!-- <li>
        <a md-ink-ripple data-toggle="modal" data-target="#user">
          <i class="mdi-social-person-outline i-24 p-h-sm"></i>
        </a>
      </li> -->
      <!-- <li class="dropdown">
        <a md-ink-ripple data-toggle="dropdown">
          <i class="mdi-navigation-more-vert i-24"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color">
          <li><a href>Single-column view</a></li>
          <li><a href>Sort by date</a></li>
          <li><a href>Sort by name</a></li>
          <li class="divider"></li>
          <li><a href>Help &amp; feedback</a></li>
        </ul>
      </li> -->
    </ul>
    <div class="pull-right" ui-view="navbar@"></div>
    <!-- / -->
    <ul class="nav nav-sm navbar-tool pull-right">
      <li class="animated fadeIn dropdown ">
        <a md-ink-ripple class="dropdown-toggle clear" data-toggle="dropdown">
          <b ng-if="app.totalPending > 0" class="md-primary-hue-1 background badge pos-abt right-0 m-r-sm m-t-sm">{{app.totalPending}}</b>
          <i class="mdi2-bell-outline i-24 p-h-sm"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-scale o-f-h w-xxl pull-right">
          <li md-ink-ripple ng-repeat="notification in app.notifications" class="p-sm">
            <!-- <a >
              <span ></span>
            </a> -->
            <span class="pull-left thumb-sm m-r">
              <div ng-style="app.getUserImage(notification.person, 'small', 'PROFILE_PICTURE', true)" style="height: 40px;" class="bg-cover img-responsive img-circle thumb md-whiteframe-z1 text-center" ng-class="{'md-primary-hue-1 background': !app.hasProfilePicture(notification.person)}">
                <i ng-if="!app.hasProfilePicture(notification.person)" style="line-height: 36px;" class="mdi2-account i-24"></i>
              </div>
            </span>
            <span class="clear">
              <span class="text-md font-bold">{{notification.person.name}}</span>
              <div class="text-muted clear text-ellipsis">{{notification.message}}</div>
            </span>
          </li>
          <li ng-if="!app.notifications || app.notifications.length == 0">
            <div class="text-center text-md p-md opacity-07">
              <div class="m-b">{{'titles.NO_NOTIFICATIONS' | translate}}</div>
              <i class="i-40 mdi2-bell-outline"></i>
            </div>
          </li>
          <li class="text-l-c text-center">
            <md-divider></md-divider>
            <a ng-href="/settings/publications?tab=unpublished">
              {{'titles.PENDING_NOTIFICATIONS' | translate}}: {{app.totalPending}}
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown m-r-lg" ng-if="$mdMedia('gt-sm')">
        <a href class="dropdown-toggle clear" data-toggle="dropdown" ng-click="app.signInButton(); app.closeSidebars();">
          <div class="o-f-h pull-right md-whiteframe-z1 m-t-sm m-b-sm user-avatar rounded thumb-sm bg-white inline pos-rlt md-primary-hue-1 background text-center bg-cover text-center" ng-style="{'background-image': 'url(' + app.userImageSmall + ')', 'background-position': '50% 50%', 'width': '46px', 'height': '46px'}">
            <i ng-if="!app.userImageSmall" class="mdi2-account i-24" style="position: relative;top: -10px;"></i>
          </div>
          <span class="hidden-sm hidden-md">{{::app.person.name}}</span>
          <b class="caret m-r"></b>
        </a>
        <!-- dropdown -->
        <ul ng-if="app.isLogged()" class="dropdown-menu dropdown-menu-scale o-f-h w-lg pull-right">
          <li>
            <div style="margin-top: -5px;" ng-if="app.userImageUploader" class="hidden-folded bg-cover" ng-style="{'background-image': 'url(' + app.coverImageMedium + ')'}">
              <div class="md-whiteframe-z1 m-t m-l user-avatar rounded w-64 bg-white inline pos-rlt md-primary-hue-1 background text-center bg-cover" ng-style="{'background-image': 'url(' + app.userImageSmall + ')', 'background-position': '50% 50%'}">
                <i ng-if="!app.userImageSmall" class="mdi2-account i-40" style="top: 16%;position: relative;"></i>
                <!-- image profile upload -->
                <div class="profile-image-button rounded o-f-h w-64 text-center pos-abt top-0" style="background-color: rgba(0,0,0,0.7)">
                  <i class="mdi2-pencil i-32 text-white image-edit" style="opacity: 0.92; position: relative; top: 24%"></i>
                  <input class="image-upload" style="height: 64px;" type="file" nv-file-select="" uploader="app.userImageUploader" name="contents" accept="image/*">
                </div>
                <!-- /image profile upload -->
              </div>
              <div class="p-v-sm p-h black-grad m-t text-white">
                <span class="block font-bold">{{app.person.name}}</span>
                <span class="text-sm">{{app.person.email}}</span>
              </div>
            </div>
          </li>
          <li md-ink-ripple>
            <a ng-href="/settings/post" target="_self">
              <i class="icon mdi2-pencil icon m-r i-16 opacity-08"></i>
              <span translate="titles.NEW_POST">Nova publicação</span>
            </a>
          </li>
          <li md-ink-ripple>
            <a ui-sref="app.bookmarks({'username': app.person.username})">
              <i class="icon mdi-action-bookmark icon m-r i-16 opacity-08"></i>
              <span translate="titles.BOOKMARKS">Bookmarks</span>
            </a>
          </li>
          <md-divider></md-divider>
          <li md-ink-ripple>
            <a ng-href="/settings/profile" target="_self">
              <i class="icon m-r i-16 mdi2-account-circle opacity-08"></i>
              {{::('settings.aside.MY_PROFILE' | translate)}}
            </a>
          </li>
          <li md-ink-ripple>
            <a ui-sref="app.docs">
              <i class="icon m-r i-16 mdi2-help-circle mdi opacity-08"></i>
              {{::('titles.HELP' | translate)}}
            </a>
          </li>
          <md-divider></md-divider>
          <li md-ink-ripple>
            <a ng-click="app.signOut();">
              <i class="icon m-r i-16 mdi2-logout opacity-08"></i>
              {{::('header.navbar.LOGOUT' | translate)}}
            </a>
          </li>
        </ul>
        <!-- / dropdown -->
      </li>
    </ul>
    <!-- Search form -->
    <div id="search" class="navbar-header h-full md-primary-default background pull-right w-400 animated" ng-class="{'fadeIn':!$state.includes('app.search'), 'fadeOut':$state.includes('app.search')}">
      <div class="box">
        <div class="box-col v-m p-h">
          <!-- bind to app.search.content -->
          <form ng-submit="app.goToSearch(app.search.content)" class="pos-rlt m-t-sm">
            <div class="pos-abt p-sm m-l-xs m-t-xs">
              <i class="mdi2-magnify i-24"></i>
            </div>
            <input class="form-control input-lg no-bg no-border md-autofocus p-l-xxl p-r-xxl" placeholder="{{'titles.SEARCH' | translate }}" ng-model="app.search.content">
            <div class="pos-abt right-0 top-0 m-t-xs">
              <!-- <a  ng-click="app.search.show=false; app.search.content=''"><i class="mdi2-close i-24"></i>
                        </a> -->
              <!-- <md-button style="width: 36px; height: 36px; padding: 6px;" class="md-icon-button pull-right" ng-click="app.search.show=false; app.search.content=''"><i class="mdi2-close i-20"></i></md-button> -->
            </div>
          </form>

        </div>
        <!-- <div class="box-col w-56 text-center">
          hide search form
          <a class="navbar-item inline" ng-click="app.search.show=false; app.search.content=''"><i class="mdi2-close i-24"></i>
          </a>
        </div> -->
      </div>
    </div>
    <!-- / -->
  </div>
  <!-- Content -->
  <div class="box-row">
    <div id="scroll-box" class="box-cell o-f-x-h">
      <div class="box-inner padding" ui-view id="view">
      </div>
    </div>
  </div>
  <!-- / -->
</div>


<script type="text/ng-template" id="simple-dialog.html">
  <md-dialog aria-label="change action">
    <md-content role="document" class="md-background-hue-1 background">
      <div class="p-xs">

        <div class="md-dialog-content-body text-md text-center w-xxl p m-b">
          {{app.simpleDialogMessage}}
        </div>

        <div class="text-center">
          <md-button ng-click="cancel()">
            {{'titles.CANCEL' | translate}}
          </md-button>
        <div>
      </div>
    </md-content>
  </md-dialog>
</script>

<script type="text/ng-template" id="social-share-dialog.html">
    <md-dialog-content class="md-background-hue-1 background p-md">
      <div class="m-b-md text-md font-500 text-center text-u-c">
        {{'titles.SHARE' | translate}}
      </div>
      <div class="inline w">
        <a socialshare socialshare-provider="facebook" socialshare-text="{{app.publicationToShare.title}}" socialshare-url="{{app.getPublicationLink()}}">
          <div class="p-sm r-2x pointer o-f-h" md-ink-ripple>
            <md-button class="md-fab md-mini md-primary inline" style="background: #3B5999" aria-label="Use Android">
              <i class="mdi2-facebook i-24"></i>
            </md-button>
            <div class="font-500 text-md inline m-r">Facebook</div>
          </div>
        </a>
        <a socialshare socialshare-provider="twitter" socialshare-text="{{app.publicationToShare.title}}" socialshare-url="{{app.getPublicationLink()}}">
          <div class="p-sm r-2x pointer o-f-h" md-ink-ripple>
              <md-button class="md-fab md-mini md-primary" style="background: #5EA9DD" aria-label="Use Android">
                <i class="mdi2-twitter i-24"></i>
              </md-button>
              <div class="font-500 text-md inline m-r">Twitter</div>
          </div>
        </a>
      </div>
      <div class="inline w">
        <a socialshare socialshare-provider="google" socialshare-text="{{app.publicationToShare.title}}" socialshare-url="{{app.getPublicationLink()}}">
          <div class="p-sm r-2x pointer o-f-h" md-ink-ripple>
            <md-button class="md-fab md-mini md-primary" style="background: #DC4A38" aria-label="Use Android">
              <i class="mdi2-google-plus i-24"></i>
            </md-button>
            <div class="font-500 text-md inline m-r">Google+</div>
          </div>
        </a>
        <a socialshare socialshare-provider="linkedin" socialshare-text="{{app.publicationToShare.title}}" socialshare-url="{{app.getPublicationLink()}}">
          <div class="p-sm r-2x pointer o-f-h" md-ink-ripple>
            <md-button class="md-fab md-mini md-primary" style="background: #0177B5" aria-label="Use Android">
              <i class="mdi2-linkedin i-24"></i>
            </md-button>
            <div class="font-500 text-md inline m-r">LinkedIn</div>
          </div>
        </a>
      </div>
    </md-dialog-content>        
</script>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="post-summary" style="max-width: 600px!important; width: 600px!important;">
  <md-content class="pos-abt bottom-0 right-0 left-0 md-background-default background" style="top:0">
    <div id="post-summary-sidebar" class="vbox">
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">

            <div class="text-left p-h-sm w-full z-index-2" ng-class="{'pos-abt': app.postLoaded.postFeaturedImage}">
              <a ui-sref="app.station.categoryPage({'stationSlug': app.getStationById(app.postLoaded.stationId).stationSlug, 'name': category.name})" class="badge m-t-sm p-sm r-5x badge-lg md-whiteframe-z1 m-r-xs" ng-style="app.getCategoryBG(category)" ng-repeat="category in app.postLoaded.terms">
                {{category.name}}
              </a>
            </div>

            <div id="post-image-container" data-img="{{app.postLoaded.postFeaturedImage}}" class="pos-rlt m-h-auto bg-cover md-whiteframe-z2 h-250" ng-if="app.postLoaded.postFeaturedImage"  ng-class="{'w-full ': landscape, 'block-800': !landscape}"
            ng-style="{'background-image': 'url(' + app.postLoaded.postFeaturedImage + ')', 'background-position': app.imgToolsProps.x + '% ' + app.imgToolsProps.y + '%'}">
            </div>

            <div ng-if="app.postLoaded.useVideo" class="block-800 h-400 animated2x zoomIn pos-rlt m-h-auto bg-cover md-whiteframe-z2">
              <embed-video width=800 height=400 iframe-id="video1" api="1" player_id="video1" ng-href="{{app.videoUrl}}"></embed-video>
              <md-button ng-click="removeVideo();" class="md-fab md-accent md-raised md-mini pos-abt right-0 bottom-0 m-r m-b-xxl ">
                <md-tooltip md-direction="top">
                  {{'titles.REMOVE' | translate}} {{'titles.VIDEO' | translate}}
                </md-tooltip>
                <i class="mdi mdi2-delete i-20"></i>
              </md-button>
            </div>

            <div ng-if="useUploadedVideo" class="block-800 h-400 animated2x zoomIn pos-rlt m-h-auto bg-cover md-whiteframe-z2">
              <videogular md-prevent-menu-close vg-theme="videos.theme">
                <vg-media vg-src="videos.sources" vg-type="video">
                </vg-media>
                <vg-controls vg-autohide="videos.plugins.controls.autoHide" vg-autohide-time="videos.plugins.controls.autoHideTime">
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-playback-button></vg-playback-button>
                    <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls>
                <vg-overlay-play></vg-overlay-play>
              </videogular>
              <md-button ng-click="removeUploadedVideo();" class="md-fab md-raised md-mini pos-abt right-0 top-0 md-accent m-r m-t">
                <md-tooltip md-direction="left">
                  {{'titles.REMOVE' | translate}} {{'titles.VIDEO' | translate}}
                </md-tooltip>
                <i class="mdi mdi2-delete i-20"></i>
              </md-button>
            </div>

            <div ng-if="useUploadedAudio" class="block-800 animated2x zoomIn pos-rlt m-h-auto">
              <!-- audio player -->
                <div class="text-center p-md text-5x m-b-xl">
                  <i class="mdi2-headphones"></i>
                </div>
                <videogular vg-theme="audios.theme" class="videogular-container audio md-whiteframe-z2">
                  <vg-media vg-src="audios.sources" vg-type="audio"></vg-media>
                  <vg-controls vg-autohide="videos.plugins.controls.autoHide" vg-autohide-time="videos.plugins.controls.autoHideTime">
                    <!-- <vg-button ng-show="audios.length-1" ng-click="play('prev')"><i class="fa fa-backward"></i></vg-button> -->
                    <vg-play-pause-button></vg-play-pause-button>
                    <!-- <vg-button ng-show="audios.length-1" ng-click="play('next')"><i class="fa fa-forward"></i></vg-button> -->

                    <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
                     
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                  </vg-controls>
                </videogular>
              <!-- /audio player -->
              <md-button ng-click="removeUploadedAudio();" class="md-fab md-raised md-mini pos-abt right-0 top-0 md-accent m-r m-t">
                <md-tooltip md-direction="left">
                  {{'titles.REMOVE' | translate}} {{'titles.AUDIO' | translate}}
                </md-tooltip>
                <i class="mdi mdi2-delete i-20"></i>
              </md-button>
            </div>
            <div class="p text-lg l-h-1x">{{app.postLoaded.title}}</div>
            <div class="p-h p-t-xs">{{app.getLocalTime(app.postLoaded.date)}}</div>
            <div class="p-h m-t-sm" ng-if="app.postLoaded.tags">
              <span class="label r m-t-xs m-r-xs md-accent-default background" ng-repeat="tag in app.postLoaded.tags">{{tag}}</span>
            </div>
            <div class="p pos-rlt" ng-bind-html="app.postLoaded.body">
            </div> 
          </div>
        </div>
      </div>
    </div>
  </md-content>
</md-sidenav>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2 w-400" md-component-id="post-comments">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools" translate="titles.COMMENTS"></h1>
    </md-toolbar>
    <md-content class="pos-abt bottom-0 right-0 left-0 md-background-default background" style="top:64px">
        <div id="post-comments-sidebar" class="vbox">
          <div class="row-row">
            <div id="comment-list" class="cell">
              <div class="cell-inner" ng-if="app.comments && app.comments.length">
                <ul infinite-scroll="app.paginateComments()" infinite-scroll-container="'#comment-list'">
                  <li ng-repeat="comment in app.comments">
                    <div class="p-sm pos-rlt">
                      <div class="display-t-c inline p-h-xs">
                        <div ng-style="app.getUserImage(comment.author, 'small', 'PROFILE_PICTURE', true)" style="height: 34px;" class="bg-cover img-responsive img-circle thumb-xs md-whiteframe-z1 text-center" ng-class="{'md-primary-hue-1 background': !app.hasProfilePicture(comment.author)}">
                          <i ng-if="!app.hasProfilePicture(comment.author)" style="line-height: 36px;" class="mdi2-account i-20"></i>
                        </div>
                      </div>
                      <div class="p-l-sm display-t-c v-m inline text-sm w-full">
                        <div class="p-h-sm text-right pull-right">
                          <span am-time-ago="comment.date" class="text-xxs"></span>
                        </div>
                        <div class="text-base font-bold m-b-xs">{{comment.author.name}}</div>
                        {{comment.body}}
                      </div>
                    </div>
                    <md-divider style="margin-left: 60px;" md-inset></md-divider>
                  </li>
                </ul>

              </div>
            </div>
          </div>
          <md-divider></md-divider>
          <div class="p inline w-full pos-rlt">
            <div class="pull-left user-avatar rounded w-36 bg-white pos-rlt background text-center bg-cover" ng-style="{'background-image': 'url(' + app.userImageSmall + ')', 'background-position': '50% 50%'}" ng-class="{'md-primary-hue-1': !app.userImageSmall}">
              <i ng-if="!app.userImageSmall" class="mdi2-account i-20" style="top: 16%;position: relative;"></i>
            </div>

            <md-button style="width: 36px; height: 36px; padding: 6px;" class="md-button not-trans m-0 md-icon-button pull-right md-accent-default background" ng-click="app.postComment(app.postLoaded, app.newComment)" ng-disabled="!app.newComment">
              <i class="mdi2-send i-16"></i>
            </md-button>
            <div class="m-l-xxl m-r-xxl"> 
              <textarea style="max-height: 200px;" msd-elastic class="no-border p-t-sm" ng-model="app.newComment" style="resize: none;" placeholder="{{'titles.COMMENT' | translate }}"></textarea>
            </div>
          </div>
        </div>

      </md-content>
  </md-sidenav>

  <script type="text/ng-template" id="person-dialog.html">
  <md-dialog-content>
    <div class="w-xxl scrollable md-background-hue-1 background">
        <div class="pos-rlt p">
          <div ng-style="{'background-image': 'url(  {{loadedPerson | coverImage: 'medium'}} )'}" style="margin: -16px -16px 0 -16px" class="hidden-folded bg-cover m-b-md md-whiteframe-z1">
            <div class="p w-full">
          <!-- <i class="mdi mdi2-account text-4x"></i> -->
            <div class="md-whiteframe-z1 user-avatar rounded w-64 bg-white inline pos-rlt md-primary-default background text-center bg-cover" preload-bg-image="{{app.getImageLink(loadedPerson, 'medium')}}" bstyle="{'background-image': 'url(  {{loadedPerson | userImage: 'medium'}} )'}">
              <i ng-if="!loadedPerson.imageHash" class="mdi2-account i-40" style="top: 16%;position: relative;"></i>
            </div>
            </div>
            <div class="p-v-sm p-h black-grad  text-white">
              <div class="block" style="opacity:0.92">
                <span class="block font-bold">{{loadedPerson.name}}</span>
                <span class="text-sm">{{loadedPerson.email}}</span>
              </div>
            </div>
          </div>
          <div >
            {{loadedPerson.bio}}
          </div>
        </div>
        <div class="text-right">
          <md-button ui-sref="app.userprofile({'username': loadedPerson.username})">{{'search.VIEW_PROFILE' | translate}}</md-button>
        </div>
      </div>
  </md-dialog-content>
</script>


<script  type="text/ng-template" id="move-to-dialog.html">
  <md-dialog aria-label="change action">
    <md-content role="document" class="md-background-hue-1 background">
      <div class="p-xs">
        <div class="md-dialog-content-body text-md text-center w-xxl p m-b">
          {{'settings.profile.MOVE_TO_STATE_MSG' | translate}}
        </div>

        <div class="p-h-lg p-v text-u-c font-500">
          <md-radio-group ng-model="toState">
            <md-radio-button value="1" ng-if="toMovePublication.state !== 'PUBLISHED'">{{'titles.PUBLISHED' | translate}}</md-radio-button>
            <md-radio-button value="2" ng-if="toMovePublication.state !== 'DRAFT'">{{'titles.DRAFTS' | translate}}</md-radio-button>
            <md-radio-button value="4" ng-if="toMovePublication.state !== 'TRASH'">{{'titles.TRASH' | translate}}</md-radio-button>
          </md-radio-group>
        </div>

        <div class="text-center">
          <md-button ng-click="movePublicationToState(toState)" ng-disabled="disabled">
            {{'titles.CONFIRM' | translate}}
          </md-button>
          <md-button ng-click="cancel()">
            {{'titles.CANCEL' | translate}}
          </md-button>
        <div>
      </div>
    </md-content>
  </md-dialog>
</script>