<div class="box">
  <!-- Content Navbar -->
  <div class="navbar md-whiteframe-z1 no-radius md-primary-default background">

  <!-- ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary" -->

    <!-- Open side - Naviation on mobile -->
    <a md-ink-ripple ng-click="openAside()" ng-hide="$state.current.data.child" class="navbar-item pull-left visible-xs visible-sm"><i class="mdi-navigation-menu i-24"></i></a>
    <!-- / -->
    <!-- GoBack - Back to parent if $state has the param 'child' -->
    <a md-ink-ripple class="navbar-item pull-left" ng-click="goBack()" ng-show="$state.current.data.child" ><i class="mdi-navigation-arrow-back i-24"></i></a>
    <!-- / -->
    <!-- Page title - Bind to $state's title -->
    <div class="navbar-item pull-left h4">{{($state.current.data.titleTranslate) ? ($state.current.data.titleTranslate | translate) : $state.current.data.title}}</div>
    <!-- / -->
    <!-- Common tools -->
    <ul class="nav nav-sm navbar-tool pull-right" ng-hide="$state.current.data.child">
      <!-- <li ng-if="!app.search.show">
        <a md-ink-ripple ng-click="app.search.show = true">
          <i class="mdi-action-search i-24 p-h-sm"></i>
        </a>
      </li> -->
      <!-- <li>
        <a md-ink-ripple data-toggle="modal" data-target="#user">
          <i class="mdi-social-person-outline i-24 p-h-sm"></i>
        </a>
      </li> -->
      <!-- <li class="dropdown">
        <a md-ink-ripple data-toggle="dropdown">
          <i class="mdi-navigation-more-vert i-24"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color">
          <li><a href>Single-column view</a></li>
          <li><a href>Sort by date</a></li>
          <li><a href>Sort by name</a></li>
          <li class="divider"></li>
          <li><a href>Help &amp; feedback</a></li>
        </ul>
      </li> -->
    </ul>
    <div class="pull-right" ui-view="navbar@"></div>
    <!-- / -->
    <!-- Search form -->
    <div id="search" class="navbar-header h-full md-primary-default background pull-right w-400 animated" ng-class="{'fadeIn':!$state.includes('app.search'), 'fadeOut':$state.includes('app.search')}">
      <div class="box">
        <div class="box-col v-m p-h">
          <!-- bind to app.search.content -->
          <form ng-submit="app.goToSearch(app.search.content)" class="pos-rlt m-t-sm">
            <div class="pos-abt p-sm m-l-xs m-t-xs">
              <i class="mdi2-magnify i-24"></i>
            </div>
            <input class="form-control input-lg no-bg no-border md-autofocus p-l-xxl p-r-xxl" placeholder="{{'titles.SEARCH' | translate }}" ng-model="app.search.content">
            <div class="pos-abt right-0 top-0 m-t-xs">
              <!-- <a class="" ng-click="app.search.show=false; app.search.content=''"><i class="mdi2-close i-24"></i>
                        </a> -->
              <!-- <md-button style="width: 36px; height: 36px; padding: 6px;" class="md-icon-button pull-right" ng-click="app.search.show=false; app.search.content=''"><i class="mdi2-close i-20"></i></md-button> -->
            </div>
          </form>

        </div>
        <!-- <div class="box-col w-56 text-center">
          hide search form
          <a class="navbar-item inline" ng-click="app.search.show=false; app.search.content=''"><i class="mdi2-close i-24"></i>
          </a>
        </div> -->
      </div>
    </div>
    <!-- / -->
  </div>
  <!-- Content -->
  <div class="box-row">
    <div id="scroll-box" class="box-cell">
      <div class="box-inner padding" ui-view id="view">
      </div>
    </div>
  </div>
  <!-- / -->
</div>


<script type="text/ng-template" id="simple-dialog.html">
  <md-dialog aria-label="change action">
    <md-content role="document" class="md-background-hue-1 background">
      <div class="p-xs">

        <div class="md-dialog-content-body text-md text-center w-xxl p m-b">
          {{app.simpleDialogMessage}}
        </div>

        <div class="text-center">
          <md-button ng-click="cancel()">
            {{'titles.CANCEL' | translate}}
          </md-button>
        <div>
      </div>
    </md-content>
  </md-dialog>
</script>

<script type="text/ng-template" id="social-share-dialog.html">
    <md-dialog-content class="md-background-hue-1 background p-md">
      <div class="m-b-md text-md font-500 text-center text-u-c">
        {{'titles.SHARE' | translate}}
      </div>
      <div class="inline w">
        <div class="p-sm r-2x pointer o-f-h" md-ink-ripple>
            <md-button class="md-fab md-mini md-primary inline" style="background: #3B5999" aria-label="Use Android">
              <i class="mdi2-facebook i-24"></i>
            </md-button>
            <div class="font-500 text-md inline m-r">Facebook</div>
        </div>
        <div class="p-sm r-2x pointer o-f-h" md-ink-ripple>
            <md-button class="md-fab md-mini md-primary" style="background: #5EA9DD" aria-label="Use Android">
              <i class="mdi2-twitter i-24"></i>
            </md-button>
            <div class="font-500 text-md inline m-r">Twitter</div>
        </div>
      </div>
      <div class="inline w">
        <div class="p-sm r-2x pointer o-f-h" md-ink-ripple>
            <md-button class="md-fab md-mini md-primary" style="background: #DC4A38" aria-label="Use Android">
              <i class="mdi2-google-plus i-24"></i>
            </md-button>
            <div class="font-500 text-md inline m-r">Google+</div>
        </div>
        <div class="p-sm r-2x pointer o-f-h" md-ink-ripple>
            <md-button class="md-fab md-mini md-primary" style="background: #0177B5" aria-label="Use Android">
              <i class="mdi2-linkedin i-24"></i>
            </md-button>
            <div class="font-500 text-md inline m-r">LinkedIn</div>
        </div>
      </div>
    </md-dialog-content>        
</script>

<md-sidenav class="md-background-hue-1 background md-sidenav-right md-whiteframe-z2" md-component-id="content-post-summary" style="max-width: 600px!important; width: 600px!important;">
  <md-content class="pos-abt bottom-0 right-0 left-0 md-background-default background" style="top:0">
    <div id="post-summary-sidebar" class="vbox">
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">

            <div class="text-left p-h-sm w-full z-index-2" ng-class="{'pos-abt': app.postLoaded.postFeaturedImage}">
              <a ui-sref="app.categoryPage({'stationSlug': app.getStationById(app.postLoaded.stationId).stationSlug, 'name': category.name})" class="badge m-t-sm p-sm r-5x badge-lg md-whiteframe-z1 m-r-xs" ng-style="app.getCategoryBG(category)" ng-repeat="category in app.postLoaded.terms">
                {{category.name}}
              </a>
            </div>

            <div id="post-image-container" data-img="{{app.postLoaded.postFeaturedImage}}" class="pos-rlt m-h-auto bg-cover md-whiteframe-z2 h-250" ng-if="app.postLoaded.postFeaturedImage"  ng-class="{'w-full ': landscape, 'block-800': !landscape}"
            ng-style="{'background-image': 'url(' + app.postLoaded.postFeaturedImage + ')', 'background-position': app.imgToolsProps.x + '% ' + app.imgToolsProps.y + '%'}">
            </div>

            <div ng-if="app.postLoaded.useVideo" class="block-800 h-400 animated2x zoomIn pos-rlt m-h-auto bg-cover md-whiteframe-z2">
              <embed-video width=800 height=400 iframe-id="video1" api="1" player_id="video1" ng-href="{{app.videoUrl}}"></embed-video>
              <md-button ng-click="removeVideo();" class="md-fab md-accent md-raised md-mini pos-abt right-0 bottom-0 m-r m-b-xxl ">
                <md-tooltip md-direction="top">
                  {{'titles.REMOVE' | translate}} {{'titles.VIDEO' | translate}}
                </md-tooltip>
                <i class="mdi mdi2-delete i-20"></i>
              </md-button>
            </div>

            <div ng-if="useUploadedVideo" class="block-800 h-400 animated2x zoomIn pos-rlt m-h-auto bg-cover md-whiteframe-z2">
              <videogular md-prevent-menu-close vg-theme="videos.theme">
                <vg-media vg-src="videos.sources" vg-type="video">
                </vg-media>
                <vg-controls vg-autohide="videos.plugins.controls.autoHide" vg-autohide-time="videos.plugins.controls.autoHideTime">
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-playback-button></vg-playback-button>
                    <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls>
                <vg-overlay-play></vg-overlay-play>
              </videogular>
              <md-button ng-click="removeUploadedVideo();" class="md-fab md-raised md-mini pos-abt right-0 top-0 md-accent m-r m-t">
                <md-tooltip md-direction="left">
                  {{'titles.REMOVE' | translate}} {{'titles.VIDEO' | translate}}
                </md-tooltip>
                <i class="mdi mdi2-delete i-20"></i>
              </md-button>
            </div>

            <div ng-if="useUploadedAudio" class="block-800 animated2x zoomIn pos-rlt m-h-auto">
              <!-- audio player -->
                <div class="text-center p-md text-5x m-b-xl">
                  <i class="mdi2-headphones"></i>
                </div>
                <videogular vg-theme="audios.theme" class="videogular-container audio md-whiteframe-z2">
                  <vg-media vg-src="audios.sources" vg-type="audio"></vg-media>
                  <vg-controls vg-autohide="videos.plugins.controls.autoHide" vg-autohide-time="videos.plugins.controls.autoHideTime">
                    <!-- <vg-button ng-show="audios.length-1" ng-click="play('prev')"><i class="fa fa-backward"></i></vg-button> -->
                    <vg-play-pause-button></vg-play-pause-button>
                    <!-- <vg-button ng-show="audios.length-1" ng-click="play('next')"><i class="fa fa-forward"></i></vg-button> -->

                    <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
                     
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                  </vg-controls>
                </videogular>
              <!-- /audio player -->
              <md-button ng-click="removeUploadedAudio();" class="md-fab md-raised md-mini pos-abt right-0 top-0 md-accent m-r m-t">
                <md-tooltip md-direction="left">
                  {{'titles.REMOVE' | translate}} {{'titles.AUDIO' | translate}}
                </md-tooltip>
                <i class="mdi mdi2-delete i-20"></i>
              </md-button>
            </div>
            <div class="p text-lg l-h-1x">{{app.postLoaded.title}}</div>
            <div class="p-h p-t-xs">{{app.getLocalTime(app.postLoaded.date)}}</div>
            <div class="p-h m-t-sm" ng-if="app.postLoaded.tags">
              <span class="label r m-t-xs m-r-xs md-accent-default background" ng-repeat="tag in app.postLoaded.tags">{{tag}}</span>
            </div>
            <div class="p pos-rlt" ng-bind-html="app.postLoaded.body">
            </div> 
          </div>
        </div>
      </div>
    </div>
  </md-content>
</md-sidenav>
