<div class="box">
  <!-- Content Navbar -->
  <div class="navbar md-whiteframe-z1 no-radius md-primary-default background">

  <!-- ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary" -->

    <!-- Open side - Naviation on mobile -->
    <a md-ink-ripple ng-click="openAside()" ng-hide="$state.current.data.child" class="navbar-item pull-left visible-xs visible-sm"><i class="mdi-navigation-menu i-24"></i></a>
    <!-- / -->
    <!-- GoBack - Back to parent if $state has the param 'child' -->
    <a md-ink-ripple class="navbar-item pull-left" ng-click="goBack()" ng-show="$state.current.data.child" ><i class="mdi-navigation-arrow-back i-24"></i></a>
    <!-- / -->
    <!-- Page title - Bind to $state's title -->
    <div class="navbar-item pull-left h4">{{($state.current.data.titleTranslate) ? ($state.current.data.titleTranslate | translate) : $state.current.data.title}}</div>
    <!-- / -->
    <!-- Common tools -->
    <ul class="nav nav-sm navbar-tool pull-right" ng-hide="$state.current.data.child">
      <!-- <li ng-if="!app.search.show">
        <a md-ink-ripple ng-click="app.search.show = true">
          <i class="mdi-action-search i-24 p-h-sm"></i>
        </a>
      </li> -->
      <!-- <li>
        <a md-ink-ripple data-toggle="modal" data-target="#user">
          <i class="mdi-social-person-outline i-24 p-h-sm"></i>
        </a>
      </li> -->
      <!-- <li class="dropdown">
        <a md-ink-ripple data-toggle="dropdown">
          <i class="mdi-navigation-more-vert i-24"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color">
          <li><a href>Single-column view</a></li>
          <li><a href>Sort by date</a></li>
          <li><a href>Sort by name</a></li>
          <li class="divider"></li>
          <li><a href>Help &amp; feedback</a></li>
        </ul>
      </li> -->
    </ul>
    <div class="pull-right" ui-view="navbar@"></div>
    <!-- / -->
    <!-- Search form -->
    <div id="search" class="navbar-header h-full md-primary-default background pull-right w-400" ng-if="!$state.includes('app.search')">
      <div class="box">
        <div class="box-col v-m p-h">
          <!-- bind to app.search.content -->
          <form ng-submit="app.goToSearch(app.search.content)" class="pos-rlt m-t-sm">
            <div class="pos-abt p-sm m-l-xs m-t-xs">
              <i class="mdi2-magnify i-24"></i>
            </div>
            <input class="form-control input-lg no-bg no-border md-autofocus p-l-xxl p-r-xxl" placeholder="{{'titles.SEARCH' | translate }}" ng-model="app.search.content">
            <div class="pos-abt right-0 top-0 m-t-xs">
              <!-- <a class="" ng-click="app.search.show=false; app.search.content=''"><i class="mdi2-close i-24"></i>
                        </a> -->
              <!-- <md-button style="width: 36px; height: 36px; padding: 6px;" class="md-icon-button pull-right" ng-click="app.search.show=false; app.search.content=''"><i class="mdi2-close i-20"></i></md-button> -->
            </div>
          </form>

        </div>
        <!-- <div class="box-col w-56 text-center">
          hide search form
          <a class="navbar-item inline" ng-click="app.search.show=false; app.search.content=''"><i class="mdi2-close i-24"></i>
          </a>
        </div> -->
      </div>
    </div>
    <!-- / -->
  </div>
  <!-- Content -->
  <div class="box-row">
    <div class="box-cell">
      <div class="box-inner padding" ui-view id="view">
      </div>
    </div>
  </div>
  <!-- / -->
</div>


<script type="text/ng-template" id="simple_dialog.html">
  <md-dialog aria-label="change action">
    <md-content role="document" class="md-background-hue-1 background">
      <div class="p-xs">

        <div class="md-dialog-content-body text-md text-center w-xxl p m-b">
          {{app.simpleDialogMessage}}
        </div>

        <div class="text-center">
          <md-button ng-click="cancel()">
            {{'titles.CANCEL' | translate}}
          </md-button>
        <div>
      </div>
    </md-content>
  </md-dialog>
</script>

<script type="text/ng-template" id="social-share-dialog.html">
    <md-dialog-content class="md-background-hue-1 background p-md">
      <div class="m-b-md text-md font-500 text-center text-u-c">
        {{'titles.SHARE' | translate}}
      </div>
      <div class="inline w">
        <div class="p-sm r-2x pointer o-f-h" md-ink-ripple>
            <md-button class="md-fab md-mini md-primary inline" style="background: #3B5999" aria-label="Use Android">
              <i class="mdi2-facebook i-24"></i>
            </md-button>
            <div class="font-500 text-md inline m-r">Facebook</div>
        </div>
        <div class="p-sm r-2x pointer o-f-h" md-ink-ripple>
            <md-button class="md-fab md-mini md-primary" style="background: #5EA9DD" aria-label="Use Android">
              <i class="mdi2-twitter i-24"></i>
            </md-button>
            <div class="font-500 text-md inline m-r">Twitter</div>
        </div>
      </div>
      <div class="inline w">
        <div class="p-sm r-2x pointer o-f-h" md-ink-ripple>
            <md-button class="md-fab md-mini md-primary" style="background: #DC4A38" aria-label="Use Android">
              <i class="mdi2-google-plus i-24"></i>
            </md-button>
            <div class="font-500 text-md inline m-r">Google+</div>
        </div>
        <div class="p-sm r-2x pointer o-f-h" md-ink-ripple>
            <md-button class="md-fab md-mini md-primary" style="background: #0177B5" aria-label="Use Android">
              <i class="mdi2-linkedin i-24"></i>
            </md-button>
            <div class="font-500 text-md inline m-r">LinkedIn</div>
        </div>
      </div>
    </md-dialog-content>        
</script>